.logoLink {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  position: relative;
  padding: 0px;
}
.img__n8PaC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 32px;
  left: auto;
  top: auto;
  display: inline-inline-block !important;
  flex-shrink: 0;
}
.img__n8PaC > picture > img {
  object-fit: cover;
}
.img__n8PaC > .__wab_img-spacer > img {
  object-fit: cover;
}
.img {
  position: relative;
  object-fit: cover;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__color {
  height: 32px;
  flex-shrink: 0;
}
