.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.navbarStatic:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.resetPassword {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  align-content: unset;
  padding-top: 96px;
  padding-bottom: 96px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .resetPassword {
    justify-content: flex-start;
    align-items: center;
    align-content: unset;
    padding-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .resetPassword {
    padding-top: 32px;
  }
}
.footerB:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
