.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 360px;
  height: 100%;
  transform-style: preserve-3d;
  min-height: 0;
}
.root * {
  transform-style: preserve-3d;
}
.parent {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  height: 100%;
  width: 100%;
  overflow: auto;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px 8px;
  border-right: 1px solid #f0f1f3 /* plasmic-token: deafmaGIp */;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.parent * {
  transform-style: preserve-3d;
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.header {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  margin-bottom: 16px;
  transform-style: preserve-3d;
  min-width: 0;
}
.header > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.header * {
  transform-style: preserve-3d;
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.dialogTrigger:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.dialogTrigger * {
  transform-style: preserve-3d;
}
.newProjectButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 40px;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.newProjectButton * {
  transform-style: preserve-3d;
}
.freeBox___0YhmI {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox___0YhmI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___0YhmI * {
  transform-style: preserve-3d;
}
.freeBox___0YhmI > :global(.__wab_flex-container) > *,
.freeBox___0YhmI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0YhmI > :global(.__wab_flex-container) > picture > img,
.freeBox___0YhmI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__axJkS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__axJkS * {
  transform-style: preserve-3d;
}
.text__v771E {
  transform-style: preserve-3d;
}
.text__v771E * {
  transform-style: preserve-3d;
}
.addPartnerButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 40px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.addPartnerButton * {
  transform-style: preserve-3d;
}
.freeBox__cccfw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox__cccfw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__cccfw * {
  transform-style: preserve-3d;
}
.freeBox__cccfw > :global(.__wab_flex-container) > *,
.freeBox__cccfw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cccfw > :global(.__wab_flex-container) > picture > img,
.freeBox__cccfw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__zI3Tg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__zI3Tg * {
  transform-style: preserve-3d;
}
.text__ztg0 {
  transform-style: preserve-3d;
}
.text__ztg0 * {
  transform-style: preserve-3d;
}
.manageSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.manageSection * {
  transform-style: preserve-3d;
}
.text__pmNdY {
  transform-style: preserve-3d;
}
.text__pmNdY * {
  transform-style: preserve-3d;
}
.menuIconListItem__ptNgc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.menuIconListItem__ptNgc * {
  transform-style: preserve-3d;
}
.navIcon {
  object-fit: cover;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.navIcon * {
  transform-style: preserve-3d;
}
.text___8BQuu {
  transform-style: preserve-3d;
}
.text___8BQuu * {
  transform-style: preserve-3d;
}
.menuIconListItem___5Cyer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.menuIconListItem___5Cyer * {
  transform-style: preserve-3d;
}
.navIcon2 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.navIcon2 * {
  transform-style: preserve-3d;
}
.text__mcNCw {
  transform-style: preserve-3d;
}
.text__mcNCw * {
  transform-style: preserve-3d;
}
.discoverSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.discoverSection * {
  transform-style: preserve-3d;
}
.text___3Mli {
  transform-style: preserve-3d;
}
.text___3Mli * {
  transform-style: preserve-3d;
}
.menuIconListItem__oLo3R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.menuIconListItem__oLo3R * {
  transform-style: preserve-3d;
}
.navIcon3 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.navIcon3 * {
  transform-style: preserve-3d;
}
.text__flVFq {
  transform-style: preserve-3d;
}
.text__flVFq * {
  transform-style: preserve-3d;
}
.workSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.workSection * {
  transform-style: preserve-3d;
}
.text___9BxE {
  transform-style: preserve-3d;
}
.text___9BxE * {
  transform-style: preserve-3d;
}
.menuIconListItem__hcWoG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.menuIconListItem__hcWoG * {
  transform-style: preserve-3d;
}
.navIcon4 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.navIcon4 * {
  transform-style: preserve-3d;
}
.text__jt0Ux {
  transform-style: preserve-3d;
}
.text__jt0Ux * {
  transform-style: preserve-3d;
}
.menuIconListItem__xb8Q:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.menuIconListItem__xb8Q * {
  transform-style: preserve-3d;
}
.navIcon5 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.navIcon5 * {
  transform-style: preserve-3d;
}
.text__nkqS1 {
  transform-style: preserve-3d;
}
.text__nkqS1 * {
  transform-style: preserve-3d;
}
.menuIconListItem___09Rtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.menuIconListItem___09Rtn * {
  transform-style: preserve-3d;
}
.navIcon6 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.navIcon6 * {
  transform-style: preserve-3d;
}
.text__rB2Aw {
  transform-style: preserve-3d;
}
.text__rB2Aw * {
  transform-style: preserve-3d;
}
.accountsSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.accountsSection * {
  transform-style: preserve-3d;
}
.text___81RMa {
  transform-style: preserve-3d;
}
.text___81RMa * {
  transform-style: preserve-3d;
}
.menuIconListItem__c1DDq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.menuIconListItem__c1DDq * {
  transform-style: preserve-3d;
}
.navIcon7 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.navIcon7 * {
  transform-style: preserve-3d;
}
.text___4Kqyd {
  transform-style: preserve-3d;
}
.text___4Kqyd * {
  transform-style: preserve-3d;
}
.menuIconListItem__wjxQq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.menuIconListItem__wjxQq * {
  transform-style: preserve-3d;
}
.navIcon8 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.navIcon8 * {
  transform-style: preserve-3d;
}
.text__wpPe {
  transform-style: preserve-3d;
}
.text__wpPe * {
  transform-style: preserve-3d;
}
.switchToPartnerButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.switchToPartnerButton * {
  transform-style: preserve-3d;
}
.freeBox___2EO1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox___2EO1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___2EO1 * {
  transform-style: preserve-3d;
}
.freeBox___2EO1 > :global(.__wab_flex-container) > *,
.freeBox___2EO1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2EO1 > :global(.__wab_flex-container) > picture > img,
.freeBox___2EO1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__qzXBc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 24px;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__qzXBc * {
  transform-style: preserve-3d;
}
.text__zSoRd {
  font-weight: 400;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
  transform-style: preserve-3d;
}
.text__zSoRd * {
  transform-style: preserve-3d;
}
.adminSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.adminSection * {
  transform-style: preserve-3d;
}
.text__axkZ8 {
  transform-style: preserve-3d;
}
.text__axkZ8 * {
  transform-style: preserve-3d;
}
.menuIconListItem___23FAl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.menuIconListItem___23FAl * {
  transform-style: preserve-3d;
}
.navIcon10 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.navIcon10 * {
  transform-style: preserve-3d;
}
.text__th2Nx {
  transform-style: preserve-3d;
}
.text__th2Nx * {
  transform-style: preserve-3d;
}
.menuIconListItem__nYSbE:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.menuIconListItem__nYSbE * {
  transform-style: preserve-3d;
}
.navIcon11 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.navIcon11 * {
  transform-style: preserve-3d;
}
.text__odtUb {
  transform-style: preserve-3d;
}
.text__odtUb * {
  transform-style: preserve-3d;
}
.menuIconListItem__bzlyl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.menuIconListItem__bzlyl * {
  transform-style: preserve-3d;
}
.navIcon12 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.navIcon12 * {
  transform-style: preserve-3d;
}
.text__xIvPk {
  transform-style: preserve-3d;
}
.text__xIvPk * {
  transform-style: preserve-3d;
}
.logoutButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.logoutButton * {
  transform-style: preserve-3d;
}
.freeBox__dphov {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox__dphov > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dphov * {
  transform-style: preserve-3d;
}
.freeBox__dphov > :global(.__wab_flex-container) > *,
.freeBox__dphov > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dphov > :global(.__wab_flex-container) > picture > img,
.freeBox__dphov
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__cTlht {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 24px;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__cTlht * {
  transform-style: preserve-3d;
}
.text__hlSc9 {
  font-weight: 400;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
  transform-style: preserve-3d;
}
.text__hlSc9 * {
  transform-style: preserve-3d;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.footer * {
  transform-style: preserve-3d;
}
.panelFooter:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.panelFooter * {
  transform-style: preserve-3d;
}
