.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  position: relative;
  min-width: 0;
  padding: 20px 40px;
  background: #ffffff;
  border-bottom: 2px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
}
@media (min-width: 374px) and (max-width: 414px) {
  .root {
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.root__color_dark {
  border-bottom-color: #0000001f /* plasmic-token: 4DpMaQlGP */;
  background: #000000;
}
.navbarLogo:global(.__wab_instance) {
  position: relative;
}
.box__eV2N {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__eV2N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.box__eV2N > :global(.__wab_flex-container) > *,
.box__eV2N > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 24px;
}
@media (min-width: 1152px) and (max-width: 1440px) {
  .box__eV2N {
    align-self: auto;
  }
}
@media (min-width: 1152px) and (max-width: 1440px) {
  .box__eV2N > :global(.__wab_flex-container) {
    align-items: center;
  }
}
@media (min-width: 374px) and (max-width: 414px) {
  .box__eV2N > :global(.__wab_flex-container) {
    justify-content: flex-end;
    margin-left: calc(0px - 6px);
    width: calc(100% + 6px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 374px) and (max-width: 414px) {
  .box__eV2N > :global(.__wab_flex-container) > *,
  .box__eV2N > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 6px;
    margin-top: 0px;
  }
}
.textLinkUnderlinePrimary:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 1152px) and (max-width: 1440px) {
  .textLinkUnderlinePrimary:global(.__wab_instance) {
    align-self: auto;
  }
}
.box__hyKmE {
  font-weight: 500;
}
@media (min-width: 1152px) and (max-width: 1440px) {
  .box__hyKmE {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
  }
}
.buttonLinkPrimary:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 1152px) and (max-width: 1440px) {
  .buttonLinkPrimary:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (min-width: 374px) and (max-width: 414px) {
  .buttonLinkPrimary:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.box__nAyJs {
  font-size: 16px;
  font-weight: 600;
}
@media (min-width: 1152px) and (max-width: 1440px) {
  .box__nAyJs {
    height: auto;
  }
}
