.root {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
}
.separator {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 0px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  margin: 4px 0px;
  border-top: 1px solid #cacaca;
}
.titleContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 4px 8px;
}
.slotTargetTitle {
  color: #8e8e8e;
  white-space: pre;
}
.slotTargetTitle > .__wab_text,
.slotTargetTitle > .__wab_slot-string-wrapper,
.slotTargetTitle > .__wab_slot > .__wab_text,
.slotTargetTitle > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetTitle > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetTitle > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetTitle > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetTitle
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-overflow: ellipsis;
}
.slotTargetTitle > *,
.slotTargetTitle > .__wab_slot > *,
.slotTargetTitle > .__wab_slot > .__wab_slot > *,
.slotTargetTitle > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetTitle > picture > img,
.slotTargetTitle > .__wab_slot > picture > img,
.slotTargetTitle > .__wab_slot > .__wab_slot > picture > img,
.slotTargetTitle > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  overflow: hidden;
}
.optionsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.option___1Yi0A:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.option__be7C6:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
