.root {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: auto;
  padding-bottom: 8px;
  position: relative;
  background: #ffffff;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .root {
    padding-bottom: 24px;
  }
}
.freeBox {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.slotSlot {
  font-size: 14px;
  line-height: 1.2;
}
.pricingTableDropDownDrawerParent {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  background: #ffffff;
  padding: 0px;
}
.pricingTableDropDownDrawerParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.pricingTableDropDownDrawerParent > :global(.__wab_flex-container) > *,
.pricingTableDropDownDrawerParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 0px;
}
.pricingTableDropDownDrawerParent___switch {
  display: none;
}
.tablePricingPriceDisplay:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox___3Db6E {
  font-size: 14px;
  line-height: 1.2;
}
.freeBox__wZbrp {
  font-size: 40px;
}
.freeBox__zt6PV {
  font-size: 40px;
}
.freeBox__tScVb {
  font-size: 16px;
}
.pricingTableDropDownChildItems {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  background: #f8f8f8;
  min-width: 0;
  padding: 16px;
}
.pricingTableDropDownChildItems > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.pricingTableDropDownChildItems > :global(.__wab_flex-container) > *,
.pricingTableDropDownChildItems
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 16px;
}
.pricingPageElementTeamBlock:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.svg___5OIWk {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.pricingPageElementFeaturesBlock:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__cIzHl {
  font-size: 14px;
}
.freeBox__wD7Qq {
  height: auto;
}
.pricingPageElementServiceBlock:global(.__wab_instance) {
  position: relative;
}
.svg__tvas {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.svg__uAas {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.svg__kKdiI {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.svg__xFvFm {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.partnerMembership:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.freeBox___7UBdg {
  font-size: 24px;
}
.svg__ewFTn {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
