.parent {
  display: flex;
  flex-direction: column;
  width: 360px;
  position: relative;
  background: #ffffff;
  padding: 36px 24px 24px;
  border: 2px solid #dddddd /* plasmic-token: i5T_lGWIG */;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .parent {
    width: 100%;
    min-width: 0;
    padding: 24px 16px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .parent > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .parent > :global(.__wab_flex-container) > *,
  .parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .parent > :global(.__wab_flex-container) > picture > img,
  .parent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.userProfileAvatar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .userProfileAvatar:global(.__wab_instance) {
    align-self: auto;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__uAf9P {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__uAf9P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__uAf9P > :global(.__wab_flex-container) > *,
.freeBox__uAf9P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uAf9P > :global(.__wab_flex-container) > picture > img,
.freeBox__uAf9P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.userProfileUsernameFirstName2 {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
}
.userProfileUsernameLastName2 {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__z3JMv {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__z3JMv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__z3JMv > :global(.__wab_flex-container) > *,
.freeBox__z3JMv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z3JMv > :global(.__wab_flex-container) > picture > img,
.freeBox__z3JMv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.userProfileUsernameLastName {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
}
.buttonPrimary:global(.__wab_instance) {
  position: relative;
  width: 160px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .buttonPrimary:global(.__wab_instance) {
    margin-top: calc(8px + 16px) !important;
    flex-shrink: 0;
  }
}
.buttonPrimary__session:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__mYSu {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.freeBox__pyBvT {
  display: block;
  position: relative;
  height: 1px;
  width: 320px;
  margin-bottom: 0px;
  background: #f1f1f1;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__pyBvT {
    margin-top: calc(8px + 16px) !important;
  }
}
.freeBox___96C2A {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  align-self: auto;
  padding: 0px;
}
.freeBox___96C2A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 96px);
  width: calc(100% + 96px);
}
.freeBox___96C2A > :global(.__wab_flex-container) > *,
.freeBox___96C2A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___96C2A > :global(.__wab_flex-container) > picture > img,
.freeBox___96C2A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 96px;
}
.freeBox___0SUgg {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding: 0px;
}
.freeBox___0SUgg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0SUgg > :global(.__wab_flex-container) > *,
.freeBox___0SUgg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0SUgg > :global(.__wab_flex-container) > picture > img,
.freeBox___0SUgg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.parent .freeBox___0SUgg:hover {
  border-color: #cccccc /* plasmic-token: oEMOojyFv */;
}
.freeBox__umTdy {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  text-align: center;
  width: 100%;
  min-width: 0;
}
.freeBox__mwYix {
  position: relative;
  left: auto;
  top: auto;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  font-weight: 400;
  line-height: 1.5em;
}
.freeBox__e6Bhh {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding: 0px;
}
.freeBox__e6Bhh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__e6Bhh > :global(.__wab_flex-container) > *,
.freeBox__e6Bhh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e6Bhh > :global(.__wab_flex-container) > picture > img,
.freeBox__e6Bhh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.parent .freeBox__e6Bhh:hover {
  border-color: #cccccc /* plasmic-token: oEMOojyFv */;
}
.freeBox__b1HwQ {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  text-align: center;
  width: 100%;
  min-width: 0;
}
.freeBox__bjRVi {
  position: relative;
  left: auto;
  top: auto;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  font-weight: 400;
  line-height: 1.5em;
}
.freeBox__wnsf6 {
  display: block;
  position: relative;
  height: 1px;
  width: 320px;
  margin-bottom: 0px;
  background: #f1f1f1;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__wnsf6 {
    margin-top: calc(8px + 16px) !important;
  }
}
.freeBox___8TRdX {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  align-self: auto;
  padding: 0px;
}
.freeBox___8TRdX > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 96px);
  width: calc(100% + 96px);
}
.freeBox___8TRdX > :global(.__wab_flex-container) > *,
.freeBox___8TRdX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8TRdX > :global(.__wab_flex-container) > picture > img,
.freeBox___8TRdX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 96px;
}
.freeBox__my3Io {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding: 0px;
}
.freeBox__my3Io > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__my3Io > :global(.__wab_flex-container) > *,
.freeBox__my3Io > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__my3Io > :global(.__wab_flex-container) > picture > img,
.freeBox__my3Io
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.parent .freeBox__my3Io:hover {
  border-color: #cccccc /* plasmic-token: oEMOojyFv */;
}
.freeBox__vgpbm {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  text-align: center;
  width: 100%;
  min-width: 0;
}
.freeBox__d5Eh {
  position: relative;
  left: auto;
  top: auto;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  font-weight: 400;
  line-height: 1.5em;
}
.freeBox__oEqyk {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding: 0px;
}
.freeBox__oEqyk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__oEqyk > :global(.__wab_flex-container) > *,
.freeBox__oEqyk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oEqyk > :global(.__wab_flex-container) > picture > img,
.freeBox__oEqyk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.parent .freeBox__oEqyk:hover {
  border-color: #cccccc /* plasmic-token: oEMOojyFv */;
}
.freeBox__qrcMn {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  text-align: center;
  width: 100%;
  min-width: 0;
}
.freeBox__lu7Ng {
  position: relative;
  left: auto;
  top: auto;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  font-weight: 400;
  line-height: 1.5em;
}
.freeBox__yYj5 {
  display: block;
  position: relative;
  height: 1px;
  width: 320px;
  margin-bottom: 0px;
  background: #f1f1f1;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__yYj5 {
    margin-top: calc(8px + 16px) !important;
  }
}
.freeBox__xf5Vf {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  margin-top: calc(16px + 24px) !important;
}
.freeBox__xf5Vf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__xf5Vf > :global(.__wab_flex-container) > *,
.freeBox__xf5Vf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xf5Vf > :global(.__wab_flex-container) > picture > img,
.freeBox__xf5Vf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__xf5Vf {
    margin-top: calc(16px + 16px) !important;
  }
}
.freeBox__mf9Dv {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  margin-right: 4px;
}
.userProfileTimestamp {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #333333 /* plasmic-token: ec1vMFIzT */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
