.root {
  flex-direction: column;
  display: flex;
  width: 150px;
  height: 150px;
  position: relative;
  padding: 10px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
.rootsize_small {
  width: 80px;
  height: 80px;
}
.freeBox__lyoyb {
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.freeBox__muod3 {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: column;
}
.slotTargetSlot {
  font-size: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.2;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  text-align: center;
}
.slotTargetSlotsize_small {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
}
.freeBox__xNaRf {
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.freeBox__i7XIs {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: column;
}
.slotTargetChildren {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  text-align: center;
}
.slotTargetChildrensize_small {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
}
