.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  align-items: center;
}
.root__isDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.root_____focusVisibleWithin {
  outline: none;
}
.toggle {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 32px;
  flex-shrink: 0;
}
.root .toggle_____focusVisibleWithin {
  outline: none;
  border-style: dashed;
  border-color: #1976d2;
}
.root:focus-within .toggle {
  outline: none;
  border-color: #1976d2;
}
.track {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 24px;
  transition-property: background;
  transition-duration: 0.2s;
  min-width: 0;
  border-radius: 12px;
  background: #dddddd;
  border: 1px solid transparent;
}
.track__noLabel {
  background: #dddddd;
}
.track__isChecked {
  background: #6633ff;
  border-width: 2px;
  border-color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.root .track_____focusVisibleWithin {
  outline: none;
  border-style: dashed;
  border-color: #1976d2;
}
.root:focus-within .track {
  outline: none;
  border-color: #1976d2;
}
.thumb {
  display: block;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: 4px;
  top: 8px;
  width: 16px;
  height: 16px;
  transition-property: all;
  transition-duration: 0.2s;
  flex-shrink: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
}
.thumb__noLabel {
  background: #f8f8f8;
}
.thumb__isChecked {
  left: 20px;
  right: auto;
  background: #ffffff;
}
.root:hover .thumb {
  background: #f9f9f9;
}
.root .thumb_____focusVisibleWithin {
  outline: none;
}
.root:focus-within .thumb {
  outline: none;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: 8px;
}
.root .labelContainer_____focusVisibleWithin {
  outline: none;
}
.slotChildren {
  white-space: pre;
}
.slotChildren > *,
.slotChildren > .__wab_slot > *,
.slotChildren > .__wab_slot > .__wab_slot > *,
.slotChildren > .__wab_slot > .__wab_slot > .__wab_slot > * {
  text-overflow: ellipsis;
  overflow: hidden;
}
.root .slotChildren_____focusVisibleWithin > *,
.root .slotChildren_____focusVisibleWithin > .__wab_slot > *,
.root .slotChildren_____focusVisibleWithin > .__wab_slot > .__wab_slot > *,
.root
  .slotChildren_____focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > * {
  outline: none;
}
