.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 720px;
  height: auto;
  border-radius: 2px;
  border: 2px none #f0f1f3 /* plasmic-token: deafmaGIp */;
}
.parentborder {
  border: 1px solid #f0f1f3 /* plasmic-token: deafmaGIp */;
}
.mainCard {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 16px 16px 32px;
}
.mainCard > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.mainCard > :global(.__wab_flex-container) > *,
.mainCard > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mainCard > :global(.__wab_flex-container) > picture > img,
.mainCard
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.headlineSubheadParent {
  flex-direction: column;
  position: relative;
  left: auto;
  top: auto;
  display: flex;
  width: 540px;
  height: auto;
}
.headlineSubheadParent > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.headlineSubheadParent > :global(.__wab_flex-container) > *,
.headlineSubheadParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.headlineSubheadParent > :global(.__wab_flex-container) > picture > img,
.headlineSubheadParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.headlineTextParent {
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.slotTargetHeadline {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
}
.slotTargetSubHead {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
.textInputParent {
  flex-direction: row;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  margin-top: calc(0px + 32px) !important;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
}
.textInputParent > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.textInputParent > :global(.__wab_flex-container) > *,
.textInputParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.textInputParent > :global(.__wab_flex-container) > picture > img,
.textInputParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.textInputParentsearch {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: calc(0px + 32px) !important;
  padding: 0px;
}
.textInputParentsearch > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.textInputParentsearch > :global(.__wab_flex-container) > *,
.textInputParentsearch
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textInputParentsearch > :global(.__wab_flex-container) > picture > img,
.textInputParentsearch
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.freeBox {
  display: flex;
  position: relative;
  width: 360px;
  height: 32px;
  flex-shrink: 0;
}
.freeBoxsearch {
  width: 360px;
}
.textInput__bjqT {
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #f8f8f8 /* plasmic-token: -59aep1Mm */;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-bottom-color: #c2c6ce /* plasmic-token: i5T_lGWIG */;
  height: 100%;
  padding-left: 4px;
  border-right-color: #f0f1f3 /* plasmic-token: deafmaGIp */;
  border-top-color: #f0f1f3 /* plasmic-token: deafmaGIp */;
  border-left-color: #f0f1f3 /* plasmic-token: deafmaGIp */;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  border-style: solid;
}
.searchTriggerParent {
  flex-direction: row;
  display: flex;
  position: relative;
}
.searchTriggerParent > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.searchTriggerParentsearch {
  width: auto;
}
.searchTriggerParentsearch > :global(.__wab_flex-container) {
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.searchTriggerParentsearch > :global(.__wab_flex-container) > *,
.searchTriggerParentsearch
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.searchTriggerParentsearch > :global(.__wab_flex-container) > picture > img,
.searchTriggerParentsearch
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.textInput {
  width: 180px;
  flex-shrink: 0;
}
.textInputsearch {
  width: 360px;
  height: 32px;
  padding-left: 4px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-bottom-color: #c2c6ce /* plasmic-token: i5T_lGWIG */;
  border-right-color: #f0f1f3 /* plasmic-token: deafmaGIp */;
  border-top-color: #f0f1f3 /* plasmic-token: deafmaGIp */;
  border-left-color: #f0f1f3 /* plasmic-token: deafmaGIp */;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  font-size: 14px;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  background: #f8f8f8;
  flex-shrink: 0;
  border-style: solid;
}
.buttonPrimary__xk8V:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.buttonPrimarysearch__xk8VAuxud:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg {
  width: 16px;
  height: 16px;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
}
.svgsearch {
  width: 18px;
  height: 18px;
}
.textsearch {
  font-size: 16px;
  font-weight: 400;
}
.svg__nhA83 {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.badgeDisplay {
  flex-direction: row;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  width: 320px;
  height: 36px;
  padding-bottom: 2px;
  padding-top: 2px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
  border-bottom: 2px solid #f0f1f3 /* plasmic-token: deafmaGIp */;
}
.badgeDisplay > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.badgeDisplay > :global(.__wab_flex-container) > *,
.badgeDisplay > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.badgeDisplay > :global(.__wab_flex-container) > picture > img,
.badgeDisplay
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.badgeDisplaysearch {
  left: auto;
  top: auto;
  width: 100%;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  background: none;
  min-width: 0;
  border-style: none;
}
.badgeDisplaysearch > :global(.__wab_flex-container) {
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.badgeDisplaysearch > :global(.__wab_flex-container) > *,
.badgeDisplaysearch > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.badgeDisplaysearch > :global(.__wab_flex-container) > picture > img,
.badgeDisplaysearch
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.chipBadgeDisplay__vsno1:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.svg__o0O1 {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.svg__vi4D {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__bMtyJ {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
.descriptionCard {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  left: auto;
  top: auto;
  min-width: 0;
  flex-shrink: 0;
  padding: 16px;
}
.descriptionCardsubDescription {
  justify-content: flex-end;
}
.descriptionCardsubDescription_button {
  display: none;
}
.subDescription {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.subDescriptionsubDescription {
  display: none;
}
.slotTargetDescription {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #14161b /* plasmic-token: MAJ29KQMI */;
}
.buttonPrimary__t9Myp:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.buttonPrimarysubDescription__t9MyPvZm3B:global(.__wab_instance) {
  flex-shrink: 0;
}
.buttonPrimarybutton__t9Myp9VcG1:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.buttonPrimarysubDescription_button__t9MyPvZm3B9VcG1:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg___44WjT {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg___66Wjl {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
