.root {
  display: flex;
  flex-direction: column;
  position: relative;
}
.slotSlot {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
}
.slotSlot__color_light {
  color: #e4e4e4 /* plasmic-token: t2DPA2Clx */;
}
.slotSlot__color_dark {
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.slotSlot__color_brand {
  color: #c2adff /* plasmic-token: j08wwDM3g */;
}
.root:hover .slotSlot {
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.root__color_light:hover .slotSlot__color_light {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.root__color_dark:hover .slotSlot__color_dark {
  color: #000000 /* plasmic-token: 7-Hl8dlot */;
}
.root__color_brand:hover .slotSlot__color_brand {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
