.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 24px;
  min-width: 0;
}
.switchInput:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
