.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.imageParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
}
.img__wiBu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__wiBu > picture > img {
  object-fit: cover;
}
.img__wiBu > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___5JznK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___5JznK > picture > img {
  object-fit: cover;
}
.img___5JznK > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__t3AMl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__t3AMl > picture > img {
  object-fit: cover;
}
.img__t3AMl > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__dnInQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__dnInQ > picture > img {
  object-fit: cover;
}
.img__dnInQ > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__nL4UF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__nL4UF > picture > img {
  object-fit: cover;
}
.img__nL4UF > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__fowFh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__fowFh > picture > img {
  object-fit: cover;
}
.img__fowFh > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__sEvZ3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__sEvZ3 > picture > img {
  object-fit: cover;
}
.img__sEvZ3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___4X8Mj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___4X8Mj > picture > img {
  object-fit: cover;
}
.img___4X8Mj > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__f30B9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__f30B9 > picture > img {
  object-fit: cover;
}
.img__f30B9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__tkgid {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__tkgid > picture > img {
  object-fit: cover;
}
.img__tkgid > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__xV2M8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__xV2M8 > picture > img {
  object-fit: cover;
}
.img__xV2M8 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__tAiFn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__tAiFn > picture > img {
  object-fit: cover;
}
.img__tAiFn > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__uPr0D {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__uPr0D > picture > img {
  object-fit: cover;
}
.img__uPr0D > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___8CjtB {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img___8CjtB > picture > img {
  object-fit: cover;
}
.img___8CjtB > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__udNcg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__udNcg > picture > img {
  object-fit: cover;
}
.img__udNcg > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__iuIu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__iuIu > picture > img {
  object-fit: cover;
}
.img__iuIu > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__wPt3B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__wPt3B > picture > img {
  object-fit: cover;
}
.img__wPt3B > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__uYkm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__uYkm > picture > img {
  object-fit: cover;
}
.img__uYkm > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___4KnfM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___4KnfM > picture > img {
  object-fit: cover;
}
.img___4KnfM > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___5MA7T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___5MA7T > picture > img {
  object-fit: cover;
}
.img___5MA7T > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___2RQyE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___2RQyE > picture > img {
  object-fit: cover;
}
.img___2RQyE > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__qVagv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__qVagv > picture > img {
  object-fit: cover;
}
.img__qVagv > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__u4Qd7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__u4Qd7 > picture > img {
  object-fit: cover;
}
.img__u4Qd7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__kn0Zq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__kn0Zq > picture > img {
  object-fit: cover;
}
.img__kn0Zq > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__u9OvY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__u9OvY > picture > img {
  object-fit: cover;
}
.img__u9OvY > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ddQwa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ddQwa > picture > img {
  object-fit: cover;
}
.img__ddQwa > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__tegpq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__tegpq > picture > img {
  object-fit: cover;
}
.img__tegpq > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__s2HHy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__s2HHy > picture > img {
  object-fit: cover;
}
.img__s2HHy > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__yzxVq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__yzxVq > picture > img {
  object-fit: cover;
}
.img__yzxVq > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__amEzp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__amEzp > picture > img {
  object-fit: cover;
}
.img__amEzp > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__vu2RF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__vu2RF > picture > img {
  object-fit: cover;
}
.img__vu2RF > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__o1GM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__o1GM > picture > img {
  object-fit: cover;
}
.img__o1GM > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__cndDy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__cndDy > picture > img {
  object-fit: cover;
}
.img__cndDy > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__dokKx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__dokKx > picture > img {
  object-fit: cover;
}
.img__dokKx > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___8DcPb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___8DcPb > picture > img {
  object-fit: cover;
}
.img___8DcPb > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__rHlDn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__rHlDn > picture > img {
  object-fit: cover;
}
.img__rHlDn > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__gipro {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__gipro > picture > img {
  object-fit: cover;
}
.img__gipro > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__doKBp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__doKBp > picture > img {
  object-fit: cover;
}
.img__doKBp > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__mm3Hx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__mm3Hx > picture > img {
  object-fit: cover;
}
.img__mm3Hx > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__kdjSj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__kdjSj > picture > img {
  object-fit: cover;
}
.img__kdjSj > .__wab_img-spacer > img {
  object-fit: cover;
}
.textLinkHeadlineParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-left: 4px;
  align-self: center;
  min-width: 0;
}
.textLinkHeadlineParent__size__360X360 {
  width: 360px;
}
.textLinkHeadlineParent__size__270X270 {
  width: 270px;
}
.text__ntFG {
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  font-size: 18px;
}
.subheadParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-left: 4px;
  min-width: 0;
}
.subheadParent__description {
  display: none;
}
.subheadParent__size__360X360 {
  width: 360px;
}
.subheadParent__size__270X270 {
  width: 270px;
}
.text___7ErTm {
  font-size: 14px;
  line-height: 1.4;
}
