.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.parent {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: auto;
  background: #ffffff;
  border-radius: 4px;
  border: 2px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__cWfDy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px 8px 8px;
}
.freeBox__cWfDy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cWfDy > :global(.__wab_flex-container) > *,
.freeBox__cWfDy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cWfDy > :global(.__wab_flex-container) > picture > img,
.freeBox__cWfDy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__ysQD {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: row;
}
.freeBox___1W5DM {
  display: flex;
  align-self: stretch;
  position: relative;
}
.slotTargetHeadline {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
}
.freeBox__cViio {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.freeBox__vMsaM {
  display: flex;
  align-self: stretch;
  position: relative;
}
.slotTargetSubhead {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: MAJ29KQMI */;
}
.freeBox__l8W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  align-self: center;
  min-width: 0;
  padding: 8px 32px;
}
.freeBox__oemE4 {
  width: 100%;
  height: auto;
  align-self: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.buttonParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 48px;
  align-self: baseline;
  min-width: 0;
  flex-shrink: 0;
}
.button__dxNg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-top-width: 2px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0px;
  min-width: 0;
  min-height: 0;
  border-style: solid;
  border-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.root .button__dxNg:hover {
  background: #f8f8f8;
}
.textParent {
  width: 100%;
  height: auto;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
.slotTargetChildren {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
}
.button__kn7KG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-bottom-right-radius: 4px;
  min-width: 0;
  min-height: 0;
  border-style: solid;
  border-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.root .button__kn7KG:hover {
  background: #f8f8f8;
}
.textParentB {
  width: 100%;
  height: auto;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.slotTargetSlot {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
}
