.root {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.userAvatar:global(.__wab_instance) {
  position: relative;
}
.img__ixKDg {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__ixKDg > picture > img {
  object-fit: cover;
}
.img__ixKDg > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__bgpEk {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__bgpEk > picture > img {
  object-fit: cover;
}
.img__bgpEk > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__rt8TC {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__rt8TC > picture > img {
  object-fit: cover;
}
.img__rt8TC > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__mrcDr {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__mrcDr > picture > img {
  object-fit: cover;
}
.img__mrcDr > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__lUq6W {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__lUq6W > picture > img {
  object-fit: cover;
}
.img__lUq6W > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__gNgS {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__gNgS > picture > img {
  object-fit: cover;
}
.img__gNgS > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__tuUEp {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__tuUEp > picture > img {
  object-fit: cover;
}
.img__tuUEp > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__cQQq {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__cQQq > picture > img {
  object-fit: cover;
}
.img__cQQq > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___7JqCy {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___7JqCy > picture > img {
  object-fit: cover;
}
.img___7JqCy > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__vFzvv {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__vFzvv > picture > img {
  object-fit: cover;
}
.img__vFzvv > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__mg2My {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__mg2My > picture > img {
  object-fit: cover;
}
.img__mg2My > .__wab_img-spacer > img {
  object-fit: cover;
}
