.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.radioBorder {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  border-radius: 100px;
  padding: 2px;
  border: 2px solid #14161b /* plasmic-token: IbTSH9_JJ */;
}
.radioBorderselected {
  border-color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.radioBordersize__12Px {
  border-width: 1px;
}
.radioBordersize__14Px {
  border-width: 1px;
}
.radioBordersize__16Px {
  border-width: 1px;
}
.radioBordersize__18Px {
  border-width: 1px;
}
.root:hover .radioBorder {
  border-color: #101010 /* plasmic-token: 7-Hl8dlot */;
}
.radioCore {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 100px;
}
.radioCoreselected {
  background: #101010;
}
.radioCoresize__12Px {
  width: 6px;
  height: 6px;
  flex-shrink: 0;
}
.radioCoresize__14Px {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
}
.radioCoresize__16Px {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}
.radioCoresize__18Px {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.radioCoresize__32Px {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
