.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 32px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.parent__height__36 {
  height: 36px;
  flex-shrink: 0;
}
.parent__height__40 {
  height: 40px;
  flex-shrink: 0;
}
.parent__height__48 {
  height: 48px;
  flex-shrink: 0;
}
.parent__width__120 {
  width: 120px;
}
.parent__width__180 {
  width: 180px;
}
.parent__width__270 {
  width: 270px;
}
.parent__width__360 {
  width: 360px;
}
.parent__width__540 {
  width: 540px;
}
.parent__width__720 {
  width: 720px;
}
.root:hover .parent {
  border-style: solid;
  border-color: #e0e2e7 /* plasmic-token: oEMOojyFv */;
}
.prefixparent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: auto;
  left: auto;
  width: auto;
  height: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background: #f8f8f8;
  min-height: 0;
  padding: 2px 8px;
  border: 1px none #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.prefixparent__prefix {
  display: none;
}
.prefixparent__type_secondary {
  background: #ffffff;
}
.slotTargetPrefixLabelHeadline {
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
.value {
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  height: 100%;
  padding-left: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  line-height: 1;
  white-space: pre;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  border: 1px none #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.root:hover .value {
  border-color: #14161b /* plasmic-token: _aCbIOo4N */;
}
.root .value:hover {
  border: 1px solid #14161b /* plasmic-token: _aCbIOo4N */;
}
.root .value:focus {
  outline: none;
  border-style: solid;
  border-color: #6633ff /* plasmic-token: brleuPgaD */;
}
.suffixParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: auto;
  left: auto;
  width: auto;
  height: 100%;
  background: #f8f8f8;
  min-height: 0;
  border-radius: 0px 2px 2px 0px;
  padding: 2px 8px;
  border: 1px none #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.suffixParent__suffix {
  display: none;
}
.suffixParent__type_secondary {
  left: auto;
  top: auto;
  background: #ffffff;
}
.slotTargetSuffixLabelHeadline {
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
