.root {
  flex-direction: row;
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  padding: 2px 6px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: unset;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
.parent {
  display: flex;
  position: relative;
  align-self: center;
  width: auto;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.parent > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  align-content: unset;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svgLeftParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: auto;
  left: auto;
  align-self: auto;
  width: 14px;
  height: 14px;
  align-content: unset;
  flex-shrink: 0;
}
.svgLeftParentsize__16 {
  justify-content: center;
  align-items: center;
  align-content: unset;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svgLeftParentsize__18 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.svgLeftParentsize__24 {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.slotTargetSvgLeft {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.slotTargetSvgLeftcolor_light {
  color: #eaeaea /* plasmic-token: t2DPA2Clx */;
}
.slotTargetSvgLeftcolor_primary {
  color: #5229cc /* plasmic-token: SilK1AnWd */;
}
.rootcolor_light:hover .slotTargetSvgLeftcolor_light {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.rootcolor_dark:hover .slotTargetSvgLeftcolor_dark {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.rootcolor_primary:hover .slotTargetSvgLeftcolor_primary {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.svg__f2Wy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.slotTargetChildren {
  text-align: left;
  line-height: 1;
  white-space: pre;
}
.slotTargetChildrencolor_light {
  color: #eaeaea /* plasmic-token: t2DPA2Clx */;
}
.slotTargetChildrencolor_dark {
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
}
.slotTargetChildrencolor_primary {
  color: #5229cc /* plasmic-token: SilK1AnWd */;
}
.slotTargetChildrensize__14 {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
}
.slotTargetChildrensize__16 {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
  text-transform: none;
}
.slotTargetChildrensize__18 {
  font-size: 18px;
  font-weight: 500;
}
.slotTargetChildrensize__24 {
  font-size: 24px;
  font-weight: 500;
}
.root:hover .slotTargetChildren {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.rootcolor_light:hover .slotTargetChildrencolor_light {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.rootcolor_primary:hover .slotTargetChildrencolor_primary {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.svgRightParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: auto;
  left: auto;
  align-self: auto;
  width: 14px;
  height: 14px;
  align-content: unset;
  flex-shrink: 0;
}
.svgRightParentsize__16 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svgRightParentsize__18 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.svgRightParentsize__24 {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.slotTargetSvgRight {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.slotTargetSvgRightcolor_light {
  color: #eaeaea /* plasmic-token: t2DPA2Clx */;
}
.slotTargetSvgRightcolor_primary {
  color: #5229cc /* plasmic-token: SilK1AnWd */;
}
.rootcolor_light:hover .slotTargetSvgRightcolor_light {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.rootcolor_dark:hover .slotTargetSvgRightcolor_dark {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.rootcolor_primary:hover .slotTargetSvgRightcolor_primary {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.svg__apSlW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
