.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navbarInternal:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.navbarMemberEdit:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.sectionTeamMembershipStatus {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionTeamMembershipStatus > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamMembershipStatus > :global(.__wab_flex-container) > *,
.sectionTeamMembershipStatus
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamMembershipStatus > :global(.__wab_flex-container) > picture > img,
.sectionTeamMembershipStatus
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.cardHeaderTitleDisplay:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox___59Yow {
  font-weight: 700;
}
.freeBox__z0MCe {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding: 0px;
}
.freeBox__z0MCe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__z0MCe > :global(.__wab_flex-container) > *,
.freeBox__z0MCe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z0MCe > :global(.__wab_flex-container) > picture > img,
.freeBox__z0MCe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__hQujY:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__vjDmR {
  height: auto;
  max-width: 328px;
}
.freeBox__w0Nfq {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__w0Nfq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__w0Nfq > :global(.__wab_flex-container) > *,
.freeBox__w0Nfq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w0Nfq > :global(.__wab_flex-container) > picture > img,
.freeBox__w0Nfq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__erGt7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  align-content: unset;
  width: 100%;
  height: auto;
  min-width: 0;
}
.tagPartnerA:global(.__wab_instance) {
  position: relative;
}
.freeBox__tiDRl {
  position: relative;
  width: 540px;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: column;
  background: #f8f8f8;
  border-radius: 2px;
  padding: 8px;
  border: 1px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.freeBox__dsxJe {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__dsxJe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dsxJe > :global(.__wab_flex-container) > *,
.freeBox__dsxJe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dsxJe > :global(.__wab_flex-container) > picture > img,
.freeBox__dsxJe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.buttonLinkPrimary__gz4S5:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.buttonLinkPrimary__bWeX:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.sectionTeamMembershipPlan {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionTeamMembershipPlan > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamMembershipPlan > :global(.__wab_flex-container) > *,
.sectionTeamMembershipPlan
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamMembershipPlan > :global(.__wab_flex-container) > picture > img,
.sectionTeamMembershipPlan
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__lYwlJ {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding: 0px;
}
.freeBox__lYwlJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__lYwlJ > :global(.__wab_flex-container) > *,
.freeBox__lYwlJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lYwlJ > :global(.__wab_flex-container) > picture > img,
.freeBox__lYwlJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__lj3Cl:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__sper2 {
  height: auto;
  max-width: 328px;
}
.freeBox__bCkXy {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  background: rgba(68, 192, 255, 0.2);
}
.tableMembershipHeader:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.tableMembershipRecord:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__pCgaO {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
}
.freeBox__pCgaO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pCgaO > :global(.__wab_flex-container) > *,
.freeBox__pCgaO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pCgaO > :global(.__wab_flex-container) > picture > img,
.freeBox__pCgaO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.buttonPrimary__m0MnT:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__vny1R {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.buttonPrimary__frVc5:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__ad1Q5 {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.sectionTeamPaymentMethods {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 16px 180px 96px;
}
.sectionTeamPaymentMethods > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamPaymentMethods > :global(.__wab_flex-container) > *,
.sectionTeamPaymentMethods
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamPaymentMethods > :global(.__wab_flex-container) > picture > img,
.sectionTeamPaymentMethods
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___0I7Eb {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding: 0px;
}
.freeBox___0I7Eb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___0I7Eb > :global(.__wab_flex-container) > *,
.freeBox___0I7Eb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0I7Eb > :global(.__wab_flex-container) > picture > img,
.freeBox___0I7Eb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__yFiMv:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__ybh2C {
  height: auto;
  max-width: 328px;
}
.freeBox__k0ELd {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  background: rgba(68, 192, 255, 0.2);
}
.tableBillingHeader:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.tableBillingRecord:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.buttonPrimary__gHcZ:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.svg__cl6Dk {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.footerB:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
}
