.root {
  flex-direction: row;
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 2px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  left: auto;
  top: auto;
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
  align-self: center;
  flex-shrink: 0;
}
.svgsize__14 {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.ratingScore:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.slotTargetChildren {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
}
.slotTargetChildrencolor_primaryB {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.slotTargetChildrensize__14 {
  font-size: 14px;
}
.slotTargetChildrensize__16 {
  font-size: 16px;
}
.ratingReviewAmount:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.slotTargetSlot {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
}
.slotTargetSlotcolor_primaryB {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.slotTargetSlotsize__14 {
  font-size: 14px;
}
.slotTargetSlotsize__16 {
  font-size: 16px;
}
