.root {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root {
    align-items: center;
  }
}
.parent {
  flex-direction: column;
  display: flex;
  width: 360px;
  height: auto;
  padding: 8px 16px 16px;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .parent {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 8px 16px 16px;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .parent > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .parent > :global(.__wab_flex-container) > *,
  .parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .parent > :global(.__wab_flex-container) > picture > img,
  .parent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.details {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.detailsText {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: var(--token-6OoG_pvkg);
  align-self: stretch;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .detailsText {
    display: block;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.2;
    color: var(--token-6OoG_pvkg);
    align-self: stretch;
  }
}
.detailsParent {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.detailsParent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.detailsParent > :global(.__wab_flex-container) > *,
.detailsParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.detailsParent > :global(.__wab_flex-container) > picture > img,
.detailsParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.memberBadges {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.memberBadges > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.memberBadges > :global(.__wab_flex-container) > *,
.memberBadges > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.memberBadges > :global(.__wab_flex-container) > picture > img,
.memberBadges
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__wpQmj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.memberStatus3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: flex;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .memberStatus3:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__yoDnP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.primaryCompanyName {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
  padding: 0px;
}
.primaryCompanyName > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.primaryCompanyName > :global(.__wab_flex-container) > *,
.primaryCompanyName > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.primaryCompanyName > :global(.__wab_flex-container) > picture > img,
.primaryCompanyName
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .primaryCompanyName {
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .primaryCompanyName > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.iconPrimary___6YHte:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  display: flex;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .iconPrimary___6YHte:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.svgIcon3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-lJGpMo6--);
  min-width: 0;
  min-height: 0;
}
.svgIcon12 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon22 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon13 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon14 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon15 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon16 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon17 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon18 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon19 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.userPrimaryCompanyName1 {
  position: relative;
  left: auto;
  top: auto;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}
.companyparent3 {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
  padding: 0px;
}
.companyparent3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.companyparent3 > :global(.__wab_flex-container) > *,
.companyparent3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.companyparent3 > :global(.__wab_flex-container) > picture > img,
.companyparent3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .companyparent3 {
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .companyparent3 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.iconPrimary__j5Jnp:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  display: flex;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .iconPrimary__j5Jnp:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.svgIcon24 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-lJGpMo6--);
  min-width: 0;
  min-height: 0;
}
.svgIcon25 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon23 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon26 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon27 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon28 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon29 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon30 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon31 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon32 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.userPrimaryCompanyName2 {
  position: relative;
  left: auto;
  top: auto;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}
.languagesAb {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.languagesAb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.languagesAb > :global(.__wab_flex-container) > *,
.languagesAb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.languagesAb > :global(.__wab_flex-container) > picture > img,
.languagesAb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.iconPrimary__tMw5P:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.svgIcon33 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-lJGpMo6--);
  min-width: 0;
  min-height: 0;
}
.svgIcon34 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon21 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon35 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon36 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon37 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon38 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon39 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon40 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon41 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.languageParent {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.languageParent > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.languageParent > :global(.__wab_flex-container) > *,
.languageParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.languageParent > :global(.__wab_flex-container) > picture > img,
.languageParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.languageA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
}
.text__zJxej {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: var(--token-F4gy0u3aB);
  align-self: stretch;
}
.languageB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__vPsIx {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: var(--token-F4gy0u3aB);
  align-self: stretch;
}
.locationCityCountry {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.locationCityCountry > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.locationCityCountry > :global(.__wab_flex-container) > *,
.locationCityCountry
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.locationCityCountry > :global(.__wab_flex-container) > picture > img,
.locationCityCountry
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.iconPrimary__aZcKu:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.svgIcon42 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-lJGpMo6--);
  min-width: 0;
  min-height: 0;
}
.svgIcon43 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon11 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon44 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon45 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon46 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon47 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon48 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon49 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon50 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.location2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.location2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.location2 > :global(.__wab_flex-container) > *,
.location2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.location2 > :global(.__wab_flex-container) > picture > img,
.location2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.cityText2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
}
.text__rovGm {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: var(--token-F4gy0u3aB);
  align-self: stretch;
}
.text__h9Ew {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: var(--token-ec1vMFIzT);
  align-self: stretch;
  position: relative;
  width: auto;
  height: auto;
}
.countryText {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__rAn6N {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: var(--token-F4gy0u3aB);
  align-self: stretch;
}
.membershipDateTimestamp {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.membershipDateTimestamp > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.membershipDateTimestamp > :global(.__wab_flex-container) > *,
.membershipDateTimestamp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.membershipDateTimestamp > :global(.__wab_flex-container) > picture > img,
.membershipDateTimestamp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.iconPrimary__cYBj:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.svg__sgkY4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-lJGpMo6--);
  min-width: 0;
  min-height: 0;
}
.svg__s59Q2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svgIcon20 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svg__bh5D {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svg__sNxBc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svg__tJDwG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svg__muP8J {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svg__cLkUd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svg__lbHq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.svg___5Dve9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: var(--token-IbTSH9_JJ);
  min-width: 0;
  min-height: 0;
}
.membershipParent {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.membershipParent > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.membershipParent > :global(.__wab_flex-container) > *,
.membershipParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.membershipParent > :global(.__wab_flex-container) > picture > img,
.membershipParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.memberTextLabel {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
}
.text__zQj11 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: var(--token-F4gy0u3aB);
  align-self: stretch;
}
.dateTimestampParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___3O7Bo {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: var(--token-F4gy0u3aB);
  align-self: stretch;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .text___3O7Bo {
    display: block;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1;
    color: var(--token-F4gy0u3aB);
    align-self: stretch;
  }
}
