.root {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 180px;
  height: 32px;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
.parent__size__90 {
  width: 90px;
}
.parent__size__160 {
  width: 160px;
}
.parent__size__270 {
  width: 270px;
}
.parent__size__360 {
  width: 360px;
}
.passwordInput {
  width: 100%;
  height: 100%;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  min-width: 0;
  min-height: 0;
  border-radius: 2px;
  background: #f8f8f8 repeat;
  border: 2px solid #dddddd /* plasmic-token: i5T_lGWIG */;
}
.passwordInput__type_secondary {
  background: #ffffff;
}
.root:hover .passwordInput {
  border-color: #333333 /* plasmic-token: _aCbIOo4N */;
}
.root:focus-within .passwordInput {
  outline: none;
  border-color: #6633ff /* plasmic-token: brleuPgaD */;
}
