.buttonTrigger {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 32px;
  width: auto;
  position: relative;
  background: var(--token-5XhQ_b_Lb);
  border-radius: 4px;
  padding: 2px 6px;
  border: 2px solid var(--token-i5T_lGWIG);
}
.buttonTriggertrigger_disabled {
  border-color: var(--token-deafmaGIp);
}
.buttonTrigger:hover {
  border-color: var(--token-_aCbIOo4N);
}
.buttonTriggertrigger_disabled:hover {
  border-color: var(--token-deafmaGIp);
}
.buttonTrigger:active {
  background: var(--token-IHoAIP5sw);
  border-color: var(--token-Bz1wnYwjA);
}
.slotTargetText {
  color: var(--token-lJGpMo6--);
  line-height: 1;
  font-size: 14px;
}
.slotTargetTexttrigger_disabled {
  color: var(--token-t2DPA2Clx);
}
.buttonTrigger:hover .slotTargetText {
  color: var(--token-7-Hl8dlot);
}
.buttonTriggertrigger_disabled:hover .slotTargetTexttrigger_disabled {
  color: var(--token-t2DPA2Clx);
}
.buttonTrigger:active .slotTargetText {
  color: var(--token-97FZ-MZpy);
}
