.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  height: auto;
  position: relative;
}
.freeBox__p9DDy {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  padding-left: 0px;
  min-width: 0;
}
.freeBox__p9DDy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__p9DDy > :global(.__wab_flex-container) > *,
.freeBox__p9DDy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p9DDy > :global(.__wab_flex-container) > picture > img,
.freeBox__p9DDy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.freeBox__gMrSa {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.slotTargetChildren {
  font-size: 16px;
  font-weight: 700;
  color: var(--token-F4gy0u3aB);
  text-align: left;
}
.totalCurrencyNumberValue {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding-left: 4px;
}
.totalCurrencyNumberValue > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.totalCurrencyNumberValue > :global(.__wab_flex-container) > *,
.totalCurrencyNumberValue
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.totalCurrencyNumberValue > :global(.__wab_flex-container) > picture > img,
.totalCurrencyNumberValue
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.currencyParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.currencyText {
  font-size: 16px;
  text-align: left;
  width: 100%;
  height: auto;
  font-weight: 700;
  color: var(--token-F4gy0u3aB);
  min-width: 0;
}
.subtotalParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.totalValueNumberParent {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
}
.slotTargetTotalValueNumber {
  font-size: 16px;
  font-weight: 700;
  color: var(--token-F4gy0u3aB);
  text-align: left;
}
