.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 839px;
  height: auto;
  position: relative;
  background: rgba(68, 192, 255, 0.2);
}
.img__ju0U3 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ju0U3 > picture > img {
  object-fit: cover;
}
.img__ju0U3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___0GW0V {
  display: flex;
  position: relative;
  width: 540px;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ebebeb;
  flex-shrink: 0;
  padding: 24px;
}
.freeBox___7QjsC {
  position: relative;
  left: auto;
  top: auto;
  width: 467px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}
.freeBox__e3NvI {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: column;
}
.slotTargetChildren {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #333333 /* plasmic-token: ec1vMFIzT */;
}
.freeBox__n6Om6 {
  position: relative;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
}
.freeBox__tIx4I {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: column;
}
.slotTargetSlot {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: MAJ29KQMI */;
}
.freeBox__ynnS1 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.freeBox__usx1B {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: column;
}
.slotTargetSlot2 {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #333333 /* plasmic-token: ec1vMFIzT */;
}
