.root {
  flex-direction: column;
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.checkoutHeadlineText {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: var(--token-6OoG_pvkg);
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  width: 360px;
}
.checkoutSubTotalListItemBlock {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.checkoutSubTotalListItemBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.checkoutSubTotalListItemBlock > :global(.__wab_flex-container) > *,
.checkoutSubTotalListItemBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.checkoutSubTotalListItemBlock > :global(.__wab_flex-container) > picture > img,
.checkoutSubTotalListItemBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.elementCheckoutHeadlineTotal:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.checkoutListItems {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.checkoutListItems > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: calc(0px - 18px);
  height: calc(100% + 18px);
}
.checkoutListItems > :global(.__wab_flex-container) > *,
.checkoutListItems > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.checkoutListItems > :global(.__wab_flex-container) > picture > img,
.checkoutListItems
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 18px;
}
.elementCheckoutSubHeadlineTotal:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.elementCheckoutListItemUnitInterval:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.placementHeadline {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__d20Mo {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding-left: 0px;
}
.freeBox__d20Mo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__d20Mo > :global(.__wab_flex-container) > *,
.freeBox__d20Mo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d20Mo > :global(.__wab_flex-container) > picture > img,
.freeBox__d20Mo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.text__hnkjh {
  position: relative;
  left: auto;
  top: auto;
  font-size: 14px;
  text-align: left;
  font-weight: 700;
  width: 80px;
  color: var(--token-F4gy0u3aB);
  flex-shrink: 0;
}
.freeBox__ulvEc {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding-left: 4px;
}
.freeBox__ulvEc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__ulvEc > :global(.__wab_flex-container) > *,
.freeBox__ulvEc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ulvEc > :global(.__wab_flex-container) > picture > img,
.freeBox__ulvEc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text__mRg2O {
  position: relative;
  left: auto;
  top: auto;
  font-size: 14px;
  text-align: left;
  width: auto;
  height: auto;
  font-weight: 700;
  color: var(--token-F4gy0u3aB);
}
.freeBox__w6Xdr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.text__n2Tbz {
  font-size: 14px;
  text-align: left;
  width: auto;
  height: auto;
  font-weight: 700;
  color: var(--token-F4gy0u3aB);
}
.freeBox__mj7GH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__fbCfP {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding-left: 0px;
}
.freeBox__fbCfP > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fbCfP > :global(.__wab_flex-container) > *,
.freeBox__fbCfP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fbCfP > :global(.__wab_flex-container) > picture > img,
.freeBox__fbCfP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__zplQa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.freeBox__nCvGr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-_lNibwHIy);
  border-radius: 2px;
  padding: 2px;
}
.text__nNdhn {
  font-size: 14px;
  text-align: left;
  width: auto;
  font-weight: 400;
  line-height: 1;
  border-radius: 2px;
  padding: 0px;
}
.text__c2ZN7 {
  position: relative;
  left: auto;
  top: auto;
  font-size: 14px;
  text-align: left;
  width: 100%;
  line-height: 1;
  min-width: 0;
}
.freeBox__xzFrb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.text__rdiZ6 {
  font-size: 14px;
  text-align: left;
  width: auto;
  line-height: 1;
}
.freeBox__lTtnn {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__lTtnn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__lTtnn > :global(.__wab_flex-container) > *,
.freeBox__lTtnn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lTtnn > :global(.__wab_flex-container) > picture > img,
.freeBox__lTtnn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.freeBox__ayWyh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  background: var(--token-_lNibwHIy);
  border-radius: 2px;
  padding: 2px;
}
.text___4Olga {
  font-size: 14px;
  text-align: left;
  width: auto;
  line-height: 1;
  border-radius: 2px;
  padding: 0px;
}
.freeBox__ioo18 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding-left: 4px;
}
.freeBox__ioo18 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__ioo18 > :global(.__wab_flex-container) > *,
.freeBox__ioo18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ioo18 > :global(.__wab_flex-container) > picture > img,
.freeBox__ioo18
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text__rYWv {
  position: relative;
  left: auto;
  top: auto;
  font-size: 14px;
  text-align: left;
  width: auto;
  height: auto;
}
.freeBox__fOqvL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.text__yHrcu {
  font-size: 14px;
  text-align: left;
  width: auto;
  height: auto;
}
.svg__xmCJi {
  position: relative;
  object-fit: cover;
  width: 360px;
  height: 1em;
  left: auto;
  top: auto;
  color: var(--token--59aep1Mm);
  flex-shrink: 0;
}
.checkoutPromotionInput {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.checkoutPromotionInput > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: calc(0px - 18px);
  height: calc(100% + 18px);
}
.checkoutPromotionInput > :global(.__wab_flex-container) > *,
.checkoutPromotionInput
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.checkoutPromotionInput > :global(.__wab_flex-container) > picture > img,
.checkoutPromotionInput
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 18px;
}
.inputCheckoutPromotion:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.text__holu8 {
  font-size: 16px;
  font-weight: 700;
}
.elementCheckoutPromotionPercentTotalValue:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.svg__ar5S {
  position: relative;
  object-fit: cover;
  width: 360px;
  height: 1em;
  left: auto;
  top: auto;
  color: var(--token--59aep1Mm);
  flex-shrink: 0;
}
.checkoutTotalButtonBlock {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.checkoutTotalButtonBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.checkoutTotalButtonBlock > :global(.__wab_flex-container) > *,
.checkoutTotalButtonBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.checkoutTotalButtonBlock > :global(.__wab_flex-container) > picture > img,
.checkoutTotalButtonBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.elementCheckoutTotalHeadline:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.checkoutPlaceOrder:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.text__ycT5E {
  font-size: 18px;
  font-weight: 700;
}
.svg__mFrdj {
  width: 100%;
  height: 100%;
  color: var(--token-fuGaen6l1);
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__u6Eao {
  width: 100%;
  height: 100%;
  color: var(--token-gJaAJBnXh);
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
