.root {
  display: flex;
  flex-direction: column;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.xero:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.svg__ujXjT {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #13b5ea /* plasmic-token: qYCtWfv-v */;
}
.quickbooks:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.svg__oObt4 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #2ca01c /* plasmic-token: gGUp-8FW6 */;
}
