.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 60px;
  border-bottom-color: #e4e4e4 /* plasmic-token: t2DPA2Clx */;
  position: relative;
  padding: 10px;
  border-width: 1px;
  border-style: none;
}
.root__size_small {
  width: 150px;
  height: 50px;
}
.box___5Hp8 {
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
}
.box__qfYAs {
  display: flex;
  align-self: stretch;
  position: relative;
}
.box__size_small__qfYAscBzwQ {
  width: 100%;
  min-width: 0;
}
.slotChildren {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.2;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.slotChildren__size_small {
  font-size: 12px;
  font-weight: 500;
}
.box___99Rg {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  border-radius: 100%;
  padding: 0px;
  background: #ffffff;
  border: 2px solid #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.box__size_small___99RgCBzwQ {
  border-width: 2px;
  border-color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.svg__a9Ot1 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 12px;
  height: 12px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
  flex-shrink: 0;
}
