.parent {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  position: relative;
  padding: 0px;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 2px;
}
.superpowerIcon {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.overallMemberRatingNumber {
  position: relative;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: row;
}
.box__xcZnF {
  position: relative;
  font-size: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
  line-height: 1;
}
