.root {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.section {
  flex-direction: column;
  display: flex;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px 64px 96px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: unset;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .section {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .section > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section > :global(.__wab_flex-container) > picture > img,
  .section
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .text__yeXyz {
    color: #101010 /* plasmic-token: 7-Hl8dlot */;
  }
}
.text__dejis {
  line-height: 1.4;
  font-weight: 700;
  max-width: 380px;
}
.text__h6Ovh {
  max-width: 380px;
}
.freeBox___2Tsr3 {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox___2Tsr3 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: unset;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 96px);
  width: calc(100% + 96px);
  margin-top: calc(0px - 96px);
  height: calc(100% + 96px);
}
.freeBox___2Tsr3 > :global(.__wab_flex-container) > *,
.freeBox___2Tsr3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Tsr3 > :global(.__wab_flex-container) > picture > img,
.freeBox___2Tsr3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 96px;
  margin-top: 96px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox___2Tsr3 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox___2Tsr3 > :global(.__wab_flex-container) > *,
  .freeBox___2Tsr3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2Tsr3 > :global(.__wab_flex-container) > picture > img,
  .freeBox___2Tsr3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__ole9C {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__ole9C > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__ole9C > :global(.__wab_flex-container) > *,
.freeBox__ole9C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ole9C > :global(.__wab_flex-container) > picture > img,
.freeBox__ole9C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.cardHeaderTitleDisplay___2XIJq:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.text__by0Ei {
  font-weight: 700;
}
.freeBox__y9Ng2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-content: unset;
  min-width: 0;
  padding: 0px;
}
.cardLinkServiceMenu__igqy1:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg__txgdv {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
}
.text__ohydN {
  font-size: 12px;
}
.cardLinkServiceMenu__yrtCz:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg__ryYhu {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
}
.text___1AOSs {
  font-size: 12px;
}
.freeBox__xSa3Z {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__xSa3Z > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__xSa3Z > :global(.__wab_flex-container) > *,
.freeBox__xSa3Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xSa3Z > :global(.__wab_flex-container) > picture > img,
.freeBox__xSa3Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__xSa3Z {
    align-self: flex-start;
  }
}
.cardHeaderTitleDisplay__m8Vr8:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.text__endVa {
  font-weight: 700;
}
.freeBox__ruNmK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-content: unset;
  min-width: 0;
  padding: 0px;
}
.cardLinkServiceMenu___5RaC:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg__lxciF {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
}
.text__ahabj {
  font-size: 12px;
}
.cardLinkServiceMenu__khRkm:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg__p7Idg {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
}
.text__spOv4 {
  font-size: 12px;
}
.freeBox__gmWcB {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__gmWcB > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__gmWcB > :global(.__wab_flex-container) > *,
.freeBox__gmWcB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gmWcB > :global(.__wab_flex-container) > picture > img,
.freeBox__gmWcB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.cardHeaderTitleDisplay__gncpm:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.text__zehVc {
  font-weight: 700;
}
.freeBox__ciXrx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-content: unset;
  min-width: 0;
  padding: 0px;
}
.cardLinkServiceMenu__bHhwi:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg__hHibp {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
}
.text___8NttD {
  font-size: 12px;
}
.cardLinkServiceMenu__oqZn5:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg___7PcsK {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
}
.text__aaAc1 {
  font-size: 12px;
}
.freeBox__pdhvf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__pdhvf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__pdhvf > :global(.__wab_flex-container) > *,
.freeBox__pdhvf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pdhvf > :global(.__wab_flex-container) > picture > img,
.freeBox__pdhvf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.cardHeaderTitleDisplay__noHth:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.text__w4Yfz {
  font-weight: 700;
}
.freeBox__pRkid {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-content: unset;
  min-width: 0;
  padding: 0px;
}
.cardLinkServiceMenu___7QwSk:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg__s8QeU {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
}
.text__mgZqH {
  font-size: 12px;
}
.cardLinkServiceMenu__d5WcQ:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg__iSj8O {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
}
.text__ao4U4 {
  font-size: 12px;
}
.freeBox__hnQqj {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__hnQqj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__hnQqj > :global(.__wab_flex-container) > *,
.freeBox__hnQqj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hnQqj > :global(.__wab_flex-container) > picture > img,
.freeBox__hnQqj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.cardHeaderTitleDisplay__eeHkl:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.text__yNWgT {
  font-weight: 700;
}
.freeBox___4TlW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-content: unset;
  min-width: 0;
  padding: 0px;
}
.cardLinkServiceMenu___7YgBf:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg___7NqUc {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
}
.text__tOmRd {
  font-size: 12px;
}
.cardLinkServiceMenu__bQ5JV:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg__ide4B {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
}
.text__tpJgw {
  font-size: 12px;
}
