.root {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.rootnoLabel {
  width: auto;
  display: inline-flex;
}
.rootisDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.root___focusVisibleWithin {
  outline: none;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition-property: all;
  transition-duration: 0.2s;
  background: var(--token-530QP0ccB);
  flex-shrink: 0;
  border-radius: 2px;
  border: 2px solid var(--token-TctF8-gJH);
}
.freeBoxisChecked {
  background: var(--token-IHoAIP5sw);
  border-color: var(--token-brleuPgaD);
}
.root:hover .freeBox {
  background: #ffffff;
}
.root:focus-within .freeBox {
  outline: none;
  border-color: var(--token-97FZ-MZpy);
}
.root .freeBox___focusVisibleWithin {
  outline: none;
  border-style: dashed;
  border-color: var(--token-97FZ-MZpy);
}
.svg {
  position: relative;
  object-fit: cover;
  color: transparent;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
  display: block;
}
.svgisChecked {
  color: var(--token-97FZ-MZpy);
}
.svgisIndeterminate {
  color: var(--token-7-Hl8dlot);
}
.root .svg___focusVisibleWithin {
  outline: none;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(8px + 16px) !important;
}
.labelContainernoLabel {
  margin-left: calc(8px + 16px) !important;
}
.root .labelContainer___focusVisibleWithin {
  margin-left: calc(8px + 16px) !important;
  outline: none;
}
.slotTargetChildren {
  white-space: pre;
}
.slotTargetChildren > .__wab_text,
.slotTargetChildren > .__wab_slot-string-wrapper,
.slotTargetChildren > .__wab_slot > .__wab_text,
.slotTargetChildren > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetChildren
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-overflow: ellipsis;
}
.slotTargetChildren > *,
.slotTargetChildren > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > picture > img,
.slotTargetChildren > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  overflow: hidden;
}
.root .slotTargetChildren___focusVisibleWithin > *,
.root .slotTargetChildren___focusVisibleWithin > .__wab_slot > *,
.root .slotTargetChildren___focusVisibleWithin > .__wab_slot > .__wab_slot > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.root .slotTargetChildren___focusVisibleWithin > picture > img,
.root .slotTargetChildren___focusVisibleWithin > .__wab_slot > picture > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  outline: none;
}
