.root {
  display: flex;
  flex-direction: row;
  width: 720px;
  height: auto;
  border-bottom-width: 2px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-left-width: 1px;
  position: relative;
  background: #f8f8f8;
  transform-style: preserve-3d;
  border-radius: 2px;
  padding: 16px 8px;
  border-style: solid;
  border-color: #dcdcdc /* plasmic-token: TctF8-gJH */;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: unset;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox__qK279 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  height: 32px;
  width: 120px;
  align-content: unset;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.freeBox__qK279 * {
  transform-style: preserve-3d;
}
.text__a3KQy {
  font-size: 14px;
  width: auto;
  height: auto;
  text-transform: uppercase;
  font-weight: 700;
  transform-style: preserve-3d;
}
.text__a3KQy * {
  transform-style: preserve-3d;
}
.freeBox__oogN2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 64px;
  height: 32px;
  align-content: unset;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.freeBox__oogN2 * {
  transform-style: preserve-3d;
}
.text__mA29P {
  font-size: 14px;
  width: auto;
  height: auto;
  font-weight: 700;
  text-transform: uppercase;
  transform-style: preserve-3d;
}
.text__mA29P * {
  transform-style: preserve-3d;
}
.freeBox__oZw0L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 64px;
  height: 32px;
  align-content: unset;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.freeBox__oZw0L * {
  transform-style: preserve-3d;
}
.text__h0SDq {
  font-size: 14px;
  width: auto;
  height: auto;
  font-weight: 700;
  text-transform: uppercase;
  transform-style: preserve-3d;
}
.text__h0SDq * {
  transform-style: preserve-3d;
}
.freeBox__zAdKr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 96px;
  height: 32px;
  align-content: unset;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.freeBox__zAdKr * {
  transform-style: preserve-3d;
}
.text__sJHmB {
  font-size: 14px;
  width: auto;
  height: auto;
  font-weight: 700;
  text-transform: uppercase;
  transform-style: preserve-3d;
}
.text__sJHmB * {
  transform-style: preserve-3d;
}
.freeBox__pxwwt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 64px;
  height: 32px;
  align-content: unset;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.freeBox__pxwwt * {
  transform-style: preserve-3d;
}
.text__mlLbQ {
  font-size: 14px;
  width: auto;
  height: auto;
  font-weight: 700;
  text-transform: uppercase;
  transform-style: preserve-3d;
}
.text__mlLbQ * {
  transform-style: preserve-3d;
}
.freeBox___3BaDh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  top: auto;
  left: auto;
  width: 64px;
  height: 32px;
  align-content: unset;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.freeBox___3BaDh * {
  transform-style: preserve-3d;
}
.text__mms1R {
  font-size: 16px;
  width: auto;
  height: auto;
  transform-style: preserve-3d;
}
.text__mms1R * {
  transform-style: preserve-3d;
}
