.root {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  width: auto;
}
.root__size__180 {
  width: 180px;
}
.root__size__270 {
  width: 270px;
}
.root__size__540 {
  width: 540px;
}
.inputTextParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  height: 32px;
  width: 360px;
  flex-shrink: 0;
}
.inputTextParent__size__160 {
  width: 160px;
}
.inputTextParent__size__180 {
  width: 180px;
}
.inputTextParent__size__270 {
  width: 270px;
}
.inputTextParent__size__540 {
  width: 540px;
}
.textbox {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: #333333 /* plasmic-token: ec1vMFIzT */;
  align-self: flex-start;
  position: relative;
  text-transform: none;
  width: 100%;
  border-top-style: none;
  border-top-width: 1px;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-style: none;
  border-left-width: 1px;
  height: 100%;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
  background: #f8f8f8;
  border-color: #dddddd /* plasmic-token: i5T_lGWIG */;
}
.textbox__type_secondary {
  background: #ffffff;
}
.textbox__size__540 {
  width: 100%;
  min-width: 0;
}
.root:hover .textbox {
  border-right-style: none;
  border-top-style: none;
  border-left-style: none;
  border-color: #333333 /* plasmic-token: _aCbIOo4N */;
}
.root:focus-within .textbox {
  border-bottom-color: #6633ff /* plasmic-token: 97FZ-MZpy */;
  outline: none;
}
.root__type_secondary:focus-within .textbox__type_secondary {
  outline: none;
}
