.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: 16px;
  position: relative;
  background: #fae6eb;
  border-radius: 2px;
  padding: 2px 6px;
  border: 1px solid #cc0033 /* plasmic-token: zuxijHDLE */;
}
.root__inset {
  background: #f8f8f8;
  border-color: #dddddd /* plasmic-token: i5T_lGWIG */;
}
.root__inset:hover {
  background: #fae6eb;
  border-color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.freeBox {
  position: relative;
  width: auto;
  height: auto;
  text-transform: uppercase;
  font-size: 8px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
  line-height: 10px;
  font-weight: 600;
  display: inline-block;
}
.freeBox__inset {
  color: #999999 /* plasmic-token: lJGpMo6-- */;
}
.root__inset:hover .freeBox__inset {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
