.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .root > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.navbarPrimary:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__xw3D5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__xw3D5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__xw3D5 > :global(.__wab_flex-container) > *,
.freeBox__xw3D5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__xw3D5 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__xw3D5 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__xw3D5 > :global(.__wab_flex-container) > *,
  .freeBox__xw3D5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___8NTuR {
  display: block;
  font-size: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox___8NTuR {
    display: block;
    font-size: 36px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    letter-spacing: normal;
    line-height: 1.2;
    color: #000000 /* plasmic-token: 6OoG_pvkg */;
    align-self: stretch;
  }
}
.freeBox__puJal {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  text-align: center;
  min-width: 0;
}
.buttonPrimary___39Sso:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .buttonPrimary___39Sso:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__bCnFr {
  font-size: 24px;
}
.svg__utkPx {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.freeBox__mNj8P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__mNj8P > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__mNj8P > :global(.__wab_flex-container) > *,
.freeBox__mNj8P > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__mNj8P {
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 40px 16px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__mNj8P > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__mNj8P > :global(.__wab_flex-container) > *,
  .freeBox__mNj8P > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.overlineHeadline {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.overlineHeadline > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.overlineHeadline > :global(.__wab_flex-container) > *,
.overlineHeadline > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__qXrCf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__qXrCf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__qXrCf > :global(.__wab_flex-container) > *,
.freeBox__qXrCf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.svg__hvInH {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 4px;
  transition-property: all;
  transition-duration: 1s;
  color: #e0d6ff /* plasmic-token: WAX_l0bzr */;
  min-width: 0;
}
.freeBox___24Ig5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 160px;
  padding-left: 4px;
  padding-right: 4px;
  flex-shrink: 0;
}
.freeBox__e3Ga9 {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1;
  color: #c2adff /* plasmic-token: j08wwDM3g */;
  align-self: stretch;
  text-transform: uppercase;
  height: auto;
  width: 100%;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
.svg__cuOou {
  background: linear-gradient(45deg, #6633ff 39%, var(--token-ZTRVfTJgQ) 60%);
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 4px;
  color: #e0d6ff /* plasmic-token: WAX_l0bzr */;
  min-width: 0;
}
.freeBox___6REb0 {
  display: block;
  font-size: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox___6REb0 {
    display: block;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    letter-spacing: normal;
    line-height: 1.2;
    color: #000000 /* plasmic-token: 6OoG_pvkg */;
    align-self: stretch;
  }
}
.freeBox__prYez {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__prYez > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__prYez > :global(.__wab_flex-container) > *,
.freeBox__prYez > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.freeBox__rcvlP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 720px;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__rcvlP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__rcvlP > :global(.__wab_flex-container) > *,
.freeBox__rcvlP > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__rcvlP {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__lIpfr {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__lIpfr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lIpfr > :global(.__wab_flex-container) > *,
.freeBox__lIpfr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.freeBox__cbj2J {
  display: block;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__azDnF {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: MAJ29KQMI */;
  align-self: center;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__wFuH {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  text-align: center;
  min-width: 0;
}
.partnerMakerPricingTable {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  border: 2px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.partnerMakerPricingTable > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.partnerMakerPricingTable > :global(.__wab_flex-container) > *,
.partnerMakerPricingTable
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .partnerMakerPricingTable {
    flex-direction: row;
    width: 100%;
    display: flex;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .partnerMakerPricingTable > :global(.__wab_flex-container) {
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .partnerMakerPricingTable > :global(.__wab_flex-container) > *,
  .partnerMakerPricingTable
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > * {
    margin-top: 16px;
  }
}
.featureParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 540px;
  height: auto;
  left: auto;
  top: auto;
  background: #f8f8f8;
  flex-shrink: 0;
  padding: 32px;
}
.featureParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.featureParent > :global(.__wab_flex-container) > *,
.featureParent > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .featureParent {
    width: 100%;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
.freeBox__vwxfs {
  font-size: 12px;
  text-transform: uppercase;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
  font-weight: 600;
}
.textIconFeature {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.textIconFeature > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.textIconFeature > :global(.__wab_flex-container) > *,
.textIconFeature > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.freeBox__wlPz {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  background: #00ccbb;
  border-radius: 100px;
}
.svg__hgDJg {
  object-fit: cover;
  width: 18px;
  height: 18px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  flex-shrink: 0;
}
.freeBox__gnwu {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #333333 /* plasmic-token: ec1vMFIzT */;
  align-self: stretch;
  position: relative;
  text-transform: none;
  left: auto;
  top: auto;
}
.textIconFeature3 {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.textIconFeature3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.textIconFeature3 > :global(.__wab_flex-container) > *,
.textIconFeature3 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.freeBox__an01O {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  background: #00ccbb;
  border-radius: 100px;
}
.svg__k5Yt {
  object-fit: cover;
  width: 18px;
  height: 18px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  flex-shrink: 0;
}
.freeBox___2Xzml {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #333333 /* plasmic-token: ec1vMFIzT */;
  align-self: stretch;
  position: relative;
  text-transform: none;
  left: auto;
  top: auto;
}
.textIconFeature22 {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.textIconFeature22 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.textIconFeature22 > :global(.__wab_flex-container) > *,
.textIconFeature22 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.freeBox__qXBn {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  background: #00ccbb;
  border-radius: 100px;
}
.svg___5Jdjh {
  object-fit: cover;
  width: 18px;
  height: 18px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  flex-shrink: 0;
}
.freeBox__elFdi {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #333333 /* plasmic-token: ec1vMFIzT */;
  align-self: stretch;
  position: relative;
  text-transform: none;
  left: auto;
  top: auto;
}
.textIconFeature4 {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.textIconFeature4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.textIconFeature4 > :global(.__wab_flex-container) > *,
.textIconFeature4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.freeBox__ewRxj {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  background: #00ccbb;
  border-radius: 100px;
}
.svg__igdmc {
  object-fit: cover;
  width: 18px;
  height: 18px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  flex-shrink: 0;
}
.freeBox___78O4P {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #333333 /* plasmic-token: ec1vMFIzT */;
  align-self: stretch;
  position: relative;
  text-transform: none;
  left: auto;
  top: auto;
}
.textIconFeature5 {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.textIconFeature5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.textIconFeature5 > :global(.__wab_flex-container) > *,
.textIconFeature5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.freeBox___5ZbyH {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  background: #00ccbb;
  border-radius: 100px;
}
.svg__hijmx {
  object-fit: cover;
  width: 18px;
  height: 18px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  flex-shrink: 0;
}
.freeBox___3JRw8 {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #333333 /* plasmic-token: ec1vMFIzT */;
  align-self: stretch;
  position: relative;
  text-transform: none;
  left: auto;
  top: auto;
}
.pricingPageElementTeamBlock:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__zGDs {
  font-size: 18px;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox__h2Lcy {
  font-size: 18px;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg__qwFmK {
  object-fit: cover;
  width: 18px;
  height: 18px;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox___0SwN {
  font-size: 12px;
  font-weight: 400;
}
.pricingPageElementServiceBlock:global(.__wab_instance) {
  position: relative;
}
.freeBox__kkFlc {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox__ezKan {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox___6CITc {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox__xi5G5 {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox__pMdXl {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox__wkLr {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox___0BkM2 {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox__ePb1H {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox__kchUz {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox__br3D7 {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox__jiukn {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox__fnvBx {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox__igePv {
  font-size: 12px;
  font-weight: 400;
}
.svg__btZgk {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg___7TLq {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg__vWvO0 {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg__ia9B {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.freeBox__ytqvk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 540px;
  height: auto;
  left: auto;
  top: auto;
  flex-shrink: 0;
  padding: 32px;
}
.freeBox__ytqvk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__ytqvk > :global(.__wab_flex-container) > *,
.freeBox__ytqvk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__ytqvk {
    width: 100%;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
.freeBox__cDx72 {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__cDx72 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.freeBox__cDx72 > :global(.__wab_flex-container) > *,
.freeBox__cDx72 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 2px;
}
.dollarPrice {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.freeBox__dBblD {
  display: inline-block;
  font-size: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: flex-start;
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
}
.freeBox__gD8J {
  display: inline-block;
  font-size: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: flex-start;
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
}
.freeBox__lr5Y {
  display: inline-block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  align-self: auto;
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
}
.buttonPrimary__rw226:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.freeBox__keGh {
  font-size: 24px;
}
.svg__qgnAz {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.freeBox___3GDyF {
  position: relative;
  left: auto;
  top: auto;
  font-size: 14px;
}
.freeBox__ndgje {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__ndgje > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__ndgje > :global(.__wab_flex-container) > *,
.freeBox__ndgje > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__ndgje {
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 40px 16px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__ndgje > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__ndgje > :global(.__wab_flex-container) > *,
  .freeBox__ndgje > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.overlineHeadline22 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.overlineHeadline22 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.overlineHeadline22 > :global(.__wab_flex-container) > *,
.overlineHeadline22
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 24px;
}
.freeBox__wz9Wv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__wz9Wv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__wz9Wv > :global(.__wab_flex-container) > *,
.freeBox__wz9Wv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.svg__isDr {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 4px;
  color: #e0d6ff /* plasmic-token: WAX_l0bzr */;
  min-width: 0;
}
.freeBox__kLpgA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 160px;
  padding-left: 4px;
  padding-right: 4px;
  flex-shrink: 0;
}
.freeBox__y1Qv5 {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1;
  color: #c2adff /* plasmic-token: j08wwDM3g */;
  align-self: stretch;
  text-transform: uppercase;
  height: auto;
  width: 100%;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
.svg__eSZ {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 4px;
  color: #e0d6ff /* plasmic-token: WAX_l0bzr */;
  min-width: 0;
}
.freeBox__xSr4P {
  display: block;
  font-size: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__xSr4P {
    display: block;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    letter-spacing: normal;
    line-height: 1.2;
    color: #000000 /* plasmic-token: 6OoG_pvkg */;
    align-self: stretch;
  }
}
.freeBox___58Cuj {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox___58Cuj {
    display: block;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.4;
    color: #666666 /* plasmic-token: MAJ29KQMI */;
    align-self: stretch;
  }
}
.partnerPricingTableSection {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px;
}
.partnerPricingTableSection > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.partnerPricingTableSection > :global(.__wab_flex-container) > *,
.partnerPricingTableSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .partnerPricingTableSection {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.partnerProPricingTable:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.freeBox__hb4Af {
  line-height: 1.4;
}
.freeBox___1Uaaj {
  font-size: 40px;
}
.freeBox__pj7Ye {
  font-size: 14px;
  line-height: 1.4;
}
.freeBox__aeqQq {
  font-size: 14px;
  font-weight: 600;
}
.freeBox__vzHXs {
  height: auto;
}
.freeBox___3OnAg {
  font-size: 24px;
}
.freeBox__wWkM9 {
  font-size: 16px;
}
.freeBox__qcWi {
  font-size: 40px;
}
.svg__dYtz3 {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.svg__s7Yrr {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.svg__fYcFw {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.svg__bgken {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.partnerStartupPricingTable:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.freeBox__soZsm {
  line-height: 1.4;
}
.freeBox__jBfaa {
  font-size: 40px;
}
.freeBox__oaVu {
  font-size: 14px;
  line-height: 1.4;
}
.freeBox__jmO9N {
  font-size: 14px;
  font-weight: 600;
}
.freeBox___1Jop3 {
  height: auto;
}
.freeBox___6KZ0 {
  font-size: 24px;
}
.freeBox__zDmH {
  font-size: 16px;
}
.freeBox__cBFzO {
  font-size: 40px;
}
.svg__ojSPq {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.svg__r4FG {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.svg__hZ3Uc {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.svg__rq35 {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.partnerAgencyPricingtable:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.freeBox__eSuWu {
  line-height: 1.4;
}
.freeBox__nyPzf {
  font-size: 14px;
  line-height: 1.4;
}
.freeBox__bdYey {
  font-size: 40px;
}
.freeBox__fJzLf {
  font-weight: 600;
  font-size: 16px;
}
.freeBox__wkgWa {
  font-weight: 600;
  display: none;
}
.freeBox__hmuIu {
  display: none;
}
.freeBox___9X4By {
  display: none;
}
.freeBox___471ZH {
  font-weight: 600;
}
.freeBox__dBtJw {
  font-weight: 600;
}
.freeBox__xNvSn {
  display: none;
}
.freeBox__qwBj {
  font-size: 14px;
  font-weight: 600;
}
.freeBox__uaTPf {
  height: auto;
}
.freeBox__iDzgz {
  font-size: 24px;
}
.freeBox__aH9C7 {
  font-size: 16px;
}
.freeBox__sLgtc {
  font-size: 40px;
}
.svg__lzQhG {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.svg__b1WfT {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.svg__mS7St {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.svg__zKrkm {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.freeBox__jppWz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__jppWz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__jppWz > :global(.__wab_flex-container) > *,
.freeBox__jppWz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__jppWz {
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 40px 16px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__jppWz > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__jppWz > :global(.__wab_flex-container) > *,
  .freeBox__jppWz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.overlineHeadline2 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.overlineHeadline2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.overlineHeadline2 > :global(.__wab_flex-container) > *,
.overlineHeadline2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.freeBox__bRr8N {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__bRr8N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__bRr8N > :global(.__wab_flex-container) > *,
.freeBox__bRr8N > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.svg__j23Tq {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 4px;
  color: #e0d6ff /* plasmic-token: WAX_l0bzr */;
  min-width: 0;
}
.freeBox__eGh7N {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 160px;
  padding-left: 4px;
  padding-right: 4px;
  flex-shrink: 0;
}
.freeBox__gzqj2 {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1;
  color: #c2adff /* plasmic-token: j08wwDM3g */;
  align-self: stretch;
  text-transform: uppercase;
  height: auto;
  width: 100%;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
.svg__lj7Uq {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 4px;
  color: #e0d6ff /* plasmic-token: WAX_l0bzr */;
  min-width: 0;
}
.freeBox__xyCfg {
  display: block;
  font-size: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__xyCfg {
    display: block;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    letter-spacing: normal;
    line-height: 1.2;
    color: #000000 /* plasmic-token: 6OoG_pvkg */;
    align-self: stretch;
  }
}
.freeBox__nM5Y {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px 40px;
}
.freeBox__nM5Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__nM5Y > :global(.__wab_flex-container) > *,
.freeBox__nM5Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__nM5Y {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__nM5Y > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__nM5Y > :global(.__wab_flex-container) > *,
  .freeBox__nM5Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.cardFeatureDescription__jzQpV:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__z1I9A {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: #ebebeb;
  min-width: 0;
  min-height: 0;
  border-radius: 100px;
  padding: 2px;
  border-width: 0px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__z1I9A {
    padding: 4px;
  }
}
.svg__biheL {
  object-fit: cover;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardFeatureDescription__z3Wte:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__suBeb {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: #ebebeb;
  min-width: 0;
  min-height: 0;
  border-radius: 100px;
  padding: 2px;
  border-width: 0px;
  border-style: none;
}
.svg__vzVi6 {
  object-fit: cover;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardFeatureDescription__j0WfQ:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__q5Chp {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: #ebebeb;
  min-width: 0;
  min-height: 0;
  border-radius: 100px;
  padding: 2px;
  border-width: 0px;
  border-style: none;
}
.svg__iyhPz {
  object-fit: cover;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardFeatureDescription__ts4YO:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.freeBox__aCib {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: #ebebeb;
  min-width: 0;
  min-height: 0;
  border-radius: 100px;
  padding: 2px;
  border-width: 0px;
  border-style: none;
}
.svg__sVbpm {
  object-fit: cover;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardFeatureDescription__kDm22:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox___4Ad4N {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: #ebebeb;
  min-width: 0;
  min-height: 0;
  border-radius: 100px;
  padding: 2px;
  border-width: 0px;
  border-style: none;
}
.svg__oD4R {
  object-fit: cover;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardFeatureDescription__qMfwQ:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__kVtD {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: #ebebeb;
  min-width: 0;
  min-height: 0;
  border-radius: 100px;
  padding: 2px;
  border-width: 0px;
  border-style: none;
}
.svg__yyYG {
  object-fit: cover;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__mZzs5 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__mZzs5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__mZzs5 > :global(.__wab_flex-container) > *,
.freeBox__mZzs5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__mZzs5 {
    flex-direction: column;
    padding: 40px 24px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__mZzs5 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__mZzs5 > :global(.__wab_flex-container) > *,
  .freeBox__mZzs5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 48px;
  }
}
.freeBox__a1PDa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 1080px;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__a1PDa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__a1PDa > :global(.__wab_flex-container) > *,
.freeBox__a1PDa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__a1PDa {
    width: 100%;
    min-width: 0;
  }
}
.overlineHeadline24 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.overlineHeadline24 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.overlineHeadline24 > :global(.__wab_flex-container) > *,
.overlineHeadline24
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .overlineHeadline24 {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__moLw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__moLw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__moLw > :global(.__wab_flex-container) > *,
.freeBox__moLw > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.svg__meKzD {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 4px;
  color: #e0d6ff /* plasmic-token: WAX_l0bzr */;
  min-width: 0;
}
.freeBox__yo8P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 160px;
  padding-left: 4px;
  padding-right: 4px;
  flex-shrink: 0;
}
.freeBox__goBcd {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1;
  color: #c2adff /* plasmic-token: j08wwDM3g */;
  align-self: stretch;
  text-transform: uppercase;
  height: auto;
  width: 100%;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
.svg__aigQn {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 4px;
  color: #e0d6ff /* plasmic-token: WAX_l0bzr */;
  min-width: 0;
}
.freeBox__g9LgJ {
  display: block;
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__g9LgJ {
    display: block;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    letter-spacing: normal;
    line-height: 1.2;
    color: #000000 /* plasmic-token: 6OoG_pvkg */;
    align-self: stretch;
  }
}
.buttonPrimary__tA8Ol:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__evsG {
  font-size: 24px;
}
.svg__hlbPk {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.footerB:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
