.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navbarInternal:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
}
.navbarMemberEdit:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.sectionMemberEditProfile {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionMemberEditProfile > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionMemberEditProfile > :global(.__wab_flex-container) > *,
.sectionMemberEditProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionMemberEditProfile > :global(.__wab_flex-container) > picture > img,
.sectionMemberEditProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.cardHeaderTitleDisplay__acBi5:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.text___04ReL {
  font-weight: 700;
}
.formMemberEditProfile {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.formMemberEditProfile > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.formMemberEditProfile > :global(.__wab_flex-container) > *,
.formMemberEditProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.formMemberEditProfile > :global(.__wab_flex-container) > picture > img,
.formMemberEditProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.cardMemberPersonalVerification {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.cardMemberPersonalVerification > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberPersonalVerification > :global(.__wab_flex-container) > *,
.cardMemberPersonalVerification
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardMemberPersonalVerification
  > :global(.__wab_flex-container)
  > picture
  > img,
.cardMemberPersonalVerification
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__gEtHe:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__hxjHi {
  height: auto;
  max-width: 328px;
}
.memberPersonalNameGroup {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.memberPersonalNameGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: unset;
  justify-content: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.memberPersonalNameGroup > :global(.__wab_flex-container) > *,
.memberPersonalNameGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberPersonalNameGroup > :global(.__wab_flex-container) > picture > img,
.memberPersonalNameGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.firstName:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.lastName:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.buttonGroupStripeVerification:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.cardMemberImage {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 720px;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
  padding: 0px;
}
.cardMemberImage > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberImage > :global(.__wab_flex-container) > *,
.cardMemberImage > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberImage > :global(.__wab_flex-container) > picture > img,
.cardMemberImage
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__ezi8:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__h4Mp0 {
  height: auto;
  max-width: 328px;
}
.memberUploadLogoButtonGroup {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
  min-width: 0;
}
.memberUploadLogoButtonGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.memberUploadLogoButtonGroup > :global(.__wab_flex-container) > *,
.memberUploadLogoButtonGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberUploadLogoButtonGroup > :global(.__wab_flex-container) > picture > img,
.memberUploadLogoButtonGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.userAvatarButton:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.img__d733D {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 100%;
  border: 2px none #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.img__d733D > picture > img {
  object-fit: cover;
}
.img__d733D > .__wab_img-spacer > img {
  object-fit: cover;
}
.memberEditlogoGroup {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.memberEditlogoGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.memberEditlogoGroup > :global(.__wab_flex-container) > *,
.memberEditlogoGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberEditlogoGroup > :global(.__wab_flex-container) > picture > img,
.memberEditlogoGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.buttonPrimary__u0Eio:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.svg__rvQzB {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.buttonPrimary__ryedl:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.svg__mmVdg {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.cardMemberUsername {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 720px;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
  padding: 0px;
}
.cardMemberUsername > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberUsername > :global(.__wab_flex-container) > *,
.cardMemberUsername > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberUsername > :global(.__wab_flex-container) > picture > img,
.cardMemberUsername
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__anzId:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__wxY25 {
  height: auto;
  max-width: 328px;
}
.username:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.cardMemberUrl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.cardMemberUrl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberUrl > :global(.__wab_flex-container) > *,
.cardMemberUrl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberUrl > :global(.__wab_flex-container) > picture > img,
.cardMemberUrl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary___71L8V:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.text__pNwo {
  height: auto;
  max-width: 328px;
}
.inputTextPrefixSuffix___3Hs15:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.cardMemberTagline {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.cardMemberTagline > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberTagline > :global(.__wab_flex-container) > *,
.cardMemberTagline > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberTagline > :global(.__wab_flex-container) > picture > img,
.cardMemberTagline
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__jfQor:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__xxxU {
  height: auto;
  max-width: 328px;
}
.tags:global(.__wab_instance) {
  position: relative;
}
.cardMemberDescription {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 720px;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.cardMemberDescription > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberDescription > :global(.__wab_flex-container) > *,
.cardMemberDescription
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardMemberDescription > :global(.__wab_flex-container) > picture > img,
.cardMemberDescription
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__oB2Kh:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__qsVv3 {
  height: auto;
  max-width: 328px;
}
.description:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.cardVideoIntroUrl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.cardVideoIntroUrl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardVideoIntroUrl > :global(.__wab_flex-container) > *,
.cardVideoIntroUrl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardVideoIntroUrl > :global(.__wab_flex-container) > picture > img,
.cardVideoIntroUrl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__hRoA:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.text__zWe26 {
  height: auto;
  max-width: 328px;
}
.inputTextPrefixSuffix__lxaQu:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.memberSubmitProfile:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  flex-shrink: 0;
}
.svg__krSb {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.text__sHnOz {
  font-weight: 600;
}
.sectionMemberEditProfileDetails {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionMemberEditProfileDetails > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionMemberEditProfileDetails > :global(.__wab_flex-container) > *,
.sectionMemberEditProfileDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionMemberEditProfileDetails
  > :global(.__wab_flex-container)
  > picture
  > img,
.sectionMemberEditProfileDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.cardHeaderTitleDisplay__pGCvu:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.text__zGsIr {
  font-weight: 700;
}
.formMemberEditDetails {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.formMemberEditDetails > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.formMemberEditDetails > :global(.__wab_flex-container) > *,
.formMemberEditDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.formMemberEditDetails > :global(.__wab_flex-container) > picture > img,
.formMemberEditDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.cardMemberLocation {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.cardMemberLocation > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberLocation > :global(.__wab_flex-container) > *,
.cardMemberLocation > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberLocation > :global(.__wab_flex-container) > picture > img,
.cardMemberLocation
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__fhFuB:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__oQfam {
  height: auto;
  max-width: 328px;
}
.memberLocationGroup {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.memberLocationGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: unset;
  justify-content: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.memberLocationGroup > :global(.__wab_flex-container) > *,
.memberLocationGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberLocationGroup > :global(.__wab_flex-container) > picture > img,
.memberLocationGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.country:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.city:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.cardMemberIndustry {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.cardMemberIndustry > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberIndustry > :global(.__wab_flex-container) > *,
.cardMemberIndustry > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberIndustry > :global(.__wab_flex-container) > picture > img,
.cardMemberIndustry
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__lrlkZ:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__kQo {
  height: auto;
  max-width: 328px;
}
.memberIndustryGroup {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.memberIndustryGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: unset;
  justify-content: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.memberIndustryGroup > :global(.__wab_flex-container) > *,
.memberIndustryGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberIndustryGroup > :global(.__wab_flex-container) > picture > img,
.memberIndustryGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.industry:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.jobTitle:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.cardMemberLanguages {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.cardMemberLanguages > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberLanguages > :global(.__wab_flex-container) > *,
.cardMemberLanguages
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardMemberLanguages > :global(.__wab_flex-container) > picture > img,
.cardMemberLanguages
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary___8QCqw:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__ikYyc {
  height: auto;
  max-width: 328px;
}
.inputGroupMemberLanguages {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.inputGroupMemberLanguages > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: unset;
  justify-content: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.inputGroupMemberLanguages > :global(.__wab_flex-container) > *,
.inputGroupMemberLanguages
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.inputGroupMemberLanguages > :global(.__wab_flex-container) > picture > img,
.inputGroupMemberLanguages
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.language:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.selectGroupDropdownPrimary:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.cardMemberInterests {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.cardMemberInterests > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberInterests > :global(.__wab_flex-container) > *,
.cardMemberInterests
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardMemberInterests > :global(.__wab_flex-container) > picture > img,
.cardMemberInterests
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__bl1O0:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.text__mAude {
  height: auto;
  max-width: 328px;
}
.interest:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.cardMemberSkills {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.cardMemberSkills > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberSkills > :global(.__wab_flex-container) > *,
.cardMemberSkills > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberSkills > :global(.__wab_flex-container) > picture > img,
.cardMemberSkills
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__i0Au:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.text___4WyB {
  height: auto;
  max-width: 328px;
}
.skill:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.cardMemberCommunity {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.cardMemberCommunity > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberCommunity > :global(.__wab_flex-container) > *,
.cardMemberCommunity
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardMemberCommunity > :global(.__wab_flex-container) > picture > img,
.cardMemberCommunity
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__sy9Hg:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.text__kfwe {
  height: auto;
  max-width: 328px;
}
.community:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.memberSubmitDetails:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  flex-shrink: 0;
}
.svg__ed8Ad {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.text__o7ZPl {
  font-weight: 600;
}
.sectionMemberEditProfileSocial {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 16px 180px 96px;
}
.sectionMemberEditProfileSocial > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionMemberEditProfileSocial > :global(.__wab_flex-container) > *,
.sectionMemberEditProfileSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionMemberEditProfileSocial
  > :global(.__wab_flex-container)
  > picture
  > img,
.sectionMemberEditProfileSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.cardHeaderTitleDisplay__da5Bv:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.text__zgvp4 {
  font-weight: 700;
}
.formMemberEditSocial {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.formMemberEditSocial > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.formMemberEditSocial > :global(.__wab_flex-container) > *,
.formMemberEditSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.formMemberEditSocial > :global(.__wab_flex-container) > picture > img,
.formMemberEditSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.cardMemberWebsite {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.cardMemberWebsite > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberWebsite > :global(.__wab_flex-container) > *,
.cardMemberWebsite > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberWebsite > :global(.__wab_flex-container) > picture > img,
.cardMemberWebsite
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__v0B32:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.text__zfHw {
  height: auto;
  max-width: 328px;
}
.inputTextPrefixSuffix__ogE7H:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.cardMemberSocial {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.cardMemberSocial > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberSocial > :global(.__wab_flex-container) > *,
.cardMemberSocial > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberSocial > :global(.__wab_flex-container) > picture > img,
.cardMemberSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__tYhVt:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__rUb4 {
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
}
.text__osn8L {
  height: auto;
  max-width: 328px;
}
.inputGroupMemberSocial {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  left: auto;
  top: auto;
  align-content: unset;
  flex-wrap: nowrap;
  width: 540px;
  height: auto;
}
.cardSocialConnectSwitch__ilTpw:global(.__wab_instance) {
  position: relative;
}
.cardSocialConnectSwitch__c4KdL:global(.__wab_instance) {
  position: relative;
}
.cardSocialConnectSwitch__z0Tmx:global(.__wab_instance) {
  position: relative;
}
.cardSocialConnectSwitch__dhc2B:global(.__wab_instance) {
  position: relative;
}
.cardSocialConnectSwitch__iDscj:global(.__wab_instance) {
  position: relative;
}
.cardSocialConnectSwitch__vE5D2:global(.__wab_instance) {
  position: relative;
}
.cardSocialConnectSwitch__fpocU:global(.__wab_instance) {
  position: relative;
}
.cardSocialConnectSwitch___4Snea:global(.__wab_instance) {
  position: relative;
}
.memberSubmitSocials:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  flex-shrink: 0;
}
.svg__fMwte {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.text__uRTf {
  font-weight: 600;
}
.footerB:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
}
