.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.editListingSectionParent {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.editListingSectionParent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.editListingSectionParent > :global(.__wab_flex-container) > *,
.editListingSectionParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.editListingSectionParent > :global(.__wab_flex-container) > picture > img,
.editListingSectionParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.sectionHeaderEditListing {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionHeaderEditListing > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionHeaderEditListing > :global(.__wab_flex-container) > *,
.sectionHeaderEditListing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionHeaderEditListing > :global(.__wab_flex-container) > picture > img,
.sectionHeaderEditListing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionHeaderEditListing {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.text__vlHiI {
  font-weight: 700;
}
.sectionEditListing {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px 180px 96px;
}
.sectionEditListing > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionEditListing > :global(.__wab_flex-container) > *,
.sectionEditListing > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionEditListing > :global(.__wab_flex-container) > picture > img,
.sectionEditListing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionEditListing {
    width: 100%;
    height: auto;
    flex-direction: column;
    min-width: 0;
    padding: 16px 16px 96px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionEditListing > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: unset;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionEditListing > :global(.__wab_flex-container) > *,
  .sectionEditListing
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .sectionEditListing > :global(.__wab_flex-container) > picture > img,
  .sectionEditListing
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.listingEditCategoryFieldsParent {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.listingEditCategoryFieldsParent > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 96px);
  width: calc(100% + 96px);
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.listingEditCategoryFieldsParent > :global(.__wab_flex-container) > *,
.listingEditCategoryFieldsParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.listingEditCategoryFieldsParent
  > :global(.__wab_flex-container)
  > picture
  > img,
.listingEditCategoryFieldsParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 96px;
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .listingEditCategoryFieldsParent {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .listingEditCategoryFieldsParent > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: unset;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .listingEditCategoryFieldsParent > :global(.__wab_flex-container) > *,
  .listingEditCategoryFieldsParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .listingEditCategoryFieldsParent
    > :global(.__wab_flex-container)
    > picture
    > img,
  .listingEditCategoryFieldsParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.elementListingEditCard__mmk9E:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__yNSua {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__reJb:global(.__wab_instance) {
  display: flex;
}
.svg___6H1J {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.text__yCvUi {
  height: auto;
}
.svg__wttR {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__hRZg {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.svg__beoww {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.svg__cZqM {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.elementListingEditCard__jx7CQ:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg___5515B {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary___07H02:global(.__wab_instance) {
  display: flex;
}
.svg__oGGtL {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.text___3XuJv {
  height: auto;
  width: auto;
}
.svg__j3R {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg___0T5P4 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.svg__aQvb {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.svg__wlvNn {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.elementListingEditCard__e7IDw:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__pubXj {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__rZgLh:global(.__wab_instance) {
  display: flex;
}
.svg__fQOyg {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__hzfx1 {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__qA7Fl {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.svg__zDijZ {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.svg__sh6Xy {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.elementListingEditCard__uhARm:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__rUkFt {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__bJdoc:global(.__wab_instance) {
  display: flex;
}
.svg__aI4I6 {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__zJqW9 {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg___7I1NN {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.svg__apUsf {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.svg___6Ljr8 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.elementListingEditCard__apDzJ:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__g3SLh {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__lqTcU:global(.__wab_instance) {
  display: flex;
}
.svg__fVoW {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__maMh7 {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__oICy {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.svg__qvdi0 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.svg__iiOda {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.elementListingEditCard__fH3E1:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__kedus {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__uEqbb:global(.__wab_instance) {
  display: flex;
}
.svg__a88Z {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__zWypO {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__qT53J {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.svg___2EWd {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.svg__r4Smv {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.elementListingEditCard___3GFse:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__ykr5 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__ldtT:global(.__wab_instance) {
  display: flex;
}
.svg__pYwlC {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg___9Fr5M {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__qvn2Z {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.svg__ktiQf {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.svg__rfp8L {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.elementListingEditCard__chW6A:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg___14RtB {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__kqb1Q:global(.__wab_instance) {
  display: flex;
}
.svg__brg8T {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__uC0KT {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg___4MsxK {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.svg__vqmr4 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.svg__jpoYz {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.elementListingEditCard__yw4Aw:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__udIs1 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__iawR1:global(.__wab_instance) {
  display: flex;
}
.svg__aWbKv {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg___58Kbr {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__wXk7Z {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.svg__erFeW {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.svg__dDVzN {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.elementListingEditCard__i3UIa:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__nWUaR {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary___6Rd28:global(.__wab_instance) {
  display: flex;
}
.svg__t7LRt {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__vXwxh {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__to63 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.svg__zJfvH {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.svg___7TTlC {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.elementListingEditCard__gTym7:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__xfeLb {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__hfHdF:global(.__wab_instance) {
  display: flex;
}
.svg__rjwag {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg___56M6R {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__uEvZk {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.svg__vP7YI {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.svg__pxhwL {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.elementListingEditCard__v6APv:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__cDw21 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__etVnD:global(.__wab_instance) {
  display: flex;
}
.svg__p8Q15 {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__b8L3V {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__cjl7H {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.svg__y7Fhh {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.svg__maXn4 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.elementListingEditCard__mzKeq:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__xsa2S {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__n6Kbx:global(.__wab_instance) {
  display: flex;
}
.svg__iOfeO {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__ukWxq {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__yMUa {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.svg__bhzM {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.svg___37Qri {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
