.parent {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: auto;
  position: relative;
  transform-style: preserve-3d;
  padding: 0px;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.parent * {
  transform-style: preserve-3d;
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.iconElementParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  transform-style: preserve-3d;
}
.iconElementParent * {
  transform-style: preserve-3d;
}
.iconBg {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  background: #f8f8f8;
  transform-style: preserve-3d;
  border-radius: 100px;
  padding: 4px;
}
.iconBg * {
  transform-style: preserve-3d;
}
.iconPrimary:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.iconPrimary * {
  transform-style: preserve-3d;
}
.svg__zYKdi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__zYKdi * {
  transform-style: preserve-3d;
}
.svg__vvZhP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__vvZhP * {
  transform-style: preserve-3d;
}
.svg__mqmdF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__mqmdF * {
  transform-style: preserve-3d;
}
.svg__ms8Vl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__ms8Vl * {
  transform-style: preserve-3d;
}
.svg__f49JI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__f49JI * {
  transform-style: preserve-3d;
}
.svg___9Epps {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg___9Epps * {
  transform-style: preserve-3d;
}
.svg__mbDpf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__mbDpf * {
  transform-style: preserve-3d;
}
.svg__r5VxF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__r5VxF * {
  transform-style: preserve-3d;
}
.svgIcon80 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svgIcon80 * {
  transform-style: preserve-3d;
}
.svg__zz5Mn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__zz5Mn * {
  transform-style: preserve-3d;
}
.headlineSubheadParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.headlineSubheadParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.headlineSubheadParent * {
  transform-style: preserve-3d;
}
.headlineSubheadParent > :global(.__wab_flex-container) > *,
.headlineSubheadParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.headlineSubheadParent > :global(.__wab_flex-container) > picture > img,
.headlineSubheadParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.headlineTextParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  align-self: center;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.headlineTextParent * {
  transform-style: preserve-3d;
}
.headlineText {
  display: block;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  text-align: center;
  transform-style: preserve-3d;
}
.headlineText * {
  transform-style: preserve-3d;
}
.subheadTextparent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  align-self: center;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.subheadTextparent * {
  transform-style: preserve-3d;
}
.subheadText {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #14161b /* plasmic-token: MAJ29KQMI */;
  align-self: stretch;
  width: auto;
  text-align: center;
  transform-style: preserve-3d;
}
.subheadText * {
  transform-style: preserve-3d;
}
.bodyTextParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  align-self: center;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.bodyTextParent * {
  transform-style: preserve-3d;
}
.bodyText {
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
  height: auto;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
  text-align: center;
  transform-style: preserve-3d;
  min-width: 0;
}
.bodyText * {
  transform-style: preserve-3d;
}
.buttonParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.buttonParent * {
  transform-style: preserve-3d;
}
.buttonPrimary__vkYnv:global(.__wab_instance) {
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.buttonPrimary__vkYnv * {
  transform-style: preserve-3d;
}
.svg__lmIlM {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__lmIlM * {
  transform-style: preserve-3d;
}
.text__c8KNo {
  transform-style: preserve-3d;
}
.text__c8KNo * {
  transform-style: preserve-3d;
}
