.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .root {
    width: 100%;
    height: 80px;
    overflow: visible;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
.parent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  overflow: visible;
  padding-left: 160px;
  min-width: 0;
  flex-shrink: 0;
  border-top: 2px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-bottom: 2px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .parent {
    width: 100%;
    height: 80px;
    padding-left: 160px;
    flex-direction: row;
    overflow: visible;
    background: none;
    min-width: 0;
    flex-shrink: 0;
    border-top: 2px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
    border-bottom: 2px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .parent > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .parent > :global(.__wab_flex-container) > *,
  .parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .parent > :global(.__wab_flex-container) > picture > img,
  .parent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .parent {
    width: 100%;
    height: 80px;
    padding-left: 24px;
    background: none;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .parent > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.navLink:global(.__wab_instance) {
  position: relative;
}
.navLinkCounter__oHamT:global(.__wab_instance) {
  position: relative;
}
.navLinkCounter__riK08:global(.__wab_instance) {
  position: relative;
}
.navLinkCounter__dlrUd:global(.__wab_instance) {
  position: relative;
}
.navLinkCounter__mw6Hn:global(.__wab_instance) {
  position: relative;
}
.navLinkCounter__e2ZcH:global(.__wab_instance) {
  position: relative;
}
.navLinkCounter__hXcX2:global(.__wab_instance) {
  position: relative;
}
