.chipDisplay {
  flex-direction: row;
  display: inline-flex;
  width: auto;
  height: 24px;
  position: relative;
  background: #14161b;
  border-radius: 4px;
  padding: 2px 6px;
  border: 1px solid #14161b /* plasmic-token: gtUIPzlCk */;
}
.chipDisplay > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.chipDisplay > :global(.__wab_flex-container) > *,
.chipDisplay > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.chipDisplay > :global(.__wab_flex-container) > picture > img,
.chipDisplay
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.chipDisplaydisabled {
  width: auto;
  height: 24px;
  flex-direction: row;
  background: #3d4350;
  display: inline-flex;
  border-radius: 2px;
  padding: 2px 6px;
  border: 1px solid #e0e2e7 /* plasmic-token: oEMOojyFv */;
}
.chipDisplaydisabled > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.chipDisplaydisabled > :global(.__wab_flex-container) > *,
.chipDisplaydisabled
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.chipDisplaydisabled > :global(.__wab_flex-container) > picture > img,
.chipDisplaydisabled
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.chipDisplaycolor_light {
  background: #f8f8f8;
  border-color: #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.chipDisplaycolor_brand {
  background: #5229cc;
  border-color: #5229cc /* plasmic-token: SilK1AnWd */;
}
.chipDisplaysize__32 {
  height: 32px;
}
.chipDisplaysize__36 {
  height: 36px;
}
.chipDisplaytrigger_add {
  padding-right: 2px;
}
.chipDisplaytrigger_add > :global(.__wab_flex-container) {
  justify-content: space-between;
}
.chipDisplaysize__40 {
  height: 40px;
}
.chipDisplaysize__48 {
  height: 48px;
}
.chipDisplaytrigger__delete {
  padding-right: 2px;
}
.chipDisplaytrigger__delete > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
}
.chipDisplaytrigger_disabled {
  background: #f1f1f1;
  border-color: #f1f1f1 /* plasmic-token: _lNibwHIy */;
}
.chipDisplaytype_outline {
  background: #ffffff;
  border-color: #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.chipDisplaytype_link {
  background: none;
  border-style: none;
}
.chipDisplaytype_ghost {
  background: #f8f8ff;
  border-style: solid;
  border-color: #f8f8ff /* plasmic-token: PfXAJ-PoV */;
}
.chipDisplaytype_ghost_color_brand {
  background: #f0ebff;
  border-color: #5229cc /* plasmic-token: SilK1AnWd */;
}
.chipDisplaytype_primary_color_green {
  background: #00ccbb;
  border-color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.chipDisplaycolor_blue_type_ghost {
  background: #ebf0ff;
  border-color: #3366ff /* plasmic-token: MxvXD2oSU */;
}
.chipDisplaytype_ghost_color_magenta {
  background: #faebff;
  border-color: #cc33ff /* plasmic-token: m2LiiC3to */;
}
.chipDisplaytype_ghost_color_pink {
  background: #ffe6f5;
  border-color: #ff0099 /* plasmic-token: 8VWWUllYQ */;
}
.chipDisplaytype_ghost_color_green {
  background: #e6faf8;
  border-color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.chipDisplay:hover {
  background: #ffffff;
  border-color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.chipDisplaycolor_brand:hover {
  border-color: #5229cc /* plasmic-token: SilK1AnWd */;
}
.chipDisplaytype_primary:hover {
  background: #ffffff;
  border-color: #101010 /* plasmic-token: 7-Hl8dlot */;
}
.chipDisplayLink {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chipDisplayLinktype_link {
  height: auto;
}
.slotTargetChildren {
  font-size: 14px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  line-height: 1;
  font-weight: 400;
}
.slotTargetChildrendisabled {
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
.slotTargetChildrencolor_light {
  color: #3d4350 /* plasmic-token: UPK7EIst5 */;
}
.slotTargetChildrencolor_brand {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.slotTargetChildrensize__32 {
  font-size: 16px;
}
.slotTargetChildrensize__36 {
  font-size: 18px;
}
.slotTargetChildrensize__40 {
  font-size: 20px;
}
.slotTargetChildrensize__48 {
  font-size: 24px;
}
.slotTargetChildrentrigger_disabled {
  color: #c2c6ce /* plasmic-token: R5fCYkZee */;
}
.slotTargetChildrentype_outline {
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
.slotTargetChildrentype_link {
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
.slotTargetChildrentype_link > .__wab_text,
.slotTargetChildrentype_link > .__wab_slot-string-wrapper,
.slotTargetChildrentype_link > .__wab_slot > .__wab_text,
.slotTargetChildrentype_link > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetChildrentype_link > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetChildrentype_link
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.slotTargetChildrentype_link
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.slotTargetChildrentype_link
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: underline;
}
.slotTargetChildrentype_ghost {
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
.slotTargetChildrencolor_light_trigger_add {
  line-height: 1;
}
.slotTargetChildrentype_ghost_color_brand {
  color: #5229cc /* plasmic-token: SilK1AnWd */;
}
.slotTargetChildrencolor_blue_type_ghost {
  color: #5c85ff /* plasmic-token: XsRWz_jVS */;
}
.slotTargetChildrentype_ghost_color_magenta {
  color: #d65cff /* plasmic-token: Qk8Z99RQL */;
}
.slotTargetChildrentype_ghost_color_pink {
  color: #ff33ad /* plasmic-token: k-YHrtYlS */;
}
.slotTargetChildrentype_ghost_color_green {
  color: #33d6c9 /* plasmic-token: WerGfd9sF */;
}
.chipDisplay:hover .slotTargetChildren {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.chipDisplaycolor_brand:hover .slotTargetChildrencolor_brand {
  color: #5229cc /* plasmic-token: SilK1AnWd */;
}
.chipDisplaytype_primary:hover .slotTargetChildrentype_primary {
  color: #101010 /* plasmic-token: 7-Hl8dlot */;
}
.addTrigger {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  align-self: center;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.addTriggertrigger_add {
  left: auto;
  top: auto;
}
.addTriggertrigger_disabled {
  left: auto;
  top: auto;
}
.svg___96Pbv {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  flex-shrink: 0;
}
.svg__nFwvm {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  flex-shrink: 0;
}
.deleteTrigger {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  align-self: center;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.deleteTriggertrigger_add {
  left: auto;
  top: auto;
}
.deleteTriggertrigger__delete {
  left: auto;
  top: auto;
}
.deleteTriggertrigger_disabled {
  left: auto;
  top: auto;
}
.slotTargetDeleteIcontrigger__delete {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.slotTargetDeleteIcontrigger__delete_color_brand {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.slotTargetDeleteIcontype_ghost_color_brand_trigger__delete {
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.svg__jasxS {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
