.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.parent {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: 40px;
  flex-shrink: 0;
  border-radius: 2px;
  padding: 16px;
  border-width: 0px;
  border-style: none;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.parent__state_selected {
  border-bottom: 2px solid #000000 /* plasmic-token: 7-Hl8dlot */;
}
.root:hover .parent {
  background: #f8f8ff;
}
.root__state_selected:hover .parent__state_selected {
  background: none;
}
.linkParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.linkBg {
  display: flex;
  align-self: stretch;
  position: relative;
}
.slotTargetNavLabel {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  text-transform: none;
}
.slotTargetNavLabel__state_selected {
  color: #000000 /* plasmic-token: 7-Hl8dlot */;
}
.root:hover .slotTargetNavLabel {
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.root__state_selected:hover .slotTargetNavLabel__state_selected {
  color: #000000 /* plasmic-token: 7-Hl8dlot */;
}
.numberParent {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
}
.numberBg {
  display: flex;
  align-self: stretch;
  position: relative;
}
.slotTargetNumberValue {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  text-transform: none;
}
.slotTargetNumberValue__state_selected {
  color: #000000 /* plasmic-token: 7-Hl8dlot */;
}
