.root {
  display: inline-flex;
  width: auto;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--token-VLxGX_Tro);
  border-radius: 32px;
  padding: 2px 4px;
  border: 1px solid var(--token-7-Hl8dlot);
}
.rootcolor_green {
  background: var(--token-p7MYBCVhU);
  border-color: var(--token-p7MYBCVhU);
}
.rootsize__12Px {
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--token-VLxGX_Tro);
  flex-column-gap: 0px;
  border-radius: 32px;
  padding: 2px 4px;
  border: 1px solid var(--token-7-Hl8dlot);
}
.rootsize__14Px {
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--token-VLxGX_Tro);
  flex-column-gap: 0px;
  border-radius: 32px;
  padding: 2px 4px;
  border: 1px solid var(--token-7-Hl8dlot);
}
.rootsize__16Px {
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--token-VLxGX_Tro);
  flex-column-gap: 0px;
  border-radius: 32px;
  padding: 2px 4px;
  border: 1px solid var(--token-7-Hl8dlot);
}
.rootsize__18Px {
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--token-VLxGX_Tro);
  flex-column-gap: 0px;
  border-radius: 32px;
  padding: 2px 4px;
  border: 1px solid var(--token-7-Hl8dlot);
}
.rootsize__20Px {
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--token-VLxGX_Tro);
  flex-column-gap: 0px;
  border-radius: 32px;
  padding: 2px 4px;
  border: 1px solid var(--token-7-Hl8dlot);
}
.roottype_secondary {
  background: var(--token-5XhQ_b_Lb);
  border-color: var(--token-i5T_lGWIG);
}
.roottype_outline {
  background: var(--token-5XhQ_b_Lb);
}
.roottype_ghost {
  background: var(--token-f9oAdmjsC);
  border-style: solid;
  border-color: var(--token-i5T_lGWIG);
}
.rootcolor_brand {
  background: var(--token-97FZ-MZpy);
  border-color: var(--token-97FZ-MZpy);
}
.rootcolor_blue {
  background: var(--token-MxvXD2oSU);
  border-color: var(--token-MxvXD2oSU);
}
.rootcolor_pink {
  background: var(--token-8VWWUllYQ);
  border-color: var(--token-8VWWUllYQ);
}
.rootcolor_magenta {
  background: var(--token-m2LiiC3to);
  border-color: var(--token-m2LiiC3to);
}
.roottype_ghost_color_brand {
  background: var(--token-IHoAIP5sw);
}
.roottype_outline_color_blue {
  background: var(--token-5XhQ_b_Lb);
  border-color: var(--token-XsRWz_jVS);
}
.roottype_outline_color_pink {
  background: var(--token-5XhQ_b_Lb);
  border-color: var(--token-k-YHrtYlS);
}
.roottype_ghost_color_blue {
  background: var(--token-b56hHyKT9);
}
.roottype_outline_color_magenta {
  background: var(--token-5XhQ_b_Lb);
  border-color: var(--token-Qk8Z99RQL);
}
.roottype_ghost_color_pink {
  background: var(--token-91SypEeGn);
}
.roottype_outline_color_green {
  background: var(--token-5XhQ_b_Lb);
  border-color: var(--token-WerGfd9sF);
}
.roottype_ghost_color_magenta {
  background: var(--token-1bwoxZk82);
}
.rootcolor_green_type_ghost {
  background: var(--token-yRiF162fC);
}
.roottype_outline_color_brand {
  background: var(--token-5XhQ_b_Lb);
  border-color: var(--token-6xKNduQM7);
}
.roottype_secondary:hover {
  border-color: var(--token-7-Hl8dlot);
}
.textlinkParent {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.textlinkParentsize__12Px {
  height: auto;
  margin: 0px;
}
.textlinkParentsize__14Px {
  height: auto;
}
.textlinkParentsize__16Px {
  height: auto;
}
.textlinkParentsize__18Px {
  height: auto;
}
.tagFilterLinkBase {
  display: flex;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: var(--token-MAJ29KQMI);
  align-self: stretch;
  position: relative;
  flex-direction: column;
}
.slotTargetTextBase10Px {
  color: var(--token-fuGaen6l1);
  font-size: 10px;
  font-weight: 400;
  text-transform: lowercase;
  line-height: 1;
}
.slotTargetTextBase10Pxtype_secondary {
  color: var(--token-lJGpMo6--);
}
.slotTargetTextBase10Pxtype_outline {
  color: var(--token-7-Hl8dlot);
}
.slotTargetTextBase10Pxtype_ghost {
  color: var(--token-lJGpMo6--);
}
.slotTargetTextBase10Pxtype_uppercase {
  text-transform: uppercase;
}
.slotTargetTextBase10Pxcolor_brand {
  color: var(--token-fuGaen6l1);
}
.slotTargetTextBase10Pxtype_ghost_color_brand {
  color: var(--token-6xKNduQM7);
}
.slotTargetTextBase10Pxtype_outline_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetTextBase10Pxtype_outline_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetTextBase10Pxtype_ghost_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetTextBase10Pxtype_outline_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetTextBase10Pxtype_ghost_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetTextBase10Pxtype_outline_color_green {
  color: var(--token-WerGfd9sF);
}
.slotTargetTextBase10Pxtype_ghost_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetTextBase10Pxcolor_green_type_ghost {
  color: var(--token-WerGfd9sF);
}
.slotTargetTextBase10Pxtype_outline_color_brand {
  color: var(--token-6xKNduQM7);
}
.roottype_secondary:hover .slotTargetTextBase10Pxtype_secondary {
  color: var(--token-F4gy0u3aB);
}
.tagFilterLink6Px {
  display: flex;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: var(--token-MAJ29KQMI);
  align-self: stretch;
  position: relative;
  flex-direction: column;
}
.slotTargetText6Px {
  color: var(--token-fuGaen6l1);
  font-size: 10px;
  font-weight: 400;
}
.slotTargetText6Pxsize__12Px {
  font-size: 6px;
  text-transform: lowercase;
  line-height: 1;
}
.slotTargetText6Pxsize__14Px {
  line-height: 1;
}
.slotTargetText6Pxtype_outline {
  color: var(--token-7-Hl8dlot);
}
.slotTargetText6Pxtype_ghost {
  color: var(--token-lJGpMo6--);
}
.slotTargetText6Pxcolor_brand {
  color: var(--token-fuGaen6l1);
}
.slotTargetText6Pxtype_ghost_color_brand {
  color: var(--token-6xKNduQM7);
}
.slotTargetText6Pxtype_outline_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetText6Pxtype_outline_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetText6Pxtype_ghost_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetText6Pxtype_outline_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetText6Pxtype_ghost_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetText6Pxtype_outline_color_green {
  color: var(--token-WerGfd9sF);
}
.slotTargetText6Pxtype_ghost_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetText6Pxcolor_green_type_ghost {
  color: var(--token-WerGfd9sF);
}
.slotTargetText6Pxtype_outline_color_brand {
  color: var(--token-6xKNduQM7);
}
.tagFilterLink8Px {
  display: flex;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: var(--token-MAJ29KQMI);
  align-self: stretch;
  position: relative;
  flex-direction: column;
}
.slotTargetText8Px {
  color: var(--token-fuGaen6l1);
  font-size: 10px;
  font-weight: 400;
}
.slotTargetText8Pxsize__14Px {
  font-size: 8px;
  text-transform: lowercase;
  line-height: 1;
}
.slotTargetText8Pxtype_outline {
  color: var(--token-7-Hl8dlot);
}
.slotTargetText8Pxtype_ghost {
  color: var(--token-lJGpMo6--);
}
.slotTargetText8Pxcolor_brand {
  color: var(--token-fuGaen6l1);
}
.slotTargetText8Pxtype_ghost_color_brand {
  color: var(--token-6xKNduQM7);
}
.slotTargetText8Pxtype_outline_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetText8Pxtype_outline_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetText8Pxtype_ghost_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetText8Pxtype_outline_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetText8Pxtype_ghost_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetText8Pxtype_outline_color_green {
  color: var(--token-WerGfd9sF);
}
.slotTargetText8Pxtype_ghost_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetText8Pxcolor_green_type_ghost {
  color: var(--token-WerGfd9sF);
}
.slotTargetText8Pxtype_outline_color_brand {
  color: var(--token-6xKNduQM7);
}
.tagFilterLink10Px {
  display: flex;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: var(--token-MAJ29KQMI);
  align-self: stretch;
  position: relative;
  flex-direction: column;
}
.slotTargetText10Px {
  color: var(--token-fuGaen6l1);
  font-size: 10px;
  font-weight: 400;
}
.slotTargetText10Pxsize__16Px {
  text-transform: lowercase;
  line-height: 1;
}
.slotTargetText10Pxtype_outline {
  color: var(--token-7-Hl8dlot);
}
.slotTargetText10Pxtype_ghost {
  color: var(--token-lJGpMo6--);
}
.slotTargetText10Pxcolor_brand {
  color: var(--token-fuGaen6l1);
}
.slotTargetText10Pxtype_ghost_color_brand {
  color: var(--token-6xKNduQM7);
}
.slotTargetText10Pxtype_outline_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetText10Pxtype_outline_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetText10Pxtype_ghost_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetText10Pxtype_outline_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetText10Pxtype_ghost_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetText10Pxtype_outline_color_green {
  color: var(--token-WerGfd9sF);
}
.slotTargetText10Pxtype_ghost_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetText10Pxcolor_green_type_ghost {
  color: var(--token-WerGfd9sF);
}
.slotTargetText10Pxtype_outline_color_brand {
  color: var(--token-6xKNduQM7);
}
.tagFilterLink12Px {
  display: flex;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: var(--token-MAJ29KQMI);
  align-self: stretch;
  position: relative;
  flex-direction: column;
}
.tagFilterLink12Pxsize__18Px {
  width: auto;
  height: auto;
}
.slotTargetText12Px {
  color: var(--token-fuGaen6l1);
  font-size: 10px;
  font-weight: 400;
}
.slotTargetText12Pxsize__18Px {
  font-size: 12px;
  text-transform: lowercase;
  line-height: 1;
}
.slotTargetText12Pxtype_outline {
  color: var(--token-7-Hl8dlot);
}
.slotTargetText12Pxtype_ghost {
  color: var(--token-lJGpMo6--);
}
.slotTargetText12Pxcolor_brand {
  color: var(--token-fuGaen6l1);
}
.slotTargetText12Pxtype_ghost_color_brand {
  color: var(--token-6xKNduQM7);
}
.slotTargetText12Pxtype_outline_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetText12Pxtype_outline_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetText12Pxtype_ghost_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetText12Pxtype_outline_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetText12Pxtype_ghost_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetText12Pxtype_outline_color_green {
  color: var(--token-WerGfd9sF);
}
.slotTargetText12Pxtype_ghost_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetText12Pxcolor_green_type_ghost {
  color: var(--token-WerGfd9sF);
}
.slotTargetText12Pxtype_outline_color_brand {
  color: var(--token-6xKNduQM7);
}
.tagFilterLink14Px {
  display: flex;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: var(--token-MAJ29KQMI);
  align-self: stretch;
  position: relative;
  flex-direction: column;
}
.tagFilterLink14Pxsize__20Px {
  width: auto;
  height: auto;
}
.slotTargetText14Px {
  color: var(--token-fuGaen6l1);
  font-size: 10px;
  font-weight: 400;
}
.slotTargetText14Pxsize__20Px {
  font-size: 14px;
  text-transform: lowercase;
  line-height: 1;
}
.slotTargetText14Pxtype_outline {
  color: var(--token-7-Hl8dlot);
}
.slotTargetText14Pxtype_ghost {
  color: var(--token-lJGpMo6--);
}
.slotTargetText14Pxcolor_brand {
  color: var(--token-fuGaen6l1);
}
.slotTargetText14Pxtype_ghost_color_brand {
  color: var(--token-6xKNduQM7);
}
.slotTargetText14Pxtype_outline_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetText14Pxtype_outline_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetText14Pxtype_ghost_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetText14Pxtype_outline_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetText14Pxtype_ghost_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetText14Pxtype_outline_color_green {
  color: var(--token-WerGfd9sF);
}
.slotTargetText14Pxtype_ghost_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetText14Pxcolor_green_type_ghost {
  color: var(--token-WerGfd9sF);
}
.slotTargetText14Pxtype_outline_color_brand {
  color: var(--token-6xKNduQM7);
}
.tagFilterLink10Px2 {
  display: flex;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: var(--token-MAJ29KQMI);
  align-self: stretch;
  position: relative;
  flex-direction: column;
}
.slotTargetTextBase10Px2 {
  color: var(--token-fuGaen6l1);
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.slotTargetTextBase10Px2type_outline {
  color: var(--token-7-Hl8dlot);
}
.slotTargetTextBase10Px2type_ghost {
  color: var(--token-lJGpMo6--);
}
.slotTargetTextBase10Px2color_brand {
  color: var(--token-fuGaen6l1);
}
.slotTargetTextBase10Px2type_ghost_color_brand {
  color: var(--token-6xKNduQM7);
}
.slotTargetTextBase10Px2type_outline_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetTextBase10Px2type_outline_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetTextBase10Px2type_ghost_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetTextBase10Px2type_outline_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetTextBase10Px2type_ghost_color_pink {
  color: var(--token-k-YHrtYlS);
}
.slotTargetTextBase10Px2type_outline_color_green {
  color: var(--token-WerGfd9sF);
}
.slotTargetTextBase10Px2type_ghost_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetTextBase10Px2color_green_type_ghost {
  color: var(--token-WerGfd9sF);
}
.slotTargetTextBase10Px2type_outline_color_brand {
  color: var(--token-6xKNduQM7);
}
