.formLogin {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: auto;
  position: relative;
  padding: 0px;
}
.formLogin > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.formLogin > :global(.__wab_flex-container) > *,
.formLogin > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.formLogin__size__540 {
  width: 540px;
}
.inputLabelParent {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.inputLabelParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.inputLabelParent > :global(.__wab_flex-container) > *,
.inputLabelParent > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.emailLabel {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
  margin-top: calc(0px + 4px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .emailLabel {
    left: auto;
    top: auto;
    margin-top: calc(0px + 4px) !important;
  }
}
.email {
  width: 100%;
  height: 48px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 2px;
  background: #ffffff repeat;
  border: 2px solid #dddddd /* plasmic-token: TctF8-gJH */;
}
.formLogin .email:hover {
  border-color: #333333 /* plasmic-token: _aCbIOo4N */;
}
.formLogin .email:focus {
  outline: none;
  border-color: #6633ff /* plasmic-token: brleuPgaD */;
}
.inputPasswordLabelParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.inputPasswordLabelParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.inputPasswordLabelParent > :global(.__wab_flex-container) > *,
.inputPasswordLabelParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 4px;
}
.passwordLabel {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 0px;
  width: 100%;
  margin-top: calc(0px + 4px) !important;
  margin-right: 0px;
  margin-left: 0px;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .passwordLabel {
    left: auto;
    top: auto;
    margin-top: calc(0px + 4px) !important;
  }
}
.password {
  width: 100%;
  height: 48px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 2px;
  background: #ffffff repeat;
  border: 2px solid #dddddd /* plasmic-token: TctF8-gJH */;
}
.formLogin .password:hover {
  border-color: #333333 /* plasmic-token: _aCbIOo4N */;
}
.formLogin .password:focus {
  outline: none;
  border-color: #6633ff /* plasmic-token: brleuPgaD */;
}
.box__zEuFv {
  display: block;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: MAJ29KQMI */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  margin-top: calc(0px + 4px) !important;
  width: 100%;
  height: auto;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
}
.buttonContinueParent {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.buttonContinueParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.buttonContinueParent > :global(.__wab_flex-container) > *,
.buttonContinueParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 8px;
}
.loginContinueButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__uh2WN {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.recoveryLinkParent {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  align-self: center;
}
.recoveryLinkParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.recoveryLinkParent > :global(.__wab_flex-container) > *,
.recoveryLinkParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 8px;
}
.box__ql1Ny {
  position: relative;
  left: auto;
  top: auto;
  font-size: 12px;
}
.resetPassword {
  position: relative;
  left: auto;
  top: auto;
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
  font-size: 12px;
}
.box__rwKg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.box__rwKg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.box__rwKg > :global(.__wab_flex-container) > *,
.box__rwKg > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .box__rwKg {
    width: 100%;
    min-width: 0;
  }
}
.box__o0C0E {
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  min-width: 0;
  background: #ebebeb;
}
.box__n6Ve {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  display: inline-block;
}
.box___2CKx {
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  min-width: 0;
  background: #ebebeb;
}
.box___7ZsVo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px 0px;
}
.box___7ZsVo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box___7ZsVo > :global(.__wab_flex-container) > *,
.box___7ZsVo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.loginFacebookConnect:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.loginGoogleConnect:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.box__yvRI {
  display: block;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 2px;
  left: auto;
  top: auto;
  min-width: 0;
  flex-shrink: 0;
  background: #f1f1f1;
}
.box__yvRI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.box__yvRI > :global(.__wab_flex-container) > *,
.box__yvRI > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 12px;
}
.signupSubhead {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  align-self: center;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  text-align: center;
  min-width: 0;
}
.buttonLinkPrimary:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .buttonLinkPrimary:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.box___7NKpK {
  font-size: 16px;
  font-weight: 600;
}
