.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background: #ffffff;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 6px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.freeBox * {
  transform-style: preserve-3d;
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.text___8Dh5C {
  font-size: 8px;
  line-height: 1;
  font-weight: 600;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: normal;
  transform-style: preserve-3d;
}
.text___8Dh5C * {
  transform-style: preserve-3d;
}
.menuIconListItem__dsDoA:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.menuIconListItem__dsDoA * {
  transform-style: preserve-3d;
}
.text__kqyfb {
  transform-style: preserve-3d;
}
.text__kqyfb * {
  transform-style: preserve-3d;
}
.navImage2 {
  object-fit: cover;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  width: 16px;
  height: 16px;
  transform-style: preserve-3d;
}
.navImage2 * {
  transform-style: preserve-3d;
}
.menuIconListItem__lqd7E:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.menuIconListItem__lqd7E * {
  transform-style: preserve-3d;
}
.text__aicUa {
  transform-style: preserve-3d;
}
.text__aicUa * {
  transform-style: preserve-3d;
}
.navImage3 {
  object-fit: cover;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  width: 16px;
  height: 16px;
  transform-style: preserve-3d;
}
.navImage3 * {
  transform-style: preserve-3d;
}
.menuIconListItem__jjVq7:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.menuIconListItem__jjVq7 * {
  transform-style: preserve-3d;
}
.text___20PLz {
  transform-style: preserve-3d;
}
.text___20PLz * {
  transform-style: preserve-3d;
}
.navImage {
  object-fit: cover;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  width: 16px;
  height: 16px;
  transform-style: preserve-3d;
}
.navImage * {
  transform-style: preserve-3d;
}
.switchToMemberButton:global(.__wab_instance) {
  position: relative;
  height: 32px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.switchToMemberButton * {
  transform-style: preserve-3d;
}
.text__r0JTu {
  font-size: 12px;
  transform-style: preserve-3d;
}
.text__r0JTu * {
  transform-style: preserve-3d;
}
