.root {
  display: flex;
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.slotTargetChildren__color_light {
  color: #eaeaea /* plasmic-token: t2DPA2Clx */;
}
.slotTargetChildren__color_dark {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.slotTargetChildren__color_brand {
  color: #a385ff /* plasmic-token: rN0ul5_oz */;
}
.root__color_light:hover .slotTargetChildren__color_light {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.root__color_dark:hover .slotTargetChildren__color_dark {
  color: #101010 /* plasmic-token: 7-Hl8dlot */;
}
.root__color_brand:hover .slotTargetChildren__color_brand {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.svg__dorQ {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
