.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 6px;
}
.slotTargetChildren {
  color: #000000 /* plasmic-token: F4gy0u3aB */;
}
.textarea {
  position: relative;
  left: auto;
  top: auto;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  color: #ebebeb /* plasmic-token: -59aep1Mm */;
  width: 320px;
  height: 96px;
  background: #f8f8f8;
  flex-shrink: 0;
  border-width: 1px;
  border-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.textarea__size_large {
  width: 360px;
}
.textarea__size_medium {
  width: 240px;
}
.root .textarea:hover {
  left: auto;
  top: auto;
  border-color: #e4e4e4 /* plasmic-token: t2DPA2Clx */;
}
.root .textarea:focus {
  left: auto;
  top: auto;
  outline: none;
  border-color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
