.root {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  position: relative;
  padding: 2px 6px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
.parent {
  display: inline-flex;
  position: relative;
  align-self: center;
  width: auto;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.parent > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  align-content: unset;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svgLeftParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: auto;
  left: auto;
  align-self: auto;
  width: 14px;
  height: 14px;
  align-content: unset;
  flex-shrink: 0;
}
.svgLeftParent__size__16 {
  justify-content: center;
  align-items: center;
  align-content: unset;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svgLeftParent__size__18 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.svgLeftParent__size__24 {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.slotTargetSvgLeft__color_light {
  color: #e4e4e4 /* plasmic-token: t2DPA2Clx */;
}
.slotTargetSvgLeft__color_brand {
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.root__color_light:hover .slotTargetSvgLeft__color_light {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.root__color_dark:hover .slotTargetSvgLeft__color_dark {
  color: #000000 /* plasmic-token: F4gy0u3aB */;
}
.root__color_brand:hover .slotTargetSvgLeft__color_brand {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.svg__f2Wy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #000000 /* plasmic-token: F4gy0u3aB */;
  min-width: 0;
  min-height: 0;
}
.slotTargetChildren {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: #333333 /* plasmic-token: ec1vMFIzT */;
  text-align: left;
  white-space: pre;
}
.slotTargetChildren__color_light {
  color: #e4e4e4 /* plasmic-token: t2DPA2Clx */;
}
.slotTargetChildren__color_dark {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.slotTargetChildren__color_brand {
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.slotTargetChildren__size__14 {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: #333333 /* plasmic-token: ec1vMFIzT */;
}
.slotTargetChildren__size__16 {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1;
  color: #333333 /* plasmic-token: ec1vMFIzT */;
  text-transform: none;
}
.slotTargetChildren__size__18 {
  font-size: 18px;
  font-weight: 500;
}
.slotTargetChildren__size__24 {
  font-size: 24px;
  font-weight: 500;
}
.root:hover .slotTargetChildren {
  color: #000000 /* plasmic-token: F4gy0u3aB */;
}
.root__color_light:hover .slotTargetChildren__color_light {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.root__color_brand:hover .slotTargetChildren__color_brand {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.svgRightParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: auto;
  left: auto;
  align-self: auto;
  width: 14px;
  height: 14px;
  align-content: unset;
  flex-shrink: 0;
}
.svgRightParent__size__16 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svgRightParent__size__18 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.svgRightParent__size__24 {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.slotTargetSvgRight__color_light {
  color: #e4e4e4 /* plasmic-token: t2DPA2Clx */;
}
.slotTargetSvgRight__color_brand {
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.root__color_light:hover .slotTargetSvgRight__color_light {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.root__color_dark:hover .slotTargetSvgRight__color_dark {
  color: #000000 /* plasmic-token: F4gy0u3aB */;
}
.root__color_brand:hover .slotTargetSvgRight__color_brand {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.svg__apSlW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #000000 /* plasmic-token: F4gy0u3aB */;
  min-width: 0;
  min-height: 0;
}
