.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: auto;
  background: #ffffff;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 2px 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.root__user_member {
  transform-style: preserve-3d;
}
.root__user_member * {
  transform-style: preserve-3d;
}
.root__user_partner {
  transform-style: preserve-3d;
}
.root__user_partner * {
  transform-style: preserve-3d;
}
.headlineParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  padding-bottom: 4px;
  transform-style: preserve-3d;
  min-width: 0;
}
.headlineParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.headlineParent * {
  transform-style: preserve-3d;
}
.headlineParent > :global(.__wab_flex-container) > *,
.headlineParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headlineParent > :global(.__wab_flex-container) > picture > img,
.headlineParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.headlineCommunity {
  display: block;
  font-size: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  align-self: stretch;
  text-transform: uppercase;
  transform-style: preserve-3d;
}
.headlineCommunity * {
  transform-style: preserve-3d;
}
.headlineCommunity__user_member {
  transform-style: preserve-3d;
}
.headlineCommunity__user_member * {
  transform-style: preserve-3d;
}
.headlineCommunity__user_partner {
  font-size: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: normal;
  transform-style: preserve-3d;
}
.headlineCommunity__user_partner * {
  transform-style: preserve-3d;
}
.elementUserbadges {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  padding-left: 8px;
  transform-style: preserve-3d;
  min-width: 0;
}
.elementUserbadges > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.elementUserbadges * {
  transform-style: preserve-3d;
}
.elementUserbadges > :global(.__wab_flex-container) > *,
.elementUserbadges > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.elementUserbadges > :global(.__wab_flex-container) > picture > img,
.elementUserbadges
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.elementUserbadges__user_partner {
  height: auto;
  transform-style: preserve-3d;
}
.elementUserbadges__user_partner * {
  transform-style: preserve-3d;
}
.ratingDisplayDetail:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.ratingDisplayDetail * {
  transform-style: preserve-3d;
}
.text__qD1Ky {
  transform-style: preserve-3d;
}
.text__qD1Ky * {
  transform-style: preserve-3d;
}
.text__zLXq {
  transform-style: preserve-3d;
}
.text__zLXq * {
  transform-style: preserve-3d;
}
.tagMemberD:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.tagMemberD * {
  transform-style: preserve-3d;
}
.tagMemberD__user_member:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.tagMemberD__user_member * {
  transform-style: preserve-3d;
}
.tagMemberD__user_partner:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.tagMemberD__user_partner * {
  transform-style: preserve-3d;
}
.tagPartnerD:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.tagPartnerD * {
  transform-style: preserve-3d;
}
.tagPartnerD__user_partner:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.tagPartnerD__user_partner * {
  transform-style: preserve-3d;
}
.badgeVerification:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.badgeVerification * {
  transform-style: preserve-3d;
}
.elementUserSocialFollowingA {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  height: auto;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.elementUserSocialFollowingA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.elementUserSocialFollowingA * {
  transform-style: preserve-3d;
}
.elementUserSocialFollowingA > :global(.__wab_flex-container) > *,
.elementUserSocialFollowingA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.elementUserSocialFollowingA > :global(.__wab_flex-container) > picture > img,
.elementUserSocialFollowingA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.elementUserSocialFollowingA__user_member {
  transform-style: preserve-3d;
}
.elementUserSocialFollowingA__user_member * {
  transform-style: preserve-3d;
}
.elementUserSocialFollowingA__user_partner {
  transform-style: preserve-3d;
}
.elementUserSocialFollowingA__user_partner * {
  transform-style: preserve-3d;
}
.followingParent2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: 40px;
  align-self: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.followingParent2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.followingParent2 * {
  transform-style: preserve-3d;
}
.followingParent2 > :global(.__wab_flex-container) > *,
.followingParent2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.followingParent2 > :global(.__wab_flex-container) > picture > img,
.followingParent2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.followingParent2__user_member {
  transform-style: preserve-3d;
}
.followingParent2__user_member * {
  transform-style: preserve-3d;
}
.followersNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.followersNumberCount * {
  transform-style: preserve-3d;
}
.text__xOZjq {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  transform-style: preserve-3d;
}
.text__xOZjq * {
  transform-style: preserve-3d;
}
.followersParent2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: 40px;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.followersParent2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.followersParent2 * {
  transform-style: preserve-3d;
}
.followersParent2 > :global(.__wab_flex-container) > *,
.followersParent2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.followersParent2 > :global(.__wab_flex-container) > picture > img,
.followersParent2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.followingNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: 600;
  transform-style: preserve-3d;
  min-width: 0;
}
.followingNumberCount * {
  transform-style: preserve-3d;
}
.text__qqpfd {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  transform-style: preserve-3d;
}
.text__qqpfd * {
  transform-style: preserve-3d;
}
.text__user_member__qqpfdDUag {
  transform-style: preserve-3d;
}
.text__user_member__qqpfdDUag * {
  transform-style: preserve-3d;
}
.elementMemberSubscriptionsLists {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  height: auto;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.elementMemberSubscriptionsLists > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.elementMemberSubscriptionsLists * {
  transform-style: preserve-3d;
}
.elementMemberSubscriptionsLists > :global(.__wab_flex-container) > *,
.elementMemberSubscriptionsLists
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.elementMemberSubscriptionsLists
  > :global(.__wab_flex-container)
  > picture
  > img,
.elementMemberSubscriptionsLists
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.elementMemberSubscriptionsLists__user_member {
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.elementMemberSubscriptionsLists__user_member * {
  transform-style: preserve-3d;
}
.elementMemberSubscriptionsLists__user_partner {
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.elementMemberSubscriptionsLists__user_partner * {
  transform-style: preserve-3d;
}
.memberSubscriptionCountParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: 40px;
  align-self: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.memberSubscriptionCountParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.memberSubscriptionCountParent * {
  transform-style: preserve-3d;
}
.memberSubscriptionCountParent > :global(.__wab_flex-container) > *,
.memberSubscriptionCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberSubscriptionCountParent > :global(.__wab_flex-container) > picture > img,
.memberSubscriptionCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.memberSubscriptionCountParent__user_member {
  width: 120px;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.memberSubscriptionCountParent__user_member * {
  transform-style: preserve-3d;
}
.memberSubscriptionNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: 600;
  transform-style: preserve-3d;
  min-width: 0;
}
.memberSubscriptionNumberCount * {
  transform-style: preserve-3d;
}
.memberSubscriptionNumberCount__user_member {
  transform-style: preserve-3d;
}
.memberSubscriptionNumberCount__user_member * {
  transform-style: preserve-3d;
}
.memberSubscriptionNumberCount__user_partner {
  transform-style: preserve-3d;
}
.memberSubscriptionNumberCount__user_partner * {
  transform-style: preserve-3d;
}
.text__ryhCi {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  font-weight: 400;
  transform-style: preserve-3d;
}
.text__ryhCi * {
  transform-style: preserve-3d;
}
.text__user_member__ryhCiDUag {
  transform-style: preserve-3d;
}
.text__user_member__ryhCiDUag * {
  transform-style: preserve-3d;
}
.memberListsCountParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: 40px;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.memberListsCountParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.memberListsCountParent * {
  transform-style: preserve-3d;
}
.memberListsCountParent > :global(.__wab_flex-container) > *,
.memberListsCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberListsCountParent > :global(.__wab_flex-container) > picture > img,
.memberListsCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.memberListsCountParent__user_member {
  width: 120px;
  height: 40px;
  flex-direction: column;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.memberListsCountParent__user_member > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.memberListsCountParent__user_member * {
  transform-style: preserve-3d;
}
.memberListsCountParent__user_member > :global(.__wab_flex-container) > *,
.memberListsCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberListsCountParent__user_member
  > :global(.__wab_flex-container)
  > picture
  > img,
.memberListsCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 4px;
}
.memberListNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: 600;
  transform-style: preserve-3d;
  min-width: 0;
}
.memberListNumberCount * {
  transform-style: preserve-3d;
}
.memberListNumberCount__user_member {
  transform-style: preserve-3d;
}
.memberListNumberCount__user_member * {
  transform-style: preserve-3d;
}
.text__uRoh2 {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  font-weight: 400;
  transform-style: preserve-3d;
}
.text__uRoh2 * {
  transform-style: preserve-3d;
}
.text__user_member__uRoh2DUag {
  transform-style: preserve-3d;
}
.text__user_member__uRoh2DUag * {
  transform-style: preserve-3d;
}
.elementMemberFollowersTeams {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  height: auto;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.elementMemberFollowersTeams > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.elementMemberFollowersTeams * {
  transform-style: preserve-3d;
}
.elementMemberFollowersTeams > :global(.__wab_flex-container) > *,
.elementMemberFollowersTeams
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.elementMemberFollowersTeams > :global(.__wab_flex-container) > picture > img,
.elementMemberFollowersTeams
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.elementMemberFollowersTeams__user_member {
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.elementMemberFollowersTeams__user_member * {
  transform-style: preserve-3d;
}
.memberConnectionCountParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: 40px;
  align-self: flex-start;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.memberConnectionCountParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.memberConnectionCountParent * {
  transform-style: preserve-3d;
}
.memberConnectionCountParent > :global(.__wab_flex-container) > *,
.memberConnectionCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberConnectionCountParent > :global(.__wab_flex-container) > picture > img,
.memberConnectionCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.memberConnectionCountParent__user_member {
  width: 120px;
  height: 40px;
  flex-direction: column;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.memberConnectionCountParent__user_member > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.memberConnectionCountParent__user_member * {
  transform-style: preserve-3d;
}
.memberConnectionCountParent__user_member > :global(.__wab_flex-container) > *,
.memberConnectionCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberConnectionCountParent__user_member
  > :global(.__wab_flex-container)
  > picture
  > img,
.memberConnectionCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 4px;
}
.memberConnectionNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: 600;
  transform-style: preserve-3d;
  min-width: 0;
}
.memberConnectionNumberCount * {
  transform-style: preserve-3d;
}
.memberConnectionNumberCount__user_member {
  transform-style: preserve-3d;
}
.memberConnectionNumberCount__user_member * {
  transform-style: preserve-3d;
}
.text__vfmsc {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  transform-style: preserve-3d;
}
.text__vfmsc * {
  transform-style: preserve-3d;
}
.text__user_member__vfmscDUag {
  transform-style: preserve-3d;
}
.text__user_member__vfmscDUag * {
  transform-style: preserve-3d;
}
.memberFollowersCountParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: 40px;
  align-self: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.memberFollowersCountParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.memberFollowersCountParent * {
  transform-style: preserve-3d;
}
.memberFollowersCountParent > :global(.__wab_flex-container) > *,
.memberFollowersCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberFollowersCountParent > :global(.__wab_flex-container) > picture > img,
.memberFollowersCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.memberFollowersCountParent__user_member {
  width: 120px;
  height: 40px;
  flex-direction: column;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.memberFollowersCountParent__user_member > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.memberFollowersCountParent__user_member * {
  transform-style: preserve-3d;
}
.memberFollowersCountParent__user_member > :global(.__wab_flex-container) > *,
.memberFollowersCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberFollowersCountParent__user_member
  > :global(.__wab_flex-container)
  > picture
  > img,
.memberFollowersCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 4px;
}
.memberfollowersNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.memberfollowersNumberCount * {
  transform-style: preserve-3d;
}
.memberfollowersNumberCount__user_member {
  transform-style: preserve-3d;
}
.memberfollowersNumberCount__user_member * {
  transform-style: preserve-3d;
}
.text__xrkqa {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  transform-style: preserve-3d;
}
.text__xrkqa * {
  transform-style: preserve-3d;
}
.text__user_member__xrkqaDUag {
  transform-style: preserve-3d;
}
.text__user_member__xrkqaDUag * {
  transform-style: preserve-3d;
}
.elementUserSocialFollowingB {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  height: auto;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.elementUserSocialFollowingB > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.elementUserSocialFollowingB * {
  transform-style: preserve-3d;
}
.elementUserSocialFollowingB > :global(.__wab_flex-container) > *,
.elementUserSocialFollowingB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.elementUserSocialFollowingB > :global(.__wab_flex-container) > picture > img,
.elementUserSocialFollowingB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.elementUserSocialFollowingB__user_member {
  transform-style: preserve-3d;
}
.elementUserSocialFollowingB__user_member * {
  transform-style: preserve-3d;
}
.elementUserSocialFollowingB__user_partner {
  transform-style: preserve-3d;
}
.elementUserSocialFollowingB__user_partner * {
  transform-style: preserve-3d;
}
.followingParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: 40px;
  align-self: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.followingParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.followingParent * {
  transform-style: preserve-3d;
}
.followingParent > :global(.__wab_flex-container) > *,
.followingParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.followingParent > :global(.__wab_flex-container) > picture > img,
.followingParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.memberNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: 600;
  transform-style: preserve-3d;
  min-width: 0;
}
.memberNumberCount * {
  transform-style: preserve-3d;
}
.text__ehvI9 {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  font-weight: 400;
  transform-style: preserve-3d;
}
.text__ehvI9 * {
  transform-style: preserve-3d;
}
.text__user_member__ehvI9DUag {
  transform-style: preserve-3d;
}
.text__user_member__ehvI9DUag * {
  transform-style: preserve-3d;
}
.followersParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: 40px;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.followersParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.followersParent * {
  transform-style: preserve-3d;
}
.followersParent > :global(.__wab_flex-container) > *,
.followersParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.followersParent > :global(.__wab_flex-container) > picture > img,
.followersParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.followersParent__user_member {
  transform-style: preserve-3d;
}
.followersParent__user_member * {
  transform-style: preserve-3d;
}
.followersParent__user_partner {
  transform-style: preserve-3d;
}
.followersParent__user_partner * {
  transform-style: preserve-3d;
}
.partnerNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: 600;
  transform-style: preserve-3d;
  min-width: 0;
}
.partnerNumberCount * {
  transform-style: preserve-3d;
}
.text__ii48V {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  font-weight: 400;
  transform-style: preserve-3d;
}
.text__ii48V * {
  transform-style: preserve-3d;
}
.text__user_member__ii48VDUag {
  transform-style: preserve-3d;
}
.text__user_member__ii48VDUag * {
  transform-style: preserve-3d;
}
.elementPartnerSubscriberReviewsParent {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  height: auto;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.elementPartnerSubscriberReviewsParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.elementPartnerSubscriberReviewsParent * {
  transform-style: preserve-3d;
}
.elementPartnerSubscriberReviewsParent > :global(.__wab_flex-container) > *,
.elementPartnerSubscriberReviewsParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.elementPartnerSubscriberReviewsParent
  > :global(.__wab_flex-container)
  > picture
  > img,
.elementPartnerSubscriberReviewsParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.elementPartnerSubscriberReviewsParent__user_member {
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.elementPartnerSubscriberReviewsParent__user_member * {
  transform-style: preserve-3d;
}
.elementPartnerSubscriberReviewsParent__user_partner {
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.elementPartnerSubscriberReviewsParent__user_partner * {
  transform-style: preserve-3d;
}
.partnerSubscriberCountParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: 40px;
  align-self: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.partnerSubscriberCountParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.partnerSubscriberCountParent * {
  transform-style: preserve-3d;
}
.partnerSubscriberCountParent > :global(.__wab_flex-container) > *,
.partnerSubscriberCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.partnerSubscriberCountParent > :global(.__wab_flex-container) > picture > img,
.partnerSubscriberCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.partnerSubscriberCountParent__user_member {
  width: 120px;
  height: 60px;
  flex-direction: column;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.partnerSubscriberCountParent__user_member > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.partnerSubscriberCountParent__user_member * {
  transform-style: preserve-3d;
}
.partnerSubscriberCountParent__user_member > :global(.__wab_flex-container) > *,
.partnerSubscriberCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.partnerSubscriberCountParent__user_member
  > :global(.__wab_flex-container)
  > picture
  > img,
.partnerSubscriberCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.partnerSubscriberCountParent__user_partner {
  width: 120px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.partnerSubscriberCountParent__user_partner * {
  transform-style: preserve-3d;
}
.partnerSubscribersNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.partnerSubscribersNumberCount * {
  transform-style: preserve-3d;
}
.partnerSubscribersNumberCount__user_member {
  transform-style: preserve-3d;
}
.partnerSubscribersNumberCount__user_member * {
  transform-style: preserve-3d;
}
.partnerSubscribersNumberCount__user_partner {
  transform-style: preserve-3d;
}
.partnerSubscribersNumberCount__user_partner * {
  transform-style: preserve-3d;
}
.partnerSubscribersText {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  transform-style: preserve-3d;
}
.partnerSubscribersText * {
  transform-style: preserve-3d;
}
.partnerSubscribersText__user_member {
  transform-style: preserve-3d;
}
.partnerSubscribersText__user_member * {
  transform-style: preserve-3d;
}
.partnerSubscribersText__user_partner {
  transform-style: preserve-3d;
}
.partnerSubscribersText__user_partner * {
  transform-style: preserve-3d;
}
.partnerTeamReviewCountParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: 40px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.partnerTeamReviewCountParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.partnerTeamReviewCountParent * {
  transform-style: preserve-3d;
}
.partnerTeamReviewCountParent > :global(.__wab_flex-container) > *,
.partnerTeamReviewCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.partnerTeamReviewCountParent > :global(.__wab_flex-container) > picture > img,
.partnerTeamReviewCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.partnerTeamReviewCountParent__user_member {
  width: 120px;
  height: 60px;
  flex-direction: column;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.partnerTeamReviewCountParent__user_member > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.partnerTeamReviewCountParent__user_member * {
  transform-style: preserve-3d;
}
.partnerTeamReviewCountParent__user_member > :global(.__wab_flex-container) > *,
.partnerTeamReviewCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.partnerTeamReviewCountParent__user_member
  > :global(.__wab_flex-container)
  > picture
  > img,
.partnerTeamReviewCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.partnerTeamReviewCountParent__user_partner {
  width: 120px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.partnerTeamReviewCountParent__user_partner * {
  transform-style: preserve-3d;
}
.partnerReviewsNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: 600;
  transform-style: preserve-3d;
  min-width: 0;
}
.partnerReviewsNumberCount * {
  transform-style: preserve-3d;
}
.partnerReviewsNumberCount__user_member {
  transform-style: preserve-3d;
}
.partnerReviewsNumberCount__user_member * {
  transform-style: preserve-3d;
}
.partnerReviewsNumberCount__user_partner {
  transform-style: preserve-3d;
}
.partnerReviewsNumberCount__user_partner * {
  transform-style: preserve-3d;
}
.partnerReviewsText {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  transform-style: preserve-3d;
}
.partnerReviewsText * {
  transform-style: preserve-3d;
}
.partnerReviewsText__user_member {
  transform-style: preserve-3d;
}
.partnerReviewsText__user_member * {
  transform-style: preserve-3d;
}
.partnerReviewsText__user_partner {
  transform-style: preserve-3d;
}
.partnerReviewsText__user_partner * {
  transform-style: preserve-3d;
}
.elementUserFollowersTeams3 {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  height: auto;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.elementUserFollowersTeams3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.elementUserFollowersTeams3 * {
  transform-style: preserve-3d;
}
.elementUserFollowersTeams3 > :global(.__wab_flex-container) > *,
.elementUserFollowersTeams3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.elementUserFollowersTeams3 > :global(.__wab_flex-container) > picture > img,
.elementUserFollowersTeams3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.elementUserFollowersTeams3__user_member {
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.elementUserFollowersTeams3__user_member * {
  transform-style: preserve-3d;
}
.elementUserFollowersTeams3__user_partner {
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.elementUserFollowersTeams3__user_partner * {
  transform-style: preserve-3d;
}
.partnerConnectionsCountParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: 40px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.partnerConnectionsCountParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.partnerConnectionsCountParent * {
  transform-style: preserve-3d;
}
.partnerConnectionsCountParent > :global(.__wab_flex-container) > *,
.partnerConnectionsCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.partnerConnectionsCountParent > :global(.__wab_flex-container) > picture > img,
.partnerConnectionsCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.partnerConnectionsCountParent__user_member {
  width: 120px;
  height: 60px;
  flex-direction: column;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.partnerConnectionsCountParent__user_member > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.partnerConnectionsCountParent__user_member * {
  transform-style: preserve-3d;
}
.partnerConnectionsCountParent__user_member
  > :global(.__wab_flex-container)
  > *,
.partnerConnectionsCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.partnerConnectionsCountParent__user_member
  > :global(.__wab_flex-container)
  > picture
  > img,
.partnerConnectionsCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.partnerConnectionsCountParent__user_partner {
  width: 120px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.partnerConnectionsCountParent__user_partner * {
  transform-style: preserve-3d;
}
.partnerFollowingNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: 600;
  transform-style: preserve-3d;
  min-width: 0;
}
.partnerFollowingNumberCount * {
  transform-style: preserve-3d;
}
.partnerFollowingNumberCount__user_member {
  transform-style: preserve-3d;
}
.partnerFollowingNumberCount__user_member * {
  transform-style: preserve-3d;
}
.partnerFollowingNumberCount__user_partner {
  transform-style: preserve-3d;
}
.partnerFollowingNumberCount__user_partner * {
  transform-style: preserve-3d;
}
.partnerConnectionsText {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  transform-style: preserve-3d;
}
.partnerConnectionsText * {
  transform-style: preserve-3d;
}
.partnerConnectionsText__user_member {
  transform-style: preserve-3d;
}
.partnerConnectionsText__user_member * {
  transform-style: preserve-3d;
}
.partnerConnectionsText__user_partner {
  transform-style: preserve-3d;
}
.partnerConnectionsText__user_partner * {
  transform-style: preserve-3d;
}
.partnerFollowersCountParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: 40px;
  align-self: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.partnerFollowersCountParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.partnerFollowersCountParent * {
  transform-style: preserve-3d;
}
.partnerFollowersCountParent > :global(.__wab_flex-container) > *,
.partnerFollowersCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.partnerFollowersCountParent > :global(.__wab_flex-container) > picture > img,
.partnerFollowersCountParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.partnerFollowersCountParent__user_member {
  width: 120px;
  height: 60px;
  flex-direction: column;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.partnerFollowersCountParent__user_member > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.partnerFollowersCountParent__user_member * {
  transform-style: preserve-3d;
}
.partnerFollowersCountParent__user_member > :global(.__wab_flex-container) > *,
.partnerFollowersCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.partnerFollowersCountParent__user_member
  > :global(.__wab_flex-container)
  > picture
  > img,
.partnerFollowersCountParent__user_member
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.partnerFollowersCountParent__user_partner {
  width: 120px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.partnerFollowersCountParent__user_partner * {
  transform-style: preserve-3d;
}
.partnerfollowersNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.partnerfollowersNumberCount * {
  transform-style: preserve-3d;
}
.partnerfollowersNumberCount__user_member {
  transform-style: preserve-3d;
}
.partnerfollowersNumberCount__user_member * {
  transform-style: preserve-3d;
}
.partnerfollowersNumberCount__user_partner {
  transform-style: preserve-3d;
}
.partnerfollowersNumberCount__user_partner * {
  transform-style: preserve-3d;
}
.partnerFollowersText {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  transform-style: preserve-3d;
}
.partnerFollowersText * {
  transform-style: preserve-3d;
}
.partnerFollowersText__user_member {
  transform-style: preserve-3d;
}
.partnerFollowersText__user_member * {
  transform-style: preserve-3d;
}
.partnerFollowersText__user_partner {
  transform-style: preserve-3d;
}
.partnerFollowersText__user_partner * {
  transform-style: preserve-3d;
}
