.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 48px;
  height: 24px;
  position: relative;
  background: #dcdcdc;
  border-radius: 24px;
  padding: 0px;
  border: 2px solid #dcdcdc /* plasmic-token: pZiR_PgBn */;
}
.root___switch {
  background: #101010;
  border-color: #101010 /* plasmic-token: VLxGX_Tro */;
}
.root__disabled_closed {
  background: #f8f8f8;
  border-color: #3d4350 /* plasmic-token: tFyZO4NUK */;
}
.root__disabled_open {
  background: #f8f8f8;
  border-color: #3d4350 /* plasmic-token: tFyZO4NUK */;
}
.root__color_brand__switch {
  background: #6633ff;
  border-color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.root__disabled_open_color_brand {
  background: #e0d6ff;
  border-color: #e0d6ff /* plasmic-token: WAX_l0bzr */;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20px;
  height: 20px;
  left: auto;
  top: auto;
  align-self: flex-start;
  padding-left: 0px;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 100px;
  border-width: 1px;
  border-style: none;
}
.freeBox___switch {
  align-self: flex-end;
}
.freeBox__disabled_closed {
  background: #3d4350;
}
.freeBox__disabled_open {
  align-self: flex-end;
  background: #3d4350;
}
.freeBox__disabled_open_color_brand {
  background: #eaeaea;
}
