.root {
  display: flex;
  width: 360px;
  height: 180px;
  flex-direction: column;
  position: relative;
  border-radius: 2px;
  padding: 16px;
  border: 2px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.root:hover {
  border-color: #e0e2e7 /* plasmic-token: oEMOojyFv */;
}
.root__state_deactivated:hover {
  border-color: #dcdcdc /* plasmic-token: pZiR_PgBn */;
}
.freeBox__aUrNg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 32px;
  height: 32px;
  align-self: flex-start;
  background: #f1f1f1;
  flex-shrink: 0;
  border-radius: 100px;
  border: 2px none #f1f1f1 /* plasmic-token: _lNibwHIy */;
}
.root:hover .freeBox__aUrNg {
  background: #f1f1f1;
  border: 2px none #101010 /* plasmic-token: 7-Hl8dlot */;
}
.freeBox___4BYjy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
.slotTargetSlot {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.slotTargetSlot__state_deactivated {
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
.root:hover .slotTargetSlot {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.root__state_deactivated:hover .slotTargetSlot__state_deactivated {
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
}
.svg__sjSC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  flex-shrink: 0;
}
.textLinkArrow:global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
  width: 100%;
  min-width: 0;
}
.svg__ecwPv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot2 {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
  text-transform: none;
}
.slotTargetSlot2__state_deactivated {
  color: #dcdcdc /* plasmic-token: pZiR_PgBn */;
}
.root:hover .slotTargetSlot2 {
  font-weight: 600;
  color: #101010 /* plasmic-token: 7-Hl8dlot */;
  font-size: 18px;
}
.root__state_deactivated:hover .slotTargetSlot2__state_deactivated {
  color: #dcdcdc /* plasmic-token: pZiR_PgBn */;
  font-weight: 500;
}
.slotTargetSlot3 {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.slotTargetSlot3__state_deactivated {
  color: #dcdcdc /* plasmic-token: pZiR_PgBn */;
}
.root:hover .slotTargetSlot3 {
  color: #101010 /* plasmic-token: 7-Hl8dlot */;
  font-size: 20px;
}
.root__state_deactivated:hover .slotTargetSlot3__state_deactivated {
  color: #dcdcdc /* plasmic-token: pZiR_PgBn */;
}
.svg__g1Xr {
  object-fit: cover;
  width: 18px;
  height: 18px;
}
.accountBodyText {
  left: auto;
  top: auto;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.freeBox___3Ewwn {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.slotTargetChildren {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
}
.slotTargetChildren__state_deactivated {
  color: #dcdcdc /* plasmic-token: pZiR_PgBn */;
}
