.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.selectInput:global(.__wab_instance) {
  position: relative;
}
.option___0JHw9:global(.__wab_instance) {
  position: relative;
}
.option__oIuia:global(.__wab_instance) {
  position: relative;
}
