.root {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  position: relative;
  background: #f1f1f1;
  min-width: 0;
  padding: 20px 40px;
  border-top: 2px solid rgba(255, 255, 255, 0.2) /* plasmic-token: FuVdnB9x_ */;
  border-bottom: 2px none #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.root__color_light {
  border-top-color: #f0f1f3 /* plasmic-token: deafmaGIp */;
  background: #ffffff;
}
.root__color_dark {
  background: #101010;
}
.navbarLogo:global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
  margin-bottom: 8px;
}
.addressFooter {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.text___4TIqA {
  display: block;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
  align-self: stretch;
  width: 190px;
}
.text__color_dark___4TIqAsxLuv {
  color: #f8f8f8 /* plasmic-token: -59aep1Mm */;
}
.footerSocialLinkGroup:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.footerLegal {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.footerLegal > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.footerLegal > :global(.__wab_flex-container) > *,
.footerLegal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerLegal > :global(.__wab_flex-container) > picture > img,
.footerLegal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.social2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-end;
  right: auto;
  bottom: auto;
}
.social2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.social2 > :global(.__wab_flex-container) > *,
.social2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.social2 > :global(.__wab_flex-container) > picture > img,
.social2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.footerSocialLink__kcGm7:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.svg__uDrtu {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.footerSocialLink__dqDfw:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.svg__xDKo {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.footerSocialLink__pHUhn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.svg___2HpC {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.footerSocialLink__aknuU:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.svg__ppPa {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.footerSocialLink___5TUvd:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.svg__dk11L {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  align-self: auto;
  right: 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.privacyPolicyComponent:global(.__wab_instance) {
  position: relative;
}
.termsoOfServiceComponent:global(.__wab_instance) {
  position: relative;
}
.text__bl0Hs {
  position: relative;
  left: auto;
  top: auto;
  font-size: 12px;
  line-height: 14px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .text__bl0Hs {
    font-size: 8px;
    line-height: 12px;
  }
}
.text__color_dark__bl0HssxLuv {
  color: #f8f8f8 /* plasmic-token: -59aep1Mm */;
}
