.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navbarStatic:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .navbarStatic:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.logoHeader:global(.__wab_instance) {
  position: relative;
}
.img__myWWx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 32px;
  left: auto;
  top: auto;
  display: inline-inline-block !important;
}
.img__myWWx > picture > img {
  object-fit: cover;
}
.img__myWWx > .__wab_img-spacer > img {
  object-fit: cover;
}
.sectionLogIn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
