.root {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.box___5Zuew {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: 0px;
  top: 80px;
  min-width: 0;
  padding: 64px 180px;
}
.box___5Zuew > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.box___5Zuew > :global(.__wab_flex-container) > *,
.box___5Zuew > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 0px;
}
.box__lqK8Z {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.box__lqK8Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__lqK8Z > :global(.__wab_flex-container) > *,
.box__lqK8Z > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.box__siEc5 {
  height: auto;
}
.personalUsernameCard:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.textarea__xfU9J {
  width: 100%;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  height: auto;
  font-size: 14px;
  min-width: 0;
  border-radius: 2px;
  padding: 4px;
  background: #f8f8f8;
  border: 2px solid #dddddd /* plasmic-token: i5T_lGWIG */;
}
.textbox__oMvU {
  align-self: auto;
  padding-left: 8px;
  height: auto;
  width: 100%;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-top-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-right-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-bottom-color: #dddddd /* plasmic-token: i5T_lGWIG */;
  border-left-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  font-size: 14px;
  position: relative;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  min-width: 0;
  background: #f8f8f8;
  border-style: solid;
}
.personalNameCard:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.textarea___2NXw {
  width: 100%;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  height: auto;
  font-size: 14px;
  min-width: 0;
  border-radius: 2px;
  padding: 4px;
  background: #f8f8f8;
  border: 2px solid #dddddd /* plasmic-token: i5T_lGWIG */;
}
.textbox__o9DdE {
  align-self: auto;
  padding-left: 8px;
  height: auto;
  width: 100%;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-top-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-right-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-bottom-color: #dddddd /* plasmic-token: i5T_lGWIG */;
  border-left-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  font-size: 14px;
  position: relative;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  min-width: 0;
  background: #f8f8f8;
  border-style: solid;
}
