.menuItemLink {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  position: relative;
  max-width: 540px;
  min-width: 90px;
  background: #ffffff;
  padding: 2px 2px 2px 6px;
}
.menuItemLink > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.menuItemLink > :global(.__wab_flex-container) > *,
.menuItemLink > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuItemLink > :global(.__wab_flex-container) > picture > img,
.menuItemLink
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.menuItemLink:hover {
  background: #f8f8f8;
}
.menuItemLink__disabled:hover {
  background: #ffffff;
}
.textParent {
  display: inline-flex;
  position: relative;
  width: auto;
}
.slotTargetText {
  font-size: 12px;
  line-height: 1.5;
}
.slotTargetText__disabled {
  color: #e4e4e4 /* plasmic-token: t2DPA2Clx */;
}
.slotTargetText__size__14Px {
  font-size: 14px;
}
.slotTargetText__size__16Px {
  font-size: 16px;
}
.menuItemLink:hover .slotTargetText {
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.menuItemLink__disabled:hover .slotTargetText__disabled {
  color: #e4e4e4 /* plasmic-token: t2DPA2Clx */;
}
