.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.svgParent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
.slotTargetSvg__state_disabled {
  color: #f8f8f8 /* plasmic-token: -59aep1Mm */;
}
.svg___63YN {
  object-fit: cover;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.svg__sDv4 {
  object-fit: cover;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
