.root {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  position: relative;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.svgBackground {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  border-radius: 100%;
  padding: 2px;
}
.svgBackground__size__48 {
  padding: 4px;
}
.svgParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.svgParent__size__16 {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.svgParent__size__24 {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgParent__size__48 {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #999999 /* plasmic-token: UPK7EIst5 */;
  min-width: 0;
  min-height: 0;
}
.root:hover .svg {
  color: #333333 /* plasmic-token: ZGkVH5KID */;
}
