.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navbarStatic:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.privacyPolicyBody {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  font-weight: 700;
  min-width: 0;
  padding: 80px 40px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .privacyPolicyBody {
    font-weight: 500;
  }
}
