.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.sectionMemberEditProfile {
  flex-direction: column;
  display: flex;
  position: relative;
  height: auto;
  left: auto;
  top: auto;
  padding: 16px 8px 32px;
}
.sectionMemberEditProfile > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionMemberEditProfile > :global(.__wab_flex-container) > *,
.sectionMemberEditProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionMemberEditProfile > :global(.__wab_flex-container) > picture > img,
.sectionMemberEditProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionMemberEditProfile {
    padding: 16px;
  }
}
@media (max-width: 375px) {
  .sectionMemberEditProfile {
    padding: 8px;
  }
}
.cardHeaderTitleDisplay__acBi5:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.text___04ReL {
  font-weight: 700;
}
.memberProfileForm:global(.__wab_instance) {
  position: relative;
}
.formMemberEditProfile {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 550px;
  height: auto;
  left: auto;
  top: auto;
}
.formMemberEditProfile > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.formMemberEditProfile > :global(.__wab_flex-container) > *,
.formMemberEditProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.formMemberEditProfile > :global(.__wab_flex-container) > picture > img,
.formMemberEditProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .formMemberEditProfile {
    width: 100%;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .formMemberEditProfile > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardMemberPersonalVerification {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.cardMemberPersonalVerification > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberPersonalVerification > :global(.__wab_flex-container) > *,
.cardMemberPersonalVerification
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardMemberPersonalVerification
  > :global(.__wab_flex-container)
  > picture
  > img,
.cardMemberPersonalVerification
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberPersonalVerification {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberPersonalVerification > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    min-width: 0;
  }
}
.cardHeaderTitlePrimary__gEtHe:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__hxjHi {
  height: auto;
  max-width: 328px;
}
.memberPersonalNameGroup {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.memberPersonalNameGroup > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: unset;
  align-content: flex-end;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.memberPersonalNameGroup > :global(.__wab_flex-container) > *,
.memberPersonalNameGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberPersonalNameGroup > :global(.__wab_flex-container) > picture > img,
.memberPersonalNameGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .memberPersonalNameGroup > :global(.__wab_flex-container) {
    align-content: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .memberPersonalNameGroup > :global(.__wab_flex-container) > *,
  .memberPersonalNameGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .memberPersonalNameGroup > :global(.__wab_flex-container) > picture > img,
  .memberPersonalNameGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.firstNameInput:global(.__wab_instance) {
  position: relative;
}
.lastNameInput:global(.__wab_instance) {
  position: relative;
}
.buttonGroupStripeVerification:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: center;
}
.cardMemberImage {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 720px;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
  padding: 0px;
}
.cardMemberImage > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberImage > :global(.__wab_flex-container) > *,
.cardMemberImage > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberImage > :global(.__wab_flex-container) > picture > img,
.cardMemberImage
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberImage {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberImage > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardHeaderTitlePrimary__ezi8:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__h4Mp0 {
  height: auto;
  max-width: 328px;
}
.memberUploadLogoButtonGroup {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
  min-width: 0;
}
.memberUploadLogoButtonGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.memberUploadLogoButtonGroup > :global(.__wab_flex-container) > *,
.memberUploadLogoButtonGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberUploadLogoButtonGroup > :global(.__wab_flex-container) > picture > img,
.memberUploadLogoButtonGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.imageWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.userImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 100%;
  border: 2px none var(--token-deafmaGIp);
}
.userImage > picture > img {
  object-fit: cover;
}
.userImage > .__wab_img-spacer > img {
  object-fit: cover;
}
.memberEditlogoGroup {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.memberEditlogoGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.memberEditlogoGroup > :global(.__wab_flex-container) > *,
.memberEditlogoGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberEditlogoGroup > :global(.__wab_flex-container) > picture > img,
.memberEditlogoGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.editUserImageButton:global(.__wab_instance) {
  position: relative;
  width: 90px;
  height: 32px;
  flex-shrink: 0;
}
.deleteUserImageButton:global(.__wab_instance) {
  position: relative;
  width: 90px;
  height: 32px;
  flex-shrink: 0;
}
.cardMemberUsername {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.cardMemberUsername > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberUsername > :global(.__wab_flex-container) > *,
.cardMemberUsername > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberUsername > :global(.__wab_flex-container) > picture > img,
.cardMemberUsername
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberUsername {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberUsername > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardHeaderTitlePrimary__anzId:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__wxY25 {
  height: auto;
}
.displayNameInput:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.cardMemberUrl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.cardMemberUrl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberUrl > :global(.__wab_flex-container) > *,
.cardMemberUrl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberUrl > :global(.__wab_flex-container) > picture > img,
.cardMemberUrl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary___71L8V:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.text__pNwo {
  height: auto;
}
.companyUrlTextInput:global(.__wab_instance) {
  position: relative;
}
.cardMemberTagline {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.cardMemberTagline > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberTagline > :global(.__wab_flex-container) > *,
.cardMemberTagline > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberTagline > :global(.__wab_flex-container) > picture > img,
.cardMemberTagline
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__jfQor:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__xxxU {
  height: auto;
  max-width: 328px;
}
.companyTagInput:global(.__wab_instance) {
  position: relative;
}
.cardMemberDescription {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
  min-width: 0;
}
.cardMemberDescription > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberDescription > :global(.__wab_flex-container) > *,
.cardMemberDescription
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardMemberDescription > :global(.__wab_flex-container) > picture > img,
.cardMemberDescription
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberDescription {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberDescription > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardHeaderTitlePrimary__oB2Kh:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__qsVv3 {
  height: auto;
}
.descriptionInput:global(.__wab_instance) {
  position: relative;
}
.cardVideoIntroUrl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.cardVideoIntroUrl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardVideoIntroUrl > :global(.__wab_flex-container) > *,
.cardVideoIntroUrl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardVideoIntroUrl > :global(.__wab_flex-container) > picture > img,
.cardVideoIntroUrl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__hRoA:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.text__zWe26 {
  height: auto;
}
.introVideoUrlInput:global(.__wab_instance) {
  position: relative;
}
.submitProfileButton:global(.__wab_instance) {
  position: relative;
  width: 180px;
  height: 40px;
  align-self: flex-end;
  flex-shrink: 0;
}
.sectionMemberEditProfileDetails {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 16px 8px 32px;
}
.sectionMemberEditProfileDetails > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionMemberEditProfileDetails > :global(.__wab_flex-container) > *,
.sectionMemberEditProfileDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionMemberEditProfileDetails
  > :global(.__wab_flex-container)
  > picture
  > img,
.sectionMemberEditProfileDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionMemberEditProfileDetails {
    width: auto;
    padding: 16px;
  }
}
@media (max-width: 375px) {
  .sectionMemberEditProfileDetails {
    padding: 8px;
  }
}
.cardHeaderTitleDisplay__pGCvu:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.text__zGsIr {
  font-weight: 700;
}
.memberDetailsForm:global(.__wab_instance) {
  position: relative;
  width: 550px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .memberDetailsForm:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.formMemberEditDetails {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.formMemberEditDetails > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.formMemberEditDetails > :global(.__wab_flex-container) > *,
.formMemberEditDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.formMemberEditDetails > :global(.__wab_flex-container) > picture > img,
.formMemberEditDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .formMemberEditDetails {
    width: auto;
    left: auto;
    top: auto;
  }
}
.cardMemberLocation {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.cardMemberLocation > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberLocation > :global(.__wab_flex-container) > *,
.cardMemberLocation > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberLocation > :global(.__wab_flex-container) > picture > img,
.cardMemberLocation
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberLocation {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberLocation > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardHeaderTitlePrimary__fhFuB:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__oQfam {
  height: auto;
  max-width: 328px;
}
.memberLocationGroup {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.memberLocationGroup > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: unset;
  align-content: flex-end;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.memberLocationGroup > :global(.__wab_flex-container) > *,
.memberLocationGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberLocationGroup > :global(.__wab_flex-container) > picture > img,
.memberLocationGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .memberLocationGroup {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .memberLocationGroup > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .memberLocationGroup > :global(.__wab_flex-container) > *,
  .memberLocationGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .memberLocationGroup > :global(.__wab_flex-container) > picture > img,
  .memberLocationGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.countrySelectInput:global(.__wab_instance) {
  position: relative;
}
.citySelectInput:global(.__wab_instance) {
  position: relative;
}
.cardMemberIndustry {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.cardMemberIndustry > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberIndustry > :global(.__wab_flex-container) > *,
.cardMemberIndustry > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberIndustry > :global(.__wab_flex-container) > picture > img,
.cardMemberIndustry
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberIndustry {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberIndustry > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardHeaderTitlePrimary__lrlkZ:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__kQo {
  height: auto;
  max-width: 328px;
}
.memberIndustryGroup {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.memberIndustryGroup > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: unset;
  align-content: flex-end;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.memberIndustryGroup > :global(.__wab_flex-container) > *,
.memberIndustryGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.memberIndustryGroup > :global(.__wab_flex-container) > picture > img,
.memberIndustryGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .memberIndustryGroup {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .memberIndustryGroup > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .memberIndustryGroup > :global(.__wab_flex-container) > *,
  .memberIndustryGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .memberIndustryGroup > :global(.__wab_flex-container) > picture > img,
  .memberIndustryGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.industrySelectInput:global(.__wab_instance) {
  position: relative;
}
.jobTitleInput:global(.__wab_instance) {
  position: relative;
}
.cardMemberLanguages {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.cardMemberLanguages > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberLanguages > :global(.__wab_flex-container) > *,
.cardMemberLanguages
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardMemberLanguages > :global(.__wab_flex-container) > picture > img,
.cardMemberLanguages
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberLanguages {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberLanguages > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardHeaderTitlePrimary___8QCqw:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__ikYyc {
  height: auto;
  max-width: 328px;
}
.inputGroupMemberLanguages {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.inputGroupMemberLanguages > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: unset;
  align-content: flex-end;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.inputGroupMemberLanguages > :global(.__wab_flex-container) > *,
.inputGroupMemberLanguages
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.inputGroupMemberLanguages > :global(.__wab_flex-container) > picture > img,
.inputGroupMemberLanguages
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputGroupMemberLanguages {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputGroupMemberLanguages > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputGroupMemberLanguages > :global(.__wab_flex-container) > *,
  .inputGroupMemberLanguages
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .inputGroupMemberLanguages > :global(.__wab_flex-container) > picture > img,
  .inputGroupMemberLanguages
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.primaryLanguageSelectInput:global(.__wab_instance) {
  position: relative;
}
.secondaryLanguageSelectInput:global(.__wab_instance) {
  position: relative;
}
.cardMemberInterests {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.cardMemberInterests > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberInterests > :global(.__wab_flex-container) > *,
.cardMemberInterests
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardMemberInterests > :global(.__wab_flex-container) > picture > img,
.cardMemberInterests
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__bl1O0:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.text__mAude {
  height: auto;
  max-width: 328px;
}
.interestsMultiSelectInput:global(.__wab_instance) {
  position: relative;
}
.cardMemberSkills {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.cardMemberSkills > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberSkills > :global(.__wab_flex-container) > *,
.cardMemberSkills > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberSkills > :global(.__wab_flex-container) > picture > img,
.cardMemberSkills
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__i0Au:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.text___4WyB {
  height: auto;
  max-width: 328px;
}
.skillsMultiSelectInput:global(.__wab_instance) {
  position: relative;
}
.cardMemberCommunity {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.cardMemberCommunity > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberCommunity > :global(.__wab_flex-container) > *,
.cardMemberCommunity
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardMemberCommunity > :global(.__wab_flex-container) > picture > img,
.cardMemberCommunity
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__sy9Hg:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.text__kfwe {
  height: auto;
  max-width: 328px;
}
.communityMultiSelectInput:global(.__wab_instance) {
  position: relative;
}
.submitDetailsButton:global(.__wab_instance) {
  position: relative;
  width: 180px;
  height: 40px;
  align-self: flex-end;
  flex-shrink: 0;
}
.text__xh7Ny {
  height: auto;
}
.sectionMemberEditProfileSocial {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 16px 8px 96px;
}
.sectionMemberEditProfileSocial > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionMemberEditProfileSocial > :global(.__wab_flex-container) > *,
.sectionMemberEditProfileSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionMemberEditProfileSocial
  > :global(.__wab_flex-container)
  > picture
  > img,
.sectionMemberEditProfileSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionMemberEditProfileSocial {
    padding: 16px;
  }
}
@media (max-width: 375px) {
  .sectionMemberEditProfileSocial {
    padding: 8px;
  }
}
.cardHeaderTitleDisplay__da5Bv:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.text__zgvp4 {
  font-weight: 700;
}
.memberSocialForm:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 428px) {
  .memberSocialForm:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.formMemberEditSocial {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 550px;
  height: auto;
  left: auto;
  top: auto;
}
.formMemberEditSocial > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.formMemberEditSocial > :global(.__wab_flex-container) > *,
.formMemberEditSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.formMemberEditSocial > :global(.__wab_flex-container) > picture > img,
.formMemberEditSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .formMemberEditSocial {
    width: auto;
    left: auto;
    top: auto;
  }
}
.cardMemberWebsite {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.cardMemberWebsite > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberWebsite > :global(.__wab_flex-container) > *,
.cardMemberWebsite > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberWebsite > :global(.__wab_flex-container) > picture > img,
.cardMemberWebsite
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberWebsite {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberWebsite > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardHeaderTitlePrimary__v0B32:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.text__zfHw {
  height: auto;
  max-width: 328px;
}
.formTextInput:global(.__wab_instance) {
  position: relative;
}
.cardMemberSocial {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.cardMemberSocial > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardMemberSocial > :global(.__wab_flex-container) > *,
.cardMemberSocial > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardMemberSocial > :global(.__wab_flex-container) > picture > img,
.cardMemberSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberSocial {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardMemberSocial > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardHeaderTitlePrimary__tYhVt:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__rUb4 {
  color: var(--token-6OoG_pvkg);
}
.text__osn8L {
  height: auto;
}
.socialPlatformsSwitchInputs:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 428px) {
  .socialPlatformsSwitchInputs:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.submitSocialButton:global(.__wab_instance) {
  position: relative;
  width: 180px;
  height: 40px;
  align-self: flex-end;
  flex-shrink: 0;
}
