.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  position: relative;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.svgIconParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  transform-style: preserve-3d;
}
.svgIconParent * {
  transform-style: preserve-3d;
}
.svg___3Ghg2 {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg___3Ghg2 * {
  transform-style: preserve-3d;
}
.numberValuePercentParent {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.numberValuePercentParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.numberValuePercentParent * {
  transform-style: preserve-3d;
}
.numberValuePercentParent > :global(.__wab_flex-container) > *,
.numberValuePercentParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.numberValuePercentParent > :global(.__wab_flex-container) > picture > img,
.numberValuePercentParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.numberValueParent {
  display: flex;
  position: relative;
  width: auto;
  transform-style: preserve-3d;
}
.numberValueParent * {
  transform-style: preserve-3d;
}
.slotTargetNumberValue {
  font-size: 14px;
  font-weight: 400;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  line-height: 1;
}
.slotTargetNumberValue * {
  transform-style: preserve-3d;
}
.slotTargetNumberValue > *,
.slotTargetNumberValue > .__wab_slot > *,
.slotTargetNumberValue > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValue > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValue > picture > img,
.slotTargetNumberValue > .__wab_slot > picture > img,
.slotTargetNumberValue > .__wab_slot > .__wab_slot > picture > img,
.slotTargetNumberValue
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.text__fsZqw {
  transform-style: preserve-3d;
}
.text__fsZqw * {
  transform-style: preserve-3d;
}
.percentParent {
  width: auto;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  transform-style: preserve-3d;
}
.percentParent * {
  transform-style: preserve-3d;
}
.slotTargetPercent {
  font-size: 8px;
  font-weight: 400;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  line-height: 1;
}
.slotTargetPercent * {
  transform-style: preserve-3d;
}
.slotTargetPercent > *,
.slotTargetPercent > .__wab_slot > *,
.slotTargetPercent > .__wab_slot > .__wab_slot > *,
.slotTargetPercent > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetPercent > picture > img,
.slotTargetPercent > .__wab_slot > picture > img,
.slotTargetPercent > .__wab_slot > .__wab_slot > picture > img,
.slotTargetPercent > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  transform-style: preserve-3d;
}
.text__lL94L {
  transform-style: preserve-3d;
}
.text__lL94L * {
  transform-style: preserve-3d;
}
.featurevalueTextParent {
  display: flex;
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.featurevalueTextParent * {
  transform-style: preserve-3d;
}
.slotTargetFeatureValueText {
  font-size: 14px;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  line-height: 1;
}
.slotTargetFeatureValueText * {
  transform-style: preserve-3d;
}
.slotTargetFeatureValueText > *,
.slotTargetFeatureValueText > .__wab_slot > *,
.slotTargetFeatureValueText > .__wab_slot > .__wab_slot > *,
.slotTargetFeatureValueText > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetFeatureValueText > picture > img,
.slotTargetFeatureValueText > .__wab_slot > picture > img,
.slotTargetFeatureValueText > .__wab_slot > .__wab_slot > picture > img,
.slotTargetFeatureValueText
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.text__poh7B {
  transform-style: preserve-3d;
}
.text__poh7B * {
  transform-style: preserve-3d;
}
