.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
.root__width_stretch {
  width: 100%;
  min-width: 0;
}
.root__height__720 {
  width: auto;
  height: auto;
  display: inline-flex;
}
.parent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.parent__width__720 {
  width: 720px;
}
.parent__height__90 {
  height: 90px;
  flex-shrink: 0;
}
.parent__height__180 {
  height: 180px;
  flex-shrink: 0;
}
.parent__height__270 {
  height: 270px;
  flex-shrink: 0;
}
.parent__height__360 {
  height: 360px;
  flex-shrink: 0;
}
.parent__height__540 {
  height: 540px;
  flex-shrink: 0;
}
.parent__height__720 {
  height: 720px;
  flex-shrink: 0;
}
.parent__width__90 {
  width: 90px;
}
.parent__width__180 {
  width: 180px;
}
.parent__width__270 {
  width: 270px;
}
.parent__width__360 {
  width: 360px;
}
.parent__width__540 {
  width: 540px;
}
.parent__height__720_width__90 {
  width: 90px;
}
.parent__height__720_width__180 {
  width: 180px;
}
.parent__height__720_width__270 {
  width: 270px;
}
.freeBox__lf43I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__label__lf43IPyJo {
  display: none;
}
.slotTargetChildren {
  color: #14161b /* plasmic-token: MAJ29KQMI */;
}
.textarea {
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: 4px;
  padding: 8px;
  border: 2px solid #a3a9b6 /* plasmic-token: akkcKiBNZ */;
}
.textarea__type_secondary {
  background: #f8f8f8;
}
.root:hover .textarea {
  border-color: #14161b /* plasmic-token: _aCbIOo4N */;
}
.root:focus-within .textarea {
  outline: none;
  border-color: #5229cc /* plasmic-token: brleuPgaD */;
}
.freeBox__raGoy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__description__raGoyFossS {
  display: none;
}
.slotTargetSlot {
  font-size: 12px;
  color: #3d4350 /* plasmic-token: UPK7EIst5 */;
}
