.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  padding-right: 8px;
  padding-left: 8px;
  position: relative;
  background: #ffffff;
  transform-style: preserve-3d;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
.root * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .root > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 414px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .root {
    padding-left: 0px;
    padding-right: 0px;
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .root > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .root * {
    transform-style: preserve-3d;
  }
}
.root__auth {
  transform-style: preserve-3d;
}
.root__auth * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .root__auth {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root__auth > :global(.__wab_flex-container) {
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root__auth * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root__auth > :global(.__wab_flex-container) > *,
  .root__auth > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root__auth > :global(.__wab_flex-container) > picture > img,
  .root__auth
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
@media (max-width: 375px) {
  .root__auth {
    transform-style: preserve-3d;
    padding: 0px 8px;
  }
}
@media (max-width: 375px) {
  .root__auth > :global(.__wab_flex-container) {
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 375px) {
  .root__auth * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .root__auth > :global(.__wab_flex-container) > *,
  .root__auth > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root__auth > :global(.__wab_flex-container) > picture > img,
  .root__auth
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.root__dark {
  background: #101010;
  transform-style: preserve-3d;
}
.root__dark * {
  transform-style: preserve-3d;
}
.brandWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  transform-style: preserve-3d;
}
.brandWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.brandWrapper * {
  transform-style: preserve-3d;
}
.brandWrapper > :global(.__wab_flex-container) > *,
.brandWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.brandWrapper > :global(.__wab_flex-container) > picture > img,
.brandWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 414px) {
  .brandWrapper {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .brandWrapper > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 414px) {
  .brandWrapper * {
    transform-style: preserve-3d;
  }
}
.brandWrapper__auth {
  transform-style: preserve-3d;
}
.brandWrapper__auth * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .brandWrapper__auth {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .brandWrapper__auth * {
    transform-style: preserve-3d;
  }
}
.iconWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 24px;
  height: 24px;
  align-self: flex-start;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.iconWrapper * {
  transform-style: preserve-3d;
}
.iconWrapper__auth {
  transform-style: preserve-3d;
  display: flex;
}
.iconWrapper__auth * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .iconWrapper__auth {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .iconWrapper__auth * {
    transform-style: preserve-3d;
  }
}
.menuIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  align-self: flex-start;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.menuIcon * {
  transform-style: preserve-3d;
}
.navbarLogo:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.navbarLogo * {
  transform-style: preserve-3d;
}
.navbarLogo__auth:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.navbarLogo__auth * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .navbarLogo__auth:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .navbarLogo__auth * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .navbarLogo__auth:global(.__wab_instance) {
    transform-style: preserve-3d;
    display: none;
  }
}
@media (max-width: 375px) {
  .navbarLogo__auth * {
    transform-style: preserve-3d;
  }
}
.navbarLogo__dark:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.navbarLogo__dark * {
  transform-style: preserve-3d;
}
.actionWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  transform-style: preserve-3d;
}
.actionWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.actionWrapper * {
  transform-style: preserve-3d;
}
.actionWrapper > :global(.__wab_flex-container) > *,
.actionWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.actionWrapper > :global(.__wab_flex-container) > picture > img,
.actionWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .actionWrapper {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .actionWrapper * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .actionWrapper {
    transform-style: preserve-3d;
    display: none;
  }
}
@media (max-width: 414px) {
  .actionWrapper * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .actionWrapper {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .actionWrapper * {
    transform-style: preserve-3d;
  }
}
.actionWrapper__auth {
  transform-style: preserve-3d;
}
.actionWrapper__auth * {
  transform-style: preserve-3d;
}
.sellOnIntrepidButton:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.sellOnIntrepidButton * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .sellOnIntrepidButton:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .sellOnIntrepidButton * {
    transform-style: preserve-3d;
  }
}
.sellOnIntrepidButton__dark:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.sellOnIntrepidButton__dark * {
  transform-style: preserve-3d;
}
.text__uRxVz {
  white-space: pre;
  font-size: 14px;
  transform-style: preserve-3d;
}
.text__uRxVz * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .text__uRxVz {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .text__uRxVz * {
    transform-style: preserve-3d;
  }
}
.text__dark__uRxVz4SuRb {
  transform-style: preserve-3d;
}
.text__dark__uRxVz4SuRb * {
  transform-style: preserve-3d;
}
.pricingNavButton:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.pricingNavButton * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .pricingNavButton:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .pricingNavButton * {
    transform-style: preserve-3d;
  }
}
.pricingNavButton__dark:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.pricingNavButton__dark * {
  transform-style: preserve-3d;
}
.text__hQevM {
  white-space: pre;
  font-size: 14px;
  transform-style: preserve-3d;
}
.text__hQevM * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .text__hQevM {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .text__hQevM * {
    transform-style: preserve-3d;
  }
}
.text__dark__hQevM4SuRb {
  transform-style: preserve-3d;
}
.text__dark__hQevM4SuRb * {
  transform-style: preserve-3d;
}
.partnerButton:global(.__wab_instance) {
  position: relative;
  height: 40px;
  transform-style: preserve-3d;
}
.partnerButton * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .partnerButton:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .partnerButton * {
    transform-style: preserve-3d;
  }
}
.partnerButton__dark:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.partnerButton__dark * {
  transform-style: preserve-3d;
}
.text__o407H {
  font-size: 16px;
  font-weight: 600;
  transform-style: preserve-3d;
}
.text__o407H * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .text__o407H {
    font-weight: 500;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .text__o407H * {
    transform-style: preserve-3d;
  }
}
.searchInputWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  transform-style: preserve-3d;
  min-width: 0;
}
.searchInputWrapper * {
  transform-style: preserve-3d;
}
.searchInputWrapper__auth {
  transform-style: preserve-3d;
  display: flex;
}
.searchInputWrapper__auth * {
  transform-style: preserve-3d;
}
.searchbarPrimary:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform-style: preserve-3d;
  display: none;
}
.searchbarPrimary * {
  transform-style: preserve-3d;
}
.searchbarPrimary__auth:global(.__wab_instance) {
  align-self: auto;
  transform-style: preserve-3d;
  display: flex;
}
.searchbarPrimary__auth * {
  transform-style: preserve-3d;
}
.authActionsWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  transform-style: preserve-3d;
}
.authActionsWrapper * {
  transform-style: preserve-3d;
}
.authActionsWrapper__auth {
  transform-style: preserve-3d;
  display: flex;
}
.authActionsWrapper__auth * {
  transform-style: preserve-3d;
}
.avatar:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.avatar * {
  transform-style: preserve-3d;
}
.avatar__auth:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.avatar__auth * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .avatar__auth:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .avatar__auth * {
    transform-style: preserve-3d;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
  border-radius: 50%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.img * {
  transform-style: preserve-3d;
}
.img__auth {
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
}
.img__auth * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .img__auth {
    min-width: 40px;
    min-height: 40px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .img__auth * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .img__auth {
    min-width: 40px;
    min-height: 40px;
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .img__auth * {
    transform-style: preserve-3d;
  }
}
