.parent {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  position: relative;
  transform-style: preserve-3d;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.parent * {
  transform-style: preserve-3d;
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svgparent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 14px;
  height: 14px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svgparent * {
  transform-style: preserve-3d;
}
.svgparent__integer_plus {
  transform-style: preserve-3d;
}
.svgparent__integer_plus * {
  transform-style: preserve-3d;
}
.svgparent__integer_minus {
  transform-style: preserve-3d;
}
.svgparent__integer_minus * {
  transform-style: preserve-3d;
}
.svgparent__integer_noChange {
  transform-style: preserve-3d;
}
.svgparent__integer_noChange * {
  transform-style: preserve-3d;
}
.svg__m0IrF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__m0IrF * {
  transform-style: preserve-3d;
}
.svg___2OLc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg___2OLc * {
  transform-style: preserve-3d;
}
.svg__aFcD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__aFcD * {
  transform-style: preserve-3d;
}
.numberValuePercentParent {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.numberValuePercentParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.numberValuePercentParent * {
  transform-style: preserve-3d;
}
.numberValuePercentParent > :global(.__wab_flex-container) > *,
.numberValuePercentParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.numberValuePercentParent > :global(.__wab_flex-container) > picture > img,
.numberValuePercentParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.numberValueParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.numberValueParent * {
  transform-style: preserve-3d;
}
.numberValueParent__integer_plus {
  transform-style: preserve-3d;
}
.numberValueParent__integer_plus * {
  transform-style: preserve-3d;
}
.numberValueParent__integer_minus {
  transform-style: preserve-3d;
}
.numberValueParent__integer_minus * {
  transform-style: preserve-3d;
}
.numberValueParent__integer_noChange {
  width: 32px;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.numberValueParent__integer_noChange * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParent * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParent > *,
.slotTargetNumberValueParent > .__wab_slot > *,
.slotTargetNumberValueParent > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValueParent > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValueParent > picture > img,
.slotTargetNumberValueParent > .__wab_slot > picture > img,
.slotTargetNumberValueParent > .__wab_slot > .__wab_slot > picture > img,
.slotTargetNumberValueParent
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParent__integer_plus {
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.slotTargetNumberValueParent__integer_plus * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParent__integer_plus > *,
.slotTargetNumberValueParent__integer_plus > .__wab_slot > *,
.slotTargetNumberValueParent__integer_plus > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValueParent__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParent__integer_plus > picture > img,
.slotTargetNumberValueParent__integer_plus > .__wab_slot > picture > img,
.slotTargetNumberValueParent__integer_plus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParent__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParent__integer_minus {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.slotTargetNumberValueParent__integer_minus * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParent__integer_minus > *,
.slotTargetNumberValueParent__integer_minus > .__wab_slot > *,
.slotTargetNumberValueParent__integer_minus > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValueParent__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParent__integer_minus > picture > img,
.slotTargetNumberValueParent__integer_minus > .__wab_slot > picture > img,
.slotTargetNumberValueParent__integer_minus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParent__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParent__integer_noChange * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParent__integer_noChange > *,
.slotTargetNumberValueParent__integer_noChange > .__wab_slot > *,
.slotTargetNumberValueParent__integer_noChange > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValueParent__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParent__integer_noChange > picture > img,
.slotTargetNumberValueParent__integer_noChange > .__wab_slot > picture > img,
.slotTargetNumberValueParent__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParent__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.text__nqe9N {
  font-size: 14px;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
}
.text__nqe9N * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentPlus * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentPlus > *,
.slotTargetNumberValueParentPlus > .__wab_slot > *,
.slotTargetNumberValueParentPlus > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValueParentPlus > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValueParentPlus > picture > img,
.slotTargetNumberValueParentPlus > .__wab_slot > picture > img,
.slotTargetNumberValueParentPlus > .__wab_slot > .__wab_slot > picture > img,
.slotTargetNumberValueParentPlus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentPlus__integer_plus {
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.slotTargetNumberValueParentPlus__integer_plus * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentPlus__integer_plus > *,
.slotTargetNumberValueParentPlus__integer_plus > .__wab_slot > *,
.slotTargetNumberValueParentPlus__integer_plus > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValueParentPlus__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParentPlus__integer_plus > picture > img,
.slotTargetNumberValueParentPlus__integer_plus > .__wab_slot > picture > img,
.slotTargetNumberValueParentPlus__integer_plus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParentPlus__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentPlus__integer_minus {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.slotTargetNumberValueParentPlus__integer_minus * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentPlus__integer_minus > *,
.slotTargetNumberValueParentPlus__integer_minus > .__wab_slot > *,
.slotTargetNumberValueParentPlus__integer_minus > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValueParentPlus__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParentPlus__integer_minus > picture > img,
.slotTargetNumberValueParentPlus__integer_minus > .__wab_slot > picture > img,
.slotTargetNumberValueParentPlus__integer_minus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParentPlus__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.text___3Hljv {
  font-size: 14px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
  transform-style: preserve-3d;
}
.text___3Hljv * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentMinus * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentMinus > *,
.slotTargetNumberValueParentMinus > .__wab_slot > *,
.slotTargetNumberValueParentMinus > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValueParentMinus > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValueParentMinus > picture > img,
.slotTargetNumberValueParentMinus > .__wab_slot > picture > img,
.slotTargetNumberValueParentMinus > .__wab_slot > .__wab_slot > picture > img,
.slotTargetNumberValueParentMinus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentMinus__integer_plus {
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.slotTargetNumberValueParentMinus__integer_plus * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentMinus__integer_plus > *,
.slotTargetNumberValueParentMinus__integer_plus > .__wab_slot > *,
.slotTargetNumberValueParentMinus__integer_plus > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValueParentMinus__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParentMinus__integer_plus > picture > img,
.slotTargetNumberValueParentMinus__integer_plus > .__wab_slot > picture > img,
.slotTargetNumberValueParentMinus__integer_plus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParentMinus__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentMinus__integer_minus {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.slotTargetNumberValueParentMinus__integer_minus * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentMinus__integer_minus > *,
.slotTargetNumberValueParentMinus__integer_minus > .__wab_slot > *,
.slotTargetNumberValueParentMinus__integer_minus
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParentMinus__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParentMinus__integer_minus > picture > img,
.slotTargetNumberValueParentMinus__integer_minus > .__wab_slot > picture > img,
.slotTargetNumberValueParentMinus__integer_minus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParentMinus__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.text__zcvOc {
  font-size: 14px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
  transform-style: preserve-3d;
}
.text__zcvOc * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentNoChange * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentNoChange > *,
.slotTargetNumberValueParentNoChange > .__wab_slot > *,
.slotTargetNumberValueParentNoChange > .__wab_slot > .__wab_slot > *,
.slotTargetNumberValueParentNoChange
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParentNoChange > picture > img,
.slotTargetNumberValueParentNoChange > .__wab_slot > picture > img,
.slotTargetNumberValueParentNoChange
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParentNoChange
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentNoChange__integer_plus {
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.slotTargetNumberValueParentNoChange__integer_plus * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentNoChange__integer_plus > *,
.slotTargetNumberValueParentNoChange__integer_plus > .__wab_slot > *,
.slotTargetNumberValueParentNoChange__integer_plus
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParentNoChange__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParentNoChange__integer_plus > picture > img,
.slotTargetNumberValueParentNoChange__integer_plus
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParentNoChange__integer_plus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParentNoChange__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentNoChange__integer_minus {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.slotTargetNumberValueParentNoChange__integer_minus * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentNoChange__integer_minus > *,
.slotTargetNumberValueParentNoChange__integer_minus > .__wab_slot > *,
.slotTargetNumberValueParentNoChange__integer_minus
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParentNoChange__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParentNoChange__integer_minus > picture > img,
.slotTargetNumberValueParentNoChange__integer_minus
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParentNoChange__integer_minus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParentNoChange__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentNoChange__integer_noChange {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.slotTargetNumberValueParentNoChange__integer_noChange * {
  transform-style: preserve-3d;
}
.slotTargetNumberValueParentNoChange__integer_noChange > *,
.slotTargetNumberValueParentNoChange__integer_noChange > .__wab_slot > *,
.slotTargetNumberValueParentNoChange__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParentNoChange__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetNumberValueParentNoChange__integer_noChange > picture > img,
.slotTargetNumberValueParentNoChange__integer_noChange
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParentNoChange__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetNumberValueParentNoChange__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.text__inWg {
  font-size: 14px;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  transform-style: preserve-3d;
}
.text__inWg * {
  transform-style: preserve-3d;
}
.percentParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.percentParent * {
  transform-style: preserve-3d;
}
.percentParent__integer_plus {
  transform-style: preserve-3d;
}
.percentParent__integer_plus * {
  transform-style: preserve-3d;
}
.percentParent__integer_minus {
  transform-style: preserve-3d;
}
.percentParent__integer_minus * {
  transform-style: preserve-3d;
}
.percentParent__integer_noChange {
  transform-style: preserve-3d;
}
.percentParent__integer_noChange * {
  transform-style: preserve-3d;
}
.slotTargetPercentParent * {
  transform-style: preserve-3d;
}
.slotTargetPercentParent > *,
.slotTargetPercentParent > .__wab_slot > *,
.slotTargetPercentParent > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParent > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParent > picture > img,
.slotTargetPercentParent > .__wab_slot > picture > img,
.slotTargetPercentParent > .__wab_slot > .__wab_slot > picture > img,
.slotTargetPercentParent
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetPercentParent__integer_plus {
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.slotTargetPercentParent__integer_plus * {
  transform-style: preserve-3d;
}
.slotTargetPercentParent__integer_plus > *,
.slotTargetPercentParent__integer_plus > .__wab_slot > *,
.slotTargetPercentParent__integer_plus > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParent__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetPercentParent__integer_plus > picture > img,
.slotTargetPercentParent__integer_plus > .__wab_slot > picture > img,
.slotTargetPercentParent__integer_plus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetPercentParent__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetPercentParent__integer_minus {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.slotTargetPercentParent__integer_minus * {
  transform-style: preserve-3d;
}
.slotTargetPercentParent__integer_minus > *,
.slotTargetPercentParent__integer_minus > .__wab_slot > *,
.slotTargetPercentParent__integer_minus > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParent__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetPercentParent__integer_minus > picture > img,
.slotTargetPercentParent__integer_minus > .__wab_slot > picture > img,
.slotTargetPercentParent__integer_minus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetPercentParent__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetPercentParent__integer_noChange * {
  transform-style: preserve-3d;
}
.slotTargetPercentParent__integer_noChange > *,
.slotTargetPercentParent__integer_noChange > .__wab_slot > *,
.slotTargetPercentParent__integer_noChange > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParent__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetPercentParent__integer_noChange > picture > img,
.slotTargetPercentParent__integer_noChange > .__wab_slot > picture > img,
.slotTargetPercentParent__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetPercentParent__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.text__qWu5 {
  font-size: 14px;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
}
.text__qWu5 * {
  transform-style: preserve-3d;
}
.slotTargetPercentParentPlus * {
  transform-style: preserve-3d;
}
.slotTargetPercentParentPlus > *,
.slotTargetPercentParentPlus > .__wab_slot > *,
.slotTargetPercentParentPlus > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParentPlus > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParentPlus > picture > img,
.slotTargetPercentParentPlus > .__wab_slot > picture > img,
.slotTargetPercentParentPlus > .__wab_slot > .__wab_slot > picture > img,
.slotTargetPercentParentPlus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetPercentParentPlus__integer_plus {
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.slotTargetPercentParentPlus__integer_plus * {
  transform-style: preserve-3d;
}
.slotTargetPercentParentPlus__integer_plus > *,
.slotTargetPercentParentPlus__integer_plus > .__wab_slot > *,
.slotTargetPercentParentPlus__integer_plus > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParentPlus__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetPercentParentPlus__integer_plus > picture > img,
.slotTargetPercentParentPlus__integer_plus > .__wab_slot > picture > img,
.slotTargetPercentParentPlus__integer_plus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetPercentParentPlus__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetPercentParentPlus__integer_minus {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.slotTargetPercentParentPlus__integer_minus * {
  transform-style: preserve-3d;
}
.slotTargetPercentParentPlus__integer_minus > *,
.slotTargetPercentParentPlus__integer_minus > .__wab_slot > *,
.slotTargetPercentParentPlus__integer_minus > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParentPlus__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetPercentParentPlus__integer_minus > picture > img,
.slotTargetPercentParentPlus__integer_minus > .__wab_slot > picture > img,
.slotTargetPercentParentPlus__integer_minus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetPercentParentPlus__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.text__rQl {
  font-size: 14px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
  transform-style: preserve-3d;
}
.text__rQl * {
  transform-style: preserve-3d;
}
.slotTargetPercentParentMinus * {
  transform-style: preserve-3d;
}
.slotTargetPercentParentMinus > *,
.slotTargetPercentParentMinus > .__wab_slot > *,
.slotTargetPercentParentMinus > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParentMinus > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParentMinus > picture > img,
.slotTargetPercentParentMinus > .__wab_slot > picture > img,
.slotTargetPercentParentMinus > .__wab_slot > .__wab_slot > picture > img,
.slotTargetPercentParentMinus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetPercentParentMinus__integer_plus {
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.slotTargetPercentParentMinus__integer_plus * {
  transform-style: preserve-3d;
}
.slotTargetPercentParentMinus__integer_plus > *,
.slotTargetPercentParentMinus__integer_plus > .__wab_slot > *,
.slotTargetPercentParentMinus__integer_plus > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParentMinus__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetPercentParentMinus__integer_plus > picture > img,
.slotTargetPercentParentMinus__integer_plus > .__wab_slot > picture > img,
.slotTargetPercentParentMinus__integer_plus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetPercentParentMinus__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetPercentParentMinus__integer_minus {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.slotTargetPercentParentMinus__integer_minus * {
  transform-style: preserve-3d;
}
.slotTargetPercentParentMinus__integer_minus > *,
.slotTargetPercentParentMinus__integer_minus > .__wab_slot > *,
.slotTargetPercentParentMinus__integer_minus > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParentMinus__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetPercentParentMinus__integer_minus > picture > img,
.slotTargetPercentParentMinus__integer_minus > .__wab_slot > picture > img,
.slotTargetPercentParentMinus__integer_minus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetPercentParentMinus__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.text__ioUwU {
  font-size: 14px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
  transform-style: preserve-3d;
}
.text__ioUwU * {
  transform-style: preserve-3d;
}
.slotTargetPercentParentNoChange * {
  transform-style: preserve-3d;
}
.slotTargetPercentParentNoChange > *,
.slotTargetPercentParentNoChange > .__wab_slot > *,
.slotTargetPercentParentNoChange > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParentNoChange > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParentNoChange > picture > img,
.slotTargetPercentParentNoChange > .__wab_slot > picture > img,
.slotTargetPercentParentNoChange > .__wab_slot > .__wab_slot > picture > img,
.slotTargetPercentParentNoChange
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetPercentParentNoChange__integer_plus {
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.slotTargetPercentParentNoChange__integer_plus * {
  transform-style: preserve-3d;
}
.slotTargetPercentParentNoChange__integer_plus > *,
.slotTargetPercentParentNoChange__integer_plus > .__wab_slot > *,
.slotTargetPercentParentNoChange__integer_plus > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParentNoChange__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetPercentParentNoChange__integer_plus > picture > img,
.slotTargetPercentParentNoChange__integer_plus > .__wab_slot > picture > img,
.slotTargetPercentParentNoChange__integer_plus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetPercentParentNoChange__integer_plus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetPercentParentNoChange__integer_minus {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.slotTargetPercentParentNoChange__integer_minus * {
  transform-style: preserve-3d;
}
.slotTargetPercentParentNoChange__integer_minus > *,
.slotTargetPercentParentNoChange__integer_minus > .__wab_slot > *,
.slotTargetPercentParentNoChange__integer_minus > .__wab_slot > .__wab_slot > *,
.slotTargetPercentParentNoChange__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetPercentParentNoChange__integer_minus > picture > img,
.slotTargetPercentParentNoChange__integer_minus > .__wab_slot > picture > img,
.slotTargetPercentParentNoChange__integer_minus
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetPercentParentNoChange__integer_minus
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.slotTargetPercentParentNoChange__integer_noChange {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.slotTargetPercentParentNoChange__integer_noChange * {
  transform-style: preserve-3d;
}
.slotTargetPercentParentNoChange__integer_noChange > *,
.slotTargetPercentParentNoChange__integer_noChange > .__wab_slot > *,
.slotTargetPercentParentNoChange__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetPercentParentNoChange__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.slotTargetPercentParentNoChange__integer_noChange > picture > img,
.slotTargetPercentParentNoChange__integer_noChange
  > .__wab_slot
  > picture
  > img,
.slotTargetPercentParentNoChange__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.slotTargetPercentParentNoChange__integer_noChange
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.text___03RQv {
  font-size: 14px;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  transform-style: preserve-3d;
}
.text___03RQv * {
  transform-style: preserve-3d;
}
