.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  padding-right: 32px;
  position: relative;
  min-width: 0;
  background: #f8f8f8;
}
@media (min-width: 374px) and (max-width: 414px) {
  .root {
    padding-right: 16px;
  }
}
@media (max-width: 375px) {
  .root {
    padding-right: 8px;
  }
}
.root__colors_dark {
  background: #000000;
}
.root__colors_brand {
  background: #6633ff;
}
.box {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-end;
}
.box > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box > :global(.__wab_flex-container) > *,
.box > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.memberPricing:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.partnerPricing:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.loginMain:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
