.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 20px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 36px);
  height: calc(100% + 36px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 36px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root {
    transform-style: preserve-3d;
    padding: 16px 80px;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root {
    transform-style: preserve-3d;
    padding: 64px 16px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
.root__color {
  background: #101010;
  transform-style: preserve-3d;
}
.root__color * {
  transform-style: preserve-3d;
}
.freeBox__mj8CM {
  position: relative;
  left: auto;
  top: auto;
  width: 681px;
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
}
.freeBox__mj8CM * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox__mj8CM {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox__mj8CM * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__mj8CM {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__mj8CM * {
    transform-style: preserve-3d;
  }
}
.freeBox__wDJaS {
  display: flex;
  align-self: center;
  position: relative;
  flex-direction: column;
  width: 775px;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
.freeBox__wDJaS * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox__wDJaS {
    align-self: center;
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox__wDJaS * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__wDJaS {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__wDJaS * {
    transform-style: preserve-3d;
  }
}
.slotTargetChildren {
  font-size: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  text-align: left;
}
.slotTargetChildren * {
  transform-style: preserve-3d;
}
.slotTargetChildren > *,
.slotTargetChildren > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > picture > img,
.slotTargetChildren > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .slotTargetChildren {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #858d9d /* plasmic-token: SR1GpeFlc */;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .slotTargetChildren * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .slotTargetChildren > *,
  .slotTargetChildren > .__wab_slot > *,
  .slotTargetChildren > .__wab_slot > .__wab_slot > *,
  .slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > *,
  .slotTargetChildren > picture > img,
  .slotTargetChildren > .__wab_slot > picture > img,
  .slotTargetChildren > .__wab_slot > .__wab_slot > picture > img,
  .slotTargetChildren
    > .__wab_slot
    > .__wab_slot
    > .__wab_slot
    > picture
    > img {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .slotTargetChildren {
    line-height: 1.4;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .slotTargetChildren * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .slotTargetChildren > *,
  .slotTargetChildren > .__wab_slot > *,
  .slotTargetChildren > .__wab_slot > .__wab_slot > *,
  .slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > *,
  .slotTargetChildren > picture > img,
  .slotTargetChildren > .__wab_slot > picture > img,
  .slotTargetChildren > .__wab_slot > .__wab_slot > picture > img,
  .slotTargetChildren
    > .__wab_slot
    > .__wab_slot
    > .__wab_slot
    > picture
    > img {
    transform-style: preserve-3d;
  }
}
.slotTargetChildren__color {
  color: #eaeaea /* plasmic-token: t2DPA2Clx */;
}
.slotTargetChildren__color * {
  transform-style: preserve-3d;
}
.slotTargetChildren__color > *,
.slotTargetChildren__color > .__wab_slot > *,
.slotTargetChildren__color > .__wab_slot > .__wab_slot > *,
.slotTargetChildren__color > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetChildren__color > picture > img,
.slotTargetChildren__color > .__wab_slot > picture > img,
.slotTargetChildren__color > .__wab_slot > .__wab_slot > picture > img,
.slotTargetChildren__color
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.text__rbV {
  transform-style: preserve-3d;
}
.text__rbV * {
  transform-style: preserve-3d;
}
.freeBox__rsBuL {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 12px 0px;
}
.freeBox__rsBuL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__rsBuL * {
  transform-style: preserve-3d;
}
.freeBox__rsBuL > :global(.__wab_flex-container) > *,
.freeBox__rsBuL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rsBuL > :global(.__wab_flex-container) > picture > img,
.freeBox__rsBuL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox__rsBuL {
    transform-style: preserve-3d;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox__rsBuL > :global(.__wab_flex-container) {
    margin-left: calc(0px - 96px);
    width: calc(100% + 96px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox__rsBuL * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox__rsBuL > :global(.__wab_flex-container) > *,
  .freeBox__rsBuL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rsBuL > :global(.__wab_flex-container) > picture > img,
  .freeBox__rsBuL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 96px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__rsBuL {
    transform-style: preserve-3d;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__rsBuL > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__rsBuL * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__rsBuL > :global(.__wab_flex-container) > *,
  .freeBox__rsBuL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rsBuL > :global(.__wab_flex-container) > picture > img,
  .freeBox__rsBuL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.slotTargetSlot3 * {
  transform-style: preserve-3d;
}
.slotTargetSlot3 > *,
.slotTargetSlot3 > .__wab_slot > *,
.slotTargetSlot3 > .__wab_slot > .__wab_slot > *,
.slotTargetSlot3 > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetSlot3 > picture > img,
.slotTargetSlot3 > .__wab_slot > picture > img,
.slotTargetSlot3 > .__wab_slot > .__wab_slot > picture > img,
.slotTargetSlot3 > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .slotTargetSlot3 {
    color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .slotTargetSlot3 * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .slotTargetSlot3 > *,
  .slotTargetSlot3 > .__wab_slot > *,
  .slotTargetSlot3 > .__wab_slot > .__wab_slot > *,
  .slotTargetSlot3 > .__wab_slot > .__wab_slot > .__wab_slot > *,
  .slotTargetSlot3 > picture > img,
  .slotTargetSlot3 > .__wab_slot > picture > img,
  .slotTargetSlot3 > .__wab_slot > .__wab_slot > picture > img,
  .slotTargetSlot3 > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
    transform-style: preserve-3d;
  }
}
.slotTargetSlot3__color {
  color: #eaeaea /* plasmic-token: t2DPA2Clx */;
}
.slotTargetSlot3__color * {
  transform-style: preserve-3d;
}
.slotTargetSlot3__color > *,
.slotTargetSlot3__color > .__wab_slot > *,
.slotTargetSlot3__color > .__wab_slot > .__wab_slot > *,
.slotTargetSlot3__color > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetSlot3__color > picture > img,
.slotTargetSlot3__color > .__wab_slot > picture > img,
.slotTargetSlot3__color > .__wab_slot > .__wab_slot > picture > img,
.slotTargetSlot3__color
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  transform-style: preserve-3d;
}
.svg___7MOBz {
  position: relative;
  object-fit: cover;
  width: 96px;
  height: 96px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg___7MOBz * {
  transform-style: preserve-3d;
}
.svg__cP3Fi {
  position: relative;
  object-fit: cover;
  width: 96px;
  height: 96px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__cP3Fi * {
  transform-style: preserve-3d;
}
.svg__aTdJe {
  position: relative;
  object-fit: cover;
  width: 96px;
  height: 96px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__aTdJe * {
  transform-style: preserve-3d;
}
.svg__yx3Za {
  position: relative;
  object-fit: cover;
  width: 96px;
  height: 96px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__yx3Za * {
  transform-style: preserve-3d;
}
.svg___3Azwk {
  position: relative;
  object-fit: cover;
  width: 96px;
  height: 96px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg___3Azwk * {
  transform-style: preserve-3d;
}
