.root {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.box__i8Yd2 {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: 0px;
  top: 105px;
  min-width: 0;
  padding: 64px 180px;
}
.box__i8Yd2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.box__i8Yd2 > :global(.__wab_flex-container) > *,
.box__i8Yd2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
}
.box___2Mkva {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.box___2Mkva > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box___2Mkva > :global(.__wab_flex-container) > *,
.box___2Mkva > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.personalDescriptionCard:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.textarea {
  width: 100%;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  height: auto;
  min-width: 0;
  border-radius: 2px;
  padding: 6px;
  background: #f8f8f8;
  border: 2px solid #dddddd /* plasmic-token: i5T_lGWIG */;
}
.textbox__m1Noj {
  align-self: auto;
  padding-left: 8px;
  height: auto;
  width: 100%;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-top-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-right-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-bottom-color: #dddddd /* plasmic-token: i5T_lGWIG */;
  border-left-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  font-size: 14px;
  position: relative;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  min-width: 0;
  background: #f8f8f8;
  border-style: solid;
}
.personalJobCard:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.textarea__kef7 {
  width: 100%;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  height: auto;
  font-size: 14px;
  min-width: 0;
  border-radius: 2px;
  padding: 4px;
  background: #f8f8f8;
  border: 2px solid #dddddd /* plasmic-token: i5T_lGWIG */;
}
.textbox__qa0Oi {
  align-self: auto;
  padding-left: 8px;
  height: auto;
  width: 100%;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-top-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-right-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-bottom-color: #dddddd /* plasmic-token: i5T_lGWIG */;
  border-left-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  font-size: 14px;
  position: relative;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  min-width: 0;
  background: #f8f8f8;
  border-style: solid;
}
.personalLanguageCard:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.textarea__zximr {
  width: 100%;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  height: auto;
  font-size: 14px;
  min-width: 0;
  border-radius: 2px;
  padding: 4px;
  background: #f8f8f8;
  border: 2px solid #dddddd /* plasmic-token: i5T_lGWIG */;
}
.box__bm2Ei {
  display: none;
}
.box__jce4D {
  display: none;
}
.textbox__qSmB5 {
  align-self: auto;
  padding-left: 8px;
  height: auto;
  width: 100%;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-top-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-right-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-bottom-color: #dddddd /* plasmic-token: i5T_lGWIG */;
  border-left-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  font-size: 14px;
  position: relative;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  min-width: 0;
  background: #f8f8f8;
  border-style: solid;
}
.personalSkillsCard:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.textbox {
  width: 100%;
  color: #ebebeb /* plasmic-token: -59aep1Mm */;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  min-width: 0;
  border-radius: 2px;
  background: #f8f8f8;
  border-width: 1px;
}
.box__rlmGz {
  line-height: 1.4;
}
.chipBadgeDisplay__htcl1:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.svg__zAPvI {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.svg__lkjkU {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.svg__j8G5 {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
}
