.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.parent {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  background: var(--token-MxvXD2oSU);
  border-radius: 16px;
  padding: 2px 4px 2px 1px;
  border-width: 0px;
  border-style: none;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .parent {
    display: flex;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 12px;
  height: 12px;
  color: var(--token-fuGaen6l1);
  flex-shrink: 0;
  display: block;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .svg {
    display: block;
  }
}
.text {
  position: relative;
  left: auto;
  top: auto;
  line-height: 12px;
  font-size: 6px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--token-fuGaen6l1);
  text-align: left;
  width: auto;
  height: auto;
  display: block;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .text {
    display: block;
  }
}
