.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.settingsForm:global(.__wab_instance) {
  position: relative;
  width: 800px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .settingsForm:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.sectionTeamSettingsStripeConnect {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionTeamSettingsStripeConnect > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamSettingsStripeConnect > :global(.__wab_flex-container) > *,
.sectionTeamSettingsStripeConnect
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamSettingsStripeConnect
  > :global(.__wab_flex-container)
  > picture
  > img,
.sectionTeamSettingsStripeConnect
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamSettingsStripeConnect {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (max-width: 375px) {
  .sectionTeamSettingsStripeConnect {
    left: auto;
    top: auto;
    padding: 16px;
  }
}
.cardHeaderTitleDisplay:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.text__lyarm {
  font-weight: 700;
}
.formTeamEditBusinessVerification {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.formTeamEditBusinessVerification > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.formTeamEditBusinessVerification > :global(.__wab_flex-container) > *,
.formTeamEditBusinessVerification
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.formTeamEditBusinessVerification
  > :global(.__wab_flex-container)
  > picture
  > img,
.formTeamEditBusinessVerification
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (max-width: 375px) {
  .formTeamEditBusinessVerification {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .formTeamEditBusinessVerification > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardTeamLegalBusinessGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.cardTeamLegalBusinessGroup > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamLegalBusinessGroup > :global(.__wab_flex-container) > *,
.cardTeamLegalBusinessGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardTeamLegalBusinessGroup > :global(.__wab_flex-container) > picture > img,
.cardTeamLegalBusinessGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (max-width: 375px) {
  .cardTeamLegalBusinessGroup {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .cardTeamLegalBusinessGroup > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardHeaderTitlePrimary__lzBve:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (max-width: 375px) {
  .cardHeaderTitlePrimary__lzBve:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__fvhx6 {
  height: auto;
}
.businessNameTextInput:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.cardTeamRegisteredAddress {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.cardTeamRegisteredAddress > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamRegisteredAddress > :global(.__wab_flex-container) > *,
.cardTeamRegisteredAddress
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardTeamRegisteredAddress > :global(.__wab_flex-container) > picture > img,
.cardTeamRegisteredAddress
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary___13RQo:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__tl2Nk {
  height: auto;
}
.teamAddressGroup {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.teamAddressGroup > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.teamAddressGroup > :global(.__wab_flex-container) > *,
.teamAddressGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.teamAddressGroup > :global(.__wab_flex-container) > picture > img,
.teamAddressGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 375px) {
  .teamAddressGroup {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .teamAddressGroup > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.addressLineOneTextInput:global(.__wab_instance) {
  position: relative;
}
.addressLineTwoTextInput:global(.__wab_instance) {
  position: relative;
}
.countrySelectInput:global(.__wab_instance) {
  position: relative;
}
.citySelectInput:global(.__wab_instance) {
  position: relative;
}
.stateTextInput:global(.__wab_instance) {
  position: relative;
}
.postalCodeTextInput:global(.__wab_instance) {
  position: relative;
}
.cardTeamTaxId {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.cardTeamTaxId > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamTaxId > :global(.__wab_flex-container) > *,
.cardTeamTaxId > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamTaxId > :global(.__wab_flex-container) > picture > img,
.cardTeamTaxId
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (max-width: 375px) {
  .cardTeamTaxId {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .cardTeamTaxId > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardHeaderTitlePrimary__mAaAf:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__s0VQ5 {
  height: auto;
  max-width: 328px;
}
.teamTaxIdGroup {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.teamTaxIdGroup > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: unset;
  justify-content: flex-start;
  align-content: flex-end;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.teamTaxIdGroup > :global(.__wab_flex-container) > *,
.teamTaxIdGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.teamTaxIdGroup > :global(.__wab_flex-container) > picture > img,
.teamTaxIdGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (max-width: 375px) {
  .teamTaxIdGroup {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .teamTaxIdGroup > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 375px) {
  .teamTaxIdGroup > :global(.__wab_flex-container) > *,
  .teamTaxIdGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .teamTaxIdGroup > :global(.__wab_flex-container) > picture > img,
  .teamTaxIdGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.taxCountrySelectInput:global(.__wab_instance) {
  position: relative;
}
.taxNumberTextInput:global(.__wab_instance) {
  position: relative;
}
.buttonGroupStripeConnect:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
@media (max-width: 375px) {
  .buttonGroupStripeConnect:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.sectionTeamSettingsAccountingConnect {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionTeamSettingsAccountingConnect > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamSettingsAccountingConnect > :global(.__wab_flex-container) > *,
.sectionTeamSettingsAccountingConnect
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamSettingsAccountingConnect
  > :global(.__wab_flex-container)
  > picture
  > img,
.sectionTeamSettingsAccountingConnect
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamSettingsAccountingConnect {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamSettingsAccountingConnect > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .sectionTeamSettingsAccountingConnect {
    left: auto;
    top: auto;
    padding: 16px;
  }
}
.cardTeamAccountingConnections {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.cardTeamAccountingConnections > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamAccountingConnections > :global(.__wab_flex-container) > *,
.cardTeamAccountingConnections
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardTeamAccountingConnections > :global(.__wab_flex-container) > picture > img,
.cardTeamAccountingConnections
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (max-width: 375px) {
  .cardTeamAccountingConnections {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .cardTeamAccountingConnections > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardHeaderTitlePrimary__nAMj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__sHo1Q {
  height: auto;
  max-width: 328px;
}
.inputGroupTeamAccountingConnections {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  left: auto;
  top: auto;
  align-content: unset;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (max-width: 375px) {
  .inputGroupTeamAccountingConnections {
    width: 100%;
    min-width: 0;
  }
}
.xeroSwitchInput:global(.__wab_instance) {
  position: relative;
}
.wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
}
.wrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.wrapper > :global(.__wab_flex-container) > *,
.wrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapper > :global(.__wab_flex-container) > picture > img,
.wrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__ix2K4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  flex-shrink: 0;
}
.text__mAb96 {
  position: relative;
  font-size: 16px;
  font-weight: 500;
}
.quickbookSwitchInput:global(.__wab_instance) {
  position: relative;
}
.wrapper2 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.wrapper2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.wrapper2 > :global(.__wab_flex-container) > *,
.wrapper2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapper2 > :global(.__wab_flex-container) > picture > img,
.wrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg___04VTx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  flex-shrink: 0;
}
.text__mvjMx {
  position: relative;
  font-size: 16px;
  font-weight: 500;
}
.sectionTeamSettingsAnalyticsConnect {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionTeamSettingsAnalyticsConnect > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamSettingsAnalyticsConnect > :global(.__wab_flex-container) > *,
.sectionTeamSettingsAnalyticsConnect
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamSettingsAnalyticsConnect
  > :global(.__wab_flex-container)
  > picture
  > img,
.sectionTeamSettingsAnalyticsConnect
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamSettingsAnalyticsConnect {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 375px) {
  .sectionTeamSettingsAnalyticsConnect {
    left: auto;
    top: auto;
    padding: 16px;
  }
}
.cardTeamAnalytics {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.cardTeamAnalytics > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamAnalytics > :global(.__wab_flex-container) > *,
.cardTeamAnalytics > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamAnalytics > :global(.__wab_flex-container) > picture > img,
.cardTeamAnalytics
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (max-width: 375px) {
  .cardTeamAnalytics {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .cardTeamAnalytics > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
  }
}
.cardHeaderTitlePrimary__pzjIj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
@media (max-width: 375px) {
  .cardHeaderTitlePrimary__pzjIj:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__oxyo4 {
  height: auto;
}
.gaAnalyticsTextInput:global(.__wab_instance) {
  position: relative;
}
.submitButtonWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 180px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .submitButtonWrapper {
    padding-right: 8px;
    padding-left: 8px;
  }
}
.button:global(.__wab_instance) {
  position: relative;
  width: 180px;
  height: 40px;
  flex-shrink: 0;
}
.text__qWbv8 {
  height: auto;
}
.notificationsForm:global(.__wab_instance) {
  position: relative;
  width: 800px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .notificationsForm:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__dUAoo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  padding-right: 180px;
  padding-left: 180px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__dUAoo {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (max-width: 375px) {
  .freeBox__dUAoo {
    top: auto;
    left: auto;
  }
}
.sectionTeamSettingsLeaveTeam {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionTeamSettingsLeaveTeam > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamSettingsLeaveTeam > :global(.__wab_flex-container) > *,
.sectionTeamSettingsLeaveTeam
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamSettingsLeaveTeam > :global(.__wab_flex-container) > picture > img,
.sectionTeamSettingsLeaveTeam
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamSettingsLeaveTeam {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (max-width: 375px) {
  .sectionTeamSettingsLeaveTeam {
    padding: 16px;
  }
}
.cardTeamLeaveAccount {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
.cardTeamLeaveAccount > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: unset;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.cardTeamLeaveAccount > :global(.__wab_flex-container) > *,
.cardTeamLeaveAccount
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardTeamLeaveAccount > :global(.__wab_flex-container) > picture > img,
.cardTeamLeaveAccount
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (max-width: 375px) {
  .cardTeamLeaveAccount {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .cardTeamLeaveAccount > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox___01Ppy {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox___01Ppy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___01Ppy > :global(.__wab_flex-container) > *,
.freeBox___01Ppy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___01Ppy > :global(.__wab_flex-container) > picture > img,
.freeBox___01Ppy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__ui1Jg:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (max-width: 375px) {
  .cardHeaderTitlePrimary__ui1Jg:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__gjYq9 {
  height: auto;
  max-width: 540px;
}
.leaveTeamButton:global(.__wab_instance) {
  position: relative;
  width: 140px;
  height: 40px;
  flex-shrink: 0;
}
.text__lshov {
  height: auto;
}
.sectionTeamSettingsDeleteTeam {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px 180px 96px;
}
.sectionTeamSettingsDeleteTeam > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamSettingsDeleteTeam > :global(.__wab_flex-container) > *,
.sectionTeamSettingsDeleteTeam
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamSettingsDeleteTeam > :global(.__wab_flex-container) > picture > img,
.sectionTeamSettingsDeleteTeam
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamSettingsDeleteTeam {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (max-width: 375px) {
  .sectionTeamSettingsDeleteTeam {
    padding: 16px;
  }
}
.cardTeamDeleteAccount {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
.cardTeamDeleteAccount > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: unset;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.cardTeamDeleteAccount > :global(.__wab_flex-container) > *,
.cardTeamDeleteAccount
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardTeamDeleteAccount > :global(.__wab_flex-container) > picture > img,
.cardTeamDeleteAccount
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (max-width: 375px) {
  .cardTeamDeleteAccount {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .cardTeamDeleteAccount > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__vOij {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__vOij > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__vOij > :global(.__wab_flex-container) > *,
.freeBox__vOij > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vOij > :global(.__wab_flex-container) > picture > img,
.freeBox__vOij
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__i45Ew:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (max-width: 375px) {
  .cardHeaderTitlePrimary__i45Ew:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__piuw6 {
  height: auto;
  max-width: 540px;
}
.deleteAccountButton:global(.__wab_instance) {
  position: relative;
  width: 140px;
  height: 40px;
  flex-shrink: 0;
}
