.menuIconListItemLink {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  position: relative;
  background: #ffffff;
  cursor: pointer;
  max-width: 360px;
  min-width: 0;
  padding: 8px;
}
.menuIconListItemLink > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.menuIconListItemLink > :global(.__wab_flex-container) > *,
.menuIconListItemLink
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.menuIconListItemLink > :global(.__wab_flex-container) > picture > img,
.menuIconListItemLink
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.menuIconListItemLink__selected {
  background: #f0ebff;
  border-radius: 8px;
}
.menuIconListItemLink:hover {
  background: #f8f8f8;
}
.menuIconListItemLink__selected:hover {
  background: #c2adff;
}
.menuIconListItemLink:focus-within {
  background: #f0ebff;
  outline: none;
  border-bottom: 2px solid #3d1f99 /* plasmic-token: h5Fe8ssdr */;
}
.iconTextParent {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  min-width: 0;
  min-height: 0;
  border-radius: 64px 16px 16px 64px;
}
.iconTextParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.iconTextParent > :global(.__wab_flex-container) > *,
.iconTextParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.iconTextParent > :global(.__wab_flex-container) > picture > img,
.iconTextParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.menuIconListItemLink:focus-within .iconTextParent {
  outline: none;
}
.slotTargetNavIcon {
  color: #525a6a /* plasmic-token: xfNU8zBzA */;
  font-size: 16px;
  line-height: 1;
}
.slotTargetNavIcon__disabled {
  color: #f8f8f8 /* plasmic-token: -59aep1Mm */;
}
.slotTargetNavIcon__selected {
  color: #3d1f99 /* plasmic-token: h5Fe8ssdr */;
}
.menuIconListItemLink:hover .slotTargetNavIcon {
  color: #14161b /* plasmic-token: gtUIPzlCk */;
}
.menuIconListItemLink__disabled:hover .slotTargetNavIcon__disabled {
  color: #f8f8f8 /* plasmic-token: -59aep1Mm */;
}
.menuIconListItemLink__selected:hover .slotTargetNavIcon__selected {
  color: #3d1f99 /* plasmic-token: h5Fe8ssdr */;
}
.menuIconListItemLink:focus-within .slotTargetNavIcon {
  color: #3d1f99 /* plasmic-token: h5Fe8ssdr */;
}
.menuIconListItemLink:focus-within .slotTargetNavIcon > *,
.menuIconListItemLink:focus-within .slotTargetNavIcon > .__wab_slot > *,
.menuIconListItemLink:focus-within
  .slotTargetNavIcon
  > .__wab_slot
  > .__wab_slot
  > *,
.menuIconListItemLink:focus-within
  .slotTargetNavIcon
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.menuIconListItemLink:focus-within .slotTargetNavIcon > picture > img,
.menuIconListItemLink:focus-within
  .slotTargetNavIcon
  > .__wab_slot
  > picture
  > img,
.menuIconListItemLink:focus-within
  .slotTargetNavIcon
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.menuIconListItemLink:focus-within
  .slotTargetNavIcon
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  outline: none;
}
.svg__wfdfm {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.navTextParent {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.slotTargetNavText {
  font-size: 16px;
  line-height: 1;
  color: #525a6a /* plasmic-token: xfNU8zBzA */;
  font-weight: 500;
}
.slotTargetNavText__disabled {
  color: #f8f8f8 /* plasmic-token: -59aep1Mm */;
}
.slotTargetNavText__selected {
  color: #3d1f99 /* plasmic-token: h5Fe8ssdr */;
}
.menuIconListItemLink:hover .slotTargetNavText {
  color: #14161b /* plasmic-token: gtUIPzlCk */;
}
.menuIconListItemLink__disabled:hover .slotTargetNavText__disabled {
  color: #f8f8f8 /* plasmic-token: -59aep1Mm */;
}
.menuIconListItemLink__selected:hover .slotTargetNavText__selected {
  color: #3d1f99 /* plasmic-token: h5Fe8ssdr */;
}
.menuIconListItemLink:focus-within .slotTargetNavText {
  color: #3d1f99 /* plasmic-token: h5Fe8ssdr */;
}
.menuIconListItemLink:focus-within .slotTargetNavText > *,
.menuIconListItemLink:focus-within .slotTargetNavText > .__wab_slot > *,
.menuIconListItemLink:focus-within
  .slotTargetNavText
  > .__wab_slot
  > .__wab_slot
  > *,
.menuIconListItemLink:focus-within
  .slotTargetNavText
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.menuIconListItemLink:focus-within .slotTargetNavText > picture > img,
.menuIconListItemLink:focus-within
  .slotTargetNavText
  > .__wab_slot
  > picture
  > img,
.menuIconListItemLink:focus-within
  .slotTargetNavText
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.menuIconListItemLink:focus-within
  .slotTargetNavText
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  outline: none;
}
