.root {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
}
.rootsize_stretch {
  width: 100%;
  min-width: 0;
}
.parent {
  flex-direction: column;
  display: flex;
  width: auto;
  height: auto;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.parentsize_stretch {
  width: 100%;
  min-width: 0;
}
.parentsize_stretch > :global(.__wab_flex-container) {
  min-width: 0;
}
.headlineLabelParent {
  position: relative;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.headlineLabel {
  display: flex;
  align-self: stretch;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.slotTargetLabel {
  font-weight: 400;
  line-height: 1;
  color: var(--token-MAJ29KQMI);
}
.inputTextPrimary:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.descriptionParent {
  position: relative;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.descriptionParentsubhead {
  display: none;
}
.descriptionTextParent {
  display: flex;
  align-self: stretch;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.slotTargetDescription {
  line-height: 1.4;
  color: var(--token-UPK7EIst5);
  font-size: 12px;
}
