.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 80px;
  box-shadow: 1px 1px 2px 1px #00000029;
  position: relative;
  background: #ffffff;
  min-width: 0;
  padding: 20px 0px 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root {
    box-shadow: none;
    padding-top: 24px;
    border-bottom: 2px solid #0000001f /* plasmic-token: 4DpMaQlGP */;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.freeBox__gq5Ri {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox__gq5Ri {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__gq5Ri {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .freeBox__gq5Ri {
    display: flex;
  }
}
.freeBox__mn6Cy {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox__mn6Cy {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .freeBox__mn6Cy {
    display: flex;
  }
}
.img__lyrdT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 32px;
  left: auto;
  top: auto;
}
.img__lyrdT > picture > img {
  object-fit: cover;
}
.img__lyrdT > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__ejVzw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: 0px;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox__ejVzw {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-row-gap: 0px;
    margin-left: calc(0px + 0px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__ejVzw {
    margin-left: calc(0px + 0px) !important;
  }
}
@media (max-width: 375px) {
  .freeBox__ejVzw {
    margin-left: calc(0px + 0px) !important;
    display: flex;
  }
}
.svg {
  object-fit: cover;
  width: 100%;
  height: 2px;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  min-width: 0;
  display: block;
}
