.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  height: auto;
  position: relative;
}
.unitItemInterval {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding-left: 0px;
}
.unitItemInterval > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.unitItemInterval > :global(.__wab_flex-container) > *,
.unitItemInterval > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.unitItemInterval > :global(.__wab_flex-container) > picture > img,
.unitItemInterval
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.unitNumberbackgroundParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.unitNumberBackground {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-_lNibwHIy);
  border-radius: 2px;
  padding: 2px;
}
.unitNumberParent {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  border-radius: 2px;
  padding: 0px;
}
.slotTargetUnitNumber {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 1;
}
.unitTextbackground {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.slotTargetUnitText {
  font-size: 14px;
  text-align: left;
  line-height: 1;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.text {
  font-size: 14px;
  text-align: left;
  width: auto;
  line-height: 1;
}
.timeIntervalBackgroundParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.timeIntervalBackground {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-_lNibwHIy);
  border-radius: 2px;
  padding: 2px;
}
.timeIntervalTextParent {
  width: auto;
  height: auto;
  align-self: auto;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: 0px;
}
.slotTargetTimeIntervalText {
  font-size: 14px;
  text-align: left;
  line-height: 1;
}
.currencyTotalValueNumberParent {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding-left: 4px;
}
.currencyTotalValueNumberParent > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.currencyTotalValueNumberParent > :global(.__wab_flex-container) > *,
.currencyTotalValueNumberParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.currencyTotalValueNumberParent
  > :global(.__wab_flex-container)
  > picture
  > img,
.currencyTotalValueNumberParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.currencySymbolParent {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
}
.slotTargetCurrencySymbol {
  font-size: 14px;
  text-align: left;
}
.totalValueNumberParent {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
}
.slotTargetTotalValueNumber {
  font-size: 14px;
  text-align: left;
}
