.root {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  position: relative;
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 6px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 16px;
  height: 16px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.freeBox * {
  transform-style: preserve-3d;
}
.svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg * {
  transform-style: preserve-3d;
}
.serviceAggregateRating {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.serviceAggregateRating * {
  transform-style: preserve-3d;
}
.text__os5Mt {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
  align-self: stretch;
  position: relative;
  text-transform: none;
  text-align: right;
  transform-style: preserve-3d;
}
.text__os5Mt * {
  transform-style: preserve-3d;
}
.text__br5LD {
  position: relative;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.text__br5LD * {
  transform-style: preserve-3d;
}
.serviceAggregateReviews {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.serviceAggregateReviews * {
  transform-style: preserve-3d;
}
.text__lsm4G {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
  align-self: stretch;
  position: relative;
  text-transform: none;
  text-align: right;
  transform-style: preserve-3d;
}
.text__lsm4G * {
  transform-style: preserve-3d;
}
.text__iekLt {
  left: auto;
  top: auto;
  text-align: right;
  position: relative;
  font-size: 14px;
  transform-style: preserve-3d;
}
.text__iekLt * {
  transform-style: preserve-3d;
}
