.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  height: auto;
  position: relative;
}
.freeBox__x3Lz4 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  padding-left: 0px;
  min-width: 0;
}
.freeBox__x3Lz4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__x3Lz4 > :global(.__wab_flex-container) > *,
.freeBox__x3Lz4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x3Lz4 > :global(.__wab_flex-container) > picture > img,
.freeBox__x3Lz4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.freeBox___59Etq {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  padding-left: 2px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text {
  position: relative;
}
.freeBox__ljIaA {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__ljIaA > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ljIaA > :global(.__wab_flex-container) > *,
.freeBox__ljIaA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ljIaA > :global(.__wab_flex-container) > picture > img,
.freeBox__ljIaA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.switchPrimary:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.switchPrimaryactive_yearly:global(.__wab_instance) {
  flex-shrink: 0;
}
.switchPrimaryactive_autorenew:global(.__wab_instance) {
  flex-shrink: 0;
}
.switchPrimaryactive_placement:global(.__wab_instance) {
  flex-shrink: 0;
}
.switchPrimaryinactive_yearly:global(.__wab_instance) {
  flex-shrink: 0;
}
.switchPrimaryinactive_autorenew:global(.__wab_instance) {
  flex-shrink: 0;
}
.switchPrimaryinactive_placement:global(.__wab_instance) {
  flex-shrink: 0;
}
