.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navbarPartnerEdit:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.sectionTeamManageMembersHeader {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  align-self: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionTeamManageMembersHeader > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamManageMembersHeader > :global(.__wab_flex-container) > *,
.sectionTeamManageMembersHeader
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamManageMembersHeader
  > :global(.__wab_flex-container)
  > picture
  > img,
.sectionTeamManageMembersHeader
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (max-width: 375px) {
  .sectionTeamManageMembersHeader {
    width: 100%;
    min-width: 0;
    padding: 16px;
  }
}
@media (max-width: 375px) {
  .sectionTeamManageMembersHeader > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___6QAYz {
  font-weight: 700;
}
.sectionTeamInviteMembers {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionTeamInviteMembers > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamInviteMembers > :global(.__wab_flex-container) > *,
.sectionTeamInviteMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamInviteMembers > :global(.__wab_flex-container) > picture > img,
.sectionTeamInviteMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamInviteMembers {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    min-width: 0;
    padding: 64px 24px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamInviteMembers > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamInviteMembers > :global(.__wab_flex-container) > *,
  .sectionTeamInviteMembers
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .sectionTeamInviteMembers > :global(.__wab_flex-container) > picture > img,
  .sectionTeamInviteMembers
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 375px) {
  .sectionTeamInviteMembers {
    width: 100%;
    left: auto;
    top: auto;
    min-width: 0;
    padding: 16px;
  }
}
@media (max-width: 375px) {
  .sectionTeamInviteMembers > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cardTeamInviteMembers {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
}
.cardTeamInviteMembers > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamInviteMembers > :global(.__wab_flex-container) > *,
.cardTeamInviteMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardTeamInviteMembers > :global(.__wab_flex-container) > picture > img,
.cardTeamInviteMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (max-width: 375px) {
  .cardTeamInviteMembers {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .cardTeamInviteMembers > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__ygMqo {
  height: auto;
  max-width: 328px;
}
.buttonPrimary:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.svg___6SMu {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__c2Dc0 {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.tableAddTeamMember {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  border-radius: 2px;
  padding: 8px;
  border: 2px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.tableAddTeamMember > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.tableAddTeamMember > :global(.__wab_flex-container) > *,
.tableAddTeamMember > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tableAddTeamMember > :global(.__wab_flex-container) > picture > img,
.tableAddTeamMember
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .tableAddTeamMember {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .tableAddTeamMember > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.inviteMemberHeader {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}
.inviteMemberHeader > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: unset;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.inviteMemberHeader > :global(.__wab_flex-container) > *,
.inviteMemberHeader > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inviteMemberHeader > :global(.__wab_flex-container) > picture > img,
.inviteMemberHeader
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberHeader {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberHeader > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberHeader > :global(.__wab_flex-container) > *,
  .inviteMemberHeader
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .inviteMemberHeader > :global(.__wab_flex-container) > picture > img,
  .inviteMemberHeader
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.inputTextForm__fayfn:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputTextForm__fayfn:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__ptzPj {
  font-weight: 600;
}
.selectGroupDropdownPrimary__gj5Rn:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 428px) {
  .selectGroupDropdownPrimary__gj5Rn:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text___7A8Rf {
  font-weight: 600;
}
.inviteMemberRecord {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}
.inviteMemberRecord > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: unset;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.inviteMemberRecord > :global(.__wab_flex-container) > *,
.inviteMemberRecord > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inviteMemberRecord > :global(.__wab_flex-container) > picture > img,
.inviteMemberRecord
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberRecord {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberRecord > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberRecord > :global(.__wab_flex-container) > *,
  .inviteMemberRecord
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .inviteMemberRecord > :global(.__wab_flex-container) > picture > img,
  .inviteMemberRecord
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.inputTextForm__ziL9:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputTextForm__ziL9:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.selectGroupDropdownPrimary__qVoyx:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 428px) {
  .selectGroupDropdownPrimary__qVoyx:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.incrementParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  align-content: unset;
  width: 100%;
  height: auto;
  min-width: 0;
}
.inviteButtonParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  top: auto;
  left: auto;
  align-self: flex-end;
  width: 100%;
  height: auto;
  align-content: unset;
  min-width: 0;
}
.inviteMembers:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg___2OBaD {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__avK72 {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.sectionTeamManageMembers {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px 180px 96px;
}
.sectionTeamManageMembers > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamManageMembers > :global(.__wab_flex-container) > *,
.sectionTeamManageMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamManageMembers > :global(.__wab_flex-container) > picture > img,
.sectionTeamManageMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (max-width: 375px) {
  .sectionTeamManageMembers {
    padding: 16px;
  }
}
.cardTeamManageMembers {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
.cardTeamManageMembers > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamManageMembers > :global(.__wab_flex-container) > *,
.cardTeamManageMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardTeamManageMembers > :global(.__wab_flex-container) > picture > img,
.cardTeamManageMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamManageMembers {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamManageMembers > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardHeaderTitlePrimary__uWhQj:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__xopkA {
  height: auto;
  max-width: 328px;
}
.tableTeamMemberEditParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  border-radius: 2px;
  padding: 8px;
  border: 2px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.tableTeamMemberEditParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.tableTeamMemberEditParent > :global(.__wab_flex-container) > *,
.tableTeamMemberEditParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.tableTeamMemberEditParent > :global(.__wab_flex-container) > picture > img,
.tableTeamMemberEditParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .tableTeamMemberEditParent {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .tableTeamMemberEditParent > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.searchFilterDateParent {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.searchFilterDateParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: unset;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.searchFilterDateParent > :global(.__wab_flex-container) > *,
.searchFilterDateParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.searchFilterDateParent > :global(.__wab_flex-container) > picture > img,
.searchFilterDateParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .searchFilterDateParent {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .searchFilterDateParent > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .searchFilterDateParent > :global(.__wab_flex-container) > *,
  .searchFilterDateParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .searchFilterDateParent > :global(.__wab_flex-container) > picture > img,
  .searchFilterDateParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.searchbarPrimary:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 428px) {
  .searchbarPrimary:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.selectGroupDropdownPrimary___8Lqr8:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 428px) {
  .selectGroupDropdownPrimary___8Lqr8:global(.__wab_instance) {
    width: 90px;
    flex-shrink: 0;
  }
}
.tableSelectColumnParent {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  background: #f8f8f8;
  min-width: 0;
  border: 1px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.tableSelectColumnParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.tableSelectColumnParent > :global(.__wab_flex-container) > *,
.tableSelectColumnParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.tableSelectColumnParent > :global(.__wab_flex-container) > picture > img,
.tableSelectColumnParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.tableUserAdminHeader:global(.__wab_instance) {
  flex-shrink: 0;
}
.tableUserAdminRecord:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
  display: flex;
}
.tableUserRecord:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
