.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.serviceListingNavbar {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.progressBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.freeBox___7Frla {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox___7Frla > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox___7Frla {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox___7Frla > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox___7Frla > :global(.__wab_flex-container) > *,
  .freeBox___7Frla > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7Frla > :global(.__wab_flex-container) > picture > img,
  .freeBox___7Frla
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.questionTimeBlock {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
.questionTimeBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionTimeBlock > :global(.__wab_flex-container) > *,
.questionTimeBlock > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.questionTimeBlock > :global(.__wab_flex-container) > picture > img,
.questionTimeBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.cardQuestionServiceListing__j01DZ:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__p8Gw {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__mbL5D {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.deliveryTimeInput:global(.__wab_instance) {
  position: relative;
}
.toolTipServiceListing__aun4I:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 414px) {
  .toolTipServiceListing__aun4I:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.svg__rbu7U {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.freeBox__hOc5O {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__hOc5O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__hOc5O {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__hOc5O > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__hOc5O > :global(.__wab_flex-container) > *,
  .freeBox__hOc5O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hOc5O > :global(.__wab_flex-container) > picture > img,
  .freeBox__hOc5O
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.questionMeetingBlock {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
.questionMeetingBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionMeetingBlock > :global(.__wab_flex-container) > *,
.questionMeetingBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.questionMeetingBlock > :global(.__wab_flex-container) > picture > img,
.questionMeetingBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.cardQuestionServiceListing__e0X2Y:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__g7Rsl {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__snn5 {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.meetingsSelectInput:global(.__wab_instance) {
  position: relative;
}
.toolTipServiceListing__zq9Sw:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 414px) {
  .toolTipServiceListing__zq9Sw:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.svg__m3Ayy {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.freeBox__xvZpR {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__xvZpR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__xvZpR {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__xvZpR > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__xvZpR > :global(.__wab_flex-container) > *,
  .freeBox__xvZpR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xvZpR > :global(.__wab_flex-container) > picture > img,
  .freeBox__xvZpR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.questionRevisionBlock {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
.questionRevisionBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionRevisionBlock > :global(.__wab_flex-container) > *,
.questionRevisionBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.questionRevisionBlock > :global(.__wab_flex-container) > picture > img,
.questionRevisionBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.cardQuestionServiceListing___0MQxG:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__by8Qo {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__wBaev {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.revisionsSelectInput:global(.__wab_instance) {
  position: relative;
}
.toolTipServiceListing__pCBf5:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 414px) {
  .toolTipServiceListing__pCBf5:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.svg__bibx1 {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.freeBox___0GvGm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox___0GvGm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox___0GvGm {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox___0GvGm > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox___0GvGm > :global(.__wab_flex-container) > *,
  .freeBox___0GvGm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0GvGm > :global(.__wab_flex-container) > picture > img,
  .freeBox___0GvGm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.questionRequirementBlock {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.questionRequirementBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionRequirementBlock > :global(.__wab_flex-container) > *,
.questionRequirementBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.questionRequirementBlock > :global(.__wab_flex-container) > picture > img,
.questionRequirementBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .questionRequirementBlock {
    left: auto;
    top: auto;
  }
}
.freeBox__rgSA {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__rgSA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__rgSA > :global(.__wab_flex-container) > *,
.freeBox__rgSA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rgSA > :global(.__wab_flex-container) > picture > img,
.freeBox__rgSA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.cardQuestionServiceListing__rlNOv:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__py2Sc {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__gBqE8 {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.deliveryRequirementsArrayFields:global(.__wab_instance) {
  position: relative;
}
.arrayInputFieldRow__norqD:global(.__wab_instance) {
  position: relative;
}
.textAreaInput__kLyx:global(.__wab_instance) {
  position: relative;
}
.arrayInputFieldRow__cRBuB:global(.__wab_instance) {
  position: relative;
}
.textAreaInput__zYoPa:global(.__wab_instance) {
  position: relative;
}
.svg__fdmH8 {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.freeBox__hXiOg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__hXiOg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__hXiOg {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__hXiOg > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__hXiOg > :global(.__wab_flex-container) > *,
  .freeBox__hXiOg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hXiOg > :global(.__wab_flex-container) > picture > img,
  .freeBox__hXiOg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.questionFormatBlock {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.questionFormatBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionFormatBlock > :global(.__wab_flex-container) > *,
.questionFormatBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.questionFormatBlock > :global(.__wab_flex-container) > picture > img,
.questionFormatBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .questionFormatBlock {
    left: auto;
    top: auto;
  }
}
.cardQuestionServiceListing__ya0N9:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__zmCp2 {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__d40N6 {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.deliveryFormatsMultiSelectInput:global(.__wab_instance) {
  position: relative;
}
.svg__lkZ7H {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.freeBox__owyrn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__owyrn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__owyrn {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 16px;
    padding-left: 16px;
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__owyrn > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__owyrn > :global(.__wab_flex-container) > *,
  .freeBox__owyrn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__owyrn > :global(.__wab_flex-container) > picture > img,
  .freeBox__owyrn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.questionFormatBlock2 {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.questionFormatBlock2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionFormatBlock2 > :global(.__wab_flex-container) > *,
.questionFormatBlock2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.questionFormatBlock2 > :global(.__wab_flex-container) > picture > img,
.questionFormatBlock2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .questionFormatBlock2 {
    left: auto;
    top: auto;
  }
}
.cardQuestionServiceListing___3B5Lq:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__ptyE {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__auLLg {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.serviceCostTypeSelectInput:global(.__wab_instance) {
  position: relative;
}
.svg__tGyQe {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.hourlyRateConditionalField:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__pKhw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__pKhw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__pKhw {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 16px;
    padding-left: 16px;
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__pKhw > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__pKhw > :global(.__wab_flex-container) > *,
  .freeBox__pKhw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pKhw > :global(.__wab_flex-container) > picture > img,
  .freeBox__pKhw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.questionFormatBlock3 {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.questionFormatBlock3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionFormatBlock3 > :global(.__wab_flex-container) > *,
.questionFormatBlock3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.questionFormatBlock3 > :global(.__wab_flex-container) > picture > img,
.questionFormatBlock3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .questionFormatBlock3 {
    left: auto;
    top: auto;
  }
}
.cardQuestionServiceListing__dm8L5:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__gTbwJ {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__cX8K {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.hourlyRateInput:global(.__wab_instance) {
  position: relative;
}
.flatRateConditionalField:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___2LwcL {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox___2LwcL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox___2LwcL {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 16px;
    padding-left: 16px;
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox___2LwcL > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox___2LwcL > :global(.__wab_flex-container) > *,
  .freeBox___2LwcL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2LwcL > :global(.__wab_flex-container) > picture > img,
  .freeBox___2LwcL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.questionFormatBlock4 {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.questionFormatBlock4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionFormatBlock4 > :global(.__wab_flex-container) > *,
.questionFormatBlock4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.questionFormatBlock4 > :global(.__wab_flex-container) > picture > img,
.questionFormatBlock4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .questionFormatBlock4 {
    left: auto;
    top: auto;
  }
}
.cardQuestionServiceListing__gx2EL:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__me65B {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text___8L8Xs {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.flatRateInput:global(.__wab_instance) {
  position: relative;
}
