.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  position: relative;
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.root__amount__3 {
  transform-style: preserve-3d;
}
.root__amount__3 * {
  transform-style: preserve-3d;
}
.inputProcess__qwYGp:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__qwYGp * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__qwYGpx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__qwYGpx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__bD8Kv:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__bD8Kv * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__bD8KVx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__bD8KVx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__4__bD8KVdBhje:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__4__bD8KVdBhje * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__bD8KvumHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__bD8KvumHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__bD8KVboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__bD8KVboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__bD8KVzOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__bD8KVzOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__bD8Kvkp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__bD8Kvkp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__j3HeY:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__j3HeY * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__j3HeYx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__j3HeYx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__4__j3HeYdBhje:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__4__j3HeYdBhje * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__j3HeYumHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__j3HeYumHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__j3HeYboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__j3HeYboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__j3HeYzOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__j3HeYzOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__j3HeYkp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__j3HeYkp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__d4KAp:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__d4KAp * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__d4KAPx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__d4KAPx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__4__d4KAPdBhje:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__4__d4KAPdBhje * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__d4KApumHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__d4KApumHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__d4KAPboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__d4KAPboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__d4KAPzOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__d4KAPzOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__d4KApkp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__d4KApkp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__jF0Si:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__jF0Si * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__jF0Six17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__jF0Six17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__jF0SiUmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__jF0SiUmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__jF0SiboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__jF0SiboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__jF0SizOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__jF0SizOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__jF0SiKp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__jF0SiKp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__lJlz:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__lJlz * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__lJlZx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__lJlZx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__lJlzumHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__lJlzumHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__lJlZboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__lJlZboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__lJlZzOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__lJlZzOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__lJlzkp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__lJlzkp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__obckt:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__obckt * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__obcktx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__obcktx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__obcktUmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__obcktUmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__obcktboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__obcktboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__obcktzOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__obcktzOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__obcktKp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__obcktKp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess___8Ded6:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess___8Ded6 * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3___8Ded6X17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3___8Ded6X17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5___8Ded6UmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5___8Ded6UmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6___8Ded6BoFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6___8Ded6BoFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7___8Ded6ZOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7___8Ded6ZOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8___8Ded6Kp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8___8Ded6Kp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__sFf5A:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__sFf5A * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__sFf5Ax17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__sFf5Ax17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__sFf5AUmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__sFf5AUmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__sFf5AboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__sFf5AboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__sFf5AzOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__sFf5AzOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__sFf5AKp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__sFf5AKp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__xuey:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__xuey * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__xueyx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__xueyx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__xueyUmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__xueyUmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__xueyboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__xueyboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__xueyzOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__xueyzOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__xueyKp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__xueyKp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__xxix2:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__xxix2 * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__xxix2X17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__xxix2X17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__xxix2UmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__xxix2UmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__xxix2BoFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__xxix2BoFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__xxix2ZOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__xxix2ZOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__xxix2Kp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__xxix2Kp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess___17KoA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess___17KoA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3___17KoAx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3___17KoAx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5___17KoAumHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5___17KoAumHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6___17KoAboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6___17KoAboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7___17KoAzOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7___17KoAzOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8___17KoAkp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8___17KoAkp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__cVDyi:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__cVDyi * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__cVDyix17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__cVDyix17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__cVDyiUmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__cVDyiUmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__cVDyiboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__cVDyiboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__cVDyizOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__cVDyizOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__cVDyiKp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__cVDyiKp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess___1WaTv:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess___1WaTv * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3___1WaTvx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3___1WaTvx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5___1WaTvUmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5___1WaTvUmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6___1WaTvboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6___1WaTvboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7___1WaTvzOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7___1WaTvzOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8___1WaTvKp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8___1WaTvKp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__j898X:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__j898X * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__j898Xx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__j898Xx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__j898XUmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__j898XUmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__j898XboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__j898XboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__j898XzOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__j898XzOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__j898XKp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__j898XKp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__pvCa6:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__pvCa6 * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__pvCa6X17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__pvCa6X17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__pvCa6UmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__pvCa6UmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__pvCa6BoFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__pvCa6BoFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__pvCa6Kp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__pvCa6Kp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__iS0Pm:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__iS0Pm * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__iS0Pmx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__iS0Pmx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__iS0PmUmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__iS0PmUmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__iS0PmboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__iS0PmboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__iS0PmKp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__iS0PmKp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__bDy9:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__bDy9 * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__bDy9X17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__bDy9X17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__bDy9UmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__bDy9UmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__bDy9BoFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__bDy9BoFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__bDy9Kp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__bDy9Kp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__qLpvC:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__qLpvC * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__qLpvCx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__qLpvCx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__qLpvCumHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__qLpvCumHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__qLpvCboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__qLpvCboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__qLpvCzOuqA:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__7__qLpvCzOuqA * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__qLpvCkp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__qLpvCkp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__i8GMk:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__i8GMk * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__i8GMkx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__i8GMkx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__i8GMkUmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__i8GMkUmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__i8GMkKp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__i8GMkKp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__aTdcs:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__aTdcs * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__aTdcsx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__aTdcsx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__aTdcsUmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__aTdcsUmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__aTdcsKp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__aTdcsKp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__vwpkj:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__vwpkj * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__vwpkjx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__vwpkjx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__vwpkjUmHgI:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__5__vwpkjUmHgI * {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__vwpkjboFag:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__6__vwpkjboFag * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__vwpkjKp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__vwpkjKp2Ze * {
  transform-style: preserve-3d;
}
.inputProcess__sVlkh:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__sVlkh * {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__sVlkHx17Zr:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__3__sVlkHx17Zr * {
  transform-style: preserve-3d;
}
.inputProcess__amount__4__sVlkHdBhje:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__4__sVlkHdBhje * {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__sVlkhkp2Ze:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.inputProcess__amount__8__sVlkhkp2Ze * {
  transform-style: preserve-3d;
}
