.root {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  border-width: 1px;
  border-style: none;
}
.rootsize__16 {
  justify-content: center;
  align-items: center;
}
.rootsize__18 {
  justify-content: center;
  align-items: center;
}
.rootsize__24 {
  justify-content: center;
  align-items: center;
}
.rootsize__32 {
  justify-content: center;
  align-items: center;
}
.rootsize__48 {
  justify-content: center;
  align-items: center;
}
.rootalignment_left {
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  padding-left: 0px;
}
.rootalignment_right {
  justify-content: center;
  align-items: flex-end;
  align-content: unset;
  padding-right: 0px;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  align-content: unset;
  padding: 2px 6px;
  border-width: 1px;
  border-style: none;
}
.parentalignment_left {
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  padding-left: 0px;
}
.parentalignment_right {
  padding-right: 0px;
}
.svgBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  border-radius: 100%;
  padding: 2px;
}
.svgBackgroundsize__48 {
  padding: 4px;
}
.svgBackgroundalignment_left {
  padding-left: 0px;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
}
.svgBackgroundalignment_right {
  padding-right: 0px;
}
.svgParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.svgParentsize__16 {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.svgParentsize__18 {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.svgParentsize__24 {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgParentsize__48 {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.svgParentalignment_left {
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
}
.svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #3d4350 /* plasmic-token: UPK7EIst5 */;
  min-width: 0;
  min-height: 0;
}
.root:hover .svg {
  color: #14161b /* plasmic-token: ZGkVH5KID */;
}
