.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 0px;
}
.box__qhXd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__qhXd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__qhXd > :global(.__wab_flex-container) > *,
.box__qhXd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.box__adt7F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px 160px;
}
.box__adt7F > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__adt7F > :global(.__wab_flex-container) > *,
.box__adt7F > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.box__tObo4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__tObo4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.box__tObo4 > :global(.__wab_flex-container) > *,
.box__tObo4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 6px;
}
.svg__y3Gvh {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 48px;
  height: 48px;
  color: #000000 /* plasmic-token: 7-Hl8dlot */;
  flex-shrink: 0;
}
.box___5Euo8 {
  display: block;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 52px;
  color: #000000 /* plasmic-token: 7-Hl8dlot */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
}
.accountSettingsCardGroup {
  position: relative;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.accountSettingsCardGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.accountSettingsCardGroup > :global(.__wab_flex-container) > *,
.accountSettingsCardGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 20px;
  margin-top: 20px;
}
.link__cPLhm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  cursor: pointer;
}
.cardIconHeadlineBody__sbesr:global(.__wab_instance) {
  flex-shrink: 0;
}
.box__yhUnY {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg__xvm2R {
  object-fit: cover;
  width: 18px;
  height: 18px;
}
.svg__vh4Cw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.cardIconHeadlineBody___6V3M:global(.__wab_instance) {
  flex-shrink: 0;
}
.box__wG4Nt {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg___5H4I {
  object-fit: cover;
  width: 18px;
  height: 18px;
}
.svg__dUotQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.link___4YVn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  cursor: pointer;
}
.cardIconHeadlineBody__i6Dx4:global(.__wab_instance) {
  flex-shrink: 0;
}
.box___0ESqx {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg__ieHyk {
  object-fit: cover;
  width: 18px;
  height: 18px;
}
.svg__mz1Kl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.link__mjzBt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  cursor: pointer;
}
.cardIconHeadlineBody__cwFhB:global(.__wab_instance) {
  flex-shrink: 0;
}
.box___2N6Zp {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg__ggonP {
  object-fit: cover;
  width: 18px;
  height: 18px;
}
.svg__wEvG0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.link__a3H6M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  cursor: pointer;
}
.cardIconHeadlineBody__twmIp:global(.__wab_instance) {
  flex-shrink: 0;
}
.box__gdCqq {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg__wtAxi {
  object-fit: cover;
  width: 18px;
  height: 18px;
}
.svg__o8Dq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.link__skg5F {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  cursor: pointer;
}
.cardIconHeadlineBody__uK5Ct:global(.__wab_instance) {
  flex-shrink: 0;
}
.box__dqbJd {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg__qlb7H {
  object-fit: cover;
  width: 18px;
  height: 18px;
}
.svg__ic2Wt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.link___9RVvq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  cursor: pointer;
}
.cardIconHeadlineBody__nrbg6:global(.__wab_instance) {
  flex-shrink: 0;
}
.box__ndkS {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg__ogd95 {
  object-fit: cover;
  width: 18px;
  height: 18px;
}
.svg__yBgV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.link__yja7J {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  cursor: pointer;
}
.cardIconHeadlineBody__yl34:global(.__wab_instance) {
  flex-shrink: 0;
}
.box__jTqZg {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg__e2F6A {
  object-fit: cover;
  width: 18px;
  height: 18px;
}
.svg__e9G7Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.link__pNQtu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  cursor: pointer;
}
.cardIconHeadlineBody__vHwJq:global(.__wab_instance) {
  flex-shrink: 0;
}
.box__cu1Mr {
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg__mT1Pp {
  object-fit: cover;
  width: 18px;
  height: 18px;
}
.svg__yZe5U {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.box__ca4Rn {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  align-self: center;
}
.box__ca4Rn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__ca4Rn > :global(.__wab_flex-container) > *,
.box__ca4Rn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
.box__be0Kq {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
}
.textLinkUnderlinePrimary:global(.__wab_instance) {
  position: relative;
}
