.root {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: auto;
  padding-bottom: 8px;
  position: relative;
  background: #ffffff;
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .root {
    padding-bottom: 24px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root * {
    transform-style: preserve-3d;
  }
}
.root___switch {
  transform-style: preserve-3d;
}
.root___switch * {
  transform-style: preserve-3d;
}
.tablePricingTierDisplay:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.tablePricingTierDisplay * {
  transform-style: preserve-3d;
}
.text__cFcJh {
  transform-style: preserve-3d;
}
.text__cFcJh * {
  transform-style: preserve-3d;
}
.freeBox {
  display: flex;
  flex-direction: row;
  transform-style: preserve-3d;
  padding: 0px;
}
.freeBox * {
  transform-style: preserve-3d;
}
.slotTargetSlot {
  font-size: 14px;
  line-height: 1.2;
}
.slotTargetSlot * {
  transform-style: preserve-3d;
}
.slotTargetSlot > *,
.slotTargetSlot > .__wab_slot > *,
.slotTargetSlot > .__wab_slot > .__wab_slot > *,
.slotTargetSlot > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetSlot > picture > img,
.slotTargetSlot > .__wab_slot > picture > img,
.slotTargetSlot > .__wab_slot > .__wab_slot > picture > img,
.slotTargetSlot > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  transform-style: preserve-3d;
}
.text__wZ9Yx {
  transform-style: preserve-3d;
}
.text__wZ9Yx * {
  transform-style: preserve-3d;
}
.text__b72Wj {
  transform-style: preserve-3d;
}
.text__b72Wj * {
  transform-style: preserve-3d;
}
.pricingTableDropDownDrawerParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  background: #ffffff;
  transform-style: preserve-3d;
  padding: 0px;
}
.pricingTableDropDownDrawerParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.pricingTableDropDownDrawerParent * {
  transform-style: preserve-3d;
}
.pricingTableDropDownDrawerParent > :global(.__wab_flex-container) > *,
.pricingTableDropDownDrawerParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.pricingTableDropDownDrawerParent
  > :global(.__wab_flex-container)
  > picture
  > img,
.pricingTableDropDownDrawerParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.pricingTableDropDownDrawerParent___switch {
  transform-style: preserve-3d;
  display: none;
}
.pricingTableDropDownDrawerParent___switch * {
  transform-style: preserve-3d;
}
.tablePricingPriceDisplay:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.tablePricingPriceDisplay * {
  transform-style: preserve-3d;
}
.text__jCAD {
  transform-style: preserve-3d;
}
.text__jCAD * {
  transform-style: preserve-3d;
}
.text___3Db6E {
  font-size: 14px;
  line-height: 1.2;
  transform-style: preserve-3d;
}
.text___3Db6E * {
  transform-style: preserve-3d;
}
.text__wZbrp {
  font-size: 40px;
  transform-style: preserve-3d;
}
.text__wZbrp * {
  transform-style: preserve-3d;
}
.text__zt6PV {
  font-size: 40px;
  transform-style: preserve-3d;
}
.text__zt6PV * {
  transform-style: preserve-3d;
}
.text__tScVb {
  font-size: 16px;
  transform-style: preserve-3d;
}
.text__tScVb * {
  transform-style: preserve-3d;
}
.pricingTableDropDownChildItems {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  background: #f8f8f8;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 16px;
}
.pricingTableDropDownChildItems > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.pricingTableDropDownChildItems * {
  transform-style: preserve-3d;
}
.pricingTableDropDownChildItems > :global(.__wab_flex-container) > *,
.pricingTableDropDownChildItems
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.pricingTableDropDownChildItems
  > :global(.__wab_flex-container)
  > picture
  > img,
.pricingTableDropDownChildItems
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.pricingPageElementTeamBlock:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.pricingPageElementTeamBlock * {
  transform-style: preserve-3d;
}
.text__uovVs {
  transform-style: preserve-3d;
}
.text__uovVs * {
  transform-style: preserve-3d;
}
.text__gjfjU {
  transform-style: preserve-3d;
}
.text__gjfjU * {
  transform-style: preserve-3d;
}
.svg___5OIWk {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  transform-style: preserve-3d;
}
.svg___5OIWk * {
  transform-style: preserve-3d;
}
.text___6B60V {
  transform-style: preserve-3d;
}
.text___6B60V * {
  transform-style: preserve-3d;
}
.pricingPageElementFeaturesBlock:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.pricingPageElementFeaturesBlock * {
  transform-style: preserve-3d;
}
.text__cIzHl {
  font-size: 14px;
  transform-style: preserve-3d;
}
.text__cIzHl * {
  transform-style: preserve-3d;
}
.text__wD7Qq {
  height: auto;
  transform-style: preserve-3d;
}
.text__wD7Qq * {
  transform-style: preserve-3d;
}
.text___1HkWv {
  transform-style: preserve-3d;
}
.text___1HkWv * {
  transform-style: preserve-3d;
}
.text__yth5 {
  transform-style: preserve-3d;
}
.text__yth5 * {
  transform-style: preserve-3d;
}
.text__kW3Di {
  transform-style: preserve-3d;
}
.text__kW3Di * {
  transform-style: preserve-3d;
}
.pricingPageElementServiceBlock:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.pricingPageElementServiceBlock * {
  transform-style: preserve-3d;
}
.text__h41Zz {
  transform-style: preserve-3d;
}
.text__h41Zz * {
  transform-style: preserve-3d;
}
.text__jfXgf {
  transform-style: preserve-3d;
}
.text__jfXgf * {
  transform-style: preserve-3d;
}
.text__oqbnm {
  transform-style: preserve-3d;
}
.text__oqbnm * {
  transform-style: preserve-3d;
}
.text__us6Cb {
  transform-style: preserve-3d;
}
.text__us6Cb * {
  transform-style: preserve-3d;
}
.text__zzLbe {
  transform-style: preserve-3d;
}
.text__zzLbe * {
  transform-style: preserve-3d;
}
.text__soUi {
  transform-style: preserve-3d;
}
.text__soUi * {
  transform-style: preserve-3d;
}
.text__z5W7 {
  transform-style: preserve-3d;
}
.text__z5W7 * {
  transform-style: preserve-3d;
}
.text__sodx {
  transform-style: preserve-3d;
}
.text__sodx * {
  transform-style: preserve-3d;
}
.text___9B1W {
  transform-style: preserve-3d;
}
.text___9B1W * {
  transform-style: preserve-3d;
}
.text__tpPaP {
  transform-style: preserve-3d;
}
.text__tpPaP * {
  transform-style: preserve-3d;
}
.text___8Ej4O {
  transform-style: preserve-3d;
}
.text___8Ej4O * {
  transform-style: preserve-3d;
}
.text__cLd8 {
  transform-style: preserve-3d;
}
.text__cLd8 * {
  transform-style: preserve-3d;
}
.text__r66Ry {
  transform-style: preserve-3d;
}
.text__r66Ry * {
  transform-style: preserve-3d;
}
.svg__tvas {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  transform-style: preserve-3d;
}
.svg__tvas * {
  transform-style: preserve-3d;
}
.svg__uAas {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  transform-style: preserve-3d;
}
.svg__uAas * {
  transform-style: preserve-3d;
}
.svg__kKdiI {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  transform-style: preserve-3d;
}
.svg__kKdiI * {
  transform-style: preserve-3d;
}
.svg__xFvFm {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  transform-style: preserve-3d;
}
.svg__xFvFm * {
  transform-style: preserve-3d;
}
.partnerMembership:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.partnerMembership * {
  transform-style: preserve-3d;
}
.text___7UBdg {
  font-size: 24px;
  transform-style: preserve-3d;
}
.text___7UBdg * {
  transform-style: preserve-3d;
}
.svg__ewFTn {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__ewFTn * {
  transform-style: preserve-3d;
}
