.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  position: relative;
  height: auto;
  background: #ffffff;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 6px;
}
.freeBox {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.text {
  font-size: 8px;
  line-height: 1;
  font-weight: 600;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: normal;
}
.textglobal_layout_isSellerView {
  font-size: 10px;
  color: #14161b /* plasmic-token: gtUIPzlCk */;
  font-weight: 700;
}
.menuIconListItem__aLa21:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.menuIconListItemglobal_layout_isSellerView__aLa21Fw6NW:global(.__wab_instance) {
  flex-shrink: 0;
}
.navImage2 {
  object-fit: cover;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  width: 16px;
  height: 16px;
}
.navImage2global_layout_isSellerView {
  width: 24px;
  height: 24px;
}
.menuIconListItem__wdXuy:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.navImage3 {
  object-fit: cover;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  width: 16px;
  height: 16px;
}
.navImage3global_layout_isSellerView {
  width: 24px;
  height: 24px;
}
.menuIconListItem__qt1Y6:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.navImage4 {
  object-fit: cover;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  width: 16px;
  height: 16px;
}
.navImage4global_layout_isSellerView {
  width: 24px;
  height: 24px;
}
.menuIconListItem__j5Km:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.navImage5 {
  object-fit: cover;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  width: 16px;
  height: 16px;
}
.navImage5global_layout_isSellerView {
  width: 24px;
  height: 24px;
}
.menuIconListItem__jIdBw:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.navImage {
  object-fit: cover;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  width: 16px;
  height: 16px;
}
.navImageglobal_layout_isSellerView {
  width: 24px;
  height: 24px;
}
