.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 4px 8px;
}
.rootisHighlighted {
  background: var(--token-530QP0ccB);
}
.rootisDisabled {
  cursor: not-allowed;
}
.slotTargetChildrenisSelected {
  color: var(--token-97FZ-MZpy);
  font-weight: 600;
}
.slotTargetChildrenisDisabled {
  color: var(--token-IbTSH9_JJ);
}
