.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 40px;
  background: #ffffff;
  transform-style: preserve-3d;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 80px);
  height: calc(100% + 80px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 80px;
}
@media (max-width: 414px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .root > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 80px);
    height: calc(100% + 80px);
  }
}
@media (max-width: 414px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 80px;
  }
}
.pricing {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.pricing * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .pricing {
    padding-right: 8px;
    padding-left: 8px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .pricing * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .pricing {
    padding-right: 8px;
    padding-left: 8px;
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .pricing * {
    transform-style: preserve-3d;
  }
}
.pricing__annual {
  transform-style: preserve-3d;
}
.pricing__annual * {
  transform-style: preserve-3d;
}
.badgeSectionTitle___3XvBq:global(.__wab_instance) {
  max-width: 100%;
  transform-style: preserve-3d;
}
.badgeSectionTitle___3XvBq * {
  transform-style: preserve-3d;
}
.text___3HXek {
  transform-style: preserve-3d;
}
.text___3HXek * {
  transform-style: preserve-3d;
}
.freeBox__d0Qcv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 40px 8px 8px;
}
.freeBox__d0Qcv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 120px);
  height: calc(100% + 120px);
}
.freeBox__d0Qcv * {
  transform-style: preserve-3d;
}
.freeBox__d0Qcv > :global(.__wab_flex-container) > *,
.freeBox__d0Qcv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d0Qcv > :global(.__wab_flex-container) > picture > img,
.freeBox__d0Qcv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 120px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__d0Qcv {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__d0Qcv > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__d0Qcv * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__d0Qcv > :global(.__wab_flex-container) > *,
  .freeBox__d0Qcv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__d0Qcv > :global(.__wab_flex-container) > picture > img,
  .freeBox__d0Qcv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
@media (max-width: 414px) {
  .freeBox__d0Qcv {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox__d0Qcv > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (max-width: 414px) {
  .freeBox__d0Qcv * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox__d0Qcv > :global(.__wab_flex-container) > *,
  .freeBox__d0Qcv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__d0Qcv > :global(.__wab_flex-container) > picture > img,
  .freeBox__d0Qcv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
.text__vPQyH {
  display: block;
  font-size: 72px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 1.2;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  align-self: stretch;
  width: auto;
  height: auto;
  max-width: none;
  text-align: center;
  transform-style: preserve-3d;
}
.text__vPQyH * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .text__vPQyH {
    width: 100%;
    font-size: 56px;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .text__vPQyH * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .text__vPQyH {
    font-size: 56px;
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .text__vPQyH * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .text__vPQyH {
    font-size: 48px;
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .text__vPQyH * {
    transform-style: preserve-3d;
  }
}
.text___4U99 {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 24px;
  position: relative;
  left: auto;
  top: auto;
  font-weight: 500;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  max-width: 50%;
  transform-style: preserve-3d;
  min-width: 0;
}
.text___4U99 * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .text___4U99 {
    font-size: 18px;
    max-width: none;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .text___4U99 * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .text___4U99 {
    font-size: 18px;
    max-width: none;
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .text___4U99 * {
    transform-style: preserve-3d;
  }
}
.freeBox__zkIl2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #f1f1f1;
  left: auto;
  top: auto;
  margin-top: 40px;
  pointer-events: auto;
  cursor: pointer;
  transform-style: preserve-3d;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__zkIl2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zkIl2 * {
  transform-style: preserve-3d;
}
.freeBox__zkIl2 > :global(.__wab_flex-container) > *,
.freeBox__zkIl2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zkIl2 > :global(.__wab_flex-container) > picture > img,
.freeBox__zkIl2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__zkIl2 {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__zkIl2 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__zkIl2 * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox__zkIl2 {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .freeBox__zkIl2 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .freeBox__zkIl2 * {
    transform-style: preserve-3d;
  }
}
.freeBox__annual__zkIl280AwV {
  transform-style: preserve-3d;
}
.freeBox__annual__zkIl280AwV * {
  transform-style: preserve-3d;
}
.monthlyPricingDiv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: #ffffff;
  transition-property: all;
  transition-duration: 1s;
  transform-style: preserve-3d;
  border-radius: 6px;
  padding: 8px;
}
.monthlyPricingDiv * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .monthlyPricingDiv {
    width: 100%;
    align-self: auto;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .monthlyPricingDiv * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .monthlyPricingDiv {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .monthlyPricingDiv * {
    transform-style: preserve-3d;
  }
}
.monthlyPricingDiv__annual {
  background: none;
  transform-style: preserve-3d;
}
.monthlyPricingDiv__annual * {
  transform-style: preserve-3d;
}
.text__i6HcD {
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  transform-style: preserve-3d;
}
.text__i6HcD * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .text__i6HcD {
    text-align: center;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .text__i6HcD * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .text__i6HcD {
    text-align: center;
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .text__i6HcD * {
    transform-style: preserve-3d;
  }
}
.annualPricingDiv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  background: none;
  transition-property: all;
  transition-duration: 1s;
  transform-style: preserve-3d;
  border-radius: 6px;
  padding: 8px;
}
.annualPricingDiv * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .annualPricingDiv {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .annualPricingDiv * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .annualPricingDiv {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .annualPricingDiv * {
    transform-style: preserve-3d;
  }
}
.annualPricingDiv__annual {
  background: #ffffff;
  transform-style: preserve-3d;
}
.annualPricingDiv__annual * {
  transform-style: preserve-3d;
}
.text___6ESt {
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  transform-style: preserve-3d;
}
.text___6ESt * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .text___6ESt {
    text-align: center;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .text___6ESt * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .text___6ESt {
    text-align: center;
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .text___6ESt * {
    transform-style: preserve-3d;
  }
}
.text__annual___6ESt80AwV {
  transform-style: preserve-3d;
}
.text__annual___6ESt80AwV * {
  transform-style: preserve-3d;
}
.freeBox__w7Mat {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  margin-top: 40px;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox__w7Mat > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__w7Mat * {
  transform-style: preserve-3d;
}
.freeBox__w7Mat > :global(.__wab_flex-container) > *,
.freeBox__w7Mat > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w7Mat > :global(.__wab_flex-container) > picture > img,
.freeBox__w7Mat
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__w7Mat {
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__w7Mat > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__w7Mat * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__w7Mat > :global(.__wab_flex-container) > *,
  .freeBox__w7Mat > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__w7Mat > :global(.__wab_flex-container) > picture > img,
  .freeBox__w7Mat
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
@media (max-width: 414px) {
  .freeBox__w7Mat {
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox__w7Mat > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (max-width: 414px) {
  .freeBox__w7Mat * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox__w7Mat > :global(.__wab_flex-container) > *,
  .freeBox__w7Mat > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__w7Mat > :global(.__wab_flex-container) > picture > img,
  .freeBox__w7Mat
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__dNo1I {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  border-radius: 16px;
  padding: 8px;
  border: 1px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.freeBox__dNo1I * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__dNo1I {
    left: auto;
    top: auto;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__dNo1I * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox__dNo1I {
    left: auto;
    top: auto;
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox__dNo1I * {
    transform-style: preserve-3d;
  }
}
.freeBox__ffh7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 360px;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  padding: 16px 0px;
}
.freeBox__ffh7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ffh7 * {
  transform-style: preserve-3d;
}
.freeBox__ffh7 > :global(.__wab_flex-container) > *,
.freeBox__ffh7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ffh7 > :global(.__wab_flex-container) > picture > img,
.freeBox__ffh7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__mo6T8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #5229cc /* plasmic-token: SilK1AnWd */;
  text-transform: uppercase;
  transform-style: preserve-3d;
  min-width: 0;
}
.text__mo6T8 * {
  transform-style: preserve-3d;
}
.freeBox__aOaxK {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox__aOaxK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__aOaxK * {
  transform-style: preserve-3d;
}
.freeBox__aOaxK > :global(.__wab_flex-container) > *,
.freeBox__aOaxK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aOaxK > :global(.__wab_flex-container) > picture > img,
.freeBox__aOaxK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__oXusV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  align-self: flex-start;
  transform-style: preserve-3d;
}
.text__oXusV * {
  transform-style: preserve-3d;
}
.freeBox___1BDgs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox___1BDgs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___1BDgs * {
  transform-style: preserve-3d;
}
.freeBox___1BDgs > :global(.__wab_flex-container) > *,
.freeBox___1BDgs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1BDgs > :global(.__wab_flex-container) > picture > img,
.freeBox___1BDgs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__jzQlY {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-weight: 400;
  color: #667085 /* plasmic-token: Ir4S3kez3 */;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  padding-left: 0px;
  transform-style: preserve-3d;
}
.text__jzQlY * {
  transform-style: preserve-3d;
}
.freeBox___5Jd8R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox___5Jd8R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___5Jd8R * {
  transform-style: preserve-3d;
}
.freeBox___5Jd8R > :global(.__wab_flex-container) > *,
.freeBox___5Jd8R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Jd8R > :global(.__wab_flex-container) > picture > img,
.freeBox___5Jd8R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__qlOy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: #3d4350 /* plasmic-token: 4w2aiN6Mt */;
  text-align: center;
  font-weight: 500;
  transform-style: preserve-3d;
}
.text__qlOy * {
  transform-style: preserve-3d;
}
.freeBox__bHsR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 360px;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  padding: 0px;
}
.freeBox__bHsR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bHsR * {
  transform-style: preserve-3d;
}
.freeBox__bHsR > :global(.__wab_flex-container) > *,
.freeBox__bHsR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bHsR > :global(.__wab_flex-container) > picture > img,
.freeBox__bHsR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.svg__l5PDj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  color: #e0e2e7 /* plasmic-token: aWbt8exrr */;
  transform-style: preserve-3d;
  min-width: 0;
  height: 1em;
  flex-shrink: 0;
}
.svg__l5PDj * {
  transform-style: preserve-3d;
}
.freeBox__rGzLs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox__rGzLs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__rGzLs * {
  transform-style: preserve-3d;
}
.freeBox__rGzLs > :global(.__wab_flex-container) > *,
.freeBox__rGzLs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rGzLs > :global(.__wab_flex-container) > picture > img,
.freeBox__rGzLs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__lmcnp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-transform: uppercase;
  font-weight: 600;
  color: #3d4350 /* plasmic-token: 4w2aiN6Mt */;
  font-size: 14px;
  transform-style: preserve-3d;
}
.text__lmcnp * {
  transform-style: preserve-3d;
}
.text__oJu3Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: #667085 /* plasmic-token: Ir4S3kez3 */;
  font-weight: 400;
  transform-style: preserve-3d;
  min-width: 0;
}
.text__oJu3Y * {
  transform-style: preserve-3d;
}
.text__xJxDz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: #667085 /* plasmic-token: Ir4S3kez3 */;
  font-size: 14px;
  transform-style: preserve-3d;
  min-width: 0;
}
.text__xJxDz * {
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__x1Fxu:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__x1Fxu * {
  transform-style: preserve-3d;
}
.text__cf9 {
  transform-style: preserve-3d;
}
.text__cf9 * {
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__u7FPv:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__u7FPv * {
  transform-style: preserve-3d;
}
.text__ol1IR {
  transform-style: preserve-3d;
}
.text__ol1IR * {
  transform-style: preserve-3d;
}
.pricingTableFeatureItem___68HFs:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.pricingTableFeatureItem___68HFs * {
  transform-style: preserve-3d;
}
.text__fTaKg {
  transform-style: preserve-3d;
}
.text__fTaKg * {
  transform-style: preserve-3d;
}
.svg__rgU0S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  color: #e0e2e7 /* plasmic-token: aWbt8exrr */;
  transform-style: preserve-3d;
  min-width: 0;
  height: 1em;
  flex-shrink: 0;
}
.svg__rgU0S * {
  transform-style: preserve-3d;
}
.freeBox__m90A0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 360px;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  padding: 24px 0px;
}
.freeBox__m90A0 * {
  transform-style: preserve-3d;
}
.buttonPrimary__ioq5I:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.buttonPrimary__ioq5I * {
  transform-style: preserve-3d;
}
.svg___42I8Z {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg___42I8Z * {
  transform-style: preserve-3d;
}
.text__haYHf {
  font-weight: 700;
  transform-style: preserve-3d;
}
.text__haYHf * {
  transform-style: preserve-3d;
}
.freeBox__av9NC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  border-radius: 16px;
  padding: 8px;
  border: 1px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.freeBox__av9NC * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__av9NC {
    left: auto;
    top: auto;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__av9NC * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox__av9NC {
    left: auto;
    top: auto;
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox__av9NC * {
    transform-style: preserve-3d;
  }
}
.freeBox__c1G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 360px;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  padding: 16px 0px;
}
.freeBox__c1G > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__c1G * {
  transform-style: preserve-3d;
}
.freeBox__c1G > :global(.__wab_flex-container) > *,
.freeBox__c1G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c1G > :global(.__wab_flex-container) > picture > img,
.freeBox__c1G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__p8Rcx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #5229cc /* plasmic-token: SilK1AnWd */;
  text-transform: uppercase;
  transform-style: preserve-3d;
  min-width: 0;
}
.text__p8Rcx * {
  transform-style: preserve-3d;
}
.freeBox__c9QgY {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox__c9QgY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__c9QgY * {
  transform-style: preserve-3d;
}
.freeBox__c9QgY > :global(.__wab_flex-container) > *,
.freeBox__c9QgY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c9QgY > :global(.__wab_flex-container) > picture > img,
.freeBox__c9QgY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__kmfpw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  align-self: flex-start;
  transform-style: preserve-3d;
}
.text__kmfpw * {
  transform-style: preserve-3d;
}
.text__annual__kmfpw80AwV {
  transform-style: preserve-3d;
}
.text__annual__kmfpw80AwV * {
  transform-style: preserve-3d;
}
.text___3OuMv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  align-self: flex-start;
  color: #667085 /* plasmic-token: Ir4S3kez3 */;
  transform-style: preserve-3d;
}
.text___3OuMv * {
  transform-style: preserve-3d;
}
.freeBox__gGnRm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox__gGnRm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__gGnRm * {
  transform-style: preserve-3d;
}
.freeBox__gGnRm > :global(.__wab_flex-container) > *,
.freeBox__gGnRm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gGnRm > :global(.__wab_flex-container) > picture > img,
.freeBox__gGnRm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___8Gg9S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-weight: 400;
  color: #667085 /* plasmic-token: Ir4S3kez3 */;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  padding-left: 0px;
  transform-style: preserve-3d;
}
.text___8Gg9S * {
  transform-style: preserve-3d;
}
.freeBox__wu4E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox__wu4E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__wu4E * {
  transform-style: preserve-3d;
}
.freeBox__wu4E > :global(.__wab_flex-container) > *,
.freeBox__wu4E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wu4E > :global(.__wab_flex-container) > picture > img,
.freeBox__wu4E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__qzXBc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-weight: 500;
  color: #3d4350 /* plasmic-token: 4w2aiN6Mt */;
  text-align: center;
  transform-style: preserve-3d;
}
.text__qzXBc * {
  transform-style: preserve-3d;
}
.freeBox___8QheI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 360px;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  padding: 0px;
}
.freeBox___8QheI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___8QheI * {
  transform-style: preserve-3d;
}
.freeBox___8QheI > :global(.__wab_flex-container) > *,
.freeBox___8QheI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8QheI > :global(.__wab_flex-container) > picture > img,
.freeBox___8QheI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.svg___0Erlu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  color: #e0e2e7 /* plasmic-token: aWbt8exrr */;
  transform-style: preserve-3d;
  min-width: 0;
  height: 1em;
  flex-shrink: 0;
}
.svg___0Erlu * {
  transform-style: preserve-3d;
}
.freeBox__yYutt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox__yYutt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yYutt * {
  transform-style: preserve-3d;
}
.freeBox__yYutt > :global(.__wab_flex-container) > *,
.freeBox__yYutt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yYutt > :global(.__wab_flex-container) > picture > img,
.freeBox__yYutt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__atQCq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-transform: uppercase;
  font-weight: 600;
  color: #3d4350 /* plasmic-token: 4w2aiN6Mt */;
  font-size: 14px;
  transform-style: preserve-3d;
}
.text__atQCq * {
  transform-style: preserve-3d;
}
.text__ysbj2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: #667085 /* plasmic-token: Ir4S3kez3 */;
  transform-style: preserve-3d;
  min-width: 0;
}
.text__ysbj2 * {
  transform-style: preserve-3d;
}
.text__tme1G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: #667085 /* plasmic-token: Ir4S3kez3 */;
  font-size: 14px;
  padding-left: 0px;
  transform-style: preserve-3d;
  min-width: 0;
}
.text__tme1G * {
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__va64K:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__va64K * {
  transform-style: preserve-3d;
}
.text__buEde {
  transform-style: preserve-3d;
}
.text__buEde * {
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__uevIx:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__uevIx * {
  transform-style: preserve-3d;
}
.text___8BJlL {
  transform-style: preserve-3d;
}
.text___8BJlL * {
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__shkDl:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__shkDl * {
  transform-style: preserve-3d;
}
.text___3OItU {
  transform-style: preserve-3d;
}
.text___3OItU * {
  transform-style: preserve-3d;
}
.svg__jmeDz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  color: #e0e2e7 /* plasmic-token: aWbt8exrr */;
  transform-style: preserve-3d;
  min-width: 0;
  height: 1em;
  flex-shrink: 0;
}
.svg__jmeDz * {
  transform-style: preserve-3d;
}
.freeBox__iszuh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 360px;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  padding: 24px 0px;
}
.freeBox__iszuh * {
  transform-style: preserve-3d;
}
.buttonPrimary__kqlVw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.buttonPrimary__kqlVw * {
  transform-style: preserve-3d;
}
.svg__vmjdP {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__vmjdP * {
  transform-style: preserve-3d;
}
.text__gziPe {
  font-weight: 700;
  transform-style: preserve-3d;
}
.text__gziPe * {
  transform-style: preserve-3d;
}
.freeBox__fj10K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  border-radius: 16px;
  padding: 8px;
  border: 1px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.freeBox__fj10K * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__fj10K {
    left: auto;
    top: auto;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__fj10K * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox__fj10K {
    left: auto;
    top: auto;
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox__fj10K * {
    transform-style: preserve-3d;
  }
}
.freeBox__dF4Zl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 360px;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  padding: 16px 0px;
}
.freeBox__dF4Zl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dF4Zl * {
  transform-style: preserve-3d;
}
.freeBox__dF4Zl > :global(.__wab_flex-container) > *,
.freeBox__dF4Zl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dF4Zl > :global(.__wab_flex-container) > picture > img,
.freeBox__dF4Zl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__pn49 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #5229cc /* plasmic-token: SilK1AnWd */;
  text-transform: uppercase;
  transform-style: preserve-3d;
  min-width: 0;
}
.text__pn49 * {
  transform-style: preserve-3d;
}
.freeBox__bIyMd {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox__bIyMd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__bIyMd * {
  transform-style: preserve-3d;
}
.freeBox__bIyMd > :global(.__wab_flex-container) > *,
.freeBox__bIyMd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bIyMd > :global(.__wab_flex-container) > picture > img,
.freeBox__bIyMd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__vrf1F {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  align-self: flex-start;
  transform-style: preserve-3d;
}
.text__vrf1F * {
  transform-style: preserve-3d;
}
.text__annual__vrf1F80AwV {
  transform-style: preserve-3d;
}
.text__annual__vrf1F80AwV * {
  transform-style: preserve-3d;
}
.text___9Gta {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  align-self: flex-start;
  color: #667085 /* plasmic-token: Ir4S3kez3 */;
  transform-style: preserve-3d;
}
.text___9Gta * {
  transform-style: preserve-3d;
}
.freeBox__yrjxP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox__yrjxP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yrjxP * {
  transform-style: preserve-3d;
}
.freeBox__yrjxP > :global(.__wab_flex-container) > *,
.freeBox__yrjxP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yrjxP > :global(.__wab_flex-container) > picture > img,
.freeBox__yrjxP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___2G0Vt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-weight: 400;
  color: #667085 /* plasmic-token: Ir4S3kez3 */;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  padding-left: 0px;
  transform-style: preserve-3d;
}
.text___2G0Vt * {
  transform-style: preserve-3d;
}
.freeBox___6G5DB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox___6G5DB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___6G5DB * {
  transform-style: preserve-3d;
}
.freeBox___6G5DB > :global(.__wab_flex-container) > *,
.freeBox___6G5DB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6G5DB > :global(.__wab_flex-container) > picture > img,
.freeBox___6G5DB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__hzFzi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-weight: 500;
  color: #3d4350 /* plasmic-token: 4w2aiN6Mt */;
  text-align: center;
  transform-style: preserve-3d;
}
.text__hzFzi * {
  transform-style: preserve-3d;
}
.freeBox__kchS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 360px;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  padding: 0px;
}
.freeBox__kchS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kchS * {
  transform-style: preserve-3d;
}
.freeBox__kchS > :global(.__wab_flex-container) > *,
.freeBox__kchS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kchS > :global(.__wab_flex-container) > picture > img,
.freeBox__kchS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.svg__ytauP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  color: #e0e2e7 /* plasmic-token: aWbt8exrr */;
  transform-style: preserve-3d;
  min-width: 0;
  height: 1em;
  flex-shrink: 0;
}
.svg__ytauP * {
  transform-style: preserve-3d;
}
.freeBox___2QOg2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox___2QOg2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___2QOg2 * {
  transform-style: preserve-3d;
}
.freeBox___2QOg2 > :global(.__wab_flex-container) > *,
.freeBox___2QOg2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2QOg2 > :global(.__wab_flex-container) > picture > img,
.freeBox___2QOg2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__nVpEw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-transform: uppercase;
  font-weight: 600;
  color: #3d4350 /* plasmic-token: 4w2aiN6Mt */;
  font-size: 14px;
  transform-style: preserve-3d;
}
.text__nVpEw * {
  transform-style: preserve-3d;
}
.text__pyFb2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: #667085 /* plasmic-token: Ir4S3kez3 */;
  transform-style: preserve-3d;
  min-width: 0;
}
.text__pyFb2 * {
  transform-style: preserve-3d;
}
.text__xh08P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: #667085 /* plasmic-token: Ir4S3kez3 */;
  font-size: 14px;
  padding-left: 0px;
  transform-style: preserve-3d;
  min-width: 0;
}
.text__xh08P * {
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__oAvdo:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__oAvdo * {
  transform-style: preserve-3d;
}
.text__sOvfH {
  transform-style: preserve-3d;
}
.text__sOvfH * {
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__a09Wi:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__a09Wi * {
  transform-style: preserve-3d;
}
.text__ixqFm {
  transform-style: preserve-3d;
}
.text__ixqFm * {
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__j8AH3:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.pricingTableFeatureItem__j8AH3 * {
  transform-style: preserve-3d;
}
.text__uqgWe {
  transform-style: preserve-3d;
}
.text__uqgWe * {
  transform-style: preserve-3d;
}
.svg__kKhEv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  color: #e0e2e7 /* plasmic-token: aWbt8exrr */;
  transform-style: preserve-3d;
  min-width: 0;
  height: 1em;
  flex-shrink: 0;
}
.svg__kKhEv * {
  transform-style: preserve-3d;
}
.freeBox___4Frk6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 360px;
  height: auto;
  max-width: 100%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  padding: 24px 0px;
}
.freeBox___4Frk6 * {
  transform-style: preserve-3d;
}
.buttonPrimary__rVfd9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.buttonPrimary__rVfd9 * {
  transform-style: preserve-3d;
}
.svg__sdIvk {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__sdIvk * {
  transform-style: preserve-3d;
}
.text__ysfgi {
  font-weight: 700;
  transform-style: preserve-3d;
}
.text__ysfgi * {
  transform-style: preserve-3d;
}
.enterpriseSolutions {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  transform-style: preserve-3d;
  min-width: 0;
}
.enterpriseSolutions > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.enterpriseSolutions * {
  transform-style: preserve-3d;
}
.enterpriseSolutions > :global(.__wab_flex-container) > *,
.enterpriseSolutions
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.enterpriseSolutions > :global(.__wab_flex-container) > picture > img,
.enterpriseSolutions
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .enterpriseSolutions {
    padding-right: 8px;
    padding-left: 8px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .enterpriseSolutions * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .enterpriseSolutions {
    padding-right: 8px;
    padding-left: 8px;
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .enterpriseSolutions * {
    transform-style: preserve-3d;
  }
}
.freeBox__x4Htp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox__x4Htp * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__x4Htp {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__x4Htp * {
    transform-style: preserve-3d;
  }
}
.badgeSectionTitle__c2Gsu:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.badgeSectionTitle__c2Gsu * {
  transform-style: preserve-3d;
}
.text__fXiL2 {
  transform-style: preserve-3d;
}
.text__fXiL2 * {
  transform-style: preserve-3d;
}
.freeBox__jbj1X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 80%;
  background: none;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  border-radius: 32px;
  padding: 32px 32px 48px;
  border: 2px solid #5229cc /* plasmic-token: SilK1AnWd */;
}
.freeBox__jbj1X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jbj1X * {
  transform-style: preserve-3d;
}
.freeBox__jbj1X > :global(.__wab_flex-container) > *,
.freeBox__jbj1X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jbj1X > :global(.__wab_flex-container) > picture > img,
.freeBox__jbj1X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__jbj1X {
    width: 100%;
    max-width: none;
    transform-style: preserve-3d;
    min-width: 0;
    padding: 16px 16px 24px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__jbj1X > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__jbj1X * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox__jbj1X {
    max-width: none;
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
    padding: 16px 16px 24px;
  }
}
@media (max-width: 414px) {
  .freeBox__jbj1X > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .freeBox__jbj1X * {
    transform-style: preserve-3d;
  }
}
.freeBox__u3Wwe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.freeBox__u3Wwe * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__u3Wwe {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__u3Wwe * {
    transform-style: preserve-3d;
  }
}
.text__ufSbc {
  display: block;
  font-size: 72px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 1.2;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  align-self: stretch;
  width: auto;
  height: auto;
  max-width: none;
  text-align: center;
  transform-style: preserve-3d;
}
.text__ufSbc * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .text__ufSbc {
    font-size: 56px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .text__ufSbc * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .text__ufSbc {
    max-width: none;
    font-size: 56px;
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .text__ufSbc * {
    transform-style: preserve-3d;
  }
}
.freeBox___4PlZs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 70%;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.freeBox___4PlZs * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox___4PlZs {
    max-width: none;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox___4PlZs * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox___4PlZs {
    max-width: none;
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .freeBox___4PlZs * {
    transform-style: preserve-3d;
  }
}
.text__vgIZn {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 24px;
  position: relative;
  left: auto;
  top: auto;
  font-weight: 500;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  transform-style: preserve-3d;
  min-width: 0;
}
.text__vgIZn * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .text__vgIZn {
    font-size: 18px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .text__vgIZn * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .text__vgIZn {
    font-size: 18px;
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .text__vgIZn * {
    transform-style: preserve-3d;
  }
}
.buttonPrimary__cVnXz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.buttonPrimary__cVnXz * {
  transform-style: preserve-3d;
}
.svg__pP55G {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__pP55G * {
  transform-style: preserve-3d;
}
.text__ul0Se {
  font-weight: 700;
  font-size: 16px;
  height: auto;
  transform-style: preserve-3d;
}
.text__ul0Se * {
  transform-style: preserve-3d;
}
