.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.navbarStatic:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.termsOfServiceBody {
  position: relative;
  left: auto;
  top: auto;
  font-weight: 500;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 80px 40px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .termsOfServiceBody {
    padding-right: 40px;
  }
}
.footerB:global(.__wab_instance) {
  position: relative;
}
