.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  position: relative;
  background: #ffffff;
  transform-style: preserve-3d;
  border: 2px solid #f0f1f3 /* plasmic-token: deafmaGIp */;
}
.root * {
  transform-style: preserve-3d;
}
.freeBox__meTMb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: 300px;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  padding: 32px;
}
.freeBox__meTMb * {
  transform-style: preserve-3d;
}
.freeBox__mPjNz {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  width: 579px;
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  margin: 0px 0px 64px;
}
.freeBox__mPjNz * {
  transform-style: preserve-3d;
}
.freeBox__hJgt {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: column;
  transform-style: preserve-3d;
}
.freeBox__hJgt * {
  transform-style: preserve-3d;
}
.slotTargetChildren {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 40px;
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
}
.slotTargetChildren * {
  transform-style: preserve-3d;
}
.slotTargetChildren > *,
.slotTargetChildren > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > picture > img,
.slotTargetChildren > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  transform-style: preserve-3d;
}
.text__ufBpu {
  transform-style: preserve-3d;
}
.text__ufBpu * {
  transform-style: preserve-3d;
}
.buttonPrimary:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.buttonPrimary * {
  transform-style: preserve-3d;
}
.text__yyBgm {
  transform-style: preserve-3d;
}
.text__yyBgm * {
  transform-style: preserve-3d;
}
.svg__qrbga {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__qrbga * {
  transform-style: preserve-3d;
}
.freeBox__cL3Qf {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  width: 300px;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 12px;
}
.freeBox__cL3Qf * {
  transform-style: preserve-3d;
}
.img___7OtsV {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.img___7OtsV > picture > img {
  object-fit: cover;
}
.img___7OtsV > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___7OtsV * {
  transform-style: preserve-3d;
}
