.root {
  position: relative;
  height: auto;
  width: auto;
  display: inline-flex;
  flex-direction: row;
}
.parent {
  display: flex;
  align-self: stretch;
  position: relative;
  width: auto;
  height: auto;
}
.slotTargetText {
  font-size: 16px;
  color: var(--token-ec1vMFIzT);
  line-height: 1;
}
.slotTargetText > .__wab_text,
.slotTargetText > .__wab_slot-string-wrapper,
.slotTargetText > .__wab_slot > .__wab_text,
.slotTargetText > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetText > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetText > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetText > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetText
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: none;
}
.slotTargetTextcolor_headline {
  color: var(--token-ec1vMFIzT);
}
.slotTargetTextsize__18 {
  font-size: 18px;
  line-height: 1;
}
.slotTargetTextsize__24 {
  font-size: 24px;
  line-height: 1;
}
.slotTargetTextsize__32 {
  font-size: 32px;
  line-height: 1;
}
.slotTargetTextsize__36 {
  font-size: 36px;
  line-height: 1;
}
.slotTargetTextsize__40 {
  font-size: 40px;
  line-height: 1;
}
.slotTargetTextcolor_primary {
  color: var(--token-SilK1AnWd);
}
.slotTargetTextcolor_light {
  color: var(--token-t2DPA2Clx);
}
.slotTargetTextsize__8 {
  font-size: 8px;
  line-height: 1;
}
.slotTargetTextsize__10 {
  font-size: 10px;
  line-height: 1;
}
.slotTargetTextsize__12 {
  font-size: 12px;
  line-height: 1;
}
.slotTargetTextsize__14 {
  font-size: 14px;
  line-height: 1;
}
.slotTargetTextsize__16 {
  font-size: 16px;
  line-height: 1;
}
.slotTargetTextsize__14_color_light {
  color: var(--token-t2DPA2Clx);
}
.slotTargetTextcolor_light_size__16 {
  color: var(--token-t2DPA2Clx);
}
.slotTargetTextcolor_light_size__18 {
  color: var(--token-t2DPA2Clx);
}
.slotTargetTextsize__24_color_light {
  color: var(--token-t2DPA2Clx);
}
.slotTargetTextcolor_light_size__32 {
  color: var(--token-t2DPA2Clx);
}
.slotTargetTextcolor_light_size__40 {
  color: var(--token-t2DPA2Clx);
}
.root:hover .slotTargetText {
  color: var(--token-F4gy0u3aB);
  font-weight: 400;
}
.root:hover .slotTargetText > .__wab_text,
.root:hover .slotTargetText > .__wab_slot-string-wrapper,
.root:hover .slotTargetText > .__wab_slot > .__wab_text,
.root:hover .slotTargetText > .__wab_slot > .__wab_slot-string-wrapper,
.root:hover .slotTargetText > .__wab_slot > .__wab_slot > .__wab_text,
.root:hover
  .slotTargetText
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.root:hover
  .slotTargetText
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.root:hover
  .slotTargetText
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: underline;
}
.rootcolor_headline:hover .slotTargetTextcolor_headline {
  color: var(--token-6OoG_pvkg);
}
.rootcolor_primary:hover .slotTargetTextcolor_primary {
  color: var(--token-97FZ-MZpy);
}
.rootcolor_light:hover .slotTargetTextcolor_light {
  color: var(--token-gJaAJBnXh);
}
