.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background: #ffffff;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 6px;
}
.freeBox__ryHdz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ryHdz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.freeBox__ryHdz > :global(.__wab_flex-container) > *,
.freeBox__ryHdz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 6px;
}
.freeBox___8Dh5C {
  font-size: 8px;
  line-height: 1;
  font-weight: 600;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: normal;
}
.menuIconListItem__dsDoA:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.freeBox__w3J4U {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
.svg__j0I4C {
  object-fit: cover;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.menuIconListItem__lqd7E:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.freeBox__zzN6S {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
.svg__reL48 {
  object-fit: cover;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.menuIconListItem__jjVq7:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.freeBox__uYn32 {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
.svg__jDd6 {
  object-fit: cover;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.menuIconListItem__f163K:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.freeBox__dpjsj {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
.svg__x4M1B {
  object-fit: cover;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
