.root {
  display: flex;
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.slotTargetChildrencolor_light {
  color: var(--token-t2DPA2Clx);
}
.slotTargetChildrencolor_dark {
  color: var(--token-F4gy0u3aB);
}
.slotTargetChildrencolor_brand {
  color: var(--token-rN0ul5_oz);
}
.rootcolor_light:hover .slotTargetChildrencolor_light {
  color: var(--token-fuGaen6l1);
}
.rootcolor_dark:hover .slotTargetChildrencolor_dark {
  color: var(--token-7-Hl8dlot);
}
.rootcolor_brand:hover .slotTargetChildrencolor_brand {
  color: var(--token-97FZ-MZpy);
}
.svg__dorQ {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
