.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.root * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .root * {
    transform-style: preserve-3d;
  }
}
.sectionTeamEditProfile {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 16px 8px 32px;
}
.sectionTeamEditProfile > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamEditProfile * {
  transform-style: preserve-3d;
}
.sectionTeamEditProfile > :global(.__wab_flex-container) > *,
.sectionTeamEditProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamEditProfile > :global(.__wab_flex-container) > picture > img,
.sectionTeamEditProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamEditProfile {
    transform-style: preserve-3d;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamEditProfile * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitleDisplay__m46KZ:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitleDisplay__m46KZ * {
  transform-style: preserve-3d;
}
.text__asSsl {
  transform-style: preserve-3d;
}
.text__asSsl * {
  transform-style: preserve-3d;
}
.text__v4Ij4 {
  font-weight: 700;
  transform-style: preserve-3d;
}
.text__v4Ij4 * {
  transform-style: preserve-3d;
}
.text__usdte {
  height: auto;
  transform-style: preserve-3d;
}
.text__usdte * {
  transform-style: preserve-3d;
}
.teamProfileForm:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.teamProfileForm * {
  transform-style: preserve-3d;
}
.formTeamEditProfile {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 550px;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.formTeamEditProfile > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.formTeamEditProfile * {
  transform-style: preserve-3d;
}
.formTeamEditProfile > :global(.__wab_flex-container) > *,
.formTeamEditProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.formTeamEditProfile > :global(.__wab_flex-container) > picture > img,
.formTeamEditProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .formTeamEditProfile {
    width: 100%;
    left: auto;
    top: auto;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .formTeamEditProfile > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .formTeamEditProfile * {
    transform-style: preserve-3d;
  }
}
.cardTeamLogo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.cardTeamLogo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamLogo * {
  transform-style: preserve-3d;
}
.cardTeamLogo > :global(.__wab_flex-container) > *,
.cardTeamLogo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamLogo > :global(.__wab_flex-container) > picture > img,
.cardTeamLogo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamLogo {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamLogo * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__gv7Lp:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__gv7Lp * {
  transform-style: preserve-3d;
}
.text___8BFv0 {
  transform-style: preserve-3d;
}
.text___8BFv0 * {
  transform-style: preserve-3d;
}
.text__t1A7N {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__t1A7N * {
  transform-style: preserve-3d;
}
.teamUploadLogoButtonGroup {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
  transform-style: preserve-3d;
  min-width: 0;
}
.teamUploadLogoButtonGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.teamUploadLogoButtonGroup * {
  transform-style: preserve-3d;
}
.teamUploadLogoButtonGroup > :global(.__wab_flex-container) > *,
.teamUploadLogoButtonGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.teamUploadLogoButtonGroup > :global(.__wab_flex-container) > picture > img,
.teamUploadLogoButtonGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.teamLogoImageWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 64px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.teamLogoImageWrapper * {
  transform-style: preserve-3d;
}
.teamLogoImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
  border-radius: 100%;
  border: 2px none #f0f1f3 /* plasmic-token: deafmaGIp */;
}
.teamLogoImage > picture > img {
  object-fit: cover;
}
.teamLogoImage > .__wab_img-spacer > img {
  object-fit: cover;
}
.teamLogoImage * {
  transform-style: preserve-3d;
}
.teamEditlogoGroup {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.teamEditlogoGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.teamEditlogoGroup * {
  transform-style: preserve-3d;
}
.teamEditlogoGroup > :global(.__wab_flex-container) > *,
.teamEditlogoGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.teamEditlogoGroup > :global(.__wab_flex-container) > picture > img,
.teamEditlogoGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.editLogoButton:global(.__wab_instance) {
  position: relative;
  width: 90px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.editLogoButton * {
  transform-style: preserve-3d;
}
.text__idZcm {
  transform-style: preserve-3d;
}
.text__idZcm * {
  transform-style: preserve-3d;
}
.deleteLogoButton:global(.__wab_instance) {
  position: relative;
  height: 30px;
  width: 90px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.deleteLogoButton * {
  transform-style: preserve-3d;
}
.text__p61M {
  transform-style: preserve-3d;
}
.text__p61M * {
  transform-style: preserve-3d;
}
.cardTeamDisplayname {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.cardTeamDisplayname > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamDisplayname * {
  transform-style: preserve-3d;
}
.cardTeamDisplayname > :global(.__wab_flex-container) > *,
.cardTeamDisplayname
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardTeamDisplayname > :global(.__wab_flex-container) > picture > img,
.cardTeamDisplayname
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamDisplayname {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamDisplayname * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__uukSn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__uukSn * {
  transform-style: preserve-3d;
}
.text__fqhA {
  transform-style: preserve-3d;
}
.text__fqhA * {
  transform-style: preserve-3d;
}
.text__yi5Qw {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__yi5Qw * {
  transform-style: preserve-3d;
}
.displayNameTextInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.displayNameTextInput * {
  transform-style: preserve-3d;
}
.text___5ZnbV {
  transform-style: preserve-3d;
}
.text___5ZnbV * {
  transform-style: preserve-3d;
}
.text___7Kw9 {
  transform-style: preserve-3d;
}
.text___7Kw9 * {
  transform-style: preserve-3d;
}
.text__aZk9Z {
  transform-style: preserve-3d;
}
.text__aZk9Z * {
  transform-style: preserve-3d;
}
.cardTeamUrl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.cardTeamUrl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamUrl * {
  transform-style: preserve-3d;
}
.cardTeamUrl > :global(.__wab_flex-container) > *,
.cardTeamUrl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamUrl > :global(.__wab_flex-container) > picture > img,
.cardTeamUrl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__qniDb:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__qniDb * {
  transform-style: preserve-3d;
}
.text__mdIlD {
  transform-style: preserve-3d;
}
.text__mdIlD * {
  transform-style: preserve-3d;
}
.text___7BSxw {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text___7BSxw * {
  transform-style: preserve-3d;
}
.companuUrlTextInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.companuUrlTextInput * {
  transform-style: preserve-3d;
}
.text__sudE2 {
  transform-style: preserve-3d;
}
.text__sudE2 * {
  transform-style: preserve-3d;
}
.text__qFri {
  transform-style: preserve-3d;
}
.text__qFri * {
  transform-style: preserve-3d;
}
.text__kPaOn {
  transform-style: preserve-3d;
}
.text__kPaOn * {
  transform-style: preserve-3d;
}
.cardTeamTagline {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.cardTeamTagline > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamTagline * {
  transform-style: preserve-3d;
}
.cardTeamTagline > :global(.__wab_flex-container) > *,
.cardTeamTagline > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamTagline > :global(.__wab_flex-container) > picture > img,
.cardTeamTagline
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardHeaderTitlePrimary__pqkRc:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__pqkRc * {
  transform-style: preserve-3d;
}
.text__lxx1I {
  transform-style: preserve-3d;
}
.text__lxx1I * {
  transform-style: preserve-3d;
}
.text___0EGio {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text___0EGio * {
  transform-style: preserve-3d;
}
.tagLineTextInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.tagLineTextInput * {
  transform-style: preserve-3d;
}
.text__tgBw {
  transform-style: preserve-3d;
}
.text__tgBw * {
  transform-style: preserve-3d;
}
.text__cA4OE {
  transform-style: preserve-3d;
}
.text__cA4OE * {
  transform-style: preserve-3d;
}
.text__wNJj {
  transform-style: preserve-3d;
}
.text__wNJj * {
  transform-style: preserve-3d;
}
.cardTeamDescription {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.cardTeamDescription > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamDescription * {
  transform-style: preserve-3d;
}
.cardTeamDescription > :global(.__wab_flex-container) > *,
.cardTeamDescription
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardTeamDescription > :global(.__wab_flex-container) > picture > img,
.cardTeamDescription
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamDescription {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamDescription * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__bp3Lf:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__bp3Lf * {
  transform-style: preserve-3d;
}
.text__g4WjX {
  transform-style: preserve-3d;
}
.text__g4WjX * {
  transform-style: preserve-3d;
}
.text__aUyt {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__aUyt * {
  transform-style: preserve-3d;
}
.companyDescriptionITextAreaInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.companyDescriptionITextAreaInput * {
  transform-style: preserve-3d;
}
.cardTeamVideoIntroUrl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.cardTeamVideoIntroUrl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamVideoIntroUrl * {
  transform-style: preserve-3d;
}
.cardTeamVideoIntroUrl > :global(.__wab_flex-container) > *,
.cardTeamVideoIntroUrl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardTeamVideoIntroUrl > :global(.__wab_flex-container) > picture > img,
.cardTeamVideoIntroUrl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamVideoIntroUrl {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamVideoIntroUrl * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__fVjEb:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__fVjEb * {
  transform-style: preserve-3d;
}
.text__enlbh {
  transform-style: preserve-3d;
}
.text__enlbh * {
  transform-style: preserve-3d;
}
.text__rycgx {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__rycgx * {
  transform-style: preserve-3d;
}
.videoIntroTextInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.videoIntroTextInput * {
  transform-style: preserve-3d;
}
.text__vUiL {
  transform-style: preserve-3d;
}
.text__vUiL * {
  transform-style: preserve-3d;
}
.text__pp3Nh {
  transform-style: preserve-3d;
}
.text__pp3Nh * {
  transform-style: preserve-3d;
}
.text__lyTNv {
  transform-style: preserve-3d;
}
.text__lyTNv * {
  transform-style: preserve-3d;
}
.saveProfileButton:global(.__wab_instance) {
  position: relative;
  width: 180px;
  height: 40px;
  align-self: flex-start;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.saveProfileButton * {
  transform-style: preserve-3d;
}
.text__rzibs {
  height: auto;
  transform-style: preserve-3d;
}
.text__rzibs * {
  transform-style: preserve-3d;
}
.sectionTeamEditProfileDetails {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 16px 8px 32px;
}
.sectionTeamEditProfileDetails > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamEditProfileDetails * {
  transform-style: preserve-3d;
}
.sectionTeamEditProfileDetails > :global(.__wab_flex-container) > *,
.sectionTeamEditProfileDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamEditProfileDetails > :global(.__wab_flex-container) > picture > img,
.sectionTeamEditProfileDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamEditProfileDetails {
    transform-style: preserve-3d;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamEditProfileDetails * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitleDisplay__iNw1X:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitleDisplay__iNw1X * {
  transform-style: preserve-3d;
}
.text___85MHi {
  transform-style: preserve-3d;
}
.text___85MHi * {
  transform-style: preserve-3d;
}
.text__neYsn {
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  font-weight: 700;
  transform-style: preserve-3d;
}
.text__neYsn * {
  transform-style: preserve-3d;
}
.text__iQsnj {
  transform-style: preserve-3d;
}
.text__iQsnj * {
  transform-style: preserve-3d;
}
.teamDetailsForm:global(.__wab_instance) {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.teamDetailsForm * {
  transform-style: preserve-3d;
}
.formTeamEditDetails {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 550px;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.formTeamEditDetails > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.formTeamEditDetails * {
  transform-style: preserve-3d;
}
.formTeamEditDetails > :global(.__wab_flex-container) > *,
.formTeamEditDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.formTeamEditDetails > :global(.__wab_flex-container) > picture > img,
.formTeamEditDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .formTeamEditDetails {
    width: 100%;
    left: auto;
    top: auto;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .formTeamEditDetails > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .formTeamEditDetails * {
    transform-style: preserve-3d;
  }
}
.cardTeamLocation {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.cardTeamLocation > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamLocation * {
  transform-style: preserve-3d;
}
.cardTeamLocation > :global(.__wab_flex-container) > *,
.cardTeamLocation > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamLocation > :global(.__wab_flex-container) > picture > img,
.cardTeamLocation
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamLocation {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamLocation > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamLocation * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__uhObt:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__uhObt * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardHeaderTitlePrimary__uhObt:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardHeaderTitlePrimary__uhObt * {
    transform-style: preserve-3d;
  }
}
.text__er51P {
  transform-style: preserve-3d;
}
.text__er51P * {
  transform-style: preserve-3d;
}
.text__s7Wwc {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__s7Wwc * {
  transform-style: preserve-3d;
}
.teamLocationGroup {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.teamLocationGroup > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: unset;
  justify-content: flex-start;
  align-content: unset;
  flex-wrap: nowrap;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.teamLocationGroup * {
  transform-style: preserve-3d;
}
.teamLocationGroup > :global(.__wab_flex-container) > *,
.teamLocationGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.teamLocationGroup > :global(.__wab_flex-container) > picture > img,
.teamLocationGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamLocationGroup {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamLocationGroup > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamLocationGroup * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamLocationGroup > :global(.__wab_flex-container) > *,
  .teamLocationGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .teamLocationGroup > :global(.__wab_flex-container) > picture > img,
  .teamLocationGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.countrySelectInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.countrySelectInput * {
  transform-style: preserve-3d;
}
.text___57Vzd {
  transform-style: preserve-3d;
}
.text___57Vzd * {
  transform-style: preserve-3d;
}
.text__oPhip {
  transform-style: preserve-3d;
}
.text__oPhip * {
  transform-style: preserve-3d;
}
.citySelectInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.citySelectInput * {
  transform-style: preserve-3d;
}
.text__cTqdU {
  transform-style: preserve-3d;
}
.text__cTqdU * {
  transform-style: preserve-3d;
}
.text___8KdxT {
  transform-style: preserve-3d;
}
.text___8KdxT * {
  transform-style: preserve-3d;
}
.cardTeamIndustry {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.cardTeamIndustry > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamIndustry * {
  transform-style: preserve-3d;
}
.cardTeamIndustry > :global(.__wab_flex-container) > *,
.cardTeamIndustry > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamIndustry > :global(.__wab_flex-container) > picture > img,
.cardTeamIndustry
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamIndustry {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamIndustry > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamIndustry * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary___77Wa:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary___77Wa * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardHeaderTitlePrimary___77Wa:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardHeaderTitlePrimary___77Wa * {
    transform-style: preserve-3d;
  }
}
.text__xmoDe {
  transform-style: preserve-3d;
}
.text__xmoDe * {
  transform-style: preserve-3d;
}
.text__pxWbU {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__pxWbU * {
  transform-style: preserve-3d;
}
.teamIndustryGroup {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.teamIndustryGroup > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: unset;
  justify-content: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.teamIndustryGroup * {
  transform-style: preserve-3d;
}
.teamIndustryGroup > :global(.__wab_flex-container) > *,
.teamIndustryGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.teamIndustryGroup > :global(.__wab_flex-container) > picture > img,
.teamIndustryGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamIndustryGroup {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamIndustryGroup > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamIndustryGroup * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamIndustryGroup > :global(.__wab_flex-container) > *,
  .teamIndustryGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .teamIndustryGroup > :global(.__wab_flex-container) > picture > img,
  .teamIndustryGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.industrySelectInput:global(.__wab_instance) {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.industrySelectInput * {
  transform-style: preserve-3d;
}
.text__qGqiV {
  transform-style: preserve-3d;
}
.text__qGqiV * {
  transform-style: preserve-3d;
}
.text___9BfMh {
  height: auto;
  transform-style: preserve-3d;
}
.text___9BfMh * {
  transform-style: preserve-3d;
}
.companySizeSelectInput:global(.__wab_instance) {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.companySizeSelectInput * {
  transform-style: preserve-3d;
}
.text__frgHa {
  transform-style: preserve-3d;
}
.text__frgHa * {
  transform-style: preserve-3d;
}
.text__aokM {
  transform-style: preserve-3d;
}
.text__aokM * {
  transform-style: preserve-3d;
}
.cardTeamLanguages {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.cardTeamLanguages > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamLanguages * {
  transform-style: preserve-3d;
}
.cardTeamLanguages > :global(.__wab_flex-container) > *,
.cardTeamLanguages > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamLanguages > :global(.__wab_flex-container) > picture > img,
.cardTeamLanguages
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamLanguages {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamLanguages > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamLanguages * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__hh8K1:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__hh8K1 * {
  transform-style: preserve-3d;
}
.text__g7Ct {
  transform-style: preserve-3d;
}
.text__g7Ct * {
  transform-style: preserve-3d;
}
.text___4Fska {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text___4Fska * {
  transform-style: preserve-3d;
}
.inputGroupTeamLanguages {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.inputGroupTeamLanguages > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: unset;
  justify-content: flex-start;
  align-content: flex-end;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.inputGroupTeamLanguages * {
  transform-style: preserve-3d;
}
.inputGroupTeamLanguages > :global(.__wab_flex-container) > *,
.inputGroupTeamLanguages
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.inputGroupTeamLanguages > :global(.__wab_flex-container) > picture > img,
.inputGroupTeamLanguages
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputGroupTeamLanguages {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputGroupTeamLanguages > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputGroupTeamLanguages * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputGroupTeamLanguages > :global(.__wab_flex-container) > *,
  .inputGroupTeamLanguages
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .inputGroupTeamLanguages > :global(.__wab_flex-container) > picture > img,
  .inputGroupTeamLanguages
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.primaryLanguageSelectInput:global(.__wab_instance) {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.primaryLanguageSelectInput * {
  transform-style: preserve-3d;
}
.text__zjzsF {
  transform-style: preserve-3d;
}
.text__zjzsF * {
  transform-style: preserve-3d;
}
.text__r37Rj {
  height: auto;
  transform-style: preserve-3d;
}
.text__r37Rj * {
  transform-style: preserve-3d;
}
.secondaryLanguageSelectInput:global(.__wab_instance) {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.secondaryLanguageSelectInput * {
  transform-style: preserve-3d;
}
.text__g3T6X {
  transform-style: preserve-3d;
}
.text__g3T6X * {
  transform-style: preserve-3d;
}
.text__mDYsW {
  transform-style: preserve-3d;
}
.text__mDYsW * {
  transform-style: preserve-3d;
}
.cardTeamSkills {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.cardTeamSkills > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamSkills * {
  transform-style: preserve-3d;
}
.cardTeamSkills > :global(.__wab_flex-container) > *,
.cardTeamSkills > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamSkills > :global(.__wab_flex-container) > picture > img,
.cardTeamSkills
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamSkills {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamSkills > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamSkills * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__pPsFm:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__pPsFm * {
  transform-style: preserve-3d;
}
.text___4Gxoy {
  transform-style: preserve-3d;
}
.text___4Gxoy * {
  transform-style: preserve-3d;
}
.text__xsqey {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__xsqey * {
  transform-style: preserve-3d;
}
.skillsMultiSelectInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.skillsMultiSelectInput * {
  transform-style: preserve-3d;
}
.cardTeamCommunity {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.cardTeamCommunity > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamCommunity * {
  transform-style: preserve-3d;
}
.cardTeamCommunity > :global(.__wab_flex-container) > *,
.cardTeamCommunity > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamCommunity > :global(.__wab_flex-container) > picture > img,
.cardTeamCommunity
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamCommunity {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamCommunity > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamCommunity * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__w2MaY:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__w2MaY * {
  transform-style: preserve-3d;
}
.text__xMp5K {
  transform-style: preserve-3d;
}
.text__xMp5K * {
  transform-style: preserve-3d;
}
.text__kV8Sr {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__kV8Sr * {
  transform-style: preserve-3d;
}
.communityMultiSelectInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.communityMultiSelectInput * {
  transform-style: preserve-3d;
}
.submitDetailsButton:global(.__wab_instance) {
  position: relative;
  width: 180px;
  height: 40px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.submitDetailsButton * {
  transform-style: preserve-3d;
}
.text__cbMPo {
  transform-style: preserve-3d;
}
.text__cbMPo * {
  transform-style: preserve-3d;
}
.sectionTeamEditProfileMarkets {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 16px 8px 32px;
}
.sectionTeamEditProfileMarkets > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamEditProfileMarkets * {
  transform-style: preserve-3d;
}
.sectionTeamEditProfileMarkets > :global(.__wab_flex-container) > *,
.sectionTeamEditProfileMarkets
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamEditProfileMarkets > :global(.__wab_flex-container) > picture > img,
.sectionTeamEditProfileMarkets
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamEditProfileMarkets {
    transform-style: preserve-3d;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamEditProfileMarkets * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitleDisplay__atS0:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitleDisplay__atS0 * {
  transform-style: preserve-3d;
}
.text__g8CjA {
  transform-style: preserve-3d;
}
.text__g8CjA * {
  transform-style: preserve-3d;
}
.text__vhIlB {
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  font-weight: 700;
  transform-style: preserve-3d;
}
.text__vhIlB * {
  transform-style: preserve-3d;
}
.text__lgju5 {
  transform-style: preserve-3d;
}
.text__lgju5 * {
  transform-style: preserve-3d;
}
.teamMarketForm:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.teamMarketForm * {
  transform-style: preserve-3d;
}
.formTeamEditMarkets {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 550px;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.formTeamEditMarkets > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.formTeamEditMarkets * {
  transform-style: preserve-3d;
}
.formTeamEditMarkets > :global(.__wab_flex-container) > *,
.formTeamEditMarkets
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.formTeamEditMarkets > :global(.__wab_flex-container) > picture > img,
.formTeamEditMarkets
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .formTeamEditMarkets {
    width: 100%;
    left: auto;
    top: auto;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .formTeamEditMarkets > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .formTeamEditMarkets * {
    transform-style: preserve-3d;
  }
}
.cardTeamMarkets {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.cardTeamMarkets > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamMarkets * {
  transform-style: preserve-3d;
}
.cardTeamMarkets > :global(.__wab_flex-container) > *,
.cardTeamMarkets > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamMarkets > :global(.__wab_flex-container) > picture > img,
.cardTeamMarkets
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamMarkets {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamMarkets > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamMarkets * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__cD0F:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__cD0F * {
  transform-style: preserve-3d;
}
.text__gOFxn {
  transform-style: preserve-3d;
}
.text__gOFxn * {
  transform-style: preserve-3d;
}
.text__o1RK {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__o1RK * {
  transform-style: preserve-3d;
}
.teamMarketsGroup {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.teamMarketsGroup > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: unset;
  justify-content: flex-start;
  align-content: flex-end;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.teamMarketsGroup * {
  transform-style: preserve-3d;
}
.teamMarketsGroup > :global(.__wab_flex-container) > *,
.teamMarketsGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.teamMarketsGroup > :global(.__wab_flex-container) > picture > img,
.teamMarketsGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamMarketsGroup {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamMarketsGroup > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamMarketsGroup * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamMarketsGroup > :global(.__wab_flex-container) > *,
  .teamMarketsGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .teamMarketsGroup > :global(.__wab_flex-container) > picture > img,
  .teamMarketsGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.marketIndustrySelectInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.marketIndustrySelectInput * {
  transform-style: preserve-3d;
}
.text__qefX0 {
  transform-style: preserve-3d;
}
.text__qefX0 * {
  transform-style: preserve-3d;
}
.text__yBbjg {
  transform-style: preserve-3d;
}
.text__yBbjg * {
  transform-style: preserve-3d;
}
.marketCompanySizeSelectInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.marketCompanySizeSelectInput * {
  transform-style: preserve-3d;
}
.text__vb8DZ {
  transform-style: preserve-3d;
}
.text__vb8DZ * {
  transform-style: preserve-3d;
}
.text__cjEcz {
  transform-style: preserve-3d;
}
.text__cjEcz * {
  transform-style: preserve-3d;
}
.cardTeamProjects {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.cardTeamProjects > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamProjects * {
  transform-style: preserve-3d;
}
.cardTeamProjects > :global(.__wab_flex-container) > *,
.cardTeamProjects > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamProjects > :global(.__wab_flex-container) > picture > img,
.cardTeamProjects
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamProjects {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamProjects > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamProjects * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__iKrZt:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__iKrZt * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardHeaderTitlePrimary__iKrZt:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardHeaderTitlePrimary__iKrZt * {
    transform-style: preserve-3d;
  }
}
.text___8EeQh {
  transform-style: preserve-3d;
}
.text___8EeQh * {
  transform-style: preserve-3d;
}
.text__coJrh {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__coJrh * {
  transform-style: preserve-3d;
}
.teamProjectsGroup {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.teamProjectsGroup > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: unset;
  justify-content: flex-start;
  align-content: flex-end;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.teamProjectsGroup * {
  transform-style: preserve-3d;
}
.teamProjectsGroup > :global(.__wab_flex-container) > *,
.teamProjectsGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.teamProjectsGroup > :global(.__wab_flex-container) > picture > img,
.teamProjectsGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamProjectsGroup {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamProjectsGroup > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamProjectsGroup * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .teamProjectsGroup > :global(.__wab_flex-container) > *,
  .teamProjectsGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .teamProjectsGroup > :global(.__wab_flex-container) > picture > img,
  .teamProjectsGroup
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.primaryRateSelectInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.primaryRateSelectInput * {
  transform-style: preserve-3d;
}
.text__lm21O {
  transform-style: preserve-3d;
}
.text__lm21O * {
  transform-style: preserve-3d;
}
.text__b0Kq {
  transform-style: preserve-3d;
}
.text__b0Kq * {
  transform-style: preserve-3d;
}
.secondaryRateSelectInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.secondaryRateSelectInput * {
  transform-style: preserve-3d;
}
.text__f4Pnf {
  transform-style: preserve-3d;
}
.text__f4Pnf * {
  transform-style: preserve-3d;
}
.text__rnFly {
  transform-style: preserve-3d;
}
.text__rnFly * {
  transform-style: preserve-3d;
}
.cardTeamInterests {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.cardTeamInterests > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamInterests * {
  transform-style: preserve-3d;
}
.cardTeamInterests > :global(.__wab_flex-container) > *,
.cardTeamInterests > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamInterests > :global(.__wab_flex-container) > picture > img,
.cardTeamInterests
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamInterests {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamInterests > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamInterests * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__seVo7:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__seVo7 * {
  transform-style: preserve-3d;
}
.text__bFdfx {
  transform-style: preserve-3d;
}
.text__bFdfx * {
  transform-style: preserve-3d;
}
.text__jEe9H {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__jEe9H * {
  transform-style: preserve-3d;
}
.interestsMultiSelectInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.interestsMultiSelectInput * {
  transform-style: preserve-3d;
}
.submitMarketsButton:global(.__wab_instance) {
  position: relative;
  width: 180px;
  height: 40px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.submitMarketsButton * {
  transform-style: preserve-3d;
}
.text__c1Rmk {
  height: auto;
  transform-style: preserve-3d;
}
.text__c1Rmk * {
  transform-style: preserve-3d;
}
.sectionTeamEditProfileSocial {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 16px 8px 96px;
}
.sectionTeamEditProfileSocial > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamEditProfileSocial * {
  transform-style: preserve-3d;
}
.sectionTeamEditProfileSocial > :global(.__wab_flex-container) > *,
.sectionTeamEditProfileSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamEditProfileSocial > :global(.__wab_flex-container) > picture > img,
.sectionTeamEditProfileSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamEditProfileSocial {
    transform-style: preserve-3d;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamEditProfileSocial * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitleDisplay__mtzgk:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitleDisplay__mtzgk * {
  transform-style: preserve-3d;
}
.text___3EGhd {
  transform-style: preserve-3d;
}
.text___3EGhd * {
  transform-style: preserve-3d;
}
.text__tTnQg {
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  font-weight: 700;
  transform-style: preserve-3d;
}
.text__tTnQg * {
  transform-style: preserve-3d;
}
.text__u4Mot {
  transform-style: preserve-3d;
}
.text__u4Mot * {
  transform-style: preserve-3d;
}
.teamSocialForm:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.teamSocialForm * {
  transform-style: preserve-3d;
}
.formTeamEditSocial {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 550px;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.formTeamEditSocial > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.formTeamEditSocial * {
  transform-style: preserve-3d;
}
.formTeamEditSocial > :global(.__wab_flex-container) > *,
.formTeamEditSocial > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.formTeamEditSocial > :global(.__wab_flex-container) > picture > img,
.formTeamEditSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .formTeamEditSocial {
    width: 100%;
    left: auto;
    top: auto;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .formTeamEditSocial > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .formTeamEditSocial * {
    transform-style: preserve-3d;
  }
}
.cardTeamWebsite {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.cardTeamWebsite > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamWebsite * {
  transform-style: preserve-3d;
}
.cardTeamWebsite > :global(.__wab_flex-container) > *,
.cardTeamWebsite > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamWebsite > :global(.__wab_flex-container) > picture > img,
.cardTeamWebsite
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamWebsite {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamWebsite * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__qbb0:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__qbb0 * {
  transform-style: preserve-3d;
}
.text__xsegU {
  transform-style: preserve-3d;
}
.text__xsegU * {
  transform-style: preserve-3d;
}
.text__nIdh {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__nIdh * {
  transform-style: preserve-3d;
}
.websiteTextInput:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.websiteTextInput * {
  transform-style: preserve-3d;
}
.text__uLqk {
  transform-style: preserve-3d;
}
.text__uLqk * {
  transform-style: preserve-3d;
}
.text__x16M6 {
  transform-style: preserve-3d;
}
.text__x16M6 * {
  transform-style: preserve-3d;
}
.text__ouIsz {
  transform-style: preserve-3d;
}
.text__ouIsz * {
  transform-style: preserve-3d;
}
.cardTeamSocial {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
  transform-style: preserve-3d;
  min-width: 0;
}
.cardTeamSocial > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamSocial * {
  transform-style: preserve-3d;
}
.cardTeamSocial > :global(.__wab_flex-container) > *,
.cardTeamSocial > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTeamSocial > :global(.__wab_flex-container) > picture > img,
.cardTeamSocial
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamSocial {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamSocial > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamSocial * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__xigdq:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__xigdq * {
  transform-style: preserve-3d;
}
.text__bviP7 {
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  transform-style: preserve-3d;
}
.text__bviP7 * {
  transform-style: preserve-3d;
}
.text__dZnbx {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__dZnbx * {
  transform-style: preserve-3d;
}
.socialPlatformsSwitchInputs:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.socialPlatformsSwitchInputs * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .socialPlatformsSwitchInputs:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .socialPlatformsSwitchInputs * {
    transform-style: preserve-3d;
  }
}
.submitSocialsButton:global(.__wab_instance) {
  position: relative;
  width: 180px;
  height: 40px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.submitSocialsButton * {
  transform-style: preserve-3d;
}
.text___4Ptxx {
  height: auto;
  transform-style: preserve-3d;
}
.text___4Ptxx * {
  transform-style: preserve-3d;
}
