.formHomeSignUp {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: auto;
  position: relative;
  transform-style: preserve-3d;
  padding: 0px;
}
.formHomeSignUp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.formHomeSignUp * {
  transform-style: preserve-3d;
}
.formHomeSignUp > :global(.__wab_flex-container) > *,
.formHomeSignUp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.formHomeSignUp > :global(.__wab_flex-container) > picture > img,
.formHomeSignUp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .formHomeSignUp {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .formHomeSignUp * {
    transform-style: preserve-3d;
  }
}
.emailInputParent {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.emailInputParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.emailInputParent * {
  transform-style: preserve-3d;
}
.emailInputParent > :global(.__wab_flex-container) > *,
.emailInputParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.emailInputParent > :global(.__wab_flex-container) > picture > img,
.emailInputParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.emailText {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 0px;
  font-size: 14px;
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  margin-top: calc(0px + 4px) !important;
  margin-right: 0px;
  margin-left: 0px;
  line-height: 1;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.emailText * {
  transform-style: preserve-3d;
}
.email {
  width: 100%;
  height: 48px;
  padding-left: 6px;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  background: #ffffff;
  transform-style: preserve-3d;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 2px;
  border: 2px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.email * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .email {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .email * {
    transform-style: preserve-3d;
  }
}
.formHomeSignUp .email:hover {
  transform-style: preserve-3d;
  border-color: #14161b /* plasmic-token: _aCbIOo4N */;
}
.formHomeSignUp .email:hover * {
  transform-style: preserve-3d;
}
.formHomeSignUp .email:focus {
  transform-style: preserve-3d;
  outline: none;
  border-color: #6633ff /* plasmic-token: brleuPgaD */;
}
.formHomeSignUp .email:focus * {
  transform-style: preserve-3d;
}
.passwordInputParent {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.passwordInputParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.passwordInputParent * {
  transform-style: preserve-3d;
}
.passwordInputParent > :global(.__wab_flex-container) > *,
.passwordInputParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.passwordInputParent > :global(.__wab_flex-container) > picture > img,
.passwordInputParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.passwordText {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 0px;
  font-size: 14px;
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  margin-top: calc(0px + 4px) !important;
  margin-right: 0px;
  margin-left: 0px;
  line-height: 1;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.passwordText * {
  transform-style: preserve-3d;
}
.password {
  width: 100%;
  height: 48px;
  padding-left: 6px;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  background: #ffffff;
  transform-style: preserve-3d;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 2px;
  border: 2px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.password * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .password {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .password * {
    transform-style: preserve-3d;
  }
}
.formHomeSignUp .password:hover {
  transform-style: preserve-3d;
  border-color: #14161b /* plasmic-token: _aCbIOo4N */;
}
.formHomeSignUp .password:hover * {
  transform-style: preserve-3d;
}
.formHomeSignUp .password:focus {
  transform-style: preserve-3d;
  outline: none;
  border-color: #6633ff /* plasmic-token: brleuPgaD */;
}
.formHomeSignUp .password:focus * {
  transform-style: preserve-3d;
}
.continueButton:global(.__wab_instance) {
  position: relative;
  height: 48px;
  width: 360px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.continueButton * {
  transform-style: preserve-3d;
}
.text__gTvRl {
  font-size: 18px;
  transform-style: preserve-3d;
}
.text__gTvRl * {
  transform-style: preserve-3d;
}
.divider {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.divider > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.divider * {
  transform-style: preserve-3d;
}
.divider > :global(.__wab_flex-container) > *,
.divider > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.divider > :global(.__wab_flex-container) > picture > img,
.divider
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__pz4Rl {
  position: relative;
  object-fit: cover;
  width: 140px;
  height: 2px;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__pz4Rl * {
  transform-style: preserve-3d;
}
.text__gKFt7 {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
}
.text__gKFt7 * {
  transform-style: preserve-3d;
}
.svg__uYfz {
  position: relative;
  object-fit: cover;
  width: 140px;
  height: 2px;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__uYfz * {
  transform-style: preserve-3d;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox * {
  transform-style: preserve-3d;
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.signupFacebookConnection:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  flex-shrink: 0;
}
.signupFacebookConnection * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .signupFacebookConnection:global(.__wab_instance) {
    transform-style: preserve-3d;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .signupFacebookConnection * {
    transform-style: preserve-3d;
  }
}
.signupGoogleConnection:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  flex-shrink: 0;
}
.signupGoogleConnection * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .signupGoogleConnection:global(.__wab_instance) {
    transform-style: preserve-3d;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .signupGoogleConnection * {
    transform-style: preserve-3d;
  }
}
.svg___5Kp4V {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 2px;
  color: #f8f8f8 /* plasmic-token: -59aep1Mm */;
  transform-style: preserve-3d;
  min-width: 0;
  flex-shrink: 0;
}
.svg___5Kp4V * {
  transform-style: preserve-3d;
}
.text__l0Gji {
  position: relative;
  left: auto;
  top: auto;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  align-self: auto;
  width: auto;
  height: auto;
  font-size: 14px;
  transform-style: preserve-3d;
}
.text__l0Gji * {
  transform-style: preserve-3d;
}
.loginButton:global(.__wab_instance) {
  position: relative;
  width: 360px;
  height: 48px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.loginButton * {
  transform-style: preserve-3d;
}
.text__fzjYy {
  transform-style: preserve-3d;
}
.text__fzjYy * {
  transform-style: preserve-3d;
}
.terms {
  display: block;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #14161b /* plasmic-token: MAJ29KQMI */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.terms * {
  transform-style: preserve-3d;
}
.signupLegalLinks {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.signupLegalLinks * {
  transform-style: preserve-3d;
}
.signupTos {
  position: relative;
  left: auto;
  top: auto;
  color: #a385ff /* plasmic-token: rN0ul5_oz */;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  transform-style: preserve-3d;
}
.signupTos * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .signupTos {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .signupTos * {
    transform-style: preserve-3d;
  }
}
.formHomeSignUp .signupTos:hover {
  color: #6633ff /* plasmic-token: brleuPgaD */;
  transform-style: preserve-3d;
}
.formHomeSignUp .signupTos:hover * {
  transform-style: preserve-3d;
}
.signupPrivacy {
  position: relative;
  left: auto;
  top: auto;
  color: #a385ff /* plasmic-token: rN0ul5_oz */;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  transform-style: preserve-3d;
}
.signupPrivacy * {
  transform-style: preserve-3d;
}
.formHomeSignUp .signupPrivacy:hover {
  color: #6633ff /* plasmic-token: brleuPgaD */;
  transform-style: preserve-3d;
}
.formHomeSignUp .signupPrivacy:hover * {
  transform-style: preserve-3d;
}
