.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  background: #ffffff;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 40px 180px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root {
    width: 100%;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    min-width: 0;
    padding: 40px 180px;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root {
    padding-right: 16px;
    padding-left: 16px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root * {
    transform-style: preserve-3d;
  }
}
.headlineParent {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px + 48px) !important;
  margin-right: 0px;
  margin-left: 0px;
  justify-content: flex-start;
  transform-style: preserve-3d;
  min-width: 0;
}
.headlineParent * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .headlineParent {
    width: 100%;
    left: auto;
    top: auto;
    align-self: center;
    justify-content: center;
    align-items: flex-start;
    margin-top: calc(0px + 48px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
    flex-direction: column;
    flex-column-gap: 0px;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .headlineParent * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .headlineParent {
    transform-style: preserve-3d;
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 48px) !important;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .headlineParent * {
    transform-style: preserve-3d;
  }
}
.freeBox___5Q18D {
  display: flex;
  align-self: stretch;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform-style: preserve-3d;
  min-width: 0;
}
.freeBox___5Q18D * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox___5Q18D {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    flex-column-gap: 0px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox___5Q18D * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox___5Q18D {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox___5Q18D * {
    transform-style: preserve-3d;
  }
}
.slotTargetSlot {
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.4;
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  text-align: center;
}
.slotTargetSlot * {
  transform-style: preserve-3d;
}
.slotTargetSlot > *,
.slotTargetSlot > .__wab_slot > *,
.slotTargetSlot > .__wab_slot > .__wab_slot > *,
.slotTargetSlot > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetSlot > picture > img,
.slotTargetSlot > .__wab_slot > picture > img,
.slotTargetSlot > .__wab_slot > .__wab_slot > picture > img,
.slotTargetSlot > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .slotTargetSlot {
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.4;
    color: #101010 /* plasmic-token: 6OoG_pvkg */;
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .slotTargetSlot * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .slotTargetSlot > *,
  .slotTargetSlot > .__wab_slot > *,
  .slotTargetSlot > .__wab_slot > .__wab_slot > *,
  .slotTargetSlot > .__wab_slot > .__wab_slot > .__wab_slot > *,
  .slotTargetSlot > picture > img,
  .slotTargetSlot > .__wab_slot > picture > img,
  .slotTargetSlot > .__wab_slot > .__wab_slot > picture > img,
  .slotTargetSlot > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .slotTargetSlot {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.4;
    color: #101010 /* plasmic-token: 6OoG_pvkg */;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .slotTargetSlot * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .slotTargetSlot > *,
  .slotTargetSlot > .__wab_slot > *,
  .slotTargetSlot > .__wab_slot > .__wab_slot > *,
  .slotTargetSlot > .__wab_slot > .__wab_slot > .__wab_slot > *,
  .slotTargetSlot > picture > img,
  .slotTargetSlot > .__wab_slot > picture > img,
  .slotTargetSlot > .__wab_slot > .__wab_slot > picture > img,
  .slotTargetSlot > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
    transform-style: preserve-3d;
  }
}
.text__bSjMg {
  transform-style: preserve-3d;
}
.text__bSjMg * {
  transform-style: preserve-3d;
}
.subheadParent {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  margin-bottom: 0px;
  width: 720px;
  display: flex;
  flex-direction: column;
  align-self: auto;
  align-items: center;
  margin-top: calc(0px + 48px) !important;
  margin-right: 0px;
  margin-left: 0px;
  justify-content: flex-start;
  transform-style: preserve-3d;
}
.subheadParent * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .subheadParent {
    width: 720px;
    align-self: auto;
    left: auto;
    top: auto;
    justify-content: flex-start;
    transform-style: preserve-3d;
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 48px) !important;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .subheadParent * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .subheadParent {
    width: 100%;
    transform-style: preserve-3d;
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 48px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .subheadParent * {
    transform-style: preserve-3d;
  }
}
.freeBox__zmpJ9 {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.freeBox__zmpJ9 * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox__zmpJ9 {
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: auto;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .freeBox__zmpJ9 * {
    transform-style: preserve-3d;
  }
}
.slotTargetChildren {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #14161b /* plasmic-token: MAJ29KQMI */;
  text-align: center;
}
.slotTargetChildren * {
  transform-style: preserve-3d;
}
.slotTargetChildren > *,
.slotTargetChildren > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > picture > img,
.slotTargetChildren > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .slotTargetChildren {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.4;
    color: #14161b /* plasmic-token: MAJ29KQMI */;
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .slotTargetChildren * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .slotTargetChildren > *,
  .slotTargetChildren > .__wab_slot > *,
  .slotTargetChildren > .__wab_slot > .__wab_slot > *,
  .slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > *,
  .slotTargetChildren > picture > img,
  .slotTargetChildren > .__wab_slot > picture > img,
  .slotTargetChildren > .__wab_slot > .__wab_slot > picture > img,
  .slotTargetChildren
    > .__wab_slot
    > .__wab_slot
    > .__wab_slot
    > picture
    > img {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .slotTargetChildren {
    font-size: 14px;
    line-height: 1.4;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .slotTargetChildren * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .slotTargetChildren > *,
  .slotTargetChildren > .__wab_slot > *,
  .slotTargetChildren > .__wab_slot > .__wab_slot > *,
  .slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > *,
  .slotTargetChildren > picture > img,
  .slotTargetChildren > .__wab_slot > picture > img,
  .slotTargetChildren > .__wab_slot > .__wab_slot > picture > img,
  .slotTargetChildren
    > .__wab_slot
    > .__wab_slot
    > .__wab_slot
    > picture
    > img {
    transform-style: preserve-3d;
  }
}
.text__y7Yu1 {
  transform-style: preserve-3d;
}
.text__y7Yu1 * {
  transform-style: preserve-3d;
}
.inputEmailA:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
  display: flex;
}
.inputEmailA * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .inputEmailA:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .inputEmailA * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputEmailA:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputEmailA * {
    transform-style: preserve-3d;
  }
}
