.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.sectionMarketHeadline {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 64px 24px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .sectionMarketHeadline {
    padding-left: 120px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: unset;
    padding-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionMarketHeadline {
    padding-top: 16px;
  }
}
.sectionNewServiceListings {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  padding-left: 24px;
  min-width: 0;
}
.sectionNewServiceListings > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionNewServiceListings > :global(.__wab_flex-container) > *,
.sectionNewServiceListings
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionNewServiceListings > :global(.__wab_flex-container) > picture > img,
.sectionNewServiceListings
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .sectionNewServiceListings {
    padding-left: 120px;
  }
}
.text__o0Huz {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__wxNnk {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #14161b /* plasmic-token: MAJ29KQMI */;
  align-self: stretch;
}
.freeBox__x52DM {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  padding-left: 0px;
  min-width: 0;
}
.freeBox__x52DM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__x52DM > :global(.__wab_flex-container) > *,
.freeBox__x52DM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x52DM > :global(.__wab_flex-container) > picture > img,
.freeBox__x52DM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___8Qeyr {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #14161b /* plasmic-token: MAJ29KQMI */;
  align-self: stretch;
}
.freeBox__peEx {
  flex-direction: row;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  padding-left: 0px;
  overflow: auto;
  padding-top: 16px;
  padding-right: 0px;
  height: auto;
  min-width: 0;
}
.freeBox__peEx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__peEx > :global(.__wab_flex-container) > *,
.freeBox__peEx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__peEx > :global(.__wab_flex-container) > picture > img,
.freeBox__peEx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.marketUserProfile:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.sectionServiceCollections {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  padding-left: 24px;
  padding-bottom: 96px;
  padding-top: 48px;
}
.sectionServiceCollections > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionServiceCollections > :global(.__wab_flex-container) > *,
.sectionServiceCollections
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionServiceCollections > :global(.__wab_flex-container) > picture > img,
.sectionServiceCollections
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .sectionServiceCollections {
    padding-left: 120px;
  }
}
.freeBox__w5Mqp {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  padding-left: 0px;
}
.freeBox__w5Mqp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__w5Mqp > :global(.__wab_flex-container) > *,
.freeBox__w5Mqp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w5Mqp > :global(.__wab_flex-container) > picture > img,
.freeBox__w5Mqp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__aC4Uc {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__fGgzj {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #14161b /* plasmic-token: MAJ29KQMI */;
  align-self: stretch;
}
.freeBox___9OZlj {
  flex-direction: row;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  overflow: auto;
  height: auto;
  min-width: 0;
  padding: 16px 0px;
}
.freeBox___9OZlj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___9OZlj > :global(.__wab_flex-container) > *,
.freeBox___9OZlj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9OZlj > :global(.__wab_flex-container) > picture > img,
.freeBox___9OZlj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.cardServiceDisplay:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .cardServiceDisplay:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__ybo5P {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__ybo5P > picture > img {
  object-fit: cover;
}
.img__ybo5P > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___74IvR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___74IvR > picture > img {
  object-fit: cover;
}
.img___74IvR > .__wab_img-spacer > img {
  object-fit: cover;
}
