.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.root * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .root * {
    transform-style: preserve-3d;
  }
}
.navbarPartnerEdit:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.navbarPartnerEdit * {
  transform-style: preserve-3d;
}
.sectionTeamManageMembersHeader {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  align-self: flex-start;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionTeamManageMembersHeader > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamManageMembersHeader * {
  transform-style: preserve-3d;
}
.sectionTeamManageMembersHeader > :global(.__wab_flex-container) > *,
.sectionTeamManageMembersHeader
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamManageMembersHeader
  > :global(.__wab_flex-container)
  > picture
  > img,
.sectionTeamManageMembersHeader
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamManageMembersHeader {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamManageMembersHeader * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .sectionTeamManageMembersHeader {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
    padding: 16px;
  }
}
@media (max-width: 375px) {
  .sectionTeamManageMembersHeader > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .sectionTeamManageMembersHeader * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitleDisplay:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.cardHeaderTitleDisplay * {
  transform-style: preserve-3d;
}
@media (max-width: 375px) {
  .cardHeaderTitleDisplay:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .cardHeaderTitleDisplay * {
    transform-style: preserve-3d;
  }
}
.text__tw6Cp {
  transform-style: preserve-3d;
}
.text__tw6Cp * {
  transform-style: preserve-3d;
}
.text___6QAYz {
  font-weight: 700;
  transform-style: preserve-3d;
}
.text___6QAYz * {
  transform-style: preserve-3d;
}
.text___2WMs {
  transform-style: preserve-3d;
}
.text___2WMs * {
  transform-style: preserve-3d;
}
.sectionTeamInviteMembers {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionTeamInviteMembers > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamInviteMembers * {
  transform-style: preserve-3d;
}
.sectionTeamInviteMembers > :global(.__wab_flex-container) > *,
.sectionTeamInviteMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamInviteMembers > :global(.__wab_flex-container) > picture > img,
.sectionTeamInviteMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamInviteMembers {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    transform-style: preserve-3d;
    min-width: 0;
    padding: 64px 24px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamInviteMembers > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamInviteMembers * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionTeamInviteMembers > :global(.__wab_flex-container) > *,
  .sectionTeamInviteMembers
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .sectionTeamInviteMembers > :global(.__wab_flex-container) > picture > img,
  .sectionTeamInviteMembers
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 375px) {
  .sectionTeamInviteMembers {
    width: 100%;
    left: auto;
    top: auto;
    transform-style: preserve-3d;
    min-width: 0;
    padding: 16px;
  }
}
@media (max-width: 375px) {
  .sectionTeamInviteMembers > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .sectionTeamInviteMembers * {
    transform-style: preserve-3d;
  }
}
.cardTeamInviteMembers {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  transform-style: preserve-3d;
}
.cardTeamInviteMembers > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamInviteMembers * {
  transform-style: preserve-3d;
}
.cardTeamInviteMembers > :global(.__wab_flex-container) > *,
.cardTeamInviteMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardTeamInviteMembers > :global(.__wab_flex-container) > picture > img,
.cardTeamInviteMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (max-width: 375px) {
  .cardTeamInviteMembers {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .cardTeamInviteMembers > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .cardTeamInviteMembers * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__ki7Or:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__ki7Or * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardHeaderTitlePrimary__ki7Or:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardHeaderTitlePrimary__ki7Or * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .cardHeaderTitlePrimary__ki7Or:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (max-width: 375px) {
  .cardHeaderTitlePrimary__ki7Or * {
    transform-style: preserve-3d;
  }
}
.text__wvKi {
  transform-style: preserve-3d;
}
.text__wvKi * {
  transform-style: preserve-3d;
}
.text__ygMqo {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__ygMqo * {
  transform-style: preserve-3d;
}
.buttonPrimary:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.buttonPrimary * {
  transform-style: preserve-3d;
}
.text___0Laht {
  transform-style: preserve-3d;
}
.text___0Laht * {
  transform-style: preserve-3d;
}
.svg__grV1R {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__grV1R * {
  transform-style: preserve-3d;
}
.tableAddTeamMember {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  transform-style: preserve-3d;
  border-radius: 2px;
  padding: 8px;
  border: 2px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.tableAddTeamMember > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.tableAddTeamMember * {
  transform-style: preserve-3d;
}
.tableAddTeamMember > :global(.__wab_flex-container) > *,
.tableAddTeamMember > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tableAddTeamMember > :global(.__wab_flex-container) > picture > img,
.tableAddTeamMember
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .tableAddTeamMember {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .tableAddTeamMember > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .tableAddTeamMember * {
    transform-style: preserve-3d;
  }
}
.inviteMemberHeader {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  transform-style: preserve-3d;
}
.inviteMemberHeader > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: unset;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.inviteMemberHeader * {
  transform-style: preserve-3d;
}
.inviteMemberHeader > :global(.__wab_flex-container) > *,
.inviteMemberHeader > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inviteMemberHeader > :global(.__wab_flex-container) > picture > img,
.inviteMemberHeader
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberHeader {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberHeader > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberHeader * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberHeader > :global(.__wab_flex-container) > *,
  .inviteMemberHeader
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .inviteMemberHeader > :global(.__wab_flex-container) > picture > img,
  .inviteMemberHeader
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.inputTextForm__fayfn:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.inputTextForm__fayfn * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputTextForm__fayfn:global(.__wab_instance) {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputTextForm__fayfn * {
    transform-style: preserve-3d;
  }
}
.text__ptzPj {
  font-weight: 600;
  transform-style: preserve-3d;
}
.text__ptzPj * {
  transform-style: preserve-3d;
}
.text__fWsMy {
  transform-style: preserve-3d;
}
.text__fWsMy * {
  transform-style: preserve-3d;
}
.selectGroupDropdownPrimary__gj5Rn:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.selectGroupDropdownPrimary__gj5Rn * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .selectGroupDropdownPrimary__gj5Rn:global(.__wab_instance) {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .selectGroupDropdownPrimary__gj5Rn * {
    transform-style: preserve-3d;
  }
}
.text___7A8Rf {
  font-weight: 600;
  transform-style: preserve-3d;
}
.text___7A8Rf * {
  transform-style: preserve-3d;
}
.text__ffkXr {
  transform-style: preserve-3d;
}
.text__ffkXr * {
  transform-style: preserve-3d;
}
.text___24Ue5 {
  transform-style: preserve-3d;
}
.text___24Ue5 * {
  transform-style: preserve-3d;
}
.inviteMemberRecord {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  transform-style: preserve-3d;
}
.inviteMemberRecord > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: unset;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.inviteMemberRecord * {
  transform-style: preserve-3d;
}
.inviteMemberRecord > :global(.__wab_flex-container) > *,
.inviteMemberRecord > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inviteMemberRecord > :global(.__wab_flex-container) > picture > img,
.inviteMemberRecord
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberRecord {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberRecord > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberRecord * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteMemberRecord > :global(.__wab_flex-container) > *,
  .inviteMemberRecord
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .inviteMemberRecord > :global(.__wab_flex-container) > picture > img,
  .inviteMemberRecord
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.inputTextForm__ziL9:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.inputTextForm__ziL9 * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputTextForm__ziL9:global(.__wab_instance) {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inputTextForm__ziL9 * {
    transform-style: preserve-3d;
  }
}
.text__xVhpf {
  transform-style: preserve-3d;
}
.text__xVhpf * {
  transform-style: preserve-3d;
}
.text___5J6Yn {
  transform-style: preserve-3d;
}
.text___5J6Yn * {
  transform-style: preserve-3d;
}
.selectGroupDropdownPrimary__qVoyx:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.selectGroupDropdownPrimary__qVoyx * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .selectGroupDropdownPrimary__qVoyx:global(.__wab_instance) {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .selectGroupDropdownPrimary__qVoyx * {
    transform-style: preserve-3d;
  }
}
.text__rIwVj {
  transform-style: preserve-3d;
}
.text__rIwVj * {
  transform-style: preserve-3d;
}
.text__zy1FU {
  transform-style: preserve-3d;
}
.text__zy1FU * {
  transform-style: preserve-3d;
}
.text__aR4Sa {
  transform-style: preserve-3d;
}
.text__aR4Sa * {
  transform-style: preserve-3d;
}
.incrementParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  align-content: unset;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.incrementParent * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .incrementParent {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .incrementParent * {
    transform-style: preserve-3d;
  }
}
.addMember:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.addMember * {
  transform-style: preserve-3d;
}
.inviteButtonParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  top: auto;
  left: auto;
  align-self: flex-end;
  width: 100%;
  height: auto;
  align-content: unset;
  transform-style: preserve-3d;
  min-width: 0;
}
.inviteButtonParent * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteButtonParent {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .inviteButtonParent * {
    transform-style: preserve-3d;
  }
}
.inviteMembers:global(.__wab_instance) {
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.inviteMembers * {
  transform-style: preserve-3d;
}
.text__xxzgL {
  transform-style: preserve-3d;
}
.text__xxzgL * {
  transform-style: preserve-3d;
}
.svg__gAmwy {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__gAmwy * {
  transform-style: preserve-3d;
}
.sectionTeamManageMembers {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 16px 180px 96px;
}
.sectionTeamManageMembers > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionTeamManageMembers * {
  transform-style: preserve-3d;
}
.sectionTeamManageMembers > :global(.__wab_flex-container) > *,
.sectionTeamManageMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionTeamManageMembers > :global(.__wab_flex-container) > picture > img,
.sectionTeamManageMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (max-width: 375px) {
  .sectionTeamManageMembers {
    transform-style: preserve-3d;
    padding: 16px;
  }
}
@media (max-width: 375px) {
  .sectionTeamManageMembers * {
    transform-style: preserve-3d;
  }
}
.cardTeamManageMembers {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  transform-style: preserve-3d;
}
.cardTeamManageMembers > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTeamManageMembers * {
  transform-style: preserve-3d;
}
.cardTeamManageMembers > :global(.__wab_flex-container) > *,
.cardTeamManageMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardTeamManageMembers > :global(.__wab_flex-container) > picture > img,
.cardTeamManageMembers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamManageMembers {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamManageMembers > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardTeamManageMembers * {
    transform-style: preserve-3d;
  }
}
.cardHeaderTitlePrimary__uWhQj:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.cardHeaderTitlePrimary__uWhQj * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardHeaderTitlePrimary__uWhQj:global(.__wab_instance) {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardHeaderTitlePrimary__uWhQj * {
    transform-style: preserve-3d;
  }
}
.text__n8VDz {
  transform-style: preserve-3d;
}
.text__n8VDz * {
  transform-style: preserve-3d;
}
.text__xopkA {
  height: auto;
  max-width: 328px;
  transform-style: preserve-3d;
}
.text__xopkA * {
  transform-style: preserve-3d;
}
.tableTeamMemberEditParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  border-radius: 2px;
  padding: 8px;
  border: 2px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.tableTeamMemberEditParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.tableTeamMemberEditParent * {
  transform-style: preserve-3d;
}
.tableTeamMemberEditParent > :global(.__wab_flex-container) > *,
.tableTeamMemberEditParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.tableTeamMemberEditParent > :global(.__wab_flex-container) > picture > img,
.tableTeamMemberEditParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .tableTeamMemberEditParent {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .tableTeamMemberEditParent > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .tableTeamMemberEditParent * {
    transform-style: preserve-3d;
  }
}
.searchFilterDateParent {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
}
.searchFilterDateParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: unset;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.searchFilterDateParent * {
  transform-style: preserve-3d;
}
.searchFilterDateParent > :global(.__wab_flex-container) > *,
.searchFilterDateParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.searchFilterDateParent > :global(.__wab_flex-container) > picture > img,
.searchFilterDateParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .searchFilterDateParent {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .searchFilterDateParent > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .searchFilterDateParent * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .searchFilterDateParent > :global(.__wab_flex-container) > *,
  .searchFilterDateParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .searchFilterDateParent > :global(.__wab_flex-container) > picture > img,
  .searchFilterDateParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.searchbarPrimary:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.searchbarPrimary * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .searchbarPrimary:global(.__wab_instance) {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .searchbarPrimary * {
    transform-style: preserve-3d;
  }
}
.selectGroupDropdownPrimary___8Lqr8:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.selectGroupDropdownPrimary___8Lqr8 * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 428px) {
  .selectGroupDropdownPrimary___8Lqr8:global(.__wab_instance) {
    width: 90px;
    transform-style: preserve-3d;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .selectGroupDropdownPrimary___8Lqr8 * {
    transform-style: preserve-3d;
  }
}
.text___0I1Mu {
  transform-style: preserve-3d;
}
.text___0I1Mu * {
  transform-style: preserve-3d;
}
.text___8Eptt {
  transform-style: preserve-3d;
}
.text___8Eptt * {
  transform-style: preserve-3d;
}
.text__wnrDk {
  transform-style: preserve-3d;
}
.text__wnrDk * {
  transform-style: preserve-3d;
}
.tableSelectColumnParent {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  background: #f8f8f8;
  transform-style: preserve-3d;
  min-width: 0;
  border: 1px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.tableSelectColumnParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.tableSelectColumnParent * {
  transform-style: preserve-3d;
}
.tableSelectColumnParent > :global(.__wab_flex-container) > *,
.tableSelectColumnParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.tableSelectColumnParent > :global(.__wab_flex-container) > picture > img,
.tableSelectColumnParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.tableUserAdminHeader:global(.__wab_instance) {
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.tableUserAdminHeader * {
  transform-style: preserve-3d;
}
.tableUserAdminRecord:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
  display: flex;
}
.tableUserAdminRecord * {
  transform-style: preserve-3d;
}
.tableUserRecord:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.tableUserRecord * {
  transform-style: preserve-3d;
}
