.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  flex-shrink: 0;
  padding: 16px;
}
.parentstate_selected {
  border-bottom: 2px solid var(--token-7-Hl8dlot);
}
.parentactiveBorder_left_state_selected {
  border-bottom: 2px none var(--token-7-Hl8dlot);
  border-left: 2px solid var(--token-7-Hl8dlot);
}
.rootcolor_ghost:hover .parentcolor_ghost {
  background: var(--token-PfXAJ-PoV);
}
.textParent {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.textBg {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.slotTargetLabel {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1;
  color: var(--token-lJGpMo6--);
  text-transform: none;
}
.slotTargetLabelcolor_light {
  color: var(--token-t2DPA2Clx);
}
.slotTargetLabelcolor_brand {
  color: var(--token-j08wwDM3g);
}
.slotTargetLabelstate_selected {
  color: var(--token-7-Hl8dlot);
}
.slotTargetLabelstate_disabled {
  color: var(--token-t2DPA2Clx);
}
.root:hover .slotTargetLabel {
  color: var(--token-F4gy0u3aB);
}
.rootcolor_light:hover .slotTargetLabelcolor_light {
  color: var(--token-fuGaen6l1);
}
.rootcolor_brand:hover .slotTargetLabelcolor_brand {
  color: var(--token-97FZ-MZpy);
}
.rootcolor_brand:hover .slotTargetLabelcolor_brand > .__wab_text,
.rootcolor_brand:hover .slotTargetLabelcolor_brand > .__wab_slot-string-wrapper,
.rootcolor_brand:hover .slotTargetLabelcolor_brand > .__wab_slot > .__wab_text,
.rootcolor_brand:hover
  .slotTargetLabelcolor_brand
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.rootcolor_brand:hover
  .slotTargetLabelcolor_brand
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.rootcolor_brand:hover
  .slotTargetLabelcolor_brand
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.rootcolor_brand:hover
  .slotTargetLabelcolor_brand
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.rootcolor_brand:hover
  .slotTargetLabelcolor_brand
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: none;
}
.rootstate_selected:hover .slotTargetLabelstate_selected {
  color: var(--token-7-Hl8dlot);
}
.rootstate_disabled:hover .slotTargetLabelstate_disabled {
  color: var(--token-t2DPA2Clx);
}
