.root {
  display: flex;
  flex-direction: row;
  width: 360px;
  height: 48px;
  position: relative;
  background: #ffffff;
  border-radius: 4px;
  padding: 8px;
  border: 2px solid #dddddd /* plasmic-token: i5T_lGWIG */;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.root__state_selected {
  background: linear-gradient(#ffffff, #ffffff), none;
  border-style: solid;
  border-color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.root__size__90 {
  width: 90px;
  height: 32px;
  border-color: #dddddd /* plasmic-token: i5T_lGWIG */;
}
.root__size__90 > :global(.__wab_flex-container) {
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__size__90 > :global(.__wab_flex-container) > *,
.root__size__90 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root__size__90 > :global(.__wab_flex-container) > picture > img,
.root__size__90
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.root__size__180 {
  width: 180px;
  height: 36px;
}
.root__size__180 > :global(.__wab_flex-container) {
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__size__180 > :global(.__wab_flex-container) > *,
.root__size__180 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root__size__180 > :global(.__wab_flex-container) > picture > img,
.root__size__180
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 0px;
}
.root__size__270 {
  width: 270px;
}
.root__size__270 > :global(.__wab_flex-container) {
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__size__270 > :global(.__wab_flex-container) > *,
.root__size__270 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root__size__270 > :global(.__wab_flex-container) > picture > img,
.root__size__270
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 0px;
}
.root__size__360 {
  width: 360px;
}
.root__size__360 > :global(.__wab_flex-container) {
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__size__360 > :global(.__wab_flex-container) > *,
.root__size__360 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root__size__360 > :global(.__wab_flex-container) > picture > img,
.root__size__360
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 0px;
}
.root:hover {
  border-color: #cccccc /* plasmic-token: oEMOojyFv */;
}
.freeBox__xdan5 {
  display: block;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  background: #f8f8f8;
  flex-shrink: 0;
  border-radius: 100%;
  border: 2px solid #dddddd /* plasmic-token: i5T_lGWIG */;
}
.freeBox__state_selected__xdan5Bi1Xj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0ebff;
  flex-column-gap: 0px;
  border-color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.freeBox__size__90__xdan5DxVnv {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-color: #dddddd /* plasmic-token: i5T_lGWIG */;
}
.root:hover .freeBox__xdan5 {
  border-color: #cccccc /* plasmic-token: oEMOojyFv */;
}
.svg__z5We {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 0px;
  width: 1em;
  height: 1em;
}
.svg__state_selected__z5WeBi1Xj {
  position: relative;
  left: auto;
  top: auto;
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.svg__cJiKx {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 0px;
  width: 1em;
  height: 1em;
}
.svg__state_selected__cJiKxbi1Xj {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__l835R {
  left: auto;
  top: auto;
  height: auto;
  width: auto;
  position: relative;
  display: inline-flex;
  flex-direction: row;
}
.freeBox__size__90__l835RDxVnv {
  width: 100%;
  min-width: 0;
}
.freeBox___6RQyQ {
  display: flex;
  align-self: stretch;
  position: relative;
}
.freeBox__size__90___6RQyQDxVnv {
  width: 100%;
  height: auto;
  min-width: 0;
}
.slotChildren {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  text-transform: none;
}
.slotChildren__state_selected {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.slotChildren__size__90 {
  font-size: 12px;
  line-height: 1.5;
}
.slotChildren__size__180 {
  line-height: 1.5;
}
.slotChildren__size__270 {
  line-height: 1.6;
}
.root:hover .slotChildren {
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
