.logoLink {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  position: relative;
  transform-style: preserve-3d;
  padding: 0px;
}
.logoLink * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .logoLink {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .logoLink * {
    transform-style: preserve-3d;
  }
}
.logoLink__color {
  transform-style: preserve-3d;
}
.logoLink__color * {
  transform-style: preserve-3d;
}
.img__n8PaC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 32px;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.img__n8PaC > picture > img {
  object-fit: cover;
}
.img__n8PaC > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__n8PaC * {
  transform-style: preserve-3d;
}
.img {
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.img * {
  transform-style: preserve-3d;
}
.img__color {
  height: 32px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.img__color * {
  transform-style: preserve-3d;
}
