.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  align-items: center;
}
.root__isDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.root_____focusVisibleWithin {
  outline: none;
}
.box {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition-property: all;
  transition-duration: 0.2s;
  flex-shrink: 0;
  border-radius: 2px;
  background: #f8f8f8;
  border: 2px solid #dddddd /* plasmic-token: TctF8-gJH */;
}
.box__isChecked {
  background: #f0ebff;
  border-color: #6633ff /* plasmic-token: brleuPgaD */;
}
.root:hover .box {
  background: #ffffff;
}
.root .box_____focusVisibleWithin {
  outline: none;
  border-style: dashed;
  border-color: #1976d2;
}
.root:focus-within .box {
  outline: none;
  border-color: #1976d2;
}
.svg {
  position: relative;
  object-fit: cover;
  color: transparent;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__isChecked {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.svg__isIndeterminate {
  color: #000000 /* plasmic-token: 7-Hl8dlot */;
}
.root .svg_____focusVisibleWithin {
  outline: none;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: 8px;
}
.root .labelContainer_____focusVisibleWithin {
  outline: none;
}
.slotChildren {
  white-space: pre;
}
.slotChildren > *,
.slotChildren > .__wab_slot > *,
.slotChildren > .__wab_slot > .__wab_slot > *,
.slotChildren > .__wab_slot > .__wab_slot > .__wab_slot > * {
  text-overflow: ellipsis;
  overflow: hidden;
}
.root .slotChildren_____focusVisibleWithin > *,
.root .slotChildren_____focusVisibleWithin > .__wab_slot > *,
.root .slotChildren_____focusVisibleWithin > .__wab_slot > .__wab_slot > *,
.root
  .slotChildren_____focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > * {
  outline: none;
}
