.root {
  display: flex;
  flex-direction: column;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
.xero:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.quickbooks:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
