.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .root {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.serviceListingNavbar {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
}
.progressBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.freeBox__lZF {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__lZF > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 360px);
  width: calc(100% + 360px);
}
.freeBox__lZF > :global(.__wab_flex-container) > *,
.freeBox__lZF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lZF > :global(.__wab_flex-container) > picture > img,
.freeBox__lZF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 360px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__lZF {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__lZF > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__lZF > :global(.__wab_flex-container) > *,
  .freeBox__lZF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lZF > :global(.__wab_flex-container) > picture > img,
  .freeBox__lZF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.questionCategoryBlock {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.questionCategoryBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionCategoryBlock > :global(.__wab_flex-container) > *,
.questionCategoryBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.questionCategoryBlock > :global(.__wab_flex-container) > picture > img,
.questionCategoryBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionCategoryBlock {
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionCategoryBlock > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionCategoryBlock > :global(.__wab_flex-container) > *,
  .questionCategoryBlock
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .questionCategoryBlock > :global(.__wab_flex-container) > picture > img,
  .questionCategoryBlock
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardQuestionServiceListing__dcOn:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__zq3QH {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__pkXf3 {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.dropdown {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.dropdown > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.dropdown > :global(.__wab_flex-container) > *,
.dropdown > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dropdown > :global(.__wab_flex-container) > picture > img,
.dropdown
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.serviceCategorySelectInput:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__yrj5V {
  height: auto;
}
.serviceSelectInput:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__k7Btz {
  height: auto;
}
.toolTipServiceListing__ksFga:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 428px) {
  .toolTipServiceListing__ksFga:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.svg__eakR5 {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.freeBox__jpq5H {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__jpq5H > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 360px);
  width: calc(100% + 360px);
}
.freeBox__jpq5H > :global(.__wab_flex-container) > *,
.freeBox__jpq5H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jpq5H > :global(.__wab_flex-container) > picture > img,
.freeBox__jpq5H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 360px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__jpq5H {
    display: flex;
    flex-direction: column-reverse;
    padding: 40px 16px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__jpq5H > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__jpq5H > :global(.__wab_flex-container) > *,
  .freeBox__jpq5H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jpq5H > :global(.__wab_flex-container) > picture > img,
  .freeBox__jpq5H
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.questionFeaturesBlock {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.questionFeaturesBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionFeaturesBlock > :global(.__wab_flex-container) > *,
.questionFeaturesBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.questionFeaturesBlock > :global(.__wab_flex-container) > picture > img,
.questionFeaturesBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionFeaturesBlock {
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionFeaturesBlock > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionFeaturesBlock > :global(.__wab_flex-container) > *,
  .questionFeaturesBlock
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .questionFeaturesBlock > :global(.__wab_flex-container) > picture > img,
  .questionFeaturesBlock
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardQuestionServiceListing___8HTdO:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text___1Seve {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text___3EZpz {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.serviceFeaturesCheckboxes:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 428px) {
  .serviceFeaturesCheckboxes:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.toolTipServiceListing___9IGyb:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 428px) {
  .toolTipServiceListing___9IGyb:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.svg__ikfUu {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.freeBox__wMqc {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__wMqc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 360px);
  width: calc(100% + 360px);
}
.freeBox__wMqc > :global(.__wab_flex-container) > *,
.freeBox__wMqc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wMqc > :global(.__wab_flex-container) > picture > img,
.freeBox__wMqc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 360px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__wMqc {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__wMqc > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__wMqc > :global(.__wab_flex-container) > *,
  .freeBox__wMqc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wMqc > :global(.__wab_flex-container) > picture > img,
  .freeBox__wMqc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.questionContentBlock {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.questionContentBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionContentBlock > :global(.__wab_flex-container) > *,
.questionContentBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.questionContentBlock > :global(.__wab_flex-container) > picture > img,
.questionContentBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionContentBlock {
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionContentBlock > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionContentBlock > :global(.__wab_flex-container) > *,
  .questionContentBlock
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .questionContentBlock > :global(.__wab_flex-container) > picture > img,
  .questionContentBlock
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardQuestionServiceListing__xVvw0:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__bmB1 {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__ec2Tr {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.serviceContentTextArea:global(.__wab_instance) {
  position: relative;
}
.toolTipServiceListing__bCaGm:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 428px) {
  .toolTipServiceListing__bCaGm:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.svg__guZ5I {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.freeBox__anJua {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__anJua > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 360px);
  width: calc(100% + 360px);
}
.freeBox__anJua > :global(.__wab_flex-container) > *,
.freeBox__anJua > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__anJua > :global(.__wab_flex-container) > picture > img,
.freeBox__anJua
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 360px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__anJua {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__anJua > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__anJua > :global(.__wab_flex-container) > *,
  .freeBox__anJua > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__anJua > :global(.__wab_flex-container) > picture > img,
  .freeBox__anJua
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.questionIndustryBlock {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
}
.questionIndustryBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionIndustryBlock > :global(.__wab_flex-container) > *,
.questionIndustryBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.questionIndustryBlock > :global(.__wab_flex-container) > picture > img,
.questionIndustryBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionIndustryBlock {
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionIndustryBlock > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionIndustryBlock > :global(.__wab_flex-container) > *,
  .questionIndustryBlock
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .questionIndustryBlock > :global(.__wab_flex-container) > picture > img,
  .questionIndustryBlock
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardQuestionServiceListing__uTqYv:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__kUwyk {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #101010 /* plasmic-token: 7-Hl8dlot */;
  align-self: stretch;
}
.text__x2Yx9 {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.text__bIpMh {
  color: #858d9d /* plasmic-token: SR1GpeFlc */;
}
.serviceIndustriesSelect:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 428px) {
  .serviceIndustriesSelect:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.toolTipServiceListing__n3X4A:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 428px) {
  .toolTipServiceListing__n3X4A:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.svg__suBy9 {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.freeBox__sdBU {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__sdBU > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 360px);
  width: calc(100% + 360px);
}
.freeBox__sdBU > :global(.__wab_flex-container) > *,
.freeBox__sdBU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sdBU > :global(.__wab_flex-container) > picture > img,
.freeBox__sdBU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 360px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__sdBU {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__sdBU > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .freeBox__sdBU > :global(.__wab_flex-container) > *,
  .freeBox__sdBU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sdBU > :global(.__wab_flex-container) > picture > img,
  .freeBox__sdBU
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.questionToolsBlock {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.questionToolsBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionToolsBlock > :global(.__wab_flex-container) > *,
.questionToolsBlock > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.questionToolsBlock > :global(.__wab_flex-container) > picture > img,
.questionToolsBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionToolsBlock {
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionToolsBlock > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .questionToolsBlock > :global(.__wab_flex-container) > *,
  .questionToolsBlock
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .questionToolsBlock > :global(.__wab_flex-container) > picture > img,
  .questionToolsBlock
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.cardQuestionServiceListing__f8IjI:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardQuestionServiceListing__f8IjI:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__dwbMk {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  align-self: stretch;
}
.text___5Hiy {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.serviceToolsSelect:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 428px) {
  .serviceToolsSelect:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.toolTipServiceListing___3JwE4:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 428px) {
  .toolTipServiceListing___3JwE4:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text___1Gzs4 {
  color: #14161b /* plasmic-token: ec1vMFIzT */;
}
.svg__jOgzy {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
