.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  position: relative;
  background: #f8f8ff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid #5229cc /* plasmic-token: brleuPgaD */;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
  margin-top: 16px;
}
.badgeWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.chipBadgeDisplay:global(.__wab_instance) {
  position: relative;
}
.svg__buurb {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.svg__kHniq {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
.svg__i6HZ {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.contentWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
}
.slotTargetContent {
  white-space: pre-wrap;
}
