.root {
  display: flex;
  flex-direction: column;
  position: relative;
}
.slotTargetSlot {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: var(--token-ec1vMFIzT);
}
.slotTargetSlotcolor_light {
  color: var(--token-t2DPA2Clx);
}
.slotTargetSlotcolor_dark {
  color: var(--token-F4gy0u3aB);
}
.slotTargetSlotcolor_brand {
  color: var(--token-j08wwDM3g);
}
.root:hover .slotTargetSlot {
  color: var(--token-F4gy0u3aB);
}
.rootcolor_light:hover .slotTargetSlotcolor_light {
  color: var(--token-fuGaen6l1);
}
.rootcolor_dark:hover .slotTargetSlotcolor_dark {
  color: var(--token-7-Hl8dlot);
}
.rootcolor_brand:hover .slotTargetSlotcolor_brand {
  color: var(--token-97FZ-MZpy);
}
