.root {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-0quEfLXpK);
  position: relative;
  border-radius: 50%;
  padding: 8px;
}
.rootcolor_brand {
  background: var(--token-IHoAIP5sw);
}
.freeBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-aWbt8exrr);
  border-radius: 50%;
  padding: 4px;
}
.freeBoxcolor_brand {
  background: var(--token-WAX_l0bzr);
}
.svg__lMJhj {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-UPK7EIst5);
  flex-shrink: 0;
}
