.parent {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: auto;
  position: relative;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.iconElementParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  align-self: flex-start;
}
.iconBg {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  background: #f8f8f8;
  border-radius: 100px;
  padding: 4px;
}
.svg__lgbZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  min-width: 0;
  min-height: 0;
}
.svg__gtEgA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svg__xQoK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svg__wSbA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svg__gjLqu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svg__hdFVh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svg___97KqP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svg__nHgxo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svgIcon9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  min-width: 0;
  min-height: 0;
}
.svg__rqscN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.headlineSubheadParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 360px;
  height: auto;
  left: auto;
  top: auto;
}
.headlineSubheadParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.headlineSubheadParent > :global(.__wab_flex-container) > *,
.headlineSubheadParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.headlineSubheadParent > :global(.__wab_flex-container) > picture > img,
.headlineSubheadParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.headlineparent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  align-self: center;
  width: 100%;
  height: auto;
  min-width: 0;
}
.headlineText {
  display: block;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.subheadTextParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  align-self: center;
  width: 100%;
  height: auto;
  min-width: 0;
}
.subheadText {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #14161b /* plasmic-token: MAJ29KQMI */;
  align-self: stretch;
}
.bodyTextParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  align-self: center;
  width: 100%;
  height: auto;
  min-width: 0;
}
.bodyText {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
}
.buttonParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.buttonPrimary___8Klhx:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__kbpw {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__va7CY {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
