.parent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 720px;
  height: auto;
}
.cardParent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 360px;
  border-radius: 2px;
  padding: 8px 16px;
  border: 2px solid #dddddd /* plasmic-token: TctF8-gJH */;
}
.cardParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.cardParent > :global(.__wab_flex-container) > *,
.cardParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardParent > :global(.__wab_flex-container) > picture > img,
.cardParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.iconTextGroup {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  align-self: auto;
}
.iconTextGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.iconTextGroup > :global(.__wab_flex-container) > *,
.iconTextGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.iconTextGroup > :global(.__wab_flex-container) > picture > img,
.iconTextGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 8px;
}
.iconPrimary:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.svg__qM22S {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  min-width: 0;
  min-height: 0;
}
.svg__hKev {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svg__uDnx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svg__cMm9H {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svg__aqFvw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svgIcon6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svg__zxAp3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svgIcon8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svgIcon8__companies_google {
  color: #db4437 /* plasmic-token: pXhZGSe3B */;
}
.svgIcon8__companies_facebook {
  color: #4267b2 /* plasmic-token: CwLIZ-exE */;
}
.svgIcon8__companies_stripe {
  color: #7a72ff /* plasmic-token: JG1mQ0YGJ */;
}
.svgIcon8__companies_paypal {
  color: #327aea /* plasmic-token: EfXZlpq-M */;
}
.svgIcon8__companies_xero {
  color: #13b5ea /* plasmic-token: qYCtWfv-v */;
}
.svgIcon8__companies_quickbooks {
  color: #2ca01c /* plasmic-token: gGUp-8FW6 */;
}
.svg___8QiMh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.svg__q0TaK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
  min-width: 0;
  min-height: 0;
}
.accountInfoParent {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.accountInfoParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.accountInfoParent > :global(.__wab_flex-container) > *,
.accountInfoParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.accountInfoParent > :global(.__wab_flex-container) > picture > img,
.accountInfoParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox {
  position: relative;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
}
.accountName {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: column;
}
.text___5QGGx {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
}
.usernameGroupParent {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
}
.usernameGroupParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.usernameGroupParent > :global(.__wab_flex-container) > *,
.usernameGroupParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.usernameGroupParent > :global(.__wab_flex-container) > picture > img,
.usernameGroupParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.slotTargetUserFirstname {
  font-size: 14px;
}
.slotTargetUserLastName {
  font-size: 14px;
}
.slotTargetUsername {
  font-size: 14px;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
}
.connectedTimestampParent {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.connectedTimestampParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.connectedTimestampParent > :global(.__wab_flex-container) > *,
.connectedTimestampParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.connectedTimestampParent > :global(.__wab_flex-container) > picture > img,
.connectedTimestampParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.connectedTimestamp {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
}
.connectedTimestamp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.connectedTimestamp > :global(.__wab_flex-container) > *,
.connectedTimestamp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.connectedTimestamp > :global(.__wab_flex-container) > picture > img,
.connectedTimestamp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.text__tZkwH {
  font-size: 12px;
  width: auto;
  height: auto;
  display: inline-block;
}
.slotTargetTimestampDate {
  font-size: 12px;
}
.buttonCircleDelete:global(.__wab_instance) {
  position: relative;
}
