.root {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  position: relative;
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
.navbarAdminIcons__q1Wn9:global(.__wab_instance) {
  position: relative;
  align-self: center;
  transform-style: preserve-3d;
}
.navbarAdminIcons__q1Wn9 * {
  transform-style: preserve-3d;
}
.navbarAdminIcons__uhkdI:global(.__wab_instance) {
  position: relative;
  align-self: center;
  transform-style: preserve-3d;
}
.navbarAdminIcons__uhkdI * {
  transform-style: preserve-3d;
}
.navbarAdminIcons___14XlK:global(.__wab_instance) {
  position: relative;
  align-self: center;
  transform-style: preserve-3d;
}
.navbarAdminIcons___14XlK * {
  transform-style: preserve-3d;
}
.navbarAdminIcons__tQnIs:global(.__wab_instance) {
  position: relative;
  align-self: center;
  transform-style: preserve-3d;
}
.navbarAdminIcons__tQnIs * {
  transform-style: preserve-3d;
}
.avatarParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: auto;
  max-width: 100%;
  transform-style: preserve-3d;
  flex-shrink: 0;
  padding: 8px;
}
.avatarParent * {
  transform-style: preserve-3d;
}
.userAvatar:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.userAvatar * {
  transform-style: preserve-3d;
}
.img__fJckN {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 16px;
  height: 16px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__fJckN > picture > img {
  object-fit: cover;
}
.img__fJckN > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__fJckN * {
  transform-style: preserve-3d;
}
.img__iS4Ao {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__iS4Ao > picture > img {
  object-fit: cover;
}
.img__iS4Ao > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__iS4Ao * {
  transform-style: preserve-3d;
}
.img__wfOTl {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__wfOTl > picture > img {
  object-fit: cover;
}
.img__wfOTl > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__wfOTl * {
  transform-style: preserve-3d;
}
.img__slUgt {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__slUgt > picture > img {
  object-fit: cover;
}
.img__slUgt > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__slUgt * {
  transform-style: preserve-3d;
}
.img__kLlZc {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__kLlZc > picture > img {
  object-fit: cover;
}
.img__kLlZc > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__kLlZc * {
  transform-style: preserve-3d;
}
.img__kbPdl {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__kbPdl > picture > img {
  object-fit: cover;
}
.img__kbPdl > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__kbPdl * {
  transform-style: preserve-3d;
}
.img__hmAjg {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__hmAjg > picture > img {
  object-fit: cover;
}
.img__hmAjg > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__hmAjg * {
  transform-style: preserve-3d;
}
.img__dfLaF {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 48px;
  height: 48px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__dfLaF > picture > img {
  object-fit: cover;
}
.img__dfLaF > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__dfLaF * {
  transform-style: preserve-3d;
}
.img__gp7QM {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__gp7QM > picture > img {
  object-fit: cover;
}
.img__gp7QM > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__gp7QM * {
  transform-style: preserve-3d;
}
.img__quZcj {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__quZcj > picture > img {
  object-fit: cover;
}
.img__quZcj > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__quZcj * {
  transform-style: preserve-3d;
}
.img__daVf {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__daVf > picture > img {
  object-fit: cover;
}
.img__daVf > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__daVf * {
  transform-style: preserve-3d;
}
