.root {
  display: flex;
  flex-direction: column;
  width: 164px;
  height: 104px;
  position: relative;
  border-radius: 2px;
  padding: 8px;
  border: 1px solid #dddddd /* plasmic-token: TctF8-gJH */;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.headerTitle {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  max-width: 160px;
  width: 100%;
  height: auto;
  align-content: unset;
  min-width: 0;
}
.parentIconText {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.parentIconText > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.parentIconText > :global(.__wab_flex-container) > *,
.parentIconText > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parentIconText > :global(.__wab_flex-container) > picture > img,
.parentIconText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___3Xva6 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.freeBox__mrtUq {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
}
.slotTargetTextHeadline {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}
.freeBox___15Tvx {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  width: 100%;
  min-width: 0;
}
.slotTargetTextBody {
  text-align: left;
  line-height: 1.4;
  font-size: 12px;
}
