.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .root {
    width: auto;
    height: auto;
    display: inline-flex;
  }
}
.parent {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 32px 160px;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .parent {
    width: 100%;
    height: auto;
    flex-direction: row;
    background: none;
    min-width: 0;
    padding: 32px 160px;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .parent > :global(.__wab_flex-container) {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .parent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 16px 24px 24px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .parent > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .parent > :global(.__wab_flex-container) > *,
  .parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .parent > :global(.__wab_flex-container) > picture > img,
  .parent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.cardHeroMemberProfileDisplay:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .cardHeroMemberProfileDisplay:global(.__wab_instance) {
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .cardHeroMemberProfileDisplay:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.profileCommunityParent {
  flex-direction: column;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  width: 360px;
  background: var(--token-ABHLsGb8o);
  flex-shrink: 0;
  border-radius: 4px;
  padding: 16px;
  border: 2px solid var(--token-rN0ul5_oz);
}
.profileCommunityParent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.profileCommunityParent > :global(.__wab_flex-container) > *,
.profileCommunityParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.profileCommunityParent > :global(.__wab_flex-container) > picture > img,
.profileCommunityParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .profileCommunityParent {
    left: auto;
    top: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 360px;
    height: auto;
    background: var(--token-ABHLsGb8o);
    flex-shrink: 0;
    border-radius: 4px;
    padding: 16px;
    border: 2px solid var(--token-rN0ul5_oz);
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .profileCommunityParent > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .profileCommunityParent > :global(.__wab_flex-container) > *,
  .profileCommunityParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .profileCommunityParent > :global(.__wab_flex-container) > picture > img,
  .profileCommunityParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .profileCommunityParent {
    left: auto;
    top: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 360px;
    padding: 8px 16px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .profileCommunityParent > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .profileCommunityParent > :global(.__wab_flex-container) > *,
  .profileCommunityParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .profileCommunityParent > :global(.__wab_flex-container) > picture > img,
  .profileCommunityParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.community {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.text__uQFt {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: var(--token-6OoG_pvkg);
  align-self: stretch;
}
.statsParent {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.statsParent > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.statsParent > :global(.__wab_flex-container) > *,
.statsParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.statsParent > :global(.__wab_flex-container) > picture > img,
.statsParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .statsParent > :global(.__wab_flex-container) {
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .statsParent > :global(.__wab_flex-container) > *,
  .statsParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .statsParent > :global(.__wab_flex-container) > picture > img,
  .statsParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .statsParent {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .statsParent > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    min-width: 0;
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .statsParent > :global(.__wab_flex-container) > *,
  .statsParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .statsParent > :global(.__wab_flex-container) > picture > img,
  .statsParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 24px;
  }
}
.memberStatParent {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 90px;
  height: 90px;
  align-self: auto;
  flex-shrink: 0;
  padding: 0px;
}
.memberStatParent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.memberStatParent > :global(.__wab_flex-container) > *,
.memberStatParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.memberStatParent > :global(.__wab_flex-container) > picture > img,
.memberStatParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .memberStatParent > :global(.__wab_flex-container) {
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .memberStatParent > :global(.__wab_flex-container) {
    align-items: center;
  }
}
.memberNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: var(--token-ec1vMFIzT);
  font-size: 16px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .memberNumberCount {
    font-weight: 600;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .memberNumberCount {
    font-weight: 700;
  }
}
.text__lhNgd {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  color: var(--token-lJGpMo6--);
}
.followersStatParent {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 90px;
  height: 90px;
  align-self: auto;
  flex-shrink: 0;
  padding: 0px;
}
.followersStatParent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.followersStatParent > :global(.__wab_flex-container) > *,
.followersStatParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.followersStatParent > :global(.__wab_flex-container) > picture > img,
.followersStatParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .followersStatParent > :global(.__wab_flex-container) {
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .followersStatParent {
    width: 90px;
    height: 90px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .followersStatParent > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .followersStatParent > :global(.__wab_flex-container) > *,
  .followersStatParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .followersStatParent > :global(.__wab_flex-container) > picture > img,
  .followersStatParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.followingNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: var(--token-ec1vMFIzT);
  font-size: 16px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .followingNumberCount {
    font-weight: 600;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .followingNumberCount {
    font-size: 16px;
    font-weight: 700;
    color: var(--token-ec1vMFIzT);
    text-align: center;
    line-height: 1;
  }
}
.text___3QQmy {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  color: var(--token-lJGpMo6--);
}
.partnerStatParent {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  padding: 0px;
}
.partnerStatParent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.partnerStatParent > :global(.__wab_flex-container) > *,
.partnerStatParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.partnerStatParent > :global(.__wab_flex-container) > picture > img,
.partnerStatParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .partnerStatParent > :global(.__wab_flex-container) {
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .partnerStatParent {
    width: 90px;
    height: 90px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .partnerStatParent > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .partnerStatParent > :global(.__wab_flex-container) > *,
  .partnerStatParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .partnerStatParent > :global(.__wab_flex-container) > picture > img,
  .partnerStatParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.partnerNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: var(--token-ec1vMFIzT);
  font-size: 16px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .partnerNumberCount {
    font-weight: 600;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .partnerNumberCount {
    font-size: 16px;
    font-weight: 700;
    color: var(--token-ec1vMFIzT);
    text-align: center;
    line-height: 1;
  }
}
.text__qKdWg {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  color: var(--token-lJGpMo6--);
}
.viewsStatParent {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  padding: 0px;
}
.viewsStatParent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.viewsStatParent > :global(.__wab_flex-container) > *,
.viewsStatParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.viewsStatParent > :global(.__wab_flex-container) > picture > img,
.viewsStatParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .viewsStatParent > :global(.__wab_flex-container) {
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .viewsStatParent {
    width: 90px;
    height: 90px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .viewsStatParent > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .viewsStatParent > :global(.__wab_flex-container) > *,
  .viewsStatParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .viewsStatParent > :global(.__wab_flex-container) > picture > img,
  .viewsStatParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.viewsNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: var(--token-ec1vMFIzT);
  font-size: 16px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .viewsNumberCount {
    font-weight: 600;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .viewsNumberCount {
    font-size: 16px;
    font-weight: 700;
    color: var(--token-ec1vMFIzT);
    text-align: center;
    line-height: 1;
  }
}
.text__zSr5B {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  color: var(--token-lJGpMo6--);
}
.reactsStatParent {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 90px;
  height: 90px;
  align-self: auto;
  flex-shrink: 0;
  padding: 0px;
}
.reactsStatParent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.reactsStatParent > :global(.__wab_flex-container) > *,
.reactsStatParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.reactsStatParent > :global(.__wab_flex-container) > picture > img,
.reactsStatParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .reactsStatParent > :global(.__wab_flex-container) {
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .reactsStatParent {
    width: 90px;
    height: 90px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .reactsStatParent > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .reactsStatParent > :global(.__wab_flex-container) > *,
  .reactsStatParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .reactsStatParent > :global(.__wab_flex-container) > picture > img,
  .reactsStatParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.reactsNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: var(--token-ec1vMFIzT);
  font-size: 16px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .reactsNumberCount {
    font-weight: 600;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .reactsNumberCount {
    font-size: 16px;
    font-weight: 700;
    color: var(--token-ec1vMFIzT);
    text-align: center;
    line-height: 1;
  }
}
.text__mRbl9 {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  color: var(--token-lJGpMo6--);
}
.savesStatParent {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  padding: 0px;
}
.savesStatParent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.savesStatParent > :global(.__wab_flex-container) > *,
.savesStatParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.savesStatParent > :global(.__wab_flex-container) > picture > img,
.savesStatParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .savesStatParent > :global(.__wab_flex-container) {
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .savesStatParent {
    width: 90px;
    height: 90px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .savesStatParent > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .savesStatParent > :global(.__wab_flex-container) > *,
  .savesStatParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .savesStatParent > :global(.__wab_flex-container) > picture > img,
  .savesStatParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.savesNumberCount {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  color: var(--token-ec1vMFIzT);
  font-size: 16px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .savesNumberCount {
    font-weight: 600;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .savesNumberCount {
    font-size: 16px;
    font-weight: 700;
    color: var(--token-ec1vMFIzT);
    text-align: center;
    line-height: 1;
  }
}
.text___5H6RB {
  position: relative;
  left: auto;
  top: auto;
  line-height: 1;
  font-size: 14px;
  color: var(--token-lJGpMo6--);
}
