.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  position: relative;
  max-width: 720px;
  background: var(--token-5XhQ_b_Lb);
  min-width: 0;
  padding: 4px 8px;
}
.userAvatarNameEmailParent {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.userAvatarNameEmailParent > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.userAvatarNameEmailParent > :global(.__wab_flex-container) > *,
.userAvatarNameEmailParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.userAvatarNameEmailParent > :global(.__wab_flex-container) > picture > img,
.userAvatarNameEmailParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.elementRadioPrimary:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.userAvatar:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img___3MnM1 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___3MnM1 > picture > img {
  object-fit: cover;
}
.img___3MnM1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__yir81 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__yir81 > picture > img {
  object-fit: cover;
}
.img__yir81 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__baHa7 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__baHa7 > picture > img {
  object-fit: cover;
}
.img__baHa7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__uTEn6 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__uTEn6 > picture > img {
  object-fit: cover;
}
.img__uTEn6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___132Qj {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___132Qj > picture > img {
  object-fit: cover;
}
.img___132Qj > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__dWaTt {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__dWaTt > picture > img {
  object-fit: cover;
}
.img__dWaTt > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__rUDgi {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__rUDgi > picture > img {
  object-fit: cover;
}
.img__rUDgi > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___2QXmj {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___2QXmj > picture > img {
  object-fit: cover;
}
.img___2QXmj > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__mCcRz {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__mCcRz > picture > img {
  object-fit: cover;
}
.img__mCcRz > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___8Wp64 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___8Wp64 > picture > img {
  object-fit: cover;
}
.img___8Wp64 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__f52Cs {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__f52Cs > picture > img {
  object-fit: cover;
}
.img__f52Cs > .__wab_img-spacer > img {
  object-fit: cover;
}
.userInfoParent {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.userInfoParent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.userInfoParent > :global(.__wab_flex-container) > *,
.userInfoParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.userInfoParent > :global(.__wab_flex-container) > picture > img,
.userInfoParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.usernameParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.text__qRux {
  color: var(--token-F4gy0u3aB);
  font-weight: 500;
  font-size: 14px;
}
.userEmailParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.text__mqpkj {
  color: var(--token-UPK7EIst5);
  font-size: 12px;
}
.userAction {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.userAction > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.userAction > :global(.__wab_flex-container) > *,
.userAction > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.userAction > :global(.__wab_flex-container) > picture > img,
.userAction
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.userRole {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 2px 6px;
}
.text__bvk0V {
  font-size: 14px;
  font-weight: 500;
  color: var(--token-F4gy0u3aB);
}
.selectRole:global(.__wab_instance) {
  position: relative;
}
.option___0YiFx:global(.__wab_instance) {
  position: relative;
}
.option__tbgUz:global(.__wab_instance) {
  position: relative;
}
.buttonPrimary:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.buttonPrimaryaction_button:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__hu7S9 {
  width: 100%;
  height: 100%;
  color: var(--token-fuGaen6l1);
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.svg__cm0Yh {
  width: 100%;
  height: 100%;
  color: var(--token-gJaAJBnXh);
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  display: block;
}
.removeTeamMember:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
