.root {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.personalDeleteAccount:global(.__wab_instance) {
  position: absolute;
  left: 259px;
  top: 1149px;
}
.buttonPrimary:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.svg__zkoeG {
  width: 20px;
  height: 20px;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
}
.personalJobCard:global(.__wab_instance) {
  position: absolute;
  left: 245px;
  top: 924px;
}
.textarea__uTmuc {
  width: 100%;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  height: auto;
  font-size: 14px;
  min-width: 0;
  border-radius: 2px;
  padding: 4px;
  background: #f8f8f8;
  border: 2px solid #dddddd /* plasmic-token: i5T_lGWIG */;
}
.textbox__dyfYe {
  align-self: auto;
  padding-left: 8px;
  height: auto;
  width: 100%;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-top-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-right-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-bottom-color: #dddddd /* plasmic-token: i5T_lGWIG */;
  border-left-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  font-size: 14px;
  position: relative;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  min-width: 0;
  background: #f8f8f8;
  border-style: solid;
}
.personalEmailCard:global(.__wab_instance) {
  position: absolute;
  left: 248px;
  top: 699px;
}
.textbox___7KQx8 {
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #ebebeb /* plasmic-token: -59aep1Mm */;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-bottom-color: #dddddd /* plasmic-token: i5T_lGWIG */;
  height: 100%;
  padding-left: 4px;
  border-right-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-top-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  border-left-color: #f1f1f1 /* plasmic-token: deafmaGIp */;
  min-width: 0;
  min-height: 0;
  background: #f8f8f8;
  border-style: solid;
}
.chipDisplay__rbn3N:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.svg__tanW {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.svg__fT8AN {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.svg__lgkYo {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
}
.sectionConnectedAccounts:global(.__wab_instance) {
  position: absolute;
  top: 157px;
  left: 238px;
}
