.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.text {
  display: block;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  text-transform: uppercase;
  transform-style: preserve-3d;
}
.text * {
  transform-style: preserve-3d;
}
.elementFeatureValueListItems {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 0px;
}
.elementFeatureValueListItems > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.elementFeatureValueListItems * {
  transform-style: preserve-3d;
}
.elementFeatureValueListItems > :global(.__wab_flex-container) > *,
.elementFeatureValueListItems
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.elementFeatureValueListItems > :global(.__wab_flex-container) > picture > img,
.elementFeatureValueListItems
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.tablePricingElementFeatureValueProp__vkCh6:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.tablePricingElementFeatureValueProp__vkCh6 * {
  transform-style: preserve-3d;
}
.text__mUsKx {
  font-size: 14px;
  transform-style: preserve-3d;
}
.text__mUsKx * {
  transform-style: preserve-3d;
}
.freeBox__aSr41 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  background: #00ccbb;
  transform-style: preserve-3d;
  border-radius: 100px;
}
.freeBox__aSr41 * {
  transform-style: preserve-3d;
}
.svg__tkj8K {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__tkj8K * {
  transform-style: preserve-3d;
}
.tablePricingElementFeatureValueProp___5F1V7:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.tablePricingElementFeatureValueProp___5F1V7 * {
  transform-style: preserve-3d;
}
.text__fnf3Q {
  height: auto;
  transform-style: preserve-3d;
}
.text__fnf3Q * {
  transform-style: preserve-3d;
}
.freeBox___1JBwQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  background: #00ccbb;
  transform-style: preserve-3d;
  border-radius: 100px;
}
.freeBox___1JBwQ * {
  transform-style: preserve-3d;
}
.svg__kSOe {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__kSOe * {
  transform-style: preserve-3d;
}
.tablePricingElementFeatureValueProp__fkWe:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.tablePricingElementFeatureValueProp__fkWe * {
  transform-style: preserve-3d;
}
.text___1WqBk {
  transform-style: preserve-3d;
}
.text___1WqBk * {
  transform-style: preserve-3d;
}
.freeBox__anYvS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  background: #00ccbb;
  transform-style: preserve-3d;
  border-radius: 100px;
}
.freeBox__anYvS * {
  transform-style: preserve-3d;
}
.svg__jbend {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__jbend * {
  transform-style: preserve-3d;
}
.tablePricingElementFeatureValueProp__ej9Xl:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.tablePricingElementFeatureValueProp__ej9Xl * {
  transform-style: preserve-3d;
}
.text__cLPn {
  transform-style: preserve-3d;
}
.text__cLPn * {
  transform-style: preserve-3d;
}
.freeBox__ucKtb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  background: #00ccbb;
  transform-style: preserve-3d;
  border-radius: 100px;
}
.freeBox__ucKtb * {
  transform-style: preserve-3d;
}
.svg__lwiHm {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__lwiHm * {
  transform-style: preserve-3d;
}
.tablePricingElementFeatureValueProp__lu2Am:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.tablePricingElementFeatureValueProp__lu2Am * {
  transform-style: preserve-3d;
}
.text__j0RFp {
  transform-style: preserve-3d;
}
.text__j0RFp * {
  transform-style: preserve-3d;
}
.freeBox__scJay {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  background: #00ccbb;
  transform-style: preserve-3d;
  border-radius: 100px;
}
.freeBox__scJay * {
  transform-style: preserve-3d;
}
.svg__jRj3F {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__jRj3F * {
  transform-style: preserve-3d;
}
