.root {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: auto;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.root__size__540 {
  width: 540px;
}
.textbox {
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  border-top-style: none;
  border-top-width: 1px;
  border-right-style: none;
  border-right-width: 1px;
  border-left-style: none;
  border-left-width: 1px;
  color: #999999 /* plasmic-token: lJGpMo6-- */;
  min-width: 0;
  padding: 4px;
  background: #f8f8f8;
  border-bottom: 2px solid #dddddd /* plasmic-token: i5T_lGWIG */;
}
.box__utVmc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.box__utVmc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__utVmc > :global(.__wab_flex-container) > *,
.box__utVmc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.textarea {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: 90px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 6px;
  padding: 4px;
  background: #f8f8f8;
  border: 2px solid #ebebeb /* plasmic-token: -59aep1Mm */;
}
.textarea__size__540 {
  height: 180px;
  flex-shrink: 0;
}
.root .textarea:hover {
  left: auto;
  top: auto;
  border-color: #cccccc /* plasmic-token: oEMOojyFv */;
}
.root .textarea:focus {
  left: auto;
  top: auto;
  outline: none;
  background: #ffffff;
  border-color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.box__yoYe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  padding-left: 2px;
  padding-right: 2px;
  min-width: 0;
}
.box__add__yoYeqnDpl {
  justify-content: flex-end;
}
.box__l594M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.svg {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #e4e4e4 /* plasmic-token: t2DPA2Clx */;
  flex-shrink: 0;
}
.svg__size__540 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.root .svg:hover {
  color: #b4dfca;
  left: auto;
  top: auto;
}
.box__aOiaZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.box__ipqFh {
  font-size: 12px;
  font-weight: 400;
}
.box__size__540__ipqFhg8DmW {
  font-size: 14px;
}
.root .box__ipqFh:hover {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
  left: auto;
  top: auto;
}
