.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 720px;
  min-width: 360px;
}
.parent {
  display: flex;
  flex-direction: row;
  width: 360px;
  height: auto;
  flex-shrink: 0;
  padding: 2px 8px 2px 0px;
  border-bottom: 2px solid #dddddd /* plasmic-token: TctF8-gJH */;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: unset;
  margin-left: calc(0px - 96px);
  width: calc(100% + 96px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 96px;
}
.parent__width__360 {
  width: 360px;
  flex-shrink: 0;
}
.parent__width__540 {
  width: 540px;
  flex-shrink: 0;
}
.parent__width__720 {
  width: 720px;
  flex-shrink: 0;
}
.freeBox__ma38J {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding: 2px 6px 2px 0px;
}
.freeBox__ma38J > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ma38J > :global(.__wab_flex-container) > *,
.freeBox__ma38J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ma38J > :global(.__wab_flex-container) > picture > img,
.freeBox__ma38J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.iconSocialProfile:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__y4X73 {
  position: relative;
  left: auto;
  top: auto;
  font-size: 16px;
  font-weight: 500;
}
.switchPrimary:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.switchPrimary__connected:global(.__wab_instance) {
  flex-shrink: 0;
}
