.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.parent {
  flex-direction: row;
  width: 100%;
  display: flex;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
  border: 1px none #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.parent > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.parent > :global(.__wab_flex-container) > *,
.parent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.parent > :global(.__wab_flex-container) > picture > img,
.parent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.elementUsernameDisplay {
  flex-direction: column;
  display: flex;
  position: relative;
  align-self: center;
  width: 100%;
  height: auto;
  min-width: 0;
}
.elementUsernameDisplay > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.elementUsernameDisplay > :global(.__wab_flex-container) > *,
.elementUsernameDisplay
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.elementUsernameDisplay > :global(.__wab_flex-container) > picture > img,
.elementUsernameDisplay
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.elementUserRealNames {
  flex-direction: row;
  display: flex;
  position: relative;
}
.elementUserRealNames > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.elementUserRealNames > :global(.__wab_flex-container) > *,
.elementUserRealNames
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.elementUserRealNames > :global(.__wab_flex-container) > picture > img,
.elementUserRealNames
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.userfirstName {
  font-size: 14px;
  text-align: left;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-weight: 600;
}
.userLastName {
  font-size: 14px;
  text-align: left;
  line-height: 1;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  font-weight: 600;
}
.userDisplaynameParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.atSign {
  font-size: 12px;
  text-align: left;
  line-height: 1;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  width: auto;
}
.userDisplayNameText {
  font-size: 12px;
  text-align: left;
  line-height: 1;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  width: auto;
}
.dropDownUserSettingsTrigger {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  align-self: flex-start;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
