.root {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  cursor: pointer;
}
.roottype_primary_color_brand:hover {
  backface-visibility: hidden;
}
.button {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--token-gtUIPzlCk);
  cursor: pointer;
  height: 100%;
  transition-property: all;
  transition-duration: 0.5s;
  min-width: 0;
  min-height: 0;
  border-radius: 4px;
  padding: 8px 12px;
  border: 2px none var(--token-gtUIPzlCk);
}
.buttontype_primary {
  background: var(--token-gtUIPzlCk);
  border-color: var(--token-gtUIPzlCk);
}
.buttoncolor_warning {
  background: var(--token-eB-5eFUpD);
  border-color: var(--token-eB-5eFUpD);
}
.buttoncolor_caution {
  background: var(--token-zuxijHDLE);
  border-color: var(--token-zuxijHDLE);
}
.buttoncolor_alert {
  background: var(--token-8VWWUllYQ);
  border-color: var(--token-8VWWUllYQ);
}
.buttoncolor_blue {
  background: var(--token-MxvXD2oSU);
  border-style: none;
  border-color: var(--token-MxvXD2oSU);
}
.buttoncolor_magenta {
  background: var(--token-m2LiiC3to);
  border-color: var(--token-m2LiiC3to);
}
.buttonstate_error {
  background: var(--token-zuxijHDLE);
}
.buttonstate_warning {
  background: var(--token-eB-5eFUpD);
}
.buttonstate_success {
  background: var(--token-p7MYBCVhU);
}
.buttonstate_disabled {
  background: var(--token-tFyZO4NUK);
  border-color: var(--token-i5T_lGWIG);
}
.buttontype_secondary {
  background: var(--token-5XhQ_b_Lb);
  border-style: solid;
  border-color: var(--token-TctF8-gJH);
}
.buttonrounded {
  border-radius: 4px;
}
.buttonnoPadding {
  padding: 0px;
}
.buttontype_outline {
  background: var(--token-5XhQ_b_Lb);
  border-style: solid;
}
.buttontype_link {
  background: none;
  border-style: none;
}
.buttontype_ghost {
  background: var(--token-PfXAJ-PoV);
  border: 2px none var(--token-i5T_lGWIG);
}
.buttontype_light {
  background: var(--token-5XhQ_b_Lb);
  border-style: solid;
  border-color: var(--token-t2DPA2Clx);
}
.buttontype_dark {
  background: var(--token-zi5VxOARL);
  border-style: solid;
  border-color: var(--token-t2DPA2Clx);
}
.buttoncolor_brand {
  background: var(--token-SilK1AnWd);
  border-style: none;
  border-color: var(--token-SilK1AnWd);
}
.buttoncolor_success {
  background: var(--token-p7MYBCVhU);
  border-style: none;
  border-color: var(--token-p7MYBCVhU);
}
.buttontype_secondary_color_brand {
  background: var(--token-5XhQ_b_Lb);
  border-style: solid;
  border-color: var(--token-WAX_l0bzr);
}
.buttontype_outline_color_brand {
  background: var(--token-5XhQ_b_Lb);
  border-style: solid;
}
.buttontype_secondary_color_success {
  border-color: var(--token-iJkrL5g6F);
}
.buttontype_link_color_brand {
  background: none;
}
.buttontype_outline_color_success {
  background: var(--token-5XhQ_b_Lb);
  border-style: solid;
}
.buttontype_secondary_color_warning {
  border-color: var(--token-DILoyOENE);
}
.buttontype_ghost_color_brand {
  background: var(--token-PfXAJ-PoV);
  border: 1px none var(--token-97FZ-MZpy);
}
.buttontype_link_color_success {
  background: none;
}
.buttontype_outline_color_warning {
  background: var(--token-5XhQ_b_Lb);
  border-style: solid;
}
.buttontype_secondary_color_caution {
  border-color: var(--token-oKZqK_X__);
}
.buttontype_ghost_color_success {
  background: var(--token-PfXAJ-PoV);
  border-color: var(--token-p7MYBCVhU);
}
.buttontype_link_color_warning {
  background: none;
}
.buttontype_light_color_brand {
  background: var(--token-5XhQ_b_Lb);
  border-style: solid;
  border-color: var(--token-j08wwDM3g);
}
.buttontype_secondary_color_alert {
  border-color: var(--token-3KiHlnI5q);
}
.buttontype_ghost_color_warning {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--token-PfXAJ-PoV);
  flex-row-gap: 0px;
  border-radius: 0px;
  border: 2px none var(--token-p7MYBCVhU);
}
.buttontype_link_color_caution {
  background: none;
}
.buttontype_light_color_success {
  background: var(--token-5XhQ_b_Lb);
  border-style: solid;
  border-color: var(--token-GFA05O2j9);
}
.buttontype_secondary_color_blue {
  border-color: var(--token-I7xi6Y59a);
}
.buttontype_ghost_color_caution {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--token-PfXAJ-PoV);
  flex-row-gap: 0px;
  border-radius: 0px;
  border: 2px none var(--token-p7MYBCVhU);
}
.buttontype_link_color_alert {
  background: none;
}
.buttontype_light_color_warning {
  background: var(--token-5XhQ_b_Lb);
  border-color: var(--token--3uS3OAJA);
}
.buttontype_secondary_color_magenta {
  border-color: var(--token-Dji75eq9u);
}
.buttontype_ghost_color_alert {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--token-PfXAJ-PoV);
  flex-row-gap: 0px;
  border-radius: 0px;
  border: 2px none var(--token-p7MYBCVhU);
}
.buttontype_link_color_blue {
  background: none;
}
.buttontype_light_color_caution {
  border-color: var(--token-Quvjmwe9h);
}
.buttontype_ghost_color_blue {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--token-PfXAJ-PoV);
  flex-row-gap: 0px;
  border-radius: 0px;
  border: 2px none var(--token-p7MYBCVhU);
}
.buttontype_link_color_magenta {
  background: none;
}
.buttontype_light_color_alert {
  border-color: var(--token-KmPIdyKu5);
}
.buttontype_ghost_color_magenta {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--token-PfXAJ-PoV);
  flex-row-gap: 0px;
  border-radius: 0px;
  border: 2px none var(--token-p7MYBCVhU);
}
.buttontype_light_color_blue {
  border-color: var(--token-Q8ea7qSap);
}
.buttontype_link_state_error {
  background: none;
}
.buttontype_light_color_magenta {
  border-color: var(--token-94Qi9YtP6);
}
.buttontype_primary_state_disabled {
  background: var(--token-zi5VxOARL);
  border-color: var(--token-F4gy0u3aB);
}
.buttontype_ghost_state_error {
  background: none;
  border-width: 1px;
  border-color: var(--token-zuxijHDLE);
}
.buttontype_link_state_warning {
  background: none;
}
.buttontype_ghost_state_warning {
  background: none;
  border-width: 1px;
  border-color: var(--token-eB-5eFUpD);
}
.buttontype_link_state_success {
  background: none;
}
.buttonstate_success_type_ghost {
  background: none;
  border-width: 1px;
  border-color: var(--token-p7MYBCVhU);
}
.buttonhasShadow_color_brand {
  filter: drop-shadow(10px 30px 10px #6633ff1a);
}
.root:hover .button {
  background: var(--token-T6he24oKP);
  transform-origin: 50% 50%;
  backface-visibility: hidden;
}
.roottype_primary:hover .buttontype_primary {
  background: var(--token-T6he24oKP);
  border-color: var(--token-T6he24oKP);
}
.roottype_secondary:hover .buttontype_secondary {
  border-color: var(--token-_aCbIOo4N);
}
.roottype_outline:hover .buttontype_outline {
  background: var(--token-VLxGX_Tro);
}
.roottype_link:hover .buttontype_link {
  background: none;
  border-style: none;
}
.roottype_ghost:hover .buttontype_ghost {
  background: var(--token-530QP0ccB);
  border-style: none;
  border-color: var(--token-F4gy0u3aB);
}
.roottype_light:hover .buttontype_light {
  border-color: var(--token-F4gy0u3aB);
}
.roottype_dark:hover .buttontype_dark {
  background: var(--token-VLxGX_Tro);
  border-color: var(--token-fuGaen6l1);
}
.rootcolor_brand:hover .buttoncolor_brand {
  background: var(--token-97FZ-MZpy);
  border-color: var(--token-97FZ-MZpy);
}
.roottype_secondary_color_brand:hover .buttontype_secondary_color_brand {
  border-color: var(--token-97FZ-MZpy);
}
.roottype_outline_color_brand:hover .buttontype_outline_color_brand {
  background: var(--token-97FZ-MZpy);
}
.roottype_secondary_color_success:hover .buttontype_secondary_color_success {
  border-color: var(--token-p7MYBCVhU);
}
.roottype_secondary_color_warning:hover .buttontype_secondary_color_warning {
  border-color: var(--token-eB-5eFUpD);
}
.roottype_ghost_color_brand:hover .buttontype_ghost_color_brand {
  background: var(--token-WAX_l0bzr);
  border-color: var(--token-IbTSH9_JJ);
}
.roottype_secondary_color_caution:hover .buttontype_secondary_color_caution {
  border-color: var(--token-zuxijHDLE);
}
.roottype_light_color_brand:hover .buttontype_light_color_brand {
  border-color: var(--token-j08wwDM3g);
}
.roottype_ghost_color_success:hover .buttontype_ghost_color_success {
  background: var(--token-iJkrL5g6F);
}
.roottype_secondary_color_alert:hover .buttontype_secondary_color_alert {
  border-color: var(--token-8VWWUllYQ);
}
.roottype_light_color_success:hover .buttontype_light_color_success {
  border-color: var(--token-LmLUYtV0r);
}
.roottype_secondary_color_blue:hover .buttontype_secondary_color_blue {
  border-color: var(--token-MxvXD2oSU);
}
.roottype_ghost_color_warning:hover .buttontype_ghost_color_warning {
  background: var(--token-DILoyOENE);
}
.roottype_light_color_warning:hover .buttontype_light_color_warning {
  border-color: var(--token-Ubt4nIgRv);
}
.roottype_secondary_color_magenta:hover .buttontype_secondary_color_magenta {
  border-color: var(--token-m2LiiC3to);
}
.roottype_ghost_color_caution:hover .buttontype_ghost_color_caution {
  background: var(--token-oKZqK_X__);
}
.roottype_light_color_caution:hover .buttontype_light_color_caution {
  border-color: var(--token-M1EULLuQy);
}
.roottype_ghost_color_alert:hover .buttontype_ghost_color_alert {
  background: var(--token-3KiHlnI5q);
}
.roottype_light_color_alert:hover .buttontype_light_color_alert {
  border-color: var(--token-sNRxLWC2j);
}
.roottype_ghost_color_blue:hover .buttontype_ghost_color_blue {
  background: var(--token-I7xi6Y59a);
}
.roottype_light_color_blue:hover .buttontype_light_color_blue {
  border-color: var(--token-h38nszR9t);
}
.roottype_ghost_color_magenta:hover .buttontype_ghost_color_magenta {
  background: var(--token-Dji75eq9u);
}
.roottype_light_color_magenta:hover .buttontype_light_color_magenta {
  border-color: var(--token-Iwo8OE18Y);
}
.rootcolor_brand_rounded:hover .buttoncolor_brand_rounded {
  background: var(--token-97FZ-MZpy);
}
.slotTargetChildren {
  color: var(--token-fuGaen6l1);
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  white-space: pre;
}
.slotTargetChildrencolor_light {
  color: var(--token-t2DPA2Clx);
}
.slotTargetChildrenstate_disabled {
  color: var(--token-ABHLsGb8o);
}
.slotTargetChildrentype_secondary {
  color: var(--token-lJGpMo6--);
}
.slotTargetChildrentype_outline {
  color: var(--token-7-Hl8dlot);
}
.slotTargetChildrentype_link {
  color: var(--token-lJGpMo6--);
}
.slotTargetChildrentype_link > .__wab_text,
.slotTargetChildrentype_link > .__wab_slot-string-wrapper,
.slotTargetChildrentype_link > .__wab_slot > .__wab_text,
.slotTargetChildrentype_link > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetChildrentype_link > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetChildrentype_link
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.slotTargetChildrentype_link
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.slotTargetChildrentype_link
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: underline;
}
.slotTargetChildrentype_ghost {
  color: var(--token-lJGpMo6--);
}
.slotTargetChildrentype_light {
  color: var(--token-lJGpMo6--);
}
.slotTargetChildrentype_dark {
  color: var(--token--59aep1Mm);
}
.slotTargetChildrentype_secondary_color_brand {
  color: var(--token-6xKNduQM7);
}
.slotTargetChildrentype_outline_color_brand {
  color: var(--token-97FZ-MZpy);
}
.slotTargetChildrentype_secondary_color_success {
  color: var(--token-WerGfd9sF);
}
.slotTargetChildrentype_link_color_brand {
  color: var(--token-rN0ul5_oz);
}
.slotTargetChildrentype_outline_color_success {
  color: var(--token-p7MYBCVhU);
}
.slotTargetChildrentype_secondary_color_warning {
  color: var(--token-tfbroDLhU);
}
.slotTargetChildrentype_ghost_color_brand {
  color: var(--token-6xKNduQM7);
}
.slotTargetChildrentype_link_color_success {
  color: var(--token-LmLUYtV0r);
}
.slotTargetChildrentype_outline_color_warning {
  color: var(--token-eB-5eFUpD);
}
.slotTargetChildrentype_secondary_color_caution {
  color: var(--token-iy6ayoo2G);
}
.slotTargetChildrentype_ghost_color_success {
  color: var(--token-LmLUYtV0r);
}
.slotTargetChildrentype_link_color_warning {
  color: var(--token-Ubt4nIgRv);
}
.slotTargetChildrentype_light_color_brand {
  color: var(--token-rN0ul5_oz);
}
.slotTargetChildrentype_outline_color_caution {
  color: var(--token-zuxijHDLE);
}
.slotTargetChildrentype_secondary_color_alert {
  color: var(--token-k-YHrtYlS);
}
.slotTargetChildrentype_ghost_color_warning {
  color: var(--token-Ubt4nIgRv);
}
.slotTargetChildrentype_link_color_caution {
  color: var(--token-M1EULLuQy);
}
.slotTargetChildrentype_light_color_success {
  color: var(--token-Gm5lyQQ6U);
}
.slotTargetChildrentype_outline_color_alert {
  color: var(--token-8VWWUllYQ);
}
.slotTargetChildrentype_secondary_color_blue {
  color: var(--token-XsRWz_jVS);
}
.slotTargetChildrentype_ghost_color_caution {
  color: var(--token-M1EULLuQy);
}
.slotTargetChildrentype_link_color_alert {
  color: var(--token-sNRxLWC2j);
}
.slotTargetChildrentype_light_color_warning {
  color: var(--token-Cslsaft0J);
}
.slotTargetChildrentype_outline_color_blue {
  color: var(--token-MxvXD2oSU);
}
.slotTargetChildrentype_secondary_color_magenta {
  color: var(--token-Qk8Z99RQL);
}
.slotTargetChildrentype_ghost_color_alert {
  color: var(--token-sNRxLWC2j);
}
.slotTargetChildrentype_link_color_blue {
  color: var(--token-h38nszR9t);
}
.slotTargetChildrentype_light_color_caution {
  color: var(--token-abQDSBbxy);
}
.slotTargetChildrentype_outline_color_magenta {
  color: var(--token-m2LiiC3to);
}
.slotTargetChildrentype_ghost_color_blue {
  color: var(--token-h38nszR9t);
}
.slotTargetChildrentype_link_color_magenta {
  color: var(--token-Iwo8OE18Y);
}
.slotTargetChildrentype_light_color_alert {
  color: var(--token-WUTfdDVU-);
}
.slotTargetChildrentype_ghost_color_magenta {
  color: var(--token-Iwo8OE18Y);
}
.slotTargetChildrentype_light_color_blue {
  color: var(--token-stcF9VjzQ);
}
.slotTargetChildrencolor_light_type_link {
  color: var(--token--59aep1Mm);
}
.slotTargetChildrentype_link_state_error {
  color: var(--token-zuxijHDLE);
}
.slotTargetChildrentype_light_color_magenta {
  color: var(--token-Xgpxrh1N1);
}
.slotTargetChildrentype_primary_state_disabled {
  color: var(--token-R5fCYkZee);
}
.slotTargetChildrentype_ghost_state_error {
  color: var(--token-zuxijHDLE);
}
.slotTargetChildrentype_link_state_warning {
  color: var(--token-eB-5eFUpD);
}
.slotTargetChildrentype_ghost_state_warning {
  color: var(--token-eB-5eFUpD);
}
.slotTargetChildrentype_link_state_success {
  color: var(--token-p7MYBCVhU);
}
.slotTargetChildrenstate_success_type_ghost {
  color: var(--token-p7MYBCVhU);
}
.root:hover .slotTargetChildren {
  color: var(--token-fuGaen6l1);
}
.roottype_primary:hover .slotTargetChildrentype_primary {
  color: var(--token-fuGaen6l1);
}
.rootcolor_light:hover .slotTargetChildrencolor_light {
  color: var(--token-fuGaen6l1);
}
.roottype_outline:hover .slotTargetChildrentype_outline {
  color: var(--token-gJaAJBnXh);
}
.roottype_ghost:hover .slotTargetChildrentype_ghost {
  color: var(--token-F4gy0u3aB);
}
.roottype_light:hover .slotTargetChildrentype_light {
  color: var(--token-F4gy0u3aB);
}
.roottype_dark:hover .slotTargetChildrentype_dark {
  color: var(--token-fuGaen6l1);
}
.rootcolor_brand:hover .slotTargetChildrencolor_brand {
  color: var(--token-fuGaen6l1);
}
.roottype_outline_color_brand:hover
  .slotTargetChildrentype_outline_color_brand {
  color: var(--token-gJaAJBnXh);
}
.roottype_secondary_color_success:hover
  .slotTargetChildrentype_secondary_color_success {
  color: var(--token-p7MYBCVhU);
}
.roottype_secondary_color_warning:hover
  .slotTargetChildrentype_secondary_color_warning {
  color: var(--token-eB-5eFUpD);
}
.roottype_ghost_color_brand:hover .slotTargetChildrentype_ghost_color_brand {
  color: var(--token-97FZ-MZpy);
}
.roottype_link_color_success:hover .slotTargetChildrentype_link_color_success {
  color: var(--token-wjhZcIoiw);
}
.roottype_secondary_color_caution:hover
  .slotTargetChildrentype_secondary_color_caution {
  color: var(--token-zuxijHDLE);
}
.roottype_light_color_brand:hover .slotTargetChildrentype_light_color_brand {
  color: var(--token-6xKNduQM7);
}
.roottype_link_color_warning:hover .slotTargetChildrentype_link_color_warning {
  color: var(--token-D6EUx-DWU);
}
.roottype_ghost_color_success:hover
  .slotTargetChildrentype_ghost_color_success {
  color: var(--token-wjhZcIoiw);
}
.roottype_secondary_color_alert:hover
  .slotTargetChildrentype_secondary_color_alert {
  color: var(--token-8VWWUllYQ);
}
.roottype_light_color_success:hover
  .slotTargetChildrentype_light_color_success {
  color: var(--token-p7MYBCVhU);
}
.roottype_link_color_caution:hover .slotTargetChildrentype_link_color_caution {
  color: var(--token-zOdpc2i_7);
}
.roottype_ghost_color_warning:hover
  .slotTargetChildrentype_ghost_color_warning {
  color: var(--token-D6EUx-DWU);
}
.roottype_secondary_color_blue:hover
  .slotTargetChildrentype_secondary_color_blue {
  color: var(--token-MxvXD2oSU);
}
.roottype_light_color_warning:hover
  .slotTargetChildrentype_light_color_warning {
  color: var(--token-eB-5eFUpD);
}
.roottype_link_color_alert:hover .slotTargetChildrentype_link_color_alert {
  color: var(--token-h246Kg3cR);
}
.roottype_ghost_color_caution:hover
  .slotTargetChildrentype_ghost_color_caution {
  color: var(--token-zOdpc2i_7);
}
.roottype_secondary_color_magenta:hover
  .slotTargetChildrentype_secondary_color_magenta {
  color: var(--token-m2LiiC3to);
}
.roottype_light_color_caution:hover
  .slotTargetChildrentype_light_color_caution {
  color: var(--token-zuxijHDLE);
}
.roottype_link_color_blue:hover .slotTargetChildrentype_link_color_blue {
  color: var(--token-ECQQpTj0b);
}
.roottype_ghost_color_alert:hover .slotTargetChildrentype_ghost_color_alert {
  color: var(--token-h246Kg3cR);
}
.roottype_light_color_alert:hover .slotTargetChildrentype_light_color_alert {
  color: var(--token-8VWWUllYQ);
}
.roottype_link_color_magenta:hover .slotTargetChildrentype_link_color_magenta {
  color: var(--token-H2GdnGm1C);
}
.roottype_ghost_color_blue:hover .slotTargetChildrentype_ghost_color_blue {
  color: var(--token-ECQQpTj0b);
}
.roottype_light_color_blue:hover .slotTargetChildrentype_light_color_blue {
  color: var(--token-MxvXD2oSU);
}
.roottype_ghost_color_magenta:hover
  .slotTargetChildrentype_ghost_color_magenta {
  color: var(--token-H2GdnGm1C);
}
.roottype_light_color_magenta:hover
  .slotTargetChildrentype_light_color_magenta {
  color: var(--token-m2LiiC3to);
}
.rootcolor_brand_rounded:hover .slotTargetChildrencolor_brand_rounded {
  color: var(--token-fuGaen6l1);
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  display: none;
}
