.root {
  display: flex;
  flex-direction: column;
  width: 360px;
  position: relative;
  padding: 8px 16px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
@media (min-width: 1152px) and (max-width: 1440px) {
  .root {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 8px 16px 16px;
  }
}
@media (min-width: 1152px) and (max-width: 1440px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 1152px) and (max-width: 1440px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media (max-width: 375px) {
  .root {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 8px 16px 16px;
  }
}
@media (max-width: 375px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 375px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.team {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.box__ggIb6 {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
@media (min-width: 1152px) and (max-width: 1440px) {
  .box__ggIb6 {
    display: block;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.2;
    color: #000000 /* plasmic-token: 6OoG_pvkg */;
    align-self: stretch;
  }
}
.teamMemberparent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.teamMemberparent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.teamMemberparent > :global(.__wab_flex-container) > *,
.teamMemberparent > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 0px;
}
.cardTeamMembership {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 4px 0px;
}
.cardTeamMembership > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.cardTeamMembership > :global(.__wab_flex-container) > *,
.cardTeamMembership
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 48px;
}
.box__oJ4Wb {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.box__oJ4Wb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__oJ4Wb > :global(.__wab_flex-container) > *,
.box__oJ4Wb > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.userAvatar__yG8Na:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img___58XBa {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__nmBcg {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__dUbSg {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__nHJhO {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__td0Xv {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__ojUtN {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___8Qqmw {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___8ZbBz {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__hrQf7 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__snvdb {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__fNmYw {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.teamLink {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.box__ldMlX {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.avatarGroupIncrement__e5Zs9:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.cardTeamMembership2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 4px 0px;
}
.cardTeamMembership2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.cardTeamMembership2 > :global(.__wab_flex-container) > *,
.cardTeamMembership2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 48px;
}
.box__ld279 {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.box__ld279 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__ld279 > :global(.__wab_flex-container) > *,
.box__ld279 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.userAvatar__rNdzL:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img___0FYbB {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__veBb {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__og1Ad {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___78If6 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__rzkem {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__gcYes {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__pebMa {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__qUkKz {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__zZyX {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__qcThz {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__fHvjq {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.teamLink2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.box__lig2S {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.avatarGroupIncrement__ncoiU:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.cardTeamMembership3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 4px 0px;
}
.cardTeamMembership3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.cardTeamMembership3 > :global(.__wab_flex-container) > *,
.cardTeamMembership3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 48px;
}
.box__za13C {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.box__za13C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__za13C > :global(.__wab_flex-container) > *,
.box__za13C > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.userAvatar__ecg5D:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img__wjRx {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__t3Wme {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__qgKGu {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__eFuqk {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___1CVBh {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__xdE0C {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__sUyuA {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__qik2 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__sH4Px {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__n62BR {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__sb8ZV {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.teamLink3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.box__rjnUw {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.avatarGroupIncrement__wQhHd:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
