.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  position: relative;
  max-width: 1080px;
  min-width: 0;
  border-radius: 2px;
  padding: 4px 8px;
  border: 2px solid #dddddd /* plasmic-token: TctF8-gJH */;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 24px;
}
.noteMessageParent {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-self: auto;
  min-width: 0;
}
.noteMessageParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.noteMessageParent > :global(.__wab_flex-container) > *,
.noteMessageParent > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.noteParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.slotNote {
  font-weight: 600;
}
.mesageParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.buttonPrimary:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.buttonPrimary__button:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.svg__oniB {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
