.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.root:focus-within {
  outline: none;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 32px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid var(--token-i5T_lGWIG);
}
.parentwidth__720 {
  width: 720px;
}
.parentwidth__540 {
  width: 540px;
}
.parentwidth__360 {
  width: 360px;
}
.parentwidth__270 {
  width: 270px;
}
.parentwidth__180 {
  width: 180px;
}
.parentheight__36 {
  height: 36px;
  flex-shrink: 0;
}
.parentheight__40 {
  height: 40px;
  flex-shrink: 0;
}
.root:hover .parent {
  border-color: var(--token-ZGkVH5KID);
}
.root:focus-within .parent {
  outline: none;
  border-color: var(--token-97FZ-MZpy);
}
.searchSvgbg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: auto;
  left: auto;
  width: 28px;
  height: 28px;
  background: var(--token-530QP0ccB);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  flex-shrink: 0;
  padding: 6px;
}
.searchSvgbgtype_secondary {
  background: var(--token-5XhQ_b_Lb);
}
.searchSvgbgheight__36 {
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.searchSvgbgheight__40 {
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.searchSvg {
  object-fit: cover;
  height: 16px;
  width: 16px;
  color: var(--token-lJGpMo6--);
  flex-shrink: 0;
}
.searchSvgheight__36 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.searchSvgheight__40 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.textboxParent {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.textboxParenttype_primary {
  background: var(--token-530QP0ccB);
}
.textboxParenttype_secondary {
  background: var(--token-5XhQ_b_Lb);
}
.root:focus-within .textboxParent {
  outline: none;
}
.textInput {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  font-size: 14px;
  color: var(--token-lJGpMo6--);
  background: var(--token-530QP0ccB);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  min-width: 0;
  min-height: 0;
  border: 2px solid var(--token-FuVdnB9x_);
}
.textInputtype_secondary {
  background: var(--token-5XhQ_b_Lb);
}
