.buttonPrimary {
  display: flex;
  width: 120px;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #101010;
  cursor: pointer;
  border-radius: 4px;
  border: 2px none #101010 /* plasmic-token: 7-Hl8dlot */;
}
.buttonPrimary__color_success {
  background: #00ccbb;
  border-style: none;
  border-color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__color_warning {
  background: #ffcc33;
  border-color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.buttonPrimary__color_caution {
  background: #cc0033;
  border-color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.buttonPrimary__color_alert {
  background: #ff0099;
  border-color: #ff0099 /* plasmic-token: 8VWWUllYQ */;
}
.buttonPrimary__color_blue {
  background: #3366ff;
  border-style: none;
  border-color: #3366ff /* plasmic-token: MxvXD2oSU */;
}
.buttonPrimary__color_magenta {
  background: #cc33ff;
  border-color: #cc33ff /* plasmic-token: m2LiiC3to */;
}
.buttonPrimary__size__90 {
  width: 90px;
  height: 32px;
}
.buttonPrimary__size__120 {
  width: 120px;
  height: 36px;
}
.buttonPrimary__size__140 {
  width: 140px;
  height: 36px;
}
.buttonPrimary__size__180 {
  width: 180px;
}
.buttonPrimary__type_secondary {
  background: #ffffff;
  border-style: solid;
  border-color: #dcdcdc /* plasmic-token: TctF8-gJH */;
}
.buttonPrimary__size__270 {
  width: 270px;
  height: 40px;
}
.buttonPrimary__size__360 {
  width: 360px;
  height: 48px;
}
.buttonPrimary__state_error {
  background: #cc0033;
}
.buttonPrimary__state_warning {
  background: #ffcc33;
}
.buttonPrimary__state_success {
  background: #00ccbb;
}
.buttonPrimary__state_disabled {
  background: #3d4350;
  border-color: #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.buttonPrimary__rounded {
  border-radius: 8px;
}
.buttonPrimary__type_outline {
  background: #ffffff;
  border-style: solid;
}
.buttonPrimary__type_link {
  background: none;
}
.buttonPrimary__type_ghost {
  background: #f8f8ff;
  border: 2px none #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.buttonPrimary__type_light {
  background: #ffffff;
  border-style: solid;
  border-color: #eaeaea /* plasmic-token: t2DPA2Clx */;
}
.buttonPrimary__type_dark {
  background: #14161b;
  border-style: solid;
  border-color: #eaeaea /* plasmic-token: t2DPA2Clx */;
}
.buttonPrimary__color_brand {
  background: #6633ff;
  border-style: none;
  border-color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.buttonPrimary__type_secondary_color_brand {
  background: #ffffff;
  border-style: solid;
  border-color: #e0d6ff /* plasmic-token: WAX_l0bzr */;
}
.buttonPrimary__type_outline_color_brand {
  background: #ffffff;
  border-style: solid;
}
.buttonPrimary__type_secondary_color_success {
  border-color: #ccf5f1 /* plasmic-token: iJkrL5g6F */;
}
.buttonPrimary__type_outline_color_success {
  background: #ffffff;
  border-style: solid;
}
.buttonPrimary__type_secondary_color_warning {
  border-color: #fff5d6 /* plasmic-token: DILoyOENE */;
}
.buttonPrimary__type_link_color_brand {
  background: none;
}
.buttonPrimary__type_outline_color_warning {
  background: #ffffff;
  border-style: solid;
}
.buttonPrimary__type_secondary_color_caution {
  border-color: #f5ccd6 /* plasmic-token: oKZqK_X__ */;
}
.buttonPrimary__type_ghost_color_brand {
  background: #f8f8ff;
  border: 1px none #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.buttonPrimary__type_link_color_success {
  background: none;
}
.buttonPrimary__type_secondary_color_alert {
  border-color: #ffcceb /* plasmic-token: 3KiHlnI5q */;
}
.buttonPrimary__type_ghost_color_success {
  background: #f8f8ff;
  border-color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__type_link_color_warning {
  background: none;
}
.buttonPrimary__type_light_color_brand {
  background: #ffffff;
  border-style: solid;
  border-color: #c2adff /* plasmic-token: j08wwDM3g */;
}
.buttonPrimary__type_secondary_color_blue {
  border-color: #d6e0ff /* plasmic-token: I7xi6Y59a */;
}
.buttonPrimary__type_ghost_color_warning {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f8f8ff;
  flex-row-gap: 0px;
  border-radius: 0px;
  border: 2px none #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__type_link_color_caution {
  background: none;
}
.buttonPrimary__type_light_color_success {
  background: #ffffff;
  border-style: solid;
  border-color: #99ebe4 /* plasmic-token: GFA05O2j9 */;
}
.buttonPrimary__type_secondary_color_magenta {
  border-color: #f5d6ff /* plasmic-token: Dji75eq9u */;
}
.buttonPrimary__type_ghost_color_caution {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f8f8ff;
  flex-row-gap: 0px;
  border-radius: 0px;
  border: 2px none #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__type_link_color_alert {
  background: none;
}
.buttonPrimary__type_light_color_warning {
  background: #ffffff;
  border-color: #ffebad /* plasmic-token: -3uS3OAJA */;
}
.buttonPrimary__type_ghost_color_alert {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f8f8ff;
  flex-row-gap: 0px;
  border-radius: 0px;
  border: 2px none #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__type_link_color_blue {
  background: none;
}
.buttonPrimary__type_light_color_caution {
  border-color: #eb99ad /* plasmic-token: Quvjmwe9h */;
}
.buttonPrimary__type_ghost_color_blue {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f8f8ff;
  flex-row-gap: 0px;
  border-radius: 0px;
  border: 2px none #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__type_link_color_magenta {
  background: none;
}
.buttonPrimary__type_light_color_alert {
  border-color: #ff99d6 /* plasmic-token: KmPIdyKu5 */;
}
.buttonPrimary__type_ghost_color_magenta {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f8f8ff;
  flex-row-gap: 0px;
  border-radius: 0px;
  border: 2px none #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__type_light_color_blue {
  border-color: #adc2ff /* plasmic-token: Q8ea7qSap */;
}
.buttonPrimary__type_light_color_magenta {
  border-color: #ebadff /* plasmic-token: 94Qi9YtP6 */;
}
.buttonPrimary__type_primary_state_disabled {
  background: #14161b;
  border-color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.buttonPrimary__type_link_state_error {
  background: none;
}
.buttonPrimary__type_ghost_state_error {
  background: none;
  border-width: 1px;
  border-color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.buttonPrimary__type_link_state_warning {
  background: none;
}
.buttonPrimary__type_ghost_state_warning {
  background: none;
  border-width: 1px;
  border-color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.buttonPrimary__type_link_state_success {
  background: none;
}
.buttonPrimary__state_success_type_ghost {
  background: none;
  border-width: 1px;
  border-color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__hasShadow_color_brand {
  filter: drop-shadow(10px 30px 10px #6633ff1a);
}
.buttonPrimary__color_brand_size__360_rounded {
  background: #5229cc;
}
.buttonPrimary:hover {
  background: #ffffff;
  border: 2px solid #101010 /* plasmic-token: 7-Hl8dlot */;
}
.buttonPrimary__type_secondary:hover {
  border-color: #14161b /* plasmic-token: _aCbIOo4N */;
}
.buttonPrimary__type_outline:hover {
  background: #101010;
}
.buttonPrimary__type_link:hover {
  background: none;
  border-style: none;
}
.buttonPrimary__type_ghost:hover {
  background: #f8f8f8;
  border-style: none;
  border-color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.buttonPrimary__type_light:hover {
  border-color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.buttonPrimary__type_dark:hover {
  background: #101010;
  border-color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.buttonPrimary__color_brand:hover {
  border-color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.buttonPrimary__type_secondary_color_brand:hover {
  border-color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.buttonPrimary__type_outline_color_brand:hover {
  background: #6633ff;
}
.buttonPrimary__type_secondary_color_success:hover {
  border-color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__type_secondary_color_warning:hover {
  border-color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.buttonPrimary__type_secondary_color_caution:hover {
  border-color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.buttonPrimary__type_ghost_color_brand:hover {
  background: #e0d6ff;
  border-color: #14161b /* plasmic-token: IbTSH9_JJ */;
}
.buttonPrimary__type_secondary_color_alert:hover {
  border-color: #ff0099 /* plasmic-token: 8VWWUllYQ */;
}
.buttonPrimary__type_light_color_brand:hover {
  border-color: #c2adff /* plasmic-token: j08wwDM3g */;
}
.buttonPrimary__type_ghost_color_success:hover {
  background: #ccf5f1;
}
.buttonPrimary__type_secondary_color_blue:hover {
  border-color: #3366ff /* plasmic-token: MxvXD2oSU */;
}
.buttonPrimary__type_light_color_success:hover {
  border-color: #66e0d6 /* plasmic-token: LmLUYtV0r */;
}
.buttonPrimary__type_secondary_color_magenta:hover {
  border-color: #cc33ff /* plasmic-token: m2LiiC3to */;
}
.buttonPrimary__type_ghost_color_warning:hover {
  background: #fff5d6;
}
.buttonPrimary__type_light_color_warning:hover {
  border-color: #ffd65c /* plasmic-token: Ubt4nIgRv */;
}
.buttonPrimary__type_ghost_color_caution:hover {
  background: #f5ccd6;
}
.buttonPrimary__type_light_color_caution:hover {
  border-color: #db4d70 /* plasmic-token: M1EULLuQy */;
}
.buttonPrimary__type_ghost_color_alert:hover {
  background: #ffcceb;
}
.buttonPrimary__type_light_color_alert:hover {
  border-color: #ff33ad /* plasmic-token: sNRxLWC2j */;
}
.buttonPrimary__type_ghost_color_blue:hover {
  background: #d6e0ff;
}
.buttonPrimary__type_light_color_blue:hover {
  border-color: #5c85ff /* plasmic-token: h38nszR9t */;
}
.buttonPrimary__type_ghost_color_magenta:hover {
  background: #f5d6ff;
}
.buttonPrimary__type_light_color_magenta:hover {
  border-color: #d65cff /* plasmic-token: Iwo8OE18Y */;
}
.iconTextParent {
  position: relative;
  display: flex;
  flex-direction: row;
}
.iconTextParent > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.iconTextParent__size__180 {
  height: auto;
}
.iconTextParent__size__180 > :global(.__wab_flex-container) {
  justify-content: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.iconTextParent__size__180 > :global(.__wab_flex-container) > *,
.iconTextParent__size__180
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.iconTextParent__size__180 > :global(.__wab_flex-container) > picture > img,
.iconTextParent__size__180
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
  margin-top: 0px;
}
.iconTextParent__type_icon {
  height: auto;
  width: auto;
}
.iconTextParent__type_icon > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.iconTextParent__type_icon > :global(.__wab_flex-container) > *,
.iconTextParent__type_icon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.iconTextParent__type_icon > :global(.__wab_flex-container) > picture > img,
.iconTextParent__type_icon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.iconTextParent__type_ghost_color_brand {
  height: 100%;
  background: none;
  min-height: 0;
  border-width: 2px;
}
.iconTextParent__type_ghost_color_brand > :global(.__wab_flex-container) {
  min-height: 0;
}
.iconTextParent__type_ghost_color_success {
  background: none;
}
.iconTextParent__type_ghost_color_warning {
  background: none;
}
.iconTextParent__type_ghost_color_caution {
  background: none;
}
.iconTextParent__type_ghost_color_alert {
  background: none;
}
.iconTextParent__type_ghost_color_blue {
  background: none;
}
.iconTextParent__type_ghost_color_magenta {
  background: none;
}
.iconTextParent__type_icon_size__140 > :global(.__wab_flex-container) {
  justify-content: center;
}
.iconTextParent__size__180_type_icon > :global(.__wab_flex-container) {
  justify-content: center;
}
.iconTextParent__type_icon_size__270 > :global(.__wab_flex-container) {
  justify-content: center;
}
.iconTextParent__type_icon_size__360 > :global(.__wab_flex-container) {
  justify-content: center;
}
.buttonPrimary__type_ghost_color_brand:hover
  .iconTextParent__type_ghost_color_brand {
  background: none;
}
.buttonPrimary__type_ghost_color_success:hover
  .iconTextParent__type_ghost_color_success {
  background: none;
}
.buttonPrimary__type_ghost_color_warning:hover
  .iconTextParent__type_ghost_color_warning {
  background: none;
}
.buttonPrimary__type_ghost_color_caution:hover
  .iconTextParent__type_ghost_color_caution {
  background: none;
}
.buttonPrimary__type_ghost_color_alert:hover
  .iconTextParent__type_ghost_color_alert {
  background: none;
}
.buttonPrimary__type_ghost_color_blue:hover
  .iconTextParent__type_ghost_color_blue {
  background: none;
}
.buttonPrimary__type_ghost_color_magenta:hover
  .iconTextParent__type_ghost_color_magenta {
  background: none;
}
.iconParent {
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.iconParent__size__180 {
  display: none;
}
.iconParent__type_icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: flex;
}
.buttonPrimary__type_icon:hover .slotTargetSvgIcon__type_icon {
  color: #101010 /* plasmic-token: 7-Hl8dlot */;
}
.svg__kdTyw {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.slotTargetChildren {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  font-weight: 500;
  line-height: 1;
  font-size: 16px;
}
.slotTargetChildren__size__90 {
  line-height: 1;
}
.slotTargetChildren__size__120 {
  font-size: 16px;
}
.slotTargetChildren__size__140 {
  font-size: 16px;
}
.slotTargetChildren__type_secondary {
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
.slotTargetChildren__state_disabled {
  color: #f8f8ff /* plasmic-token: ABHLsGb8o */;
}
.slotTargetChildren__type_outline {
  color: #101010 /* plasmic-token: 7-Hl8dlot */;
}
.slotTargetChildren__type_link {
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
.slotTargetChildren__type_link > .__wab_text,
.slotTargetChildren__type_link > .__wab_slot-string-wrapper,
.slotTargetChildren__type_link > .__wab_slot > .__wab_text,
.slotTargetChildren__type_link > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetChildren__type_link > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetChildren__type_link
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.slotTargetChildren__type_link
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.slotTargetChildren__type_link
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: underline;
}
.slotTargetChildren__type_ghost {
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
.slotTargetChildren__type_light {
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
}
.slotTargetChildren__type_dark {
  color: #f8f8f8 /* plasmic-token: -59aep1Mm */;
}
.slotTargetChildren__type_secondary_color_brand {
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.slotTargetChildren__type_outline_color_brand {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.slotTargetChildren__type_secondary_color_success {
  color: #33d6c9 /* plasmic-token: WerGfd9sF */;
}
.slotTargetChildren__type_outline_color_success {
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.slotTargetChildren__type_secondary_color_warning {
  color: #ffd65c /* plasmic-token: tfbroDLhU */;
}
.slotTargetChildren__type_link_color_brand {
  color: #a385ff /* plasmic-token: rN0ul5_oz */;
}
.slotTargetChildren__type_outline_color_warning {
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.slotTargetChildren__type_secondary_color_caution {
  color: #d6335c /* plasmic-token: iy6ayoo2G */;
}
.slotTargetChildren__type_ghost_color_brand {
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.slotTargetChildren__type_link_color_success {
  color: #66e0d6 /* plasmic-token: LmLUYtV0r */;
}
.slotTargetChildren__type_outline_color_caution {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.slotTargetChildren__type_secondary_color_alert {
  color: #ff33ad /* plasmic-token: k-YHrtYlS */;
}
.slotTargetChildren__type_ghost_color_success {
  color: #66e0d6 /* plasmic-token: LmLUYtV0r */;
}
.slotTargetChildren__type_link_color_warning {
  color: #ffd65c /* plasmic-token: Ubt4nIgRv */;
}
.slotTargetChildren__type_light_color_brand {
  color: #a385ff /* plasmic-token: rN0ul5_oz */;
}
.slotTargetChildren__type_outline_color_alert {
  color: #ff0099 /* plasmic-token: 8VWWUllYQ */;
}
.slotTargetChildren__type_secondary_color_blue {
  color: #5c85ff /* plasmic-token: XsRWz_jVS */;
}
.slotTargetChildren__type_ghost_color_warning {
  color: #ffd65c /* plasmic-token: Ubt4nIgRv */;
}
.slotTargetChildren__type_link_color_caution {
  color: #db4d70 /* plasmic-token: M1EULLuQy */;
}
.slotTargetChildren__type_light_color_success {
  color: #66e0d6 /* plasmic-token: Gm5lyQQ6U */;
}
.slotTargetChildren__type_outline_color_blue {
  color: #3366ff /* plasmic-token: MxvXD2oSU */;
}
.slotTargetChildren__type_secondary_color_magenta {
  color: #d65cff /* plasmic-token: Qk8Z99RQL */;
}
.slotTargetChildren__type_ghost_color_caution {
  color: #db4d70 /* plasmic-token: M1EULLuQy */;
}
.slotTargetChildren__type_link_color_alert {
  color: #ff33ad /* plasmic-token: sNRxLWC2j */;
}
.slotTargetChildren__type_light_color_warning {
  color: #ffe085 /* plasmic-token: Cslsaft0J */;
}
.slotTargetChildren__type_outline_color_magenta {
  color: #cc33ff /* plasmic-token: m2LiiC3to */;
}
.slotTargetChildren__type_ghost_color_alert {
  color: #ff33ad /* plasmic-token: sNRxLWC2j */;
}
.slotTargetChildren__type_link_color_blue {
  color: #5c85ff /* plasmic-token: h38nszR9t */;
}
.slotTargetChildren__type_light_color_caution {
  color: #e06685 /* plasmic-token: abQDSBbxy */;
}
.slotTargetChildren__type_ghost_color_blue {
  color: #5c85ff /* plasmic-token: h38nszR9t */;
}
.slotTargetChildren__type_link_color_magenta {
  color: #d65cff /* plasmic-token: Iwo8OE18Y */;
}
.slotTargetChildren__type_light_color_alert {
  color: #ff66c2 /* plasmic-token: WUTfdDVU- */;
}
.slotTargetChildren__type_ghost_color_magenta {
  color: #d65cff /* plasmic-token: Iwo8OE18Y */;
}
.slotTargetChildren__type_light_color_blue {
  color: #85a3ff /* plasmic-token: stcF9VjzQ */;
}
.slotTargetChildren__type_light_color_magenta {
  color: #e085ff /* plasmic-token: Xgpxrh1N1 */;
}
.slotTargetChildren__type_primary_state_disabled {
  color: #c2c6ce /* plasmic-token: R5fCYkZee */;
}
.slotTargetChildren__type_link_state_error {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.slotTargetChildren__type_ghost_state_error {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.slotTargetChildren__type_link_state_warning {
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.slotTargetChildren__type_ghost_state_warning {
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.slotTargetChildren__type_link_state_success {
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.slotTargetChildren__state_success_type_ghost {
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary:hover .slotTargetChildren {
  color: #101010 /* plasmic-token: 7-Hl8dlot */;
}
.buttonPrimary__type_outline:hover .slotTargetChildren__type_outline {
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
}
.buttonPrimary__type_ghost:hover .slotTargetChildren__type_ghost {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.buttonPrimary__type_light:hover .slotTargetChildren__type_light {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
}
.buttonPrimary__type_dark:hover .slotTargetChildren__type_dark {
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
}
.buttonPrimary__color_brand:hover .slotTargetChildren__color_brand {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.buttonPrimary__type_outline_color_brand:hover
  .slotTargetChildren__type_outline_color_brand {
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
}
.buttonPrimary__type_secondary_color_success:hover
  .slotTargetChildren__type_secondary_color_success {
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__type_secondary_color_warning:hover
  .slotTargetChildren__type_secondary_color_warning {
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.buttonPrimary__type_secondary_color_caution:hover
  .slotTargetChildren__type_secondary_color_caution {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.buttonPrimary__type_ghost_color_brand:hover
  .slotTargetChildren__type_ghost_color_brand {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.buttonPrimary__type_link_color_success:hover
  .slotTargetChildren__type_link_color_success {
  color: #00a396 /* plasmic-token: wjhZcIoiw */;
}
.buttonPrimary__type_secondary_color_alert:hover
  .slotTargetChildren__type_secondary_color_alert {
  color: #ff0099 /* plasmic-token: 8VWWUllYQ */;
}
.buttonPrimary__type_light_color_brand:hover
  .slotTargetChildren__type_light_color_brand {
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.buttonPrimary__type_link_color_warning:hover
  .slotTargetChildren__type_link_color_warning {
  color: #cca329 /* plasmic-token: D6EUx-DWU */;
}
.buttonPrimary__type_ghost_color_success:hover
  .slotTargetChildren__type_ghost_color_success {
  color: #00a396 /* plasmic-token: wjhZcIoiw */;
}
.buttonPrimary__type_secondary_color_blue:hover
  .slotTargetChildren__type_secondary_color_blue {
  color: #3366ff /* plasmic-token: MxvXD2oSU */;
}
.buttonPrimary__type_light_color_success:hover
  .slotTargetChildren__type_light_color_success {
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.buttonPrimary__type_link_color_caution:hover
  .slotTargetChildren__type_link_color_caution {
  color: #8f0024 /* plasmic-token: zOdpc2i_7 */;
}
.buttonPrimary__type_ghost_color_warning:hover
  .slotTargetChildren__type_ghost_color_warning {
  color: #cca329 /* plasmic-token: D6EUx-DWU */;
}
.buttonPrimary__type_secondary_color_magenta:hover
  .slotTargetChildren__type_secondary_color_magenta {
  color: #cc33ff /* plasmic-token: m2LiiC3to */;
}
.buttonPrimary__type_light_color_warning:hover
  .slotTargetChildren__type_light_color_warning {
  color: #ffcc33 /* plasmic-token: eB-5eFUpD */;
}
.buttonPrimary__type_link_color_alert:hover
  .slotTargetChildren__type_link_color_alert {
  color: #cc007a /* plasmic-token: h246Kg3cR */;
}
.buttonPrimary__type_ghost_color_caution:hover
  .slotTargetChildren__type_ghost_color_caution {
  color: #8f0024 /* plasmic-token: zOdpc2i_7 */;
}
.buttonPrimary__type_light_color_caution:hover
  .slotTargetChildren__type_light_color_caution {
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.buttonPrimary__type_link_color_blue:hover
  .slotTargetChildren__type_link_color_blue {
  color: #2952cc /* plasmic-token: ECQQpTj0b */;
}
.buttonPrimary__type_ghost_color_alert:hover
  .slotTargetChildren__type_ghost_color_alert {
  color: #cc007a /* plasmic-token: h246Kg3cR */;
}
.buttonPrimary__type_light_color_alert:hover
  .slotTargetChildren__type_light_color_alert {
  color: #ff0099 /* plasmic-token: 8VWWUllYQ */;
}
.buttonPrimary__type_link_color_magenta:hover
  .slotTargetChildren__type_link_color_magenta {
  color: #a329cc /* plasmic-token: H2GdnGm1C */;
}
.buttonPrimary__type_ghost_color_blue:hover
  .slotTargetChildren__type_ghost_color_blue {
  color: #2952cc /* plasmic-token: ECQQpTj0b */;
}
.buttonPrimary__type_light_color_blue:hover
  .slotTargetChildren__type_light_color_blue {
  color: #3366ff /* plasmic-token: MxvXD2oSU */;
}
.buttonPrimary__type_ghost_color_magenta:hover
  .slotTargetChildren__type_ghost_color_magenta {
  color: #a329cc /* plasmic-token: H2GdnGm1C */;
}
.buttonPrimary__type_light_color_magenta:hover
  .slotTargetChildren__type_light_color_magenta {
  color: #cc33ff /* plasmic-token: m2LiiC3to */;
}
