.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 180px;
  height: 180px;
  position: relative;
  background: #ffffff;
  border-radius: 2px;
  padding: 4px;
  border: 1px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.parent__size__270 {
  width: 270px;
  height: 270px;
  padding: 16px;
}
.parent:hover {
  border-color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.svgQuestionParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__yZ0QO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__dd45H {
  object-fit: cover;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.iconNumberValueTitlePercentValueParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.iconNumberValueTitlePercentValueParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.iconNumberValueTitlePercentValueParent > :global(.__wab_flex-container) > *,
.iconNumberValueTitlePercentValueParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.iconNumberValueTitlePercentValueParent
  > :global(.__wab_flex-container)
  > picture
  > img,
.iconNumberValueTitlePercentValueParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconNumberValueTitlePercentValueParent__size__270 {
  padding: 16px;
}
.iconNumberValueTitlePercentValueParent__size__270
  > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.iconNumberValueTitlePercentValueParent__size__270
  > :global(.__wab_flex-container)
  > *,
.iconNumberValueTitlePercentValueParent__size__270
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.iconNumberValueTitlePercentValueParent__size__270
  > :global(.__wab_flex-container)
  > picture
  > img,
.iconNumberValueTitlePercentValueParent__size__270
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.svgIconParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.freeBox___5VQqz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #f8f8f8;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 4px;
}
.svg__pdGd6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
  min-width: 0;
  min-height: 0;
}
.freeBox__qjbPm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #f0ebff;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 4px;
}
.svg__hwk83 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.numberValue {
  display: flex;
  flex-direction: row;
}
.numberValue > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.numberValue > :global(.__wab_flex-container) > *,
.numberValue > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.numberValue > :global(.__wab_flex-container) > picture > img,
.numberValue
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.currencyParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__wM3Ab {
  display: block;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__a4Wh {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__ncgFi {
  display: block;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__jOHp {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.numerationParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__vDq8H {
  display: block;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.text__vyTh {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
}
.cardTitle {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.cardTitle > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.cardTitle > :global(.__wab_flex-container) > *,
.cardTitle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardTitle > :global(.__wab_flex-container) > picture > img,
.cardTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__vly1J {
  color: #666666 /* plasmic-token: MAJ29KQMI */;
  font-size: 14px;
}
.text__zL10 {
  color: #666666 /* plasmic-token: MAJ29KQMI */;
  font-size: 16px;
}
.valueChangeParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg___5Mr2U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__yhPhL {
  font-size: 14px;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.text___2Fp0Z {
  font-size: 14px;
  color: #666666 /* plasmic-token: IbTSH9_JJ */;
}
.svg__km3Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
  min-width: 0;
  min-height: 0;
}
.svg___6QnCy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
  min-width: 0;
  min-height: 0;
}
.text___49N4A {
  font-size: 14px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.text__jYBg4 {
  font-size: 14px;
  color: #00ccbb /* plasmic-token: p7MYBCVhU */;
}
.text__jsNg8 {
  font-size: 14px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.text__by3Ob {
  font-size: 14px;
  color: #cc0033 /* plasmic-token: zuxijHDLE */;
}
.text___7DGw8 {
  font-size: 14px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.text__fyfNp {
  font-size: 14px;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
