.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.sectionMemberManageProjectsHeader {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 16px 8px 32px;
}
.sectionMemberManageProjectsHeader > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionMemberManageProjectsHeader > :global(.__wab_flex-container) > *,
.sectionMemberManageProjectsHeader
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionMemberManageProjectsHeader
  > :global(.__wab_flex-container)
  > picture
  > img,
.sectionMemberManageProjectsHeader
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionMemberManageProjectsHeader {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    min-width: 0;
    padding: 64px 24px;
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionMemberManageProjectsHeader > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 428px) {
  .sectionMemberManageProjectsHeader > :global(.__wab_flex-container) > *,
  .sectionMemberManageProjectsHeader
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .sectionMemberManageProjectsHeader
    > :global(.__wab_flex-container)
    > picture
    > img,
  .sectionMemberManageProjectsHeader
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.cardHeaderTitleDisplay:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.text__qYxNs {
  font-weight: 700;
}
.sectionMemberManageListings {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px 8px 96px;
}
.sectionMemberManageListings > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionMemberManageListings > :global(.__wab_flex-container) > *,
.sectionMemberManageListings
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionMemberManageListings > :global(.__wab_flex-container) > picture > img,
.sectionMemberManageListings
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___5GmQ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
}
.freeBox___5GmQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: unset;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___5GmQ > :global(.__wab_flex-container) > *,
.freeBox___5GmQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5GmQ > :global(.__wab_flex-container) > picture > img,
.freeBox___5GmQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__pmRau {
  height: auto;
  max-width: 328px;
}
.listingManagementBlockParent {
  flex-direction: column;
  display: flex;
  width: auto;
  height: auto;
}
.listingManagementBlockParent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.listingManagementBlockParent > :global(.__wab_flex-container) > *,
.listingManagementBlockParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.listingManagementBlockParent > :global(.__wab_flex-container) > picture > img,
.listingManagementBlockParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.listingTotalParent {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.listingTotalParent > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.listingTotalParent > :global(.__wab_flex-container) > *,
.listingTotalParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.listingTotalParent > :global(.__wab_flex-container) > picture > img,
.listingTotalParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.listingNumberParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
}
.slotTargetListingNumber {
  font-size: 16px;
  color: var(--token-6OoG_pvkg);
}
.text__nBju3 {
  position: relative;
  left: auto;
  top: auto;
  font-size: 16px;
  color: var(--token-6OoG_pvkg);
}
.freeBox__xYhA {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  padding: 0px;
  border: 1px none var(--token-i5T_lGWIG);
}
.freeBox__xYhA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xYhA > :global(.__wab_flex-container) > *,
.freeBox__xYhA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xYhA > :global(.__wab_flex-container) > picture > img,
.freeBox__xYhA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.listingSearchFilterParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.searchOrderFilterParent {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.searchOrderFilterParent > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: unset;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.searchOrderFilterParent > :global(.__wab_flex-container) > *,
.searchOrderFilterParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.searchOrderFilterParent > :global(.__wab_flex-container) > picture > img,
.searchOrderFilterParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.searchbarPrimary:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.listingSearchFilterDropdownParent {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.listingSearchFilterDropdownParent > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.listingSearchFilterDropdownParent > :global(.__wab_flex-container) > *,
.listingSearchFilterDropdownParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.listingSearchFilterDropdownParent
  > :global(.__wab_flex-container)
  > picture
  > img,
.listingSearchFilterDropdownParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.selectDropdownPrimary__wfoeh:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.option__tawng:global(.__wab_instance) {
  position: relative;
}
.option__dLoea:global(.__wab_instance) {
  position: relative;
}
.selectDropdownPrimary__jaLrk:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.option__qlBpw:global(.__wab_instance) {
  position: relative;
}
.option__wy9Ug:global(.__wab_instance) {
  position: relative;
}
.orderTableColumnMain {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  background: var(--token-530QP0ccB);
  border: 1px solid var(--token-i5T_lGWIG);
}
.orderTableColumnMain > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.orderTableColumnMain > :global(.__wab_flex-container) > *,
.orderTableColumnMain
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.orderTableColumnMain > :global(.__wab_flex-container) > picture > img,
.orderTableColumnMain
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.tableProjectAdminHeader:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.tableProjectAdminRecord:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-end;
}
.img__wpWTq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__wpWTq > picture > img {
  object-fit: cover;
}
.img__wpWTq > .__wab_img-spacer > img {
  object-fit: cover;
}
