.root {
  flex-direction: column;
  display: flex;
  width: 360px;
  height: auto;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 2px;
}
.rootsize__180 {
  width: 180px;
}
.rootsize__270 {
  width: 270px;
}
.freeBox__mo2A2 {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 4px;
  padding: 6px;
  border: 2px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.freeBox__mo2A2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__mo2A2 > :global(.__wab_flex-container) > *,
.freeBox__mo2A2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mo2A2 > :global(.__wab_flex-container) > picture > img,
.freeBox__mo2A2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.freeBoxstate_success__mo2A2Xndgz {
  border-color: #6633ff /* plasmic-token: vlQUduj5i */;
}
.freeBoxsize__180__mo2A2Wew5 > :global(.__wab_flex-container) {
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxsize__180__mo2A2Wew5 > :global(.__wab_flex-container) > *,
.freeBoxsize__180__mo2A2Wew5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxsize__180__mo2A2Wew5 > :global(.__wab_flex-container) > picture > img,
.freeBoxsize__180__mo2A2Wew5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 0px;
}
.root:hover .freeBox__mo2A2 {
  border-color: #e0e2e7 /* plasmic-token: oEMOojyFv */;
}
.textInput {
  flex-direction: row;
  width: 120px;
  color: #f8f8f8 /* plasmic-token: -59aep1Mm */;
  height: 28px;
  text-align: center;
  font-size: 18px;
  position: relative;
  left: auto;
  top: auto;
  background: #f8f8f8;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 6px;
  border: 2px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.textInput > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 18px);
  width: calc(100% + 18px);
}
.textInput > :global(.__wab_flex-container) > *,
.textInput > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.textInput > :global(.__wab_flex-container) > picture > img,
.textInput
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 18px;
}
.textInputstate_success {
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  background: #f0ebff;
  border-color: #6633ff /* plasmic-token: vlQUduj5i */;
}
.textInputsize__180 {
  width: 60px;
  flex-shrink: 0;
}
.root:hover .textInput {
  border-color: #e0e2e7 /* plasmic-token: oEMOojyFv */;
}
.root .textInput:hover {
  border-color: #e0e2e7 /* plasmic-token: oEMOojyFv */;
}
.root .textInput:focus {
  outline: none;
  border-color: #c2c6ce /* plasmic-token: zM34FgqJJ */;
}
.freeBox__w4B3K {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBoxsize__180__w4B3KWew5 {
  width: 100%;
  min-width: 0;
}
.freeBoxsize__270__w4B3KEWntz {
  width: 100%;
  min-width: 0;
}
.slotTargetChildren {
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
  color: #14161b /* plasmic-token: ec1vMFIzT */;
}
.slotTargetChildrenstate_success {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.slotTargetChildrensize__180 {
  font-size: 14px;
}
.freeBox___09Rg3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.slotTargetSlot {
  font-size: 12px;
  color: #14161b /* plasmic-token: MAJ29KQMI */;
}
.slotTargetSlotsize__180 {
  font-size: 10px;
}
