.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: 16px;
  position: relative;
  background: #6633ff;
  border-radius: 2px;
  padding: 2px 6px;
  border: 1px solid #855cff /* plasmic-token: 6xKNduQM7 */;
}
.rootinset {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: #eaeaea;
  flex-row-gap: 0px;
  border-radius: 2px;
  padding: 2px 6px;
  border: 1px solid #c2c6ce /* plasmic-token: i5T_lGWIG */;
}
.rootinset:hover {
  background: #6633ff;
  border-color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  text-transform: uppercase;
  font-size: 8px;
  color: #ffffff /* plasmic-token: fuGaen6l1 */;
  font-weight: 600;
  line-height: 10px;
}
.textinset {
  font-size: 8px;
  font-weight: 600;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  text-transform: uppercase;
  line-height: 10px;
}
.rootinset:hover .textinset {
  color: #ffffff /* plasmic-token: 5XhQ_b_Lb */;
}
