.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 40px;
}
.serviceListingNavbar {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.progressBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.box__lc1Vo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px 180px;
}
.box__lc1Vo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: calc(0px - 360px);
  width: calc(100% + 360px);
}
.box__lc1Vo > :global(.__wab_flex-container) > *,
.box__lc1Vo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 360px;
}
.questionImageBlock {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.questionImageBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionImageBlock > :global(.__wab_flex-container) > *,
.questionImageBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 64px;
}
.cardQuestionServiceListing:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.box__ir20P {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
  align-self: stretch;
}
.box__r5CWc {
  color: #6633ff /* plasmic-token: 97FZ-MZpy */;
}
.box__wbEqK {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 360px;
}
.box__wbEqK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__wbEqK > :global(.__wab_flex-container) > *,
.box__wbEqK > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.button__sOrr {
  display: flex;
  width: 360px;
  height: 190px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  background: #f8f8f8;
  border: 2px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.box__n0Uu4 {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.svg___9Ib5N {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.box__uh1A1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  align-self: auto;
  min-width: 0;
}
.box__uh1A1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__uh1A1 > :global(.__wab_flex-container) > *,
.box__uh1A1 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
  margin-top: 20px;
}
.button___1TQM {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  width: 170px;
  height: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  background: #f8f8f8;
  border: 2px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.box__uze4B {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.svg__c5XyL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.button__vh2Yn {
  display: block;
  position: relative;
  left: auto;
  top: auto;
  width: 170px;
  height: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  background: #f8f8f8;
  border: 2px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.box__ntr0B {
  display: flex;
  position: absolute;
  left: 74px;
  top: 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.svg___2J5Z {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.button___8J7An {
  display: block;
  position: relative;
  left: auto;
  top: auto;
  width: 170px;
  height: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  background: #f8f8f8;
  border: 2px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.box__yiWrn {
  display: flex;
  position: absolute;
  left: 74px;
  top: 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.svg__cQIuo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.button__zlQhp {
  display: block;
  position: relative;
  left: auto;
  top: auto;
  width: 170px;
  height: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  background: #f8f8f8;
  border: 2px solid #f1f1f1 /* plasmic-token: deafmaGIp */;
}
.box___3Ma6D {
  display: flex;
  position: absolute;
  left: 74px;
  top: 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.svg__kUqvr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.toolTipServiceListing:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.svg__qaK94 {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
.footerServiceListing:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
