.root {
  display: flex;
  flex-direction: column;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.slotChildren {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.inputCardNumberField__i4EX:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.inputCardNumberField__llAoN:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.inputCardNumberField__serviceType_slidePresentation__llAoN5E1Tn:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.inputCardNumberField__serviceType_designSystem__llAoNu721P:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.inputCardNumberField__serviceType_userResearch__llAoNxf2Wt:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.inputCardNumberField__serviceType_wireframes__llAoN7462Y:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.inputCardNumberField__serviceType_webMultiplePage__llAoNvMvut:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.inputCardNumberField___0Sjtm:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.inputCardNumberField__serviceType_slidePresentation___0Sjtm5E1Tn:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.inputCardNumberField__serviceType_designSystem___0SjtmU721P:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.inputCardNumberField__serviceType_userResearch___0SjtmXf2Wt:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.inputCardNumberField__serviceType_wireframes___0Sjtm7462Y:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.inputCardNumberField__serviceType_webMultiplePage___0SjtmvMvut:global(.__wab_instance) {
  left: auto;
  top: auto;
}
