.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 6px;
}
.freeBox__owx0Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.freeBox__vfoqX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 360px;
}
.slotTargetSlot {
  font-weight: 700;
  color: #000000 /* plasmic-token: F4gy0u3aB */;
}
.freeBox__shxFa {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__shxFa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__shxFa > :global(.__wab_flex-container) > *,
.freeBox__shxFa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__shxFa > :global(.__wab_flex-container) > picture > img,
.freeBox__shxFa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox___0I9Jc {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: auto;
}
.freeBox___0I9Jc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___0I9Jc > :global(.__wab_flex-container) > *,
.freeBox___0I9Jc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0I9Jc > :global(.__wab_flex-container) > picture > img,
.freeBox___0I9Jc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__zOrO7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.toggleSubscriptionCard__ag5L:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__wag3D {
  position: relative;
  left: auto;
  top: auto;
  width: 360px;
  padding-left: 2px;
  display: flex;
  flex-direction: column;
}
.slotTargetChildren {
  font-size: 12px;
}
