.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  transform-style: preserve-3d;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 2px;
}
.panelButtonMenuItem__viTcw:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.panelButtonMenuItem__viTcw * {
  transform-style: preserve-3d;
}
.text__hLjAh {
  transform-style: preserve-3d;
}
.text__hLjAh * {
  transform-style: preserve-3d;
}
.text__rfldS {
  transform-style: preserve-3d;
}
.text__rfldS * {
  transform-style: preserve-3d;
}
.panelButtonMenuItem__v7Bmg:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.panelButtonMenuItem__v7Bmg * {
  transform-style: preserve-3d;
}
.text__bu3Vw {
  padding-left: 0px;
  transform-style: preserve-3d;
}
.text__bu3Vw * {
  transform-style: preserve-3d;
}
.text___1C3Dy {
  padding-left: 0px;
  transform-style: preserve-3d;
}
.text___1C3Dy * {
  transform-style: preserve-3d;
}
.panelButtonMenuItem__i4TxM:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  transform-style: preserve-3d;
}
.panelButtonMenuItem__i4TxM * {
  transform-style: preserve-3d;
}
.text__bGn44 {
  transform-style: preserve-3d;
}
.text__bGn44 * {
  transform-style: preserve-3d;
}
.text___6X4Me {
  transform-style: preserve-3d;
}
.text___6X4Me * {
  transform-style: preserve-3d;
}
