.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  position: relative;
  background: #000000;
  min-width: 0;
  padding: 20px 20px 20px 40px;
  border-width: 1px;
  border-style: none;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .root {
    padding: 8px 16px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .root > :global(.__wab_flex-container) {
    justify-content: space-evenly;
    margin-left: calc(0px - 6px);
    width: calc(100% + 6px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 6px;
    margin-top: 0px;
  }
}
.root__color_light {
  background: #ffffff;
}
.root__color_dark {
  background: #000000;
}
.root__color_brand {
  background: #6633ff;
}
.freeBox__hd4C {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__hd4C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__hd4C > :global(.__wab_flex-container) > *,
.freeBox__hd4C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hd4C > :global(.__wab_flex-container) > picture > img,
.freeBox__hd4C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__hd4C > :global(.__wab_flex-container) {
    justify-content: space-between;
    margin-left: calc(0px - 12px);
    width: calc(100% + 12px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__hd4C > :global(.__wab_flex-container) > *,
  .freeBox__hd4C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hd4C > :global(.__wab_flex-container) > picture > img,
  .freeBox__hd4C
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 12px;
    margin-top: 0px;
  }
}
.freeBox__i0Yy5 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__i0Yy5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__i0Yy5 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .freeBox__i0Yy5 > :global(.__wab_flex-container) > *,
  .freeBox__i0Yy5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__i0Yy5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__i0Yy5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.svg__on4Gg {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ebebeb /* plasmic-token: -59aep1Mm */;
  flex-shrink: 0;
}
.svg__color_light__on4GgVn8Xk {
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.text__zsyYr {
  position: relative;
  left: auto;
  top: auto;
  color: #ebebeb /* plasmic-token: -59aep1Mm */;
  height: auto;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .text__zsyYr {
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .text__zsyYr {
    font-size: 8px;
    width: 150px;
    height: auto;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.text__partner__zsyYrwYrcz {
  left: auto;
  top: auto;
}
.text__color_light__zsyYrVn8Xk {
  color: #333333 /* plasmic-token: F4gy0u3aB */;
  left: auto;
  top: auto;
}
.text___20Bn {
  position: relative;
  left: auto;
  top: auto;
  color: #ebebeb /* plasmic-token: -59aep1Mm */;
  height: auto;
}
@media (min-width: 0px) and (max-width: 414px) {
  .text___20Bn {
    font-size: 8px;
    width: 150px;
    height: auto;
    flex-shrink: 0;
  }
}
.text__partner___20BNwYrcz {
  left: auto;
  top: auto;
}
.text__color_light___20BnVn8Xk {
  color: #333333 /* plasmic-token: F4gy0u3aB */;
  left: auto;
  top: auto;
}
.textLinkArrow:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 414px) {
  .textLinkArrow:global(.__wab_instance) {
    width: auto;
    height: auto;
    align-self: center;
  }
}
.textLinkArrow__color_light:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.link {
  font-weight: 600;
  color: #e4e4e4 /* plasmic-token: t2DPA2Clx */;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .link {
    color: #ebebeb /* plasmic-token: -59aep1Mm */;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .link {
    font-size: 12px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .link__partner {
    color: #e4e4e4 /* plasmic-token: t2DPA2Clx */;
  }
}
.link__color_light {
  color: #333333 /* plasmic-token: F4gy0u3aB */;
}
.svg__lhcBs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #e4e4e4 /* plasmic-token: t2DPA2Clx */;
  min-width: 0;
  min-height: 0;
}
.svg__color_light__lhcBsVn8Xk {
  color: #855cff /* plasmic-token: 6xKNduQM7 */;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .svg__color_light__lhcBsVn8Xk {
    color: #333333 /* plasmic-token: F4gy0u3aB */;
  }
}
.svg__t03 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #333333 /* plasmic-token: F4gy0u3aB */;
  min-width: 0;
  min-height: 0;
}
