.root {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: auto;
  position: relative;
  transform-style: preserve-3d;
  padding: 8px 8px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .root * {
    transform-style: preserve-3d;
  }
}
.avatarParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  transform-style: preserve-3d;
}
.avatarParent * {
  transform-style: preserve-3d;
}
.userAvatar:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.userAvatar * {
  transform-style: preserve-3d;
}
.img__u37M1 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 16px;
  height: 16px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__u37M1 > picture > img {
  object-fit: cover;
}
.img__u37M1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__u37M1 * {
  transform-style: preserve-3d;
}
.img___0NzDj {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___0NzDj > picture > img {
  object-fit: cover;
}
.img___0NzDj > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___0NzDj * {
  transform-style: preserve-3d;
}
.img__kmgRe {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__kmgRe > picture > img {
  object-fit: cover;
}
.img__kmgRe > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__kmgRe * {
  transform-style: preserve-3d;
}
.img__goeac {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__goeac > picture > img {
  object-fit: cover;
}
.img__goeac > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__goeac * {
  transform-style: preserve-3d;
}
.img__jhtlH {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__jhtlH > picture > img {
  object-fit: cover;
}
.img__jhtlH > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__jhtlH * {
  transform-style: preserve-3d;
}
.img__m5Ao {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__m5Ao > picture > img {
  object-fit: cover;
}
.img__m5Ao > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__m5Ao * {
  transform-style: preserve-3d;
}
.img__xBddD {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__xBddD > picture > img {
  object-fit: cover;
}
.img__xBddD > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__xBddD * {
  transform-style: preserve-3d;
}
.img__dpMZ {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 48px;
  height: 48px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__dpMZ > picture > img {
  object-fit: cover;
}
.img__dpMZ > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__dpMZ * {
  transform-style: preserve-3d;
}
.img__tJf2O {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__tJf2O > picture > img {
  object-fit: cover;
}
.img__tJf2O > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__tJf2O * {
  transform-style: preserve-3d;
}
.img__lo0Zr {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__lo0Zr > picture > img {
  object-fit: cover;
}
.img__lo0Zr > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__lo0Zr * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .img__lo0Zr {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .img__lo0Zr * {
    transform-style: preserve-3d;
  }
}
.img__h0X2N {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  transform-style: preserve-3d;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__h0X2N > picture > img {
  object-fit: cover;
}
.img__h0X2N > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__h0X2N * {
  transform-style: preserve-3d;
}
.companyHeadline {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.companyHeadline > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.companyHeadline * {
  transform-style: preserve-3d;
}
.companyHeadline > :global(.__wab_flex-container) > *,
.companyHeadline > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.companyHeadline > :global(.__wab_flex-container) > picture > img,
.companyHeadline
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .companyHeadline {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .companyHeadline * {
    transform-style: preserve-3d;
  }
}
.headline {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.headline * {
  transform-style: preserve-3d;
}
.text__eFmvs {
  line-height: 1.2;
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  transform-style: preserve-3d;
  min-width: 0;
}
.text__eFmvs * {
  transform-style: preserve-3d;
}
.companyStatsParent {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.companyStatsParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.companyStatsParent * {
  transform-style: preserve-3d;
}
.companyStatsParent > :global(.__wab_flex-container) > *,
.companyStatsParent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.companyStatsParent > :global(.__wab_flex-container) > picture > img,
.companyStatsParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .companyStatsParent {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .companyStatsParent * {
    transform-style: preserve-3d;
  }
}
.badgeCommunityRating:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.badgeCommunityRating * {
  transform-style: preserve-3d;
}
.text__kHCt1 {
  position: relative;
  font-size: 16px;
  color: #101010 /* plasmic-token: F4gy0u3aB */;
  line-height: 1;
  transform-style: preserve-3d;
}
.text__kHCt1 * {
  transform-style: preserve-3d;
}
.badgeVerification:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.badgeVerification * {
  transform-style: preserve-3d;
}
.tagPartnerA:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.tagPartnerA * {
  transform-style: preserve-3d;
}
.avatarGroupIncrement:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.avatarGroupIncrement * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .avatarGroupIncrement:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .avatarGroupIncrement * {
    transform-style: preserve-3d;
  }
}
.text___0WjM3 {
  transform-style: preserve-3d;
}
.text___0WjM3 * {
  transform-style: preserve-3d;
}
.locationHeadlineParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  transform-style: preserve-3d;
}
.locationHeadlineParent * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .locationHeadlineParent {
    width: 100%;
    height: auto;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .locationHeadlineParent * {
    transform-style: preserve-3d;
  }
}
.elementLocationPrimary:global(.__wab_instance) {
  transform-style: preserve-3d;
  display: flex;
}
.elementLocationPrimary * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .elementLocationPrimary:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .elementLocationPrimary * {
    transform-style: preserve-3d;
  }
}
.companyDescription {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.companyDescription > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.companyDescription * {
  transform-style: preserve-3d;
}
.companyDescription > :global(.__wab_flex-container) > *,
.companyDescription > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.companyDescription > :global(.__wab_flex-container) > picture > img,
.companyDescription
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .companyDescription {
    width: 100%;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .companyDescription > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .companyDescription * {
    transform-style: preserve-3d;
  }
}
.text___5Tvli {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #101010 /* plasmic-token: 6OoG_pvkg */;
  align-self: stretch;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.text___5Tvli * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .text___5Tvli {
    width: 100%;
    font-size: 24px;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .text___5Tvli * {
    transform-style: preserve-3d;
  }
}
.buttonGroup {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  padding-top: 24px;
  align-self: auto;
  transform-style: preserve-3d;
  min-width: 0;
}
.buttonGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.buttonGroup * {
  transform-style: preserve-3d;
}
.buttonGroup > :global(.__wab_flex-container) > *,
.buttonGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonGroup > :global(.__wab_flex-container) > picture > img,
.buttonGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .buttonGroup {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 1440px) {
  .buttonGroup * {
    transform-style: preserve-3d;
  }
}
.buttonGroup__userState_loggedIn {
  transform-style: preserve-3d;
}
.buttonGroup__userState_loggedIn * {
  transform-style: preserve-3d;
}
.buttonPrimary__byYWe:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.buttonPrimary__byYWe * {
  transform-style: preserve-3d;
}
.buttonPrimary__userState_loggedIn__byYWePUN:global(.__wab_instance) {
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.buttonPrimary__userState_loggedIn__byYWePUN * {
  transform-style: preserve-3d;
}
.svg__lc7Rv {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__lc7Rv * {
  transform-style: preserve-3d;
}
.text__egzPy {
  transform-style: preserve-3d;
}
.text__egzPy * {
  transform-style: preserve-3d;
}
.text__userState_loggedIn__egzPyPUN {
  transform-style: preserve-3d;
}
.text__userState_loggedIn__egzPyPUN * {
  transform-style: preserve-3d;
}
.buttonPrimary__n3CIf:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.buttonPrimary__n3CIf * {
  transform-style: preserve-3d;
}
.buttonPrimary__userState_loggedIn__n3CIfPUN:global(.__wab_instance) {
  transform-style: preserve-3d;
  flex-shrink: 0;
  display: none;
}
.buttonPrimary__userState_loggedIn__n3CIfPUN * {
  transform-style: preserve-3d;
}
.svg__xJSn {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: gJaAJBnXh */;
  object-fit: cover;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__xJSn * {
  transform-style: preserve-3d;
}
.text___0Iihr {
  transform-style: preserve-3d;
}
.text___0Iihr * {
  transform-style: preserve-3d;
}
.iconPrimary:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.iconPrimary * {
  transform-style: preserve-3d;
}
.iconPrimary__userState_loggedIn:global(.__wab_instance) {
  transform-style: preserve-3d;
  display: none;
}
.iconPrimary__userState_loggedIn * {
  transform-style: preserve-3d;
}
.iconPrimary__userState_loggedOut:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.iconPrimary__userState_loggedOut * {
  transform-style: preserve-3d;
}
.svgIcon {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #3d4350 /* plasmic-token: lJGpMo6-- */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svgIcon * {
  transform-style: preserve-3d;
}
.svgIcon__userState_loggedIn {
  transform-style: preserve-3d;
}
.svgIcon__userState_loggedIn * {
  transform-style: preserve-3d;
}
.svg__vYGi1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__vYGi1 * {
  transform-style: preserve-3d;
}
.svg__ouAfT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__ouAfT * {
  transform-style: preserve-3d;
}
.svg___1H1Ty {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg___1H1Ty * {
  transform-style: preserve-3d;
}
.svg___0IPzU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg___0IPzU * {
  transform-style: preserve-3d;
}
.svgIcon6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svgIcon6 * {
  transform-style: preserve-3d;
}
.svg__coApH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__coApH * {
  transform-style: preserve-3d;
}
.svg__sxvkJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__sxvkJ * {
  transform-style: preserve-3d;
}
.svg__dJlAt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg__dJlAt * {
  transform-style: preserve-3d;
}
.svg___8Fpjy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #14161b /* plasmic-token: IbTSH9_JJ */;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg___8Fpjy * {
  transform-style: preserve-3d;
}
.buttonLinkPrimary:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.buttonLinkPrimary * {
  transform-style: preserve-3d;
}
.buttonLinkPrimary__userState_loggedIn:global(.__wab_instance) {
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.buttonLinkPrimary__userState_loggedIn * {
  transform-style: preserve-3d;
}
.text__usI4O {
  transform-style: preserve-3d;
}
.text__usI4O * {
  transform-style: preserve-3d;
}
.text__userState_loggedIn__usI4OPUN {
  font-size: 16px;
  transform-style: preserve-3d;
}
.text__userState_loggedIn__usI4OPUN * {
  transform-style: preserve-3d;
}
